[2019-08-08 19:09] Ouwen opened #1411 "Docker Container for Support between tf-io and tf-serving."
Using the tf.io ops in the tf.serving ecosystem would be a large development convenience and likely decrease inference latency. Can there be an official docker build or documentation to integrate tensorflow-io with tensorflow-serving?

Related issue on [tensorflow/io issue #414](https://github.com/tensorflow/io/issues/414)

[2019-08-08 19:15] unclepeddy commented on #1403
@guillaumekln thanks for the comment. Could you share a pointer to this server? I'm curious to understand
* if the delta between system and device memory limits indeed make a material difference for most use cases (my assumption is that no since AFAIK they're usually the same order of magnitude)
* whether this pre-loading of model weights helps cases like machine translation where I'd imagine most

[2019-08-08 19:21] unclepeddy commented on #1411
It's a reasonable request. For the short term, you can build ops into modelserver using this [guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/custom_op.md).
However, as you noted, the dev experience would be much neater if you could just download a docker image with the op already built in. We're looking into how we want to support custom ops internally.
2 questio

[2019-08-08 19:39] guillaumekln commented on #1403
This is the server I had in mind: https://github.com/OpenNMT/OpenNMT-py/blob/master/onmt/translate/translation_server.py. A configuration file defines which models unload to the system memory (`to_cpu`) and which models unload completely (`unload`) when unused.

During execution, the device memory includes the model weights and all intermediate buffers and cache of the graph. However, in this exam

[2019-08-08 21:06] Ouwen commented on #1411
@unclepeddy there wouldn't be a decreased inference latency via linking with the model server. Prior to model server custom ops, we would parse files into protobuf and grpc request tf-serving (quite inefficient). This would be mainly a dev experience improvement.

Ideally, all tf.io ops could be supported. My main interest is in the `dicom` operations.

[2019-08-09 09:00] grebdioZ commented on #1248
@unclepeddy Regarding the second case: I don't think the client usually needs to call this endpoint before every inference.

This is the workflow as I envision it:
1. A user (whether human or programmatic) asks the server which models are available and receives meta-information which allows him to check for suitable ones, e.g. "RGB car detector", and picks one.
2. The programmatic client queries t

[2019-08-09 09:09] yupbank commented on #795
should we just reopen my original pr https://github.com/tensorflow/serving/pull/797 and move forward with that ? list model names that is alive should be sufficient ?

[2019-08-09 09:10] SumingNTUT commented on #1410
@gowthamkpr  Hi
Tanks for your answer.
I have read the article and try it  , but have the same issues and  the author finally use "python client and to communicate by Tcp messages between my c++ and python."

if I missing any step ,Please let me know.
Thank you

[2019-08-09 18:50] lugrace commented on #1098
Has this been resolved?

[2019-08-09 22:20] unclepeddy commented on #1411
I see - so in order to have officially support tf.io ops we need to get a better understanding of their policies (I've asked a question in the issue you opened in their repo).

To parallelize the work though, I can try to see if we would run into any technical challenges if we were to do this (for ex. integrating tf.text ops into serving has proven to be fairly challenging because of issues we run

[2019-08-10 00:12] unclepeddy commented on #1407
Hi there, we can easily export metrics that tell you host memory consumption on a per model basis but I think you're specifically looking for GPU's memory consumption/availability correct?
This is not straight forward but we will discuss it internally to understand exactly how difficult it would be an provide an update. Let us know if you have any additional info that you think might be useful for

[2019-08-10 08:23] Jihadik commented on #1248
@unclepeddy, making two requests instead of one is not so bad option. The metadata request is really light compared to neural networks computations. It adds some latency, which can be ignored. There is still a problem that a model can be changed between these two requests, but it will happen very rarely and it's ok for a startup.

Secondly, regarding a config distribution mechanism. Usually, start

[2019-08-11 07:10] ginger0106 commented on #1394
hi, I  have the same issue, the following is my client, when the request numer raises to 100 per second, there will have no resposes, just waiting... how could I do?
[code]

[2019-08-11 11:23] habichta opened #1413 "Add support for version labels to HTTP server"
### System information
- Ubuntu 18.04
- TensorFlow ModelServer: 1.14.0-rc0+dev.sha.34d9e85
- TensorFlow Library: 1.14.0
Installed from Binary
(Also tried using the latest Docker container and the nightly build)

### Describe the problem
I have installed the latest tensorflow_model_server from the repository (apt)
I am trying to serve a model with multiple versions (which works) using version_label

[2019-08-11 16:06] Ouwen commented on #1411
@unclepeddy yes I can send you a small test model and thanks for the help. I'll send it to your email `pedrampejman2010@gmail.com` unless there is another email you'd like for me to use.

[2019-08-12 12:50] ctuluhu commented on #1407
Hi, yes I am looking for a way to check GPU's memory availability such a feature would be great.

[2019-08-12 14:31] unclepeddy commented on #1411
That works. Please ensure to include example requests as well. Thanks @Ouwen !

[2019-08-12 17:55] gowthamkpr commented on #1413
@habichta This is similar to the issue #1230 . As of now, a label can be assigned only to a model version that is already loaded and available for serving. We will consider this as a feature request.

[2019-08-12 22:12] gowthamkpr commented on #1410
@SumingNTUT The work around for now is  to run the a modified python client and to communicate by Tcp messages between my c++ and python.

[2019-08-13 03:11] mcf330 opened #1414 "question about warm up"
I've created warmup data following the official guideline as below, and I launched the  model_server with the option --enable_model_warmup=true, but I did not see any improvement of the latency for the first request and I did not see any logs about loading warmup data.

I tested the issue on both tensorflow-serving:1.12-gpu and tensorflow-sering:latest-gpu docker build.

https://www.tensorflow.org

[2019-08-13 03:16] mcf330 commented on #408
Is there any workaround to log the requests rather than enable the TF_CPP_MIN_VLPG_LEVEL flag? thanks.

[2019-08-13 06:02] kesh-me commented on #795
@yupbank Loaded model names is limited in information. I prefer having loaded model versions and other metdata defined in ModelServerConfig proto to be part of this service's response.

[2019-08-13 06:24] rmothukuru commented on #1414
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-13 06:25] rmothukuru commented on #1392
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-13 06:25] #1392 closed

[2019-08-13 07:30] mcf330 commented on #1414
System information

Ubuntu 16.04
TensorFlow ModelServer: 1.13.0-rc1
TensorFlow Library: 1.13.0
Installed from Docker container

Describe the problem

I've created warmup data following the official guideline as below, and I launched the model_server with the option --enable_model_warmup=true, but I did not see any improvement of the latency for the first request and I did not see any logs about lo

[2019-08-13 07:54] yupbank commented on #795
yeah, but you can get the versions and other metadata by using the model name

[2019-08-13 09:45] rmothukuru commented on #1414
@mcf330 ,
Can you please confirm if the format of the file, `tf_serving_warmup_requests` is `TFRecord`, that is, if it is like, `tf_serving_warmup_requests.TFRecord`.

If not, can you please try by adding `TFRecord` extension.

If it still doesn't work, can you please share

1. SignatureDefs of your model executing the command, `saved_model_cli show`
2. Script you have used to generate `tf_serving

[2019-08-13 15:10] filipecosta90 commented on #485
@azer regarding the error:
`protoc-gen-go: error:inconsistent package import paths: "github.com/tensorflow/tensorflow/tensorflow/go/core/framework", "tensorflow/core/framework"`

if you do in this manner you avoid it:
[code]

[2019-08-13 15:18] filipecosta90 commented on #485
@azer if you use up to [v1.13.2](https://github.com/tensorflow/tensorflow/tree/v1.13.2) you should be able to run:
`protoc $PROTOC_OPTS tensorflow/tensorflow/core/framework/*.proto`

[2019-08-13 15:30] mohammedayub44 opened #1417 "Dockerfile.devel-mkl bazel build fails with no such target '@com_google_absl//absl/base:log_severity'"
Creating the Optimized Tensorflow Binaries from Dockerfile.devel-mkl fails on Ubuntu 16.04

### System information
OS: Ubuntu 16.04
Tensorflow Version: 1.12.0
Python: 3.6.8
Cuda Version: 9.0
![image](https://user-images.githubusercontent.com/7122670/62954004-9f8f9800-bdbc-11e9-8bdc-05e98b024db5.png)

### Exact Steps to Reproduce
Clone the repo.
Change Line 14 in https://github.com/tensorflow/servi

[2019-08-13 16:08] habichta commented on #1413
Thanks for your answer. I encounter this problem (#1230) using the current docker build (latest).
However, as I mentioned above, I tried a nightly docker build as well (probably including the commit your mentioned). There I could start the server without problems. Yet, when I try to send a request to the server using the label:

`http://localhost:8501/v1/models/model1/versions/{label}:predict`

I

[2019-08-13 16:16] Ouwen commented on #1411
@marcelolerendegui

[2019-08-14 03:38] mcf330 commented on #1414
@rmothukuru  thanks for your help.

adding TFRecord extension did not work for me.

I did not see any information show up about warmup , instead, I saw msg below:

The specified SavedModel has no variables; no checkpoints were restored

I created the saved model from a frozen graph, so I have no variables( the variables folder is empty),
does it affect warmup? I can run predictions properly

[2019-08-14 06:18] netfs commented on #1417
this should be fixed by 1c0291118f34ec7ba958a9cee594414f6531c0f3.

please retry building from latest sources, and reopen if this is still broken.

thanks!

[2019-08-14 06:18] #1417 closed

[2019-08-14 07:34] netfs commented on #1265
we need thread stacks for **all** threads of the modelserver to help debug background activity (after RPC is terminated/cancelled from the client side).

afaik there is no debian package for `pstack` and `lsstack` -- so installing these will be non-trivial (assuming they actually work). so please do not use these tools.

i'd recommend install `elfutils` package (`apt install elfutils`) on your sys

[2019-08-14 14:51] unclepeddy commented on #1413
This is expected behavior
- Re: latest released version of tensorflow-model-server ([1.14](https://github.com/tensorflow/serving/releases/tag/1.14.0)) does not include the change you described - but :latest does so using docker is the way to go (for another week or so before we release next version)
- Re: not being able to access the version using labels via HTTP - this is something that's not pos

[2019-08-14 14:54] hmeine commented on #1248
@grebdioZ answered in my sense.  In particular, the extra request is only needed once (per model, not per subsequent tile request).

Again, when thinking about this, it makes sense not to consider *image* classification, but *pixel* classification models (e.g. "semantic segmentation" tasks), which can be applied to arbitrarily large inputs. @Jihadik's pointer to TF transform does not apply here, s

[2019-08-14 18:30] Jihadik commented on #1248
@hmeine, regarding TF transform, there are some slicing into patches operations, which might take arbitrary images and slice them into fixed-size patches.

[2019-08-14 21:07] mohammedayub44 opened #1418 "Running Dockerfile.mkl after creating image from Dockerfile.devel-mkl gives libcublas.so.9.0 No such file or directory error"
### System information
OS: Ubuntu 16.04
Tensorflow Version: 1.12.0
Python: 3.6.8
Cuda Version: 9.0

### Steps to Reproduce
Build the optimized binary docker image from the provided docker file using the below command
`docker build -t $USER/tensorflow-serving-devel-mkl -f /home/ubuntu/serving/tensorflow_serving/tools/docker/Dockerfile.devel-mkl2 .`
See Issues #1417

Change Base_image to build from

[2019-08-15 03:53] elvys-zhang commented on #1215
Have the same issue

[2019-08-15 15:13] hmeine commented on #1248
Without looking at the API, that would still require sending the full image. We have many use cases where one wants to perform *local* inference. Again, that's interesting info, but not tackling our issue.

[2019-08-15 17:24] unclepeddy commented on #1365
I believe using protoc orthogonal to bazel is not the correct way of going about this - the correct way would be to add a `go_proto_library` for every `serving_proto_library`and let bazel compile golibs during build.

Something like
[code]

Which runs into 2 issues that I haven't been able to resolve:
* Currently, proto_library rules don't build ProtoInfo objects, which is needed by go_proto_libra

[2019-08-15 17:56] gowthamkpr commented on #1418
@mohammedayub44 Can you please try running Tensorflow [serving 1.14 GPU](https://hub.docker.com/r/tensorflow/serving/tags/) and let me know if the issue still persists. Thanks!

[2019-08-15 19:21] netfs commented on #1394
are you sending N (=100) requests using above code, inside a loop? this will not send N requests in parallel to the server, instead only one at a time (as requests.post() will block for response to be returned). you want to either use threads or other forms of async execution to send N requests *in-parallel*.

if you are already sending N requests in parallel (say via N separate clients), you can

[2019-08-15 20:28] mohammedayub44 commented on #1418
@gowthamkpr
Sorry, I meant I wanted to use the Intel Optimized Tensorflow Binaries on CPU because I was getting `You CPU supports instructions that this  binary was not compiled to use: AVX2 FMA`
To avoid this error I went down this path of compiling my own image from mkl dockerfiles.
My guess was it should work on CPU without prompting GPU related errors.  Are `Dockerfile.devel.mkl` and `Dockerfi

[2019-08-16 06:41] gao8954 commented on #1215
![image](https://user-images.githubusercontent.com/7404433/63148390-9c521180-c033-11e9-9788-d2b36d54e222.png)
does someone  have resolved it ?  have the same issue, tensorflow serving used all of memory until   it is killed

[2019-08-16 06:50] gao8954 commented on #1215
Has anyone paid attention on this issue ?  tried @hrishi121  's  method ,It seems that it is useless.

[2019-08-16 17:24] tinder-michaelallman commented on #1411
Hi @unclepeddy. Thanks for the documentation referral. Unfortunately, despite the guidance I have not been able to successfully include tf-io in a custom model server build. I think the problems I've had are related to the particular way tf-io is built (as described in their README). If you have some time, could you look into how this can be accomplished and report back? I'm sure it would be much

[2019-08-16 17:25] unclepeddy commented on #1215
As [this comment](https://github.com/tensorflow/serving/issues/1215#issuecomment-503897154) asks, if someone can provide the model, and a script that can recreate this failure mode, we can try debugging it but at this point we haven't been able to reproduce this.

[2019-08-18 19:37] aaur0 commented on #344
just give the absolute path of the file. In the case of docker, you will have to mount your local folder or have the file in the container itself.

[2019-08-19 14:07] jplu commented on #1365
Hello!

Is there any workaround for this issue or we have to wait for a bugfix?

Thanks.

[2019-08-19 19:57] mohammedayub44 commented on #1418
@gowthamkpr
Tried with `latest-gpu` and `1.14.0-gpu` both give the same error while using building a custom docker image from it. `ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory`
They work correctly when run outside the custom docker image, also I don't see this problem with `1.11.0-gpu`, this works fine both locally and inside my docker image without any

[2019-08-20 03:41] mohammedayub44 commented on #1418
This works now. Silly error on my part, I was overriding (manually installing) the tensorflow versions using a requirements.txt file (which gets generated from my local environment) in my dockerfile.mkl file. I did this because my Client app was not able to find the tensorflow libraries in the base image.

Solution - If installing tensorflow manually inside the docker image, verify its the same ve

[2019-08-20 03:41] #1418 closed

[2019-08-20 07:53] habichta commented on #1413
Ok that clears it up. Thank you

[2019-08-20 18:43] unclepeddy commented on #1400
@aaroey I've done some basic testing and was able to reproduce this behavior - what would be the best way of profiling the GPU to understand why batching does not help the inference time?

[2019-08-21 07:04] ChenHuaYou opened #1419 "W tensorflow_serving/sources/storage_path/file_system_storage_path_source.cc:267] No versions of servable half_plus_two found under base path /models/half_plus_two"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-08-21 07:13] rmothukuru commented on #1419
@ChenHuaYou ,
No information is provided except that of Title. Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow and Tensorflow Serving versions. Also, how did you install Tensorflow and Serving?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to

[2019-08-21 07:28] ChenHuaYou commented on #1419
IBM@LAPTOP-A4T9213R MINGW64 /tmp/tfserving
$ docker run -t --rm -p 8501:8501    -v "$TESTDATA/saved_model_half_plus_two_cpu:/models/half_plus_two"    -e MODEL_NAM
E=half_plus_two    tensorflow/serving
2019-08-21 06:46:35.868937: I tensorflow_serving/model_servers/server.cc:82] Building single TensorFlow model file config:  model_name: half_plus_two model_base_path: /models/half_plus_two
2019-08-21

[2019-08-21 07:34] ChenHuaYou commented on #1419
I just follow the demo by the readme

IBM@LAPTOP-A4T9213R MINGW64 /tmp/tfserving
$ docker run -t --rm -p 8501:8501 -v "$TESTDATA/saved_model_half_plus_two_cpu:/models/half_plus_two" -e MODEL_NAM
E=half_plus_two tensorflow/serving
2019-08-21 06:46:35.868937: I tensorflow_serving/model_servers/server.cc:82] Building single TensorFlow model file config: model_name: half_plus_two model_base_path: /mod

[2019-08-21 09:29] rmothukuru commented on #1419
@ChenHuaYou ,
Before running the command, ```
docker run -t --rm -p 8501:8501 -v "$TESTDATA/saved_model_half_plus_two_cpu:/models/half_plus_two" -e MODEL_NAM
E=half_plus_two tensorflow/serving
[code]
# Download the TensorFlow Serving Docker image and repo
docker pull tensorflow/serving

git clone https://github.com/tensorflow/serving
# Location of demo models
TESTDATA="$(pwd)/serving/tensorflow_se

[2019-08-21 12:32] ChenHuaYou commented on #1419
@rmothukuru thanks,it works but just on the ubuntu platform, failed on windows platform where i install docker-tool

[2019-08-22 03:30] elvys-zhang commented on #1215
@unclepeddy
Hi. I have deployed a pre-trained inception model on kubernetes for about 2 weeks. During this period, I didn't do any version load/unload, didn't send any requests to do prediction. But the memory keeps growing.
**tf-serving version**:         1.12 gpu
**deployment resources**:  4CPUs, 8G and 1 P40  GPU

![image](https://user-images.githubusercontent.com/39507256/63483733-f3426580-c4c

[2019-08-22 09:28] rmothukuru commented on #1419
@ChenHuaYou ,
Can you please provide more details so that we can help you. Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to includ

[2019-08-22 11:38] DiMiTriFrog opened #1420 "How to serving models not prediction"
I don’t find samples for serving tensorflow models that not use for predict.
I trying to make a tensorflow serving of pix2pix.

[2019-08-22 12:06] kriskorrel-cw commented on #1321
@HFrost0 I believe I have done basically the same as you,  but I can't get it to work. Does anyone know what is going wrong here?

I load an already trained model and prepare it for serving with TF Serve:
[code]

Then for the client I use
[code]
which results in `requests.exceptions.HTTPError: 400 Client Error: Bad Request for url:`. However, if I try the same request in Postman, I get:
[code]

[2019-08-22 14:44] aaur0 opened #1421 "Tensorflow serving Batching configuration docs has bunch of broken links"
### System information
- **MacOS Mojave (Chrome)
- **TensorFlow Serving Website**:
- **NA**:

### Describe the problem
All the link under batching configuration section in the official documents return 404.
Broken URL : https://www.tensorflow.org/tfx/serving/serving_config#batching_configuration

### Exact Steps to Reproduce
Click on following Links

https://www.tensorflow.org/tfx/batching/README#

[2019-08-22 18:59] gowthamkpr commented on #1421
@aaur0 Thanks for reporting.

[2019-08-23 08:22] troycheng commented on #1407
We also met this problem.  TF-serving occupied all GPU memory when it started and there is no way to know how much memory really needed for a specific model.  If we deploy too much models in a server instance, sometimes it will hang up and do not response , all connections to it will timeout. Thus, for multiple models, we need to do lot of load test to decide which can be deployed together in one

[2019-08-24 03:41] ledaiduongvnth123456 commented on #485
@eulerwang : How can i do with an color image ? I did that, but it seems incorrect :+1:
`
inputTensorValues := make([]float32, 3*160*160)
	for i := 0; i < 160; i++ {
		for j := 0; j < 160; j++ {
			r, g, b, _ := Image.At(i, j).RGBA()
			inputTensorValues[i*160 + j] = float32(r/255)
			inputTensorValues[i*160 + j + 1] = float32(g/255)
			inputTensorValues[i*160 + j + 2] = float32(b/255)
		}
	}
`

[2019-08-25 08:30] tilaba opened #1422 "how to write a tensorflow serving platform_config_file for customized servable?"
we have created a customized servable according to the reference [https://www.tensorflow.org/tfx/serving/custom_servable](url) .  I want to run my servable by virtue of a  platform_config_file and model_config_file. how can I write a serving platform_config_file for customized serverable such as  pytorch_souce_adapter.

[2019-08-26 01:55] tilaba opened #1423 "Pinning data on the GPU for post_gpu_model processing?"
after runing the tensorflow sess->run API, can the output data of tensorflow model stay in gpu device memory without being transfered to host memory.

[2019-08-26 09:22] harshS26 commented on #712
hey @dharm033075 sorry for late reply, did you check my export.py file is it the same? also did u change model_helper.py, model.py & nmt.py?

[2019-08-26 10:33] rmothukuru commented on #1422
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-27 03:44] rmothukuru commented on #1423
@tilaba ,
This issue is not related to Serving but it is related to Tensorflow (core functionality). Request you to raise an issue in [Tensorflow Github Repository](https://github.com/tensorflow/tensorflow/issues). Thanks!

[2019-08-27 03:44] tilaba commented on #1422
for example, i want to serve a pytorch model, the servable part has been finished. I dont know how to write the platform config file.  the following is demo of torch_bundle_source_adapter.  i dont know whether it is ture, please help me.

# platform_configs {
#    key: "pytorch"
#     value {
#       source_adapter_config {
#        [TorchSourceAdapterConfig] {
#           config {
#             f

[2019-08-27 10:28] amrithadevadiga opened #1424 "building TF Serving version 1.10.0"
Hi all,

Can some one give me steps to build TF Serving version 1.10.0 on centos7 image

[2019-08-27 14:13] peddybeats opened #1425 "Change the GPU build to work in absence of GPU to preclude the need for HW-specific builds"
TF GPU builds are now fully functional even in the absence of a GPU. We can follow the same paradigm for consistency and simplicity of our release.
One potential concern is that the GPU builds are much heavier and the added cost will make some CPU users unhappy.

[2019-08-28 02:25] HUTOYP opened #1427 "The grpc interface used by the serving(docker bazel installed) is different from the grpc.io interface(grpc sourcecode make installed)."
### Describe the problem

./include/tensorflow_serving/apis/prediction_service.grpc.pb.h: In constructor 'tensorflow::serving::PredictionService::ExperimentalWithCallbackMethod_Classify<BaseClass>::ExperimentalWithCallbackMethod_Classify()':
_./include/tensorflow_serving/apis/prediction_service.grpc.pb.h:308:196_: **error: wrong number of template arguments (3, should be 2)**
         _new ::grpc:

[2019-08-28 06:46] amrithadevadiga commented on #1424
@gowthamkpr Hi , Thank you for the reply.

But i got error.
i followed this steps from the link which you provided:
$ git clone -b r1.10 https://github.com/tensorflow/serving.git
...
$ cd serving
$ tools/run_in_docker.sh -d tensorflow/serving:1.10-devel \
  bazel build tensorflow_serving/...
...
error
tools/run_in_docker.sh -d tensorflow/serving:1.10-devel \

bash: tools/run_in_docker.sh: No such

[2019-08-28 06:49] amrithadevadiga commented on #1424
@gowthamkpr

i have tried this method:

yum -y install java-1.8.0-openjdk-devel
yum -y install gcc gcc-c++ kernel-devel make automake autoconf swig git unzip libtool binutils
yum -y install epel-release
yum -y install python-devel python-pip
pip install --upgrade pip
yum -y install freetype-devel libpng12-devel zip zlib-devel giflib-devel zeromq3-devel patch
pip install grpcio_tools mock keras ten

[2019-08-28 08:53] rmothukuru commented on #1423
Closing the issue as it is not related to Tensorflow Serving.

[2019-08-28 08:53] #1423 closed

[2019-08-28 09:16] amrithadevadiga opened #1428 "Built TF model server outside of image"
Hi all,

I want Built TF model server 1.10 outside of image and moved it through Dockerfile

can some one give me steps to do that in centos7

[2019-08-28 09:25] nielsgroen commented on #1409
For people stumbling on this, I found a stupidly simple workaround:

It turns out, when using the indicator_column, making the inputs strictly two-dimensional will work.
[code]

[2019-08-28 11:32] xxmyjk opened #1429 "Why http rest api listen on lo address?"
https://github.com/tensorflow/serving/blob/34d9e855d94bb87614603e0ae91e90674eea68be/tensorflow_serving/model_servers/server.cc#L333

serving  inside docker listening on `localhost` can't get access outside.

[2019-08-28 11:33] xxmyjk commented on #1429
Is this a bug or designing for other reason?

[2019-08-28 12:06] rmothukuru commented on #1428
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-28 12:15] rmothukuru commented on #1429
@xxmyjk ,
Can you please provide more details regarding your question. If you feel this is a bug, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow Serving installed from (source or binary)**:
- **TensorFlow Serving version**:

### Describe the problem
Describe the problem clearly here. Be sure to conve

[2019-08-28 13:01] amrithadevadiga commented on #1428
@rmothukuru  ,

Hi , i am looking to build TF Serving version 1.10.0 (TF model server) on centos7 image in need steps for it. after that i have plan of inserting in dockerfile to build another image which my one of different requirement.

[2019-08-28 16:47] colddew opened #1430 "the problem of the resnet_client.py script"
hi, all

https://github.com/tensorflow/serving/blob/r1.14/tensorflow_serving/example/resnet_client.py

when i execute this python script, i always have the error as follow, and i only change the SERVER_URL and IMAGE_URL config, who encounter this problem?

![image](https://user-images.githubusercontent.com/6032545/63875566-4cd9f100-c9f6-11e9-8060-199c4921c628.png)

[2019-08-28 23:22] minglotus-6 commented on #1421
Thanks for reporting this!

We are working on fixing broken links. In the meanwhile, https://github.com/tensorflow/serving/blob/master/tensorflow_serving/batching/README.md should be the intended batching guide.

[2019-08-29 04:09] xxmyjk commented on #1429
seems this is just a typo or something, `net_http` only listening on port will listen on broadcast address auto, `server_address` of `localhost` in log makes misunderstanding here.

[code]

[2019-08-29 09:57] amrithadevadiga opened #1431 "bazel-bin folder is missing"
i am using centos-7 machine to build a TF model server from source code when i executed a bazel build command "bazel build --cxxopt=-std=c++11 -c opt tensorflow_serving/... --incompatible_remove_native_http_archive=false --incompatible_package_name_is_a_function=false"it is not giving any error but bazel-bin directory is not available.
please find output of the command and help me out to find the

[2019-08-29 12:37] CRSilkworth opened #1432 "Difference in graphdef binary between training and serving for tf.nn.embedding_lookup"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
NAME="Linux Mint"
VERSION="18 (Sarah)"
ID=linuxmint
ID_LIKE=ubuntu
PRETTY_NAME="Linux Mint 18"
VERSION_ID="18"
HOME_URL="http://www.linuxmint.com/"
SUPPORT_URL="http://forums.linuxmint.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/linuxmint/"
UBUNTU_CODENAME=xenial

- **TensorFlow Serving install

[2019-08-29 14:06] #1429 closed

[2019-08-29 18:27] gowthamkpr commented on #1430
Please take a look at the similar [issue](https://github.com/tensorflow/serving/issues/1317) and let me know if it helps. Thanks!

[2019-08-29 19:41] gowthamkpr commented on #1432
This could be caused by different tensorflow versions used to train and serve the model. You can try retraining your model with the same tensorflow version as tf serving. Here are some discussions on similar issues:
[tensorflow/models#1714](https://github.com/tensorflow/models/issues/1714)
[tensorflow/tensorflow#1528](https://github.com/tensorflow/tensorflow/issues/1528)

[2019-08-29 20:52] gowthamkpr commented on #1424
Did you run this command
`run_in_docker.sh bazel build tensorflow_serving/model_servers:tensorflow_model_server`

If yes whats the output that you are getting @amrithadevadiga

[2019-08-29 22:13] vinuraja commented on #1422
Source_adapter_config is an Any proto. So it should be something like:
[code]

[2019-08-29 22:13] #1422 closed

[2019-08-29 22:40] CRSilkworth commented on #1432
I don't believe that is this issue in this case as I made no changes to either the tensorflow or tensorflow-serving-api versions. See above for my result from pip freeze. The test scenario outlined above was done with a clean virtualenv, and the commands:
[code]

After this the scripts above were run.

[2019-08-30 09:57] amrithadevadiga commented on #1424
Yes i have run that too.(run_in_docker.sh bazel build tensorflow_serving/model_servers:tensorflow_model_server)

output is same
ERROR: 'docker' command missing from PATH.
Usage:
run_in_docker.sh [-d ] [-o ] [args ...]

Examples:
run_in_docker.sh bazel build tensorflow_serving/model_servers:tensorflow_model_server
run_in_docker.sh python tensorflow_serving/example/mnist_saved_model.py /tmp/mnist
ru

[2019-08-30 19:58] gowthamkpr commented on #1424
Are you building it on windows?

[2019-08-30 21:17] vinuraja commented on #1427
Seems like the the grpc version used by Bazel build rules to create the prediction_service.pb.h files are different from the ones installed via grpc io. Unfortunately I am not aware of how to increase the grpc version bazel depends on. Asking on bazel forums might be a good option.

Another alternative would be to try and reduce the version of grpc to something like 1.10.1, according to the detail

[2019-08-30 21:26] vinuraja commented on #1431
Seems like a bazel issue, worth asking in bazel forums.

It might be that you don't have write permissions in that directory you're in.

Some other suggestions to try out:
1. Maybe your .bazelrc has some issue.
[code]
2. Try explicitly providing an output directory.
[code]

[2019-09-02 02:58] HUTOYP commented on #1427
I tried to use V1.14.0(Released on 3 Aug 2018), so It is possible that the older version is right, but I won`t to try temporarily, I can solve this problem by using the Bzel build third_party grpc version.

Thanks.

[2019-09-02 18:34] christisg commented on #1414
The lack of variables folder is orthogonal to the warmup functionality.
For the warmup to work properly, the warmup requests should be placed into a TFRecord file named tf_serving_warmup_requests (no TFRecord extension needed), and it should be placed under /models/model/${verison}/assets.extra/ of your model.
Please confirm that the folder the file tf_serving_warmup_requests is placed under is as

[2019-09-02 23:17] CRSilkworth commented on #1432
@gowthamkpr Are you unable to reproduce using the code provided?

[2019-09-03 03:22] jusonn commented on #1400
@aaroey
Should I optimize the graph additionally, such as NCHW format?
If so, is there any guide that helps me how to optimize model for serving?

[2019-09-03 09:08] ashwini-git opened #1433 "No "model" directory inside image - tensorflow/serving:latest-devel-gpu"
Hi ,

I am trying to use **"TensorFlow/serving:latest-devel-gpu"** image. while I was trying to copy my model into the container**/models** it throws error **models/ directory is not available in the container image.**

following are the directories i see -
`docker exec -t -i 5e22abf46359 /bin/bash`

  , workspace.bzl

whereas the image " TensorFlow/serving:latest-gpu" has "model" directory in it

[2019-09-03 12:36] rmothukuru commented on #1433
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow Serving version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/

[2019-09-03 12:44] rmothukuru commented on #1428
@amrithadevadiga ,
Can you please confirm if this is tracked in #1424.

[2019-09-03 12:47] amrithadevadiga commented on #1424
no am building it on Centos7

[2019-09-03 12:48] amrithadevadiga commented on #1428
yes.

[2019-09-03 12:48] #1428 closed

[2019-09-03 20:50] wdirons commented on #1433
The `devel` containers only exist so that you can compile TensorFlow Serving using bazel inside of the container. (For testing changes to the TensorFlow serving code.) They don't contain the tensorflow_model_server binary or the /models directory, so they can not be used to run tensorflow serving. Only for compiling it.

For more info see: https://github.com/tensorflow/serving/blob/master/tensorfl

[2019-09-04 04:34] amrithadevadiga commented on #1431
Thank you for the reply.

[2019-09-04 10:52] rmothukuru commented on #1419
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-04 10:52] #1419 closed

[2019-09-04 10:57] rmothukuru commented on #1431
Closing the issue as it has been answered.

[2019-09-04 10:57] #1431 closed

[2019-09-04 11:01] rmothukuru commented on #1427
Closing the issue as it has been answered. Thanks!

[2019-09-04 11:01] #1427 closed

[2019-09-04 18:13] gowthamkpr commented on #1424
Looks like you don't have docker installed @amrithadevadiga Can you please install docker and try running the command again. Thanks!

[2019-09-05 06:50] chikubee commented on #389
@promiseofcake I still face issues serving it on mac.
I intend to do it without Docker.
Can you please suggest me a way?

[2019-09-05 07:37] nrobeR commented on #1408
Hi Srinivasa,

Apologies for the delayed response. Could you please set the following in your grpc loadtesting client and provide a debug trace for your remotely located grpc calls so that we could help take a look further?
    os.environ['GRPC_VERBOSITY'] = 'DEBUG'
    os.environ['GRPC_TRACE'] = 'all'

Thanks!

[2019-09-05 10:09] colddew commented on #1430
maybe i use the inception_v3 model and transfer learning, this script does not work properly, and i change to use keras api to handle image, thanks anyway.

[2019-09-06 00:26] promiseofcake commented on #389
Unfortunatley we are running in container for everything now, we do have builds succeeding on Darwin however. We are using 1.8 for tf/tf_serving so not sure if anything has changed since then.

[2019-09-06 06:36] rmothukuru commented on #1433
@ashwini-git ,
Can you please confirm if @wdirons's comments helped you.

[2019-09-06 06:58] ashwini-git commented on #1433
@wdirons Thank You! Closing the issue.

[2019-09-06 06:58] #1433 closed

[2019-09-06 10:55] sathyamoorthyrr commented on #882
In Keras, we used to give [batch_size](https://keras.io/models/model/#predict) upon prediction.
How is that different from these **batching** settings in Tensorflow Serving?

I have a model trained in Keras as `.hdf5` file.
In _Python_, loading `.hdf5` file and prediction takes _**300** ms_.
**INPUT:**
[code]

After converting the `.hdf5` file to **SavedModelFormat**(`.pb`), I tried to load the `.

[2019-09-06 16:49] unclepeddy commented on #1394
Closing due to inactivity

[2019-09-06 16:49] #1394 closed

[2019-09-06 17:15] rmothukuru commented on #1424
@amrithadevadiga,
You can install Docker from [this link](https://docs.docker.com/get-started/#test-docker-installation).

[2019-09-06 17:20] gowthamkpr commented on #1430
sure. Can I close this issue as it has been resolved @colddew

[2019-09-06 18:24] Mickky666 opened #1436 "Input placeholder with shape [1] of saved_model.pb accepts scaler input but throws error in later graph."
Env:
* Mac OS
* python 2.7
    * tensorflow 1.13.1
    * tensorflow-serving-api 1.20.1
    * grpcio 1.12.0
* docker 19.03.1
* serving docker image: `tensorflow/serving:1.13.0`

Description:
I'm using estimator API to build model. Inside serving input function, my model has an int64 input placeholder with shape [1]. And this placeholder is later concatenated with another tensor. Then I trained the

[2019-09-06 18:25] Mickky666 commented on #1436
CC @ravikyram

[2019-09-06 23:25] helinwang commented on #1381
Thanks for the discussion.
@unclepeddy regarding "robustness" and "binary size" in your comment https://github.com/tensorflow/serving/issues/1381#issuecomment-501452606. How does the following proposal sound?

1. Make TF serving able to link with Google open sourced ops (ops from tensorflow_text, tensorflow_addon) with a compiler flag default to false.
2. Make sure CI covers the case for setting t

[2019-09-07 01:54] colddew commented on #1430
ok, thx

[2019-09-07 01:54] #1430 closed

[2019-09-08 10:24] BenZstory opened #1437 "Start serving failed with uninitialized value since path variable and lookup table can't initialize in order"
## Bug Report
### Env information
- Linux Ubuntu 16.10
- python 3.5
- tensorflow 1.14.0
- serving with docker, tensorflow/serving:latest   d4b221a3f345

### Describe the problem
When using lookup table(index_to_string_table_from_file) combined with assets(path assigned with a variable), since the serving initializer param `main_op` won't accept sequential initializers, the `tables_initializer` may

[2019-09-09 11:36] CRSilkworth commented on #1432
Has anyone been able to confirm whether or not this is a bug?

[2019-09-09 11:36] #1424 closed

[2019-09-09 12:18] eravallirao opened #1439 "serving with two inputs for text recognition where it needs input image and the sequence length."
How to pass the inputs to the url for getting the output.
payload_1 = {
   "instances" : [{'image': image1.tolist()},
    {'image_length': seq_len.tolist()}]
}
print(payload_1)
url = "http://localhost:8501/v1/models/serving:predict"
res_1 = requests.post(url, json=payload_1)

I am getting <Response [400]>

[2019-09-09 21:53] rmothukuru commented on #1432
@CRSilkworth,
We are looking into this and we will revert.

[2019-09-09 22:36] gowthamkpr commented on #1436
Can you please provide the complete code (github gist) for us to reproduce the issue. Thanks!

[2019-09-09 22:55] gowthamkpr commented on #1439
Please refer to the following [link](https://sthalles.github.io/serving_tensorflow_models/) which explain in detail of how to serve a tensorflow model and let me know if it helps!

[2019-09-09 23:56] pavankumarperali commented on #1098
HI, I am getting exact same error when I run my model using C_API. same model is working ok in python. What could be the problem?

[2019-09-09 23:57] gowthamkpr commented on #1420
Closing this issue as its has been inactive for more than 14 days. Please add additional comments and we can open the issue again. Thanks!

[2019-09-09 23:57] #1420 closed

[2019-09-10 08:22] helmuthva commented on #1277
Docker images to get TensorFlow Serving up and running on Jetson Nano and Jetson AGX Xavier devices are now published on DockerHub - see https://hub.docker.com/u/helmuthva

[2019-09-10 16:27] EthannyDing commented on #45
Hi, this works great. I used GPU to load these models but not sure how to connect to the server from client side. do you have any suggestions?

[2019-09-10 17:29] christisg commented on #1365
Changing this to FR - TF Serving needs to expose the appropriate build target for Golang.

[2019-09-10 18:06] Mickky666 commented on #1436
@gowthamkpr
Sure, the gist is here: https://gist.github.com/Mickky666/59e8891bccbe93480b9a5a735e514b97
Also attached the python environment here:
https://gist.github.com/Mickky666/1922b48cc340f37950906f5d9b3c99ff

[2019-09-11 01:56] rola93 commented on #45
I think that following [this](https://towardsdatascience.com/productising-tensorflow-keras-models-via-tensorflow-serving-69e191cb1f37) and [this](https://towardsdatascience.com/using-tensorflow-serving-grpc-38a722451064) tutorials explain how to create the client, and in particular, how to define which model you are calling to

[2019-09-11 17:14] rmothukuru commented on #1437
@BenZstory ,
I have reproduced your issue. Yes, I get the error mentioned by you. But if we wait for 30-60 seconds, Server will retry and it will load the Servable. Log for the same is shown below. Can you please wait for some time and confirm if Servable is loaded properly. Thanks!

[code]

[2019-09-12 00:45] rmothukuru commented on #1432
@CRSilkworth,
Tried reproducing your error. I have ran the code shared by you followed by the Client file, using the command shown below,

`(PY_36) mothukuru@mothukuru-glaptop:~$ python /home/Jupyter_Notebooks/TF_Serving/Client_Github_1432.py`

I didn't get the error, which you got. Instead, I got the below info when I ran the `sudo docker run` command and the `client file`:

[code]

Result of `pi

[2019-09-12 02:15] chrisTripla commented on #1432
@rmothukuru I installed the package versions you provided (The ones that found a matching version at least) and still got the same error as before. I get this error both in linux mint and mac os 10.14.6.

It looks like you maybe using Python 3? I originally posted with python 2.7 but I just tried it with python 3 and got the same error.

I have not worked very much with Jupyter, but is it possible

[2019-09-12 02:17] CRSilkworth commented on #1432
@rmothukuru I installed the package versions you provided (The ones that found a matching version at least) and still got the same error as before. I get this error both in linux mint and mac os 10.14.6.

It looks like you maybe using Python 3? I originally posted with python 2.7 but I just tried it with python 3 and got the same error.

I have not worked very much with Jupyter, but is it possible

[2019-09-13 17:04] rmothukuru commented on #1432
Closing the issue as it couldn't be reproduced. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-serving) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-13 17:04] #1432 closed

[2019-09-17 09:42] blakenguyen97 opened #1440 "GPU utilization with TF serving"
Hi, I have trained a model (EfficientNet) on a machine with 4xRTX 2080Ti. The the problem is when I served the model with TF serving, it didn't use 100% GPU utilization ( it got stuck at 40%-50%), but when I serve it on another machine (RTX 2070) it used 100%. Can you tell  me what the problem is ? Thank you so much

[2019-09-17 17:14] rmothukuru commented on #1440
@blakenguyen97 ,
Can you please provide below details:

1. What is the size of the Model
2. When you said you have Served it on another machine (RTX 2070), how many GPUs were you using in that Machine
3. Is the process of Serving same in both the Machines, like batching, etc..
4. Can you please monitor GPU usage, as described in #1190,  and share us the details.
Thanks!

[2019-09-17 18:21] stephen-lazaro opened #1441 "Loading Model from GCS Fails With Data loss: not an sstable (bad magic number)"
#Bug Report
### System information
Standard Docker Container version of Tensorflow Serving

### Describe the problem
I am able to load models locally, but whenever loading them from GCS the model boot fails with
[code]
logs have been mildly anonymized.
All these models load successfully when booted from local filesystem rather than GCS.

### Exact Steps to Reproduce
Attempt to point to Google clou

[2019-09-17 18:47] rmothukuru commented on #1441
@stephen-lazaro ,
In order to expedite the trouble-shooting process, please provide a code snippet (all the commands used) to reproduce the issue reported here. Thanks!

[2019-09-17 20:51] stephen-lazaro commented on #1441
@rmothukuru In what sense? Here's the content of my entrypoint:
[code]

I have an env variable:
`ENV GOOGLE_APPLICATION_CREDENTIALS /etc/configs/credentials.json`
which contains a service account token. I can confirm that both privileges and network connectivity work correctly.

The contents of `empty_model.config` is e.g.:
[code]
where obviously BUCKET is my bucket name.
It is clear that the mode

[2019-09-18 03:15] Khang-9966 commented on #1440
Hi @rmothukuru, I think may be problem we have is the CPU cores. Because when we run the docker tensorflow serving with NVIDIA docker [https://hub.docker.com/layers/tensorflow/serving/latest-gpu/images/sha256-fd54edb56a7bc72ea0606ed03b7de7d3cfb8a2143e797187555a78b37ff7c49a](url) on the 6 Cores Intel CPU the usage of GPU is max 100%, But when tried to perform the same method for Intel Xeon 28 Physi

[2019-09-18 03:19] Panshangka opened #1442 "requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: http://localhost:9000/v1/models/saved_model:predict"
When I use the TF serving Rest API:
tensorflow_model_server --rest_api_port=9000 --model_name=saved_model --model_base_path=/home/psk/model-export/pb/

It works fine:
2019-09-17 19:11:46.005431: I tensorflow_serving/model_servers/server.cc:324] Running gRPC ModelServer at 0.0.0.0:8500 ...
2019-09-17 19:11:46.005957: I tensorflow_serving/model_servers/server.cc:344] Exporting HTTP/REST API at:local

[2019-09-18 06:48] gowthamkpr commented on #1442
@Panshangka Please take a look at this [answer](https://github.com/tensorflow/serving/issues/1317#issuecomment-483401285) and let me know if it helps. Thanks!

[2019-09-18 09:50] Panshangka commented on #1442
Now this error:
response.status_code: 400
response.content: b'{ "error": "Serving signature name: \\"serving_default\\" not found in signature def" }'
When I convert my model, I remembered defining the input signature and output signature.

tensor_info_input = tf.saved_model.utils.build_tensor_info(model.input_batch)
 # output tensor info
tensor_info_output = tf.saved_model.utils.build_tensor_info

[2019-09-18 09:51] Panshangka commented on #1442
Now this error:
response.status_code: 400
response.content: b'{ "error": "Serving signature name: \"serving_default\" not found in signature def" }'
When I convert my model, I remembered defining the input signature and output signature.

tensor_info_input = tf.saved_model.utils.build_tensor_info(model.input_batch)

output tensor info
tensor_info_output = tf.saved_model.utils.build_tensor_info(mod

[2019-09-18 10:05] Panshangka commented on #1442
After I add the signature name, It worked!
Thank you so much!

[2019-09-18 10:51] digital-thinking opened #1443 "Served model delivers incorrect predictions"
## Bug Report
When serving a effifientnet model, which was trained in keras and exported to SavedModel format, tensorflow model server gives different predictions compared to
1. loading the savedModel in Java and making predictions
2. serving the model with keras and Flask.

### System information
AWS EC2: Deep Learning AMI (Ubuntu) Version 23.1 (ami-0ab24eef0e14017ef)
TensorFlow ModelServer: 1.13

[2019-09-18 13:53] unclepeddy commented on #1400
If you're using official resnet model I think only NCHW should be accepted (@aaroey please confirm).
As suggested above, can you try running it with grpc to validate the REST isn't the bottleneck?

[2019-09-18 14:18] aaroey commented on #1400
@unclepeddy I think both can be run on GPU, but on non-Volta architectures or non-FP16 use case it'll always [convert](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/conv_ops.cc#L699-L700) NHWC to NCHW, adding extra cost. However, before running the graph, the graph optimizer (grappler) should have already done the conversion on the graph level, to minimize the overal

[2019-09-18 17:28] gowthamkpr commented on #1442
@Panshangka Closing this issue as it has been resolved.

[2019-09-18 17:28] #1442 closed

[2019-09-18 17:40] gowthamkpr commented on #1443
@digital-thinking Can you please provide a github gist or a reproducible code for us to explore as to why this is happening as its too vague for us right now to determine the root cause of this issue. Thanks!

[2019-09-18 19:11] rmothukuru commented on #1441
@stephen-lazaro ,
Can you please check the issues [1](https://github.com/tensorflow/models/issues/2675), [2](https://github.com/tensorflow/tensorflow/issues/7696) and [3](https://github.com/tensorflow/models/issues/2676) and let us know if it resolves your problem.
Thanks!

[2019-09-18 20:13] stephen-lazaro commented on #1441
Update, @rmothukuru it was known of those. The issue was that our files were compressed and TF serving was not respecting the compression format header. Closing as resolved.

[2019-09-18 20:13] #1441 closed

[2019-09-19 03:56] blakenguyen97 commented on #1440
Hi @rmothukuru,

1. The size of the model is 'bout 80Mb.
2. There was only 1 RTX 2070 on my second machine ( with 6 physical cores Intel CPU ). But on my first machine ( 4xRTX 2080Ti ), there was a 28 cores Intel Xeon CPU. Can this difference cause the problem ?
3. Yes, the process is same in both machines.
4. I just have an image of GPU utilization on my RTX 2070 (using nvtop tool)
![image_2019_0

[2019-09-19 07:12] jusonn commented on #1400
I tried grpc api with my model with input size from `1x256x256x3` to `48x256x256x3`.
I measure the grpc request time for each input size.

Request time increases when input_tensors become large.
However, I am not sure whether it is because the serving server does not infer batch or because of large input tensor size makes grpc transfer slower.
[code]

[2019-09-19 10:07] wangzhilong commented on #1215
======
![](https://s2.ax1x.com/2019/09/19/nLwvdI.png)

If i  run docker with paramas enable_batching=true， the memory keep stable, as shown in the figure。I don't know why.

[2019-09-19 17:33] rmothukuru commented on #1440
@aaroey,
Do you have any idea regarding this issue. Thanks!

[2019-09-19 17:39] rmothukuru commented on #1437
@BenZstory ,
Can you please provide more details on how did you use `tf.control_dependencies` and what error did you get (if it is not same as the one mentioned above). Thanks!

[2019-09-20 02:54] blakenguyen97 commented on #1440
Hi @rmothukuru, one more thing is I used TensorRT for optimizing the model (FP16). Thanks

[2019-09-20 14:08] aaroey commented on #1440
@blakenguyen97 could you try running the model with pure TF (not TF Serving), and see what the GPU utilization is?

[2019-09-23 07:08] wangzhilong commented on #1215
you can try `enable_batching=true`.

[2019-09-23 12:05] nrobeR commented on #1215
Could someone please try with the latest tf serving version (1.14.0) and see if the issue still reproduces? Thanks!

[2019-09-24 17:19] gowthamkpr commented on #1439
Closing this issue as its inactive for more than 15 days. Please add additional comments and we can open the issue again. Thanks!

[2019-09-24 17:19] #1439 closed

[2019-09-24 18:33] rmothukuru commented on #1408
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-24 18:33] #1408 closed

[2019-09-25 04:34] gowthamkpr commented on #1436
@Mickky666 Can you please provide the signature def that you used while saving the model. thanks!

[2019-09-25 17:43] Mickky666 commented on #1436
@gowthamkpr Sure, the model signature of the above example code is:
[code]
The input `my_input` has shape (1), however it can accept a raw scaler input like:
[code]

[2019-09-26 05:52] kuien commented on #1403
We meet similar requirements that we can't load all the models into device at the same time, it would be better to swap models between GPU mem and CPU mem.

My story is: we are developing a medical diagnosis system. During our workflow, many models will be imported, they are organized as a DAG like pipeline. That is, if a patient has been predicated with one kind of diseases, we proceed to classif

[2019-09-26 08:54] rush9838465 opened #1447 "gRPC API: HandleReloadConfigRequest() return Deadline Exceeded"
Suppose I load a model that doesn't exist locally, and TFS starts printing errors:
`E tensorflow_serving/sources/storage_path/file_system_storage_path_source.cc:362] FileSystemStoragePathSource encountered a filesystem access error: Could not find base path ...`

And then when I call the HandleReloadConfigRequest() again, Keep reporting errors:
[code]

[2019-09-26 19:22] DonaldM164 opened #1448 "Tensorflow Serving Bad Docker Example"
I originally opened this up on the tensorflow repo but I was directed to open it up here, which makes sense. The original ticket can be viewed at this [link](https://github.com/tensorflow/tensorflow/issues/32716).

Please provide a link to the documentation entry:
https://www.tensorflow.org/tfx/serving/docker

Description of issue (what needs changing):
The first example does not work when you get

[2019-09-26 20:53] gowthamkpr commented on #1448
@DonaldM164 I am unable to reproduce the issue on my system. Please find the image below where I got the predictions back

![image](https://user-images.githubusercontent.com/47574994/65723342-11692b80-e063-11e9-9088-48d67f2876e7.png)

I have ran the same commands on the commandline. Please find it in the image below
![image](https://user-images.githubusercontent.com/47574994/65723442-44132400-e063

[2019-09-26 21:01] gowthamkpr commented on #1447
@rush9838465 Whare are you saving your model? Can you also share some reproducable code for us to reproduce the issue? Thanks!

[2019-09-27 03:01] rush9838465 commented on #1447
I am ready to launch my model on TFS. If the user gives me the wrong model path, I use HandleReloadConfigRequest() configuration to TFS will report this error.
Later, even if the user gives me the correct configuration, I will call HandleReloadConfigRequest() again and keep reporting errors.
HandleReloadConfigRequest() will stop reporting errors unless I put a .pd file in the wrong path.

from ten

[2019-09-27 17:17] gowthamkpr commented on #1436
@Mickky666 Modelserver does not do any input shape verification while handling a predict request.

typically the graph processing imposes certain restrictions on the tensors. and invalid shapes usually fail during graph execution as seen in the issue.

some graphs are flexible on dimensions they accept (like our half_plus_two model, that does 0.5*x+2 for tensors of varied dimensions). so it is arg

[2019-09-27 17:48] gowthamkpr commented on #1215
@nrobeR sure

[2019-09-28 21:24] DonaldM164 commented on #1448
Thanks for the reply and detailed explanation gowthamkpr! I've repeated the commands just as you have and I'm still experiencing the same problem. Let me explain exactly what I did.

Previously, I used the docker terminal to execute the steps but I started this attempt with an anaconda terminal, which performed fine until I attempted to set the TESTDATA location. "TESTDATA" is not a recognized int

[2019-09-29 03:32] gzpyy commented on #1406
@nrobeR  I met the sample problem. Not yet fixed?

I don't know why, but work

this works for me.

[2019-09-29 06:36] BenZstory commented on #1437
Sorry for the late response.

The errors are the same when using `tf.control_dependencies`. It seems that `tf.control_dependencies` have no affect on those initializers.

Since I'm not familiar with `tf.control_dependencies`, the codes may not be totally right.

- Tried pointing out table's dependencies while building the graph:

[code]

- Tried stack init ops with dependencies before running them

[2019-09-29 08:03] tobegit3hub commented on #1393
The SavedModel can store the information of device placement if you don't export with `clear_devices=True`. So TensorFlow Serving may place operators in CPU or GPU which is the same for training.

[2019-09-30 17:14] gowthamkpr commented on #1448
@DonaldM164 Can you go to the path of the TESRDATA folder and let me know if the servable exists or no?

[2019-09-30 23:29] chuyang-deng opened #1450 "Why does model_management_pb2 imports tensorflow"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 18.04
- **TensorFlow Serving installed from (source or binary)**: binary
- **TensorFlow Serving version**: 1.14

### Describe the problem
I have a TensorFlow Serving container that is designed for serving purpose only. I want to load models at runtime without any delay so we implemented a gPRC client to se

[2019-10-01 01:42] DonaldM164 commented on #1448
@gowthamkpr The directory that TESTDATA is set to looks like this
![serving](https://user-images.githubusercontent.com/16122798/65928208-f849dd00-e3ca-11e9-8f30-558e150d38b0.png)

The half_plus_two directory looks like this
![half_plus_two](https://user-images.githubusercontent.com/16122798/65928252-2a5b3f00-e3cb-11e9-99fb-98b16cc1398d.png)

[2019-10-01 10:50] marcos-marques commented on #1165
If you are using docker-compose to run tf-serving together with another application you can use this example without the need for a Dockerfile:

[code]

[2019-10-01 17:23] gowthamkpr commented on #1448
@DonaldM164 Can you see a servable under TESTDATA/saved_model_half_plus_two_cpu path?

[2019-10-02 00:11] gowthamkpr commented on #1447
Can you please take a look at this [issue](https://stackoverflow.com/questions/54440762/tensorflow-serving-update-model-config-add-additional-models-at-runtime) and let me know if it helps. Thanks!

[2019-10-02 00:48] DonaldM164 commented on #1448
@gowthamkpr Yes, within  TESTDATA/saved_model_half_plus_two_cpu is the version directory of 0000123, and within that directory is the save_model.pb.

[2019-10-02 05:58] NOSHEENSANAY commented on #961
thanks

[2019-10-02 16:18] gowthamkpr commented on #1436
@Mickky666 Closing this issue as it has been resolved. Please add additional comments and we can open the issue again. Thanks!

[2019-10-02 16:18] #1436 closed

[2019-10-02 16:19] gowthamkpr commented on #1443
Closing this issue as it has been inactive for more than 14 days. Please add additional comments and we can open the issue again. Thanks!

[2019-10-02 16:19] #1443 closed

[2019-10-02 16:21] gowthamkpr commented on #1448
@DonaldM164 Will try to reproduce this issue on windows and I will try to get back to you.

[2019-10-02 20:36] bwindsor22 commented on #488
@wjmaclean thanks, new link: https://www.tensorflow.org/guide/saved_model#using_savedmodel_with_estimators

[2019-10-02 22:54] DonaldM164 commented on #1448
@gowthamkpr Thanks, I'll let you know if I find a solution in the meantime!

[2019-10-03 06:26] rmothukuru commented on #1440
@blakenguyen97,
Can you please respond to @aaroey's comments so that we can help you. Thanks!

[2019-10-03 08:25] badele commented on #1406
Today i have a same problem

I builind from docker (GCP Ubuntu 18.04 Host) with this command `tools/run_in_docker.sh bazel build -c opt tensorflow_serving/...`

[2019-10-03 16:31] gr8Adakron opened #1451 "TF-serving Model Inference: increase inference concurrency with persistent latency"
I am serving one LSTM model and while I am sending 20 concurrent requests to TF-serving, somehow the latency for each of each is not persistent.

I am serving TEXT-MODEL (LSTM)

This is my tf-serving start command:

I need the latency of per model inference 100req/sec but that seems quite impossible using tf-serving, is there any flag which I am missing?

What I am trying to say is: If I send 100

[2019-10-03 16:32] gr8Adakron commented on #1451
@ewilderj @kchodorow @lamberta any help please?

[2019-10-03 20:56] gowthamkpr commented on #1451
@gr8Adakron Can you please provide some reproducable scriptfor us to reproduce this issue. Thanks!

[2019-10-03 21:30] ChuyangDeng commented on #1450
Hi @gowthamkpr,

Any updates？

Thanks,
Chuyang

[2019-10-03 22:56] gr8Adakron commented on #1451
I am talking about any model with persistent latency if you want I am sharing my client script to call the model:

[code]
hope it helps!

[2019-10-04 05:42] christisg commented on #1450
Hi @ChuyangDeng,

Did you install TF serving API? (pip install tensorflow-serving-api)

[2019-10-04 09:44] gr8Adakron commented on #1451
@gowthamkpr

[2019-10-04 10:35] gr8Adakron commented on #1042
@gautamvasudevan dude this is also a platform if you build a product then better help the customer of it.

[2019-10-04 16:58] ChuyangDeng commented on #1450
Hi @christisg,

Yes. tensorflow-serving-api, grpcio and protobuf are all installed.

[2019-10-04 20:20] Elizaaaaa opened #1453 "Build error with tf r1.15"
https://github.com/tensorflow/serving/blob/81ed5ef2307eea4c9396fd34f33673be072cdcf3/tensorflow_serving/apis/BUILD#L24

ERROR: /tensorflow_serving/tensorflow_serving/model_servers/BUILD:200:1: error loading package 'tensorflow_serving/apis': Label '@org_tensorflow//tensorflow/core:platform/default/build_config.bzl' crosses boundary of subpackage '@org_tensorflow//tensorflow/core/platform' (perhaps

[2019-10-04 22:52] unclepeddy commented on #1421
This has been fixed

[2019-10-04 22:52] #1421 closed

[2019-10-04 23:21] saxenasaurabh commented on #1437
Could you try changing your code to the following

[code]

Then you can just use the following initializer:

[code]

The problem was that when we create a variable we create a default "read" op that has no control dependency. When you try to run the table's initializer TensorFlow's executor, which executes greedily, tries to run that "read" op first and fails because the `Assign` op has not been r

[2019-10-07 05:21] christisg commented on #1450
If "pip install tensorflow-serving-api" completed successfully, it should have installed all the libraries you need (including the associated tensorflow libraries), and you should be able to find them under the local installation path.
I'd recommend checking and confirming that your environment is set-up properly, specifically if Python is properly installed.
If you're still unsure how to resolve

[2019-10-07 06:10] rmothukuru commented on #1453
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-07 06:18] rmothukuru commented on #1414
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-07 06:18] #1414 closed

[2019-10-07 06:22] rmothukuru commented on #1440
@blakenguyen97,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue using both, Tensorflow and Tensorflow Serving. Thanks!

[2019-10-07 06:51] chengnignzhang opened #1454 "[Feature Request]Tensorflow serving version to support TF 2.0"
Hey,
     We want to use tensorflow serving to serve TF 2.0, can we know when it's available ? or it's already available in the previous release.

[2019-10-07 07:24] blakenguyen97 commented on #1440
I'm really sorry for this :(

Hi @aaroey, I tried to run the model with the model with pure TF, but the utilization didn't increase.

I used these lines of code to convert the model with TRT...
![image](https://user-images.githubusercontent.com/52020800/66291129-41d68280-e90b-11e9-814b-a9ebd435a1d3.png)

...and these for TF Serving
![image](https://user-images.githubusercontent.com/52020800/662912

[2019-10-07 18:20] gowthamkpr commented on #1454
@chengnignzhang We are till working on it and it should be released anytime soon. We are delaying the release as we are resolving a few bugs.

[2019-10-07 18:39] unclepeddy commented on #1454
I will note, you should be able to use TF Serving 1.X to serve TF 2.0 models - if you run into something that doesn't work please open an issue.

[2019-10-07 18:39] #1454 closed

[2019-10-07 21:55] ChuyangDeng commented on #1450
hi @christisg, thanks for the information. With successful `pip install tensorflow-serving-api`, I am able to find pb2 files such as `classification_pb2.py`, `regression_pb2.py` that are built from tensorflow/core library. However what is missing (and causing the error) is the `error_codes_py2` that is used to built `status_pb2.py` (https://github.com/tensorflow/serving/blob/master/tensorflow_serv

[2019-10-08 00:57] christisg commented on #1450
You can find error_codes_pb2.py under tensorflow/core/lib/core (installed).

[2019-10-08 02:24] rush9838465 commented on #1447
I did. I didn't have the answer

[2019-10-08 03:55] BenZstory commented on #1437
I tried the `read_value` solution, it firstly gave the same error, which means `tf.control_dependencies` is still not working on the variable and assigner.

Then I did [some search](https://github.com/tensorflow/tensorflow/issues/4663), find out that the `ResourceVariable` can do control dependency as expected.

So I replace the `index_asset_path` to code like this:

[code]

Also with control depe

[2019-10-08 03:55] #1437 closed

[2019-10-08 08:32] guillaumekln commented on #1381
Looks like https://github.com/tensorflow/serving/commit/142d0adb5e2975689d80d8fc608c9684e96de078 added TensorFlow Text kernels in Serving. Should the same be done for Addons?

[2019-10-08 18:11] giannisfourfouris commented on #533
Is the tensorflow serving client still unavaliable for android? If yes do you know a way to use cloud for inference at an object detection mobile app (using tensorflow lite and inference on device)?

[2019-10-08 22:03] ChuyangDeng commented on #1450
Hi @christisg, I understand that if we do `pip install tensorflow-serving-api`, tensorflow binaries will be installed as well. And then error_codes_pb2 can be imported successfully.

However, what I'm trying to do is `pip install --no-dependencies --no-cache-dir tensorflow-serving-api`, because I do not want to install tensorflow in a container that is for serving purpose only. (tensorflow binary

[2019-10-09 06:32] sreddybr3 commented on #1408
we have switched to HTTP mode. Thanks.
We plan to perform more tests with gRPC in the future.

[2019-10-09 06:38] Akrusher commented on #1453
when build with tf r1.15 ,this is because your bazel version is too high, you can downgrade it to bazel 0.24, when i used bazel 0.26,  i face this problem too.

[2019-10-09 11:01] chris-carbon opened #1457 "TF 2.0 - tf.strings.ngrams not supported by TF Serving"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.6
- **TensorFlow Serving installed from (source or binary)**: binary
- **TensorFlow Serving version**: f7e59a29cbc17a6b507751cddde37bccad4407c05ebf2c13b8e6ccb7d2e9affb

I packaged a model with TF2.0, which uses `tf.strings.ngrams`. It seems as though this op is not supported by TF Serving, as I get t

[2019-10-09 14:35] unclepeddy commented on #1381
Unfortunately the same cannot be done for Addons as currently we only support linking in ops that are owned and supported by Google-internal teams. If you have any feedback on specific pain points in building your ops statically into the server please let us know.

[2019-10-09 19:31] gowthamkpr commented on #1457
@chris-carbon This is not the issue with Tensorflow serving. Its raised from Tensorflow. Please post this issue in [Tensorflow/Tensorflow repo](https://github.com/tensorflow/tensorflow/issues) as its more suitable there.

Also you can refer to the following [issue](https://github.com/tensorflow/tensorflow/issues/29574). This should solve your problem.

[2019-10-09 20:34] Elizaaaaa commented on #1453
my building command is:
`bazel build -c opt //tensorflow_serving/model_servers:tensorflow_model_server --verbose_failures`

and the error logs are:
ERROR: /home/ubuntu/serving/tensorflow_serving/model_servers/BUILD:215:1: error loading package 'tensorflow_serving/apis': Label '@org_tensorflow//tensorflow/core:platform/default/build_config.bzl' crosses boundary of subpackage '@org_tensorflow//tenso

[2019-10-09 20:36] Elizaaaaa commented on #1453
haven't thought about this. i'll have a try with it. thanks!

[2019-10-09 22:45] unclepeddy commented on #1447
Can you clearly explain 1) What you're doing 2) What the observed outcome is and 3) What the expected outcome is?

It sounds like you're _adding_ new models, not replacing them. So the behavior is expected? Should you be replacing the model in the config file with a new one instead of adding it?

[2019-10-10 17:13] ashwini-git opened #1458 "error :Building an optimized serving binary"
Hi, i am trying to optimize serving binary. Followed instructions over [https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/building_with_docker.md#building-an-optimized-serving-binary]()

the following command results in error -
[code]
![error](https://user-images.githubusercontent.com/37379986/66590428-5edeb000-ebae-11e9-9bcc-7480ba3424e0.png)

I am trying to optimize the

[2019-10-11 08:50] leo-XUKANG opened #1459 "how to use tf-serving deploy the tflite?"
how to use it?please!!
`      tensorflow::Flag("use_tflite_model", &options.use_tflite_model,
                       "EXPERIMENTAL; CAN BE REMOVED ANYTIME! Load and use "
                       "TensorFlow Lite model from `model.tflite` file in "
                       "SavedModel directory instead of the TensorFlow model "
                       "from `saved_model.pb` file.")};

`

[2019-10-11 10:21] chengnignzhang commented on #1454
Thanks noted.

[2019-10-11 20:58] vinuraja commented on #1451
Unfortunately, variance in latency, especially during concurrent request execution is expected.

You can try using the `tensorflow_model_server` APT package, or building your own with the right optimization settings as per the instructions [here](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/setup.md).

Another thing you can try are the flags `tensorflow_intra_op_paral

[2019-10-12 12:02] leo-XUKANG opened #1460 "GPU-utils is so low with tf_serving !!!!!"
![image](https://user-images.githubusercontent.com/28701457/66701113-10a2eb80-ed2b-11e9-98ee-a40bc47c315d.png)

![image](https://user-images.githubusercontent.com/28701457/66701119-23b5bb80-ed2b-11e9-89e6-ae3c6e28bcf1.png)

some one can help me? how can make it better?

[2019-10-12 14:31] tridemax commented on #1276
@minglotus-6 How to set this option in ServerCore from the outside? I don't see the binding to  ServerCore from command line. Should I rebuild an image to get this option enabled? (then it is pretty useless)

[2019-10-14 02:34] leo-XUKANG commented on #1440
I have the some problem that gpu-utils only can reach 7% in tensorflow-serving, but when i use prune tensorflow.   it is 100%.

[2019-10-14 04:04] brightcoder01 opened #1462 "TFServing Compatibility issue with the TF2.0 model using feature columns"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS Mojave 10.14.6
- **TensorFlow Serving installed from (source or binary)**:
Use docker image: docker pull tensorflow/serving
- **TensorFlow Serving version**:
1.14.0

### Describe the problem
We use the same model definition, run it using *tensorflow 1.14.0* and *tensorflow 2.0.0* and then get two models. Ho

[2019-10-14 06:05] ashwini-git commented on #1458
@rmothukuru  Hi , can you help me with above issue ?

[2019-10-14 07:02] brightcoder01 commented on #1462
Update the request from:
*curl -d '{"instances": [{"age": 16, "education": "Masters"}]}' -X POST http://localhost:8501/v1/models/census_keras:predict*
to
**curl -d '{"instances": [{"age": [16], "education": ["Masters"]}]}' -X POST http://localhost:8501/v1/models/census_keras:predict**
the models from both version works. Close this issue now.

The input shape of the models are different between tf1

[2019-10-14 07:08] rmothukuru commented on #1460
@leo-XUKANG,
Can you please confirm if this issue is same as the issue, #1440. Thanks!

[2019-10-14 09:35] philongnghoang commented on #1440
@blakenguyen97 try to run the container with these parameters:

--grpc_channel_arguments=grpc.max_concurrent_streams=1000 \
--per_process_gpu_memory_fraction=0.7 \
--enable_batching=true \
--batching_parameters_file=/models/flow2_batching.config \
--tensorflow_session_parallelism=2 \

[2019-10-14 20:10] gowthamkpr commented on #1459
You can serve the saved model before converting it into TFLite model using Tensorflow serving.
Why do you want to use Tensorflow serving for Tf-Lite model?

[2019-10-15 03:14] blakenguyen97 commented on #1440
@philongnghoang It works. I use multi-threading to create several requests and the utilization reached 98%. But when there was only 1 request, the utilization only reached 50-60%, but I will try to fix it later. Thank you very much.
![image_2019_10_14T09_37_43_532Z](https://user-images.githubusercontent.com/52020800/66797316-8af28c00-ef34-11e9-9f89-84f72d47af39.png)

[2019-10-15 04:45] jusonn commented on #1440
@philongnghoang  Does your server inference request in batch?

[2019-10-15 06:02] rmothukuru commented on #1440
@blakenguyen97,
Can you please confirm if we can close this issue. Thanks!

[2019-10-15 06:41] #1440 closed

[2019-10-15 06:51] philongnghoang commented on #1440
Yes. I set up my server to inference in batching. You can try to run the container with these parameters:
--enable_batching=true
--max_batch_size=10
--batch_timeout_micros=1000
--max_enqueued_batches=1000
--num_batch_threads=6

[2019-10-15 06:52] philongnghoang commented on #1440
Yes. I set up my server to inference in batching. You can try to run the container with these parameters:
--enable_batching=true
--max_batch_size=10
--batch_timeout_micros=1000
--max_enqueued_batches=1000
--num_batch_threads=6

[2019-10-15 08:12] rmothukuru commented on #1460
@leo-XUKANG,
Can you please try to run the container with the parameters and check if there is improvement in GPU Utilization.

[code]

For more information, refer the issue, #1440. Thanks!

[2019-10-15 08:14] rmothukuru commented on #1453
@Elizaaaaa ,
Can you please confirm downgrading Bazel's version to 0.24 resolved your issue, as per @Akrusher's comments. Thanks!

[2019-10-15 08:29] Akrusher commented on #1453
yes，i success build r1. 15发自我的华为手机-------- 原始邮件 --------主题：Re: [tensorflow/serving] Build error with tf r1.15 (#1453)发件人：rmothukuru 收件人：tensorflow/serving 抄送：Akrusher <18813058598@163.com>,Mention @Elizaaaaa ,
Can you please confirm downgrading Bazel's version to 0.24 resolved your issue, as per @Akrusher's comments. Thanks!

—You are receiving this because you were mentioned.Reply to this email d

[2019-10-15 17:31] gowthamkpr commented on #1448
@DonaldM164 Were you able to figure out the root cause of this error?

[2019-10-15 22:45] vinuraja commented on #1458
From reading the lines in the [image](https://user-images.githubusercontent.com/37379986/66590428-5edeb000-ebae-11e9-9bcc-7480ba3424e0.png) you posted, seems like it's a GCC compiler issue. It says:
[code]

[2019-10-15 22:46] #1458 closed

[2019-10-16 07:44] zizihaier commented on #906
@netfs I met the similar problem in Bazel 0.18 under Ubuntu and tensorflow serving r1.14 when execute '/bin/sh -c bazel build --color=yes --curses=yes     ${TF_SERVING_BAZEL_OPTIONS}     --verbose_failures     --output_filter=DONT_MATCH_ANYTHING     ${TF_SERVING_BUILD_OPTIONS}     tensorflow_serving/model_servers:tensorflow_model_server &&     cp bazel-bin/tensorflow_serving/model_servers/tensorfl

[2019-10-16 09:07] leo-XUKANG commented on #1459
i was try to speed up my inference
@gowthamkpr

[2019-10-16 14:39] unclepeddy commented on #1403
Adding a note to this issue that several users at 2019 Oreilly AI conference also requested this feature.

[2019-10-16 19:58] DonaldM164 commented on #1448
@gowthamkpr No. I did suspect that it was perhaps because I created a soft link to my anaconda directory and my path depended on that, but if I repeat the process with the full path, I still receive the same error. Were you able to attempt the process on Windows 10?

[2019-10-17 06:18] leo-XUKANG commented on #1440
@philongnghoang  if i use a big batch, it will use a lot of GPU-MEM,

[2019-10-17 06:18] leo-XUKANG commented on #1460
@rmothukuru
thanks to your reply

my model is so small which just use about 1711MB GPU memory, so i set
`--per_process_gpu_memory_fraction=0.1`
but it works fine, and my GPU-Util  is 7%

if i use a big batch, it will use a lot of GPU-MEM,

[2019-10-17 07:05] philongnghoang commented on #1440
I have a lot of GPU

[2019-10-17 08:37] rmothukuru commented on #1460
@leo-XUKANG,
Closing the issue as it has been resolved. Thanks!

[2019-10-17 08:37] #1460 closed

[2019-10-17 09:13] leo-XUKANG commented on #1440
LOL， dude, you won
![image](https://user-images.githubusercontent.com/28701457/66995325-639cea00-f101-11e9-8773-55e63841af1e.png)

[2019-10-17 09:13] leo-XUKANG commented on #1440
dude, you won
![image](https://user-images.githubusercontent.com/28701457/66995379-7c0d0480-f101-11e9-9a11-939529ec90cf.png)

[2019-10-18 02:17] leo-XUKANG commented on #1459
No, i want to deploy in the cloud server

[2019-10-18 02:18] leo-XUKANG commented on #1459
@gowthamkpr  No, i want to deploy on the cloud server

[2019-10-18 07:19] chengnignzhang commented on #1462
hey @brightcoder01 good finding, can I check with you what version of tfs you are using for both tf models? I saw from above msg, you are using tfs 1.14 to support both tf1.14 and tf 2.0 model.
Can you help double confirm?
Because we are also using tensorflow serving 1.14 , but we cannot serve tf2.0 properly.

[2019-10-18 12:52] CS-savvy opened #1464 "Missing some request using GRPC client with error "OS Error""
I am serving a faster R-CNN model in TensorFlow serving(CPU only) pulled from docker Hub with the latest tag.
it is working fine in most of the cases but from time to time( 1 out of 10 request) I am getting GRPC client error. It is difficult to reproduce this issue cause it is not happening all the time.

The error I am getting -

[code]

**Platform information** -
Azure VM with
32 GB Ram
CPU -  I

[2019-10-18 14:55] maximedb commented on #1279
Is there anyway to specify the padding value in the serving parameters ? Padding with zero is quite common.

[2019-10-18 18:51] #1453 closed

[2019-10-19 22:33] Remember2018 opened #1466 "Are there any tools to convert the graph with NCHW data format to that of NHWC format for serving?"
Hi, I have trained one model using NCHW data format. And when deployed to tensorflow-serving in CPU mode, the model cannot be run because of the NCHW format. Are there any tools to convert the graph with NCHW data format to that of NHWC data format? Thanks.

[2019-10-20 10:10] #1466 closed

[2019-10-21 05:20] figroc commented on #533
@giannisfourfouris If you are looking for a client library, my repo maybe helpful ( https://github.com/figroc/tensorflow-serving-client ). Beware that there are lots of stuff to concern of serving model as a public service. That can't be done only by a bare client library.

You may need to do some tweak for android project according to https://github.com/google/protobuf-gradle-plugin.

[2019-10-21 06:06] rmothukuru commented on #1464
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2019-10-21 06:42] brightcoder01 commented on #1462
Yes, we are using tf serving 1.14 to serve the models from tf1.14 and tf2.0.

[2019-10-21 07:44] workingloong commented on #1462
tfs 1.14 can not serve tf 2.0 SavedModel with tf.feature_column.categorical_column_with_vocabulary_list.
![image](https://user-images.githubusercontent.com/18071380/67185340-2b0a5280-f418-11e9-87cd-38c0abedd83c.png)

[2019-10-21 09:35] siyi8088 opened #1467 "Estimator for tf serving error '_lower_using_switch_merge'"
**System information**
- OS Platform and Distribution :
win10 subsystem Ubuntu 18.04 LTS
- TensorFlow version: 2.0
- Python version: 3.6

**Describe the current behavior**
when I use tensorflow_model_server, I got a error:
[code]

**Code to reproduce the issue**
[code]
after that, when I try tf serving:
[code]
I got this error:
[code]

[2019-10-21 12:11] peter-mourfield opened #1468 "Getting error following steps in 'Building Standard TensorFlow ModelServer'"
## URL(s) with the issue:

https://www.tensorflow.org/tfx/serving/serving_advanced

## Description of issue (what needs changing):

When I attempt to execute  the
[code]
step in the in the tutorial I get the this error:

[code]
I am running this on Mac OS Catalina w/ 8GB RAM allocated to the Docker Engine.

[2019-10-21 12:32] peter-mourfield commented on #1458
I was experiencing the same issue. I was able to get this to work by increasing the amount of RAM that Docker Engine has allocated. I was using the defaults (2GB). Everything worked once I increased to 4GB

[2019-10-21 12:53] ilaripih opened #1469 "official 1.15.0 gpu image on dockerhub 10x slower than 1.14.0"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **TensorFlow Serving installed from (source or binary)**: binary (official Dockerhub image)
- **TensorFlow Serving version**: 1.15.0-gpu
- **GPU**: NVIDIA GeForce GTX 1080 (8GB)

### Describe the problem
I use the Retinanet object detection model with Resnet 50 backbone as defined here: https

[2019-10-21 17:14] gowthamkpr commented on #1459
@leo-XUKANG Can I see the full error message as the error message you posted is too vague for me to understand the issue. Thanks!

[2019-10-21 17:14] #1457 closed

[2019-10-21 17:16] gowthamkpr commented on #1448
Yes. I was but I was not able to reproduce the error.

[2019-10-21 18:35] #1451 closed

[2019-10-22 00:11] Nochange1001 commented on #1468
same error

[2019-10-22 01:36] suenpun commented on #1468
same error +1

[2019-10-22 07:14] Nochange1001 commented on #1468
Would you please tell me the version of tensorflow ?

[2019-10-22 08:07] workingloong commented on #1462
The error can be reproduced by followed codes

![image](https://user-images.githubusercontent.com/18071380/67268014-0f6d7d80-f4e6-11e9-9877-2abb9215ee56.png)

[code]

[2019-10-22 10:06] suenpun commented on #1468
tensorflow             1.8.0
tensorflow-serving-api 1.12.0

in python2.7

Nochange1001 <notifications@github.com> 于2019年10月22日周二 下午3:14写道：

[2019-10-22 14:36] leo-XUKANG commented on #1459
I  fix the issue, just update the dockerfile

[2019-10-22 18:32] gowthamkpr commented on #1467
Can you please provide us the github gist of this issue inorder to expedite the process. Thanks!

[2019-10-22 18:34] gowthamkpr commented on #1469
@ilaripih Was it just happening with Retinanet model or is it happening with all the models? Thanks!

[2019-10-22 18:35] gowthamkpr commented on #1459
Glad that you were able to fix the issue. Closing this issue as it has been resolved.

[2019-10-22 18:35] #1459 closed

[2019-10-22 20:53] ilaripih commented on #1469
It just happens with the Retinanet model (I also tried Deeplab and InceptionV4). But it gets weirder: I set up a test environment here: https://github.com/ilaripih/tensorflow-serving-performance-test
And I noticed that I have no issues with the official `ssd_resnet50_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03.tar.gz` checkpoint (more specifically the SavedModel inside it) from the

[2019-10-23 15:37] dhdaines commented on #1389
why are you hiding this useful function from us? why does tensorflow insist on screwing with the namespace?

[2019-10-23 17:23] gowthamkpr commented on #1468
@peter-mourfield What version of Tensorflow and Tensorflow serving are you using?

[2019-10-23 17:53] gowthamkpr commented on #1469
Is there a chance thet you can provide your custom Retinanet model as with the above information its hard for us to identify the root cause of the issue. Thanks!

[2019-10-23 18:16] gowthamkpr commented on #1464
This might be happening mainly due to the absence of network access.

Please take a look at this [issue](https://github.com/grpc/grpc/issues/16515) and let me know if you are able to solve your issue. Thanks!

[2019-10-23 18:20] peter-mourfield commented on #1468
I'll double check when I get a chance in the next little bit, but it would be whatever is in tensorflow/serving:nightly-devel. Will report back soon.

[2019-10-23 19:54] peter-mourfield commented on #1468
Okay, here's what I've been able to figure out. The tensorflow/serving:nightly-devel image is hosting these versions:

`
root@39b1864f4246:/tensorflow-serving# pip list | grep tensorflow

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.

[2019-10-24 06:18] ilaripih commented on #1469
Yes, I'll try to get a minimum reproducible model later today.

[2019-10-24 16:44] allenlavoie commented on #1462
@rohan100jain could you look into this? Looks like a change to lookup table initialization has broken Session-based loading, possibly https://github.com/tensorflow/tensorflow/commit/64586f18724f737393071125a91b19adf013cf8a. Presumably related to loading multiple tables. If so we should add an integration test with multiple tables in tensorflow/python/saved_model/load_v1_in_v2_test.py

[2019-10-24 17:58] DonaldM164 commented on #1448
@gowthamkpr Can you tell me the system specs? Are you using HyperVisor to support docker?

[2019-10-24 22:04] jxtps commented on #671
@helmuthva Yes, but then you need to make sure that your health check service keeps running too ;)

[2019-10-25 06:50] gowthamkpr commented on #1468
@peter-mourfield Can you please try TF Serving 2.0 and let me know if the issue still persists.

[2019-10-25 10:24] figroc commented on #1450
@ChuyangDeng I have exactly the same issue as yours. In the end I set up a library to achieve that. May this helpful for you. https://github.com/figroc/tensorflow-serving-client

[2019-10-25 16:10] allenlavoie commented on #1462
Please assign @rohan100jain; apparently I have no access.

[2019-10-25 17:37] ChuyangDeng commented on #1450
Hi @figroc, thanks for responding. Yeah, I ended up doing the same thing. But this is definitely not a long-term solution. I'm still hoping the tensorflow team can come up with a solution or at least provide with an "official workaround".

[2019-10-26 06:41] butuzov opened #1471 "Running docker image of the tensorflow/serving"
If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues.
We want to focus on work that benefits the whole community, e.g., fixing bugs
and adding features.

[2019-10-27 03:58] figroc commented on #790
Since there is no update from official team. I've setup a repo contains only proto generated library. It's published to maven central under the name `io.opil:tensorflow-serving-client`. You can checkout the repo: https://github.com/figroc/tensorflow-serving-client. May it be helpful.

[2019-10-27 23:01] abhinavos7a commented on #462
I am running tf serving as docker container and exposed a REST endpoint with prometheus metrics enabled.

I could see following stats from prometheus endpoint
`
# TYPE :tensorflow:core:graph_runs counter
:tensorflow:core:graph_runs{} 10000
# TYPE :tensorflow:data:autotune counter
# TYPE :tensorflow:data:bytes_read counter
# TYPE :tensorflow:data:elements counter
# TYPE :tensorflow:data:optimizatio

[2019-10-28 06:45] brightcoder01 commented on #1462
@rmothukuru Could you please assign this bug to @rohan100jain as @allenlavoie suggested. It seems that I don't have access either.

[2019-10-28 14:05] gobrewers14 commented on #1406
same ☝️

[2019-10-28 16:34] gowthamkpr commented on #1471
@butuzov  Can you paste the full error message here. Thanks!

[2019-10-28 16:34] gowthamkpr commented on #1448
No @DonaldM164 I am not using HyperVisor.

[2019-10-28 16:38] butuzov commented on #1471
Full error message already was posted, duplicating jic

[code]

But feel free to close issue, as I am now 100% sure it's because of my CPU a quite old one and not having supported instructions.

[2019-10-28 20:20] gowthamkpr commented on #1471
You can [build your own optimized binary](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/docker.md#building-an-optimized-serving-binary) for your CPU. I am gonna close this issue but try building it from source and it should work. Thanks!

[2019-10-28 20:20] #1471 closed

[2019-10-29 15:57] rahulsmehta commented on #947
Can this request be revisited? Given that TF core publishes these I don't quite see why this should be unsupported

[2019-10-30 01:45] linyia01 opened #1472 "run_in_docker.sh bazel build -c opt tensorflow_serving/..."
root@hw39[三 10月 30  09:42:41]:/tmp/serving-2.0.0/tools
$ ./run_in_docker.sh bazel build -c opt tensorflow_serving/...
== Pulling docker image: tensorflow/serving:nightly-devel
Trying to pull repository docker.io/tensorflow/serving ...
nightly-devel: Pulling from docker.io/tensorflow/serving
Digest: sha256:27d5250ddd475339f53c2244de15b6cf3e2d6203dd1a3acf7e575d803172da35
Status: Image is up to date

[2019-10-30 01:45] linyia01 commented on #1472
root@hw39[三 10月 30  09:42:36]:/tmp/serving-2.0.0/tools
$ ./run_in_docker.sh bazel build tensorflow_serving/model_servers:tensorflow_model_server
== Pulling docker image: tensorflow/serving:nightly-devel
Trying to pull repository docker.io/tensorflow/serving ...
nightly-devel: Pulling from docker.io/tensorflow/serving
Digest: sha256:27d5250ddd475339f53c2244de15b6cf3e2d6203dd1a3acf7e575d803172da35
S

[2019-10-30 03:11] linyia01 opened #1473 "bazel build -c opt tensorflow_serving/..."
root@hw39:/tensorflow-serving# bazel build -c opt tensorflow_serving/...
Extracting Bazel installation...
Starting local Bazel server and connecting to it...
ERROR: error loading package '': in /tensorflow-serving/tensorflow_serving/workspace.bzl: Encountered error while reading extension file 'tensorflow/workspace.bzl': no such package '@org_tensorflow//tensorflow': java.io.IOException: Error dow

[2019-10-30 05:47] #1472 closed

[2019-10-30 05:47] #1473 closed

[2019-10-30 07:40] CS-savvy commented on #1464
@rmothukuru  - It is very difficult to reproduce cause it is not happening every time only sometimes it fails to get results. I have already defined my VM configuration and the GRPC client code I am using.

Also, I have realized that I was using tensorflow/serving:1.12.3-gpu docker image in CPU machine,
may be that is the problem, Now I have switched to tensorflow/serving:latest. I have not found

[2019-10-30 07:40] #1464 closed

[2019-10-30 23:49] nrobeR commented on #1215
Hi all, if someone could please provide
  - the model
  - sample requests or preferably a script to reproduce the issue
we are happy to help on debugging this. Without this, we cannot to reproduce the issue. Thanks.

[2019-10-31 08:27] sathuhareesh commented on #1265
#
@lnshi I know this query is completely out of context here. But I really want to know **how you enabled request logs on TFS side**. I did a lot of research to add the request logs on TFS side but i failed miserably. Can you please help me with this.

@lnshi I know this is out of context here. But I really wanted to know **how to add the request logs on  TFS side**. I did an extensive research on

[2019-10-31 08:33] sathuhareesh commented on #1265
We are actually using tensorflow/serving docker image on server side. So, is there any way I can implement this on docker?

[2019-10-31 08:34] lnshi commented on #1265
for custom logging i don't think so

[2019-10-31 08:37] sathuhareesh commented on #1265
@

Okay! Anyways thank you very much for the response.

[2019-10-31 10:31] dimitri320 commented on #1468
Same issue is with "Use TensorFlow Serving with Kubernetes"  (https://www.tensorflow.org/tfx/serving/serving_kubernetes) tutorial.

[2019-11-01 05:54] Bluewind001 commented on #1321
@kriskorrel-cw I have same error. Do you solve this?

[2019-11-01 07:49] sathuhareesh commented on #1265
Hi @lnshi do you know how the grpc channel works? Like, currently for each request I'm closing the channel. Is this recommended to close it or keep it open like that?

[2019-11-01 08:04] kriskorrel-cw commented on #1321
If I recall correctly, this issue was because the image was not encoded correctly. I think you need to use `cv2.imencode`.
However, I have abandoned the REST api completely and instead used gRPC

[2019-11-01 08:20] CoinCheung opened #1474 "There are problem with official serving docker image gpu version"
In order to reproduce the problem, first I downloaded the model in the modelzoo:
[code]
Then I launched the service:
[code]
I call the service like this:
[code]
And I got the error message of:

Traceback (most recent call last):
  File "client.py", line 38, in <module>
    main()
  File "client.py", line 33, in main
    result = stub.Predict(request, 10.)
  File "/miniconda3/envs/py36/lib/python3.

[2019-11-01 08:23] CoinCheung commented on #1474
There is one thing that I did not mention:

If I replace the docker image from `tensorflow/serving:latest-gpu` to `tensorflow/serving:latest`, the problem will no longer exists.

[2019-11-01 18:56] benhoff opened #1475 "Python Examples Don't Work with Tensorflow 2.0"
### Describe the problem
The python examples break in Tensorflow 2. They rely on `tf.contrib.util.make_tensor_proto`. `tf.contrib` is gone. Looks like this is top level now, see here: https://www.tensorflow.org/api_docs/python/tf/make_tensor_proto

I also think that the examples rely on easy access to a pretrained resnet. See [here](https://github.com/tensorflow/serving/blob/793fd90ee41ac34fa4c926

[2019-11-01 20:36] gowthamkpr commented on #1474
@CoinCheung Please provide the details below:
1. Tensorflow version:
2.  Tensrflow serving version:
3. System type(Linux/Ububtu/windows):
4. CUDA version:
5. cuDNN version:
6. GPU:

[2019-11-01 20:43] gowthamkpr commented on #1475
@benhoff I am closing this issue as it is not related to Tensorflow Serving.

Please post this issue in [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow) as it is most aptly suited to this issue. Thanks!

[2019-11-01 20:43] #1475 closed

[2019-11-01 20:50] benhoff commented on #1475
@gowthamkpr I'm talking about the Tensor flow Serving python examples.

https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/mnist_client.py

[2019-11-01 20:50] gowthamkpr commented on #1462
@rohan100jain Can you please take a look at this issue. Thanks!

[2019-11-02 05:47] CoinCheung commented on #1474
I actually used the pretrained model from the official tensorflow model zoo, the download link is [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md). From the Readme of that repository, I know that the tensorflow version is 1.12.0.

As for the tensorflow serving, I pulled the official docker image of `tensorflow/serving:latest-gpu`.
The

[2019-11-02 08:51] brightcoder01 opened #1476 "Serve the model which can't fit into one single process."
## Feature Request
In some recommendation scenario, the model size can be huge (>=10G or even >= 1 Terabytes). And it can't fit into a single process. Does TF Serving have solutions to serve the model of huge size.

### Describe the problem the feature is intended to solve
In some recommendation and ranking scenarios, the model contains some big embedding tables. And one single process can't load

[2019-11-04 01:41] linyia01 opened #1478 "$ ./tools/run_in_docker.sh python tensorflow_serving/example/mnist_saved_model.py /tmp/mnist"
$ ./tools/run_in_docker.sh python tensorflow_serving/example/mnist_saved_model.py /tmp/mnist
== Pulling docker image: tensorflow/serving:latest-devel
Trying to pull repository docker.io/tensorflow/serving ...
latest-devel: Pulling from docker.io/tensorflow/serving
Digest: sha256:825101fd8839b2f34a66e4333ec3c961428df59968582b554f1145d9b30b8a1c
Status: Image is up to date for docker.io/tensorflow/se

[2019-11-04 01:45] #1478 closed

[2019-11-04 09:26] linyia01 commented on #1250
How did you solve it？

[2019-11-04 09:34] TzeSing opened #1479 "Why my tf-serving prediction become slow when I add 3 extra new features？"
As before we run the ctr's deepFM model online. It works well.
The prediction time cost 10-20ms.

But we add some new features to upgrade our model. After training, generating model file, and deploying, we find the prediction time cost up to 500-600ms.
It means it can't work online. Too slow!!!

I hope someone who meat the same problem can give me some advices.
Thanks everyone!

Here is my tf and

[2019-11-04 09:35] TzeSing commented on #1479
the cost time means the time between the request and response

[2019-11-04 17:10] gowthamkpr commented on #1479
What version of Tensorflow and Tensorflow serving are you using. Also can you please provide the model that you are using for us to debug the problem. Thanks!

[2019-11-04 17:21] gowthamkpr commented on #1474
@CoinCheung This is primarily a Tensorflow compatibility issue with your GPU as Tensorflow-gpu is only supported by cuDNN 7 and CUDA 9. Please upgrade your tensorflow version to 1.14 or 1.15 and it should fix this issue.

[2019-11-04 17:27] gowthamkpr commented on #1467
@siyi8088 Are you still facing the same issue or did you resolve it?

[2019-11-04 21:10] bhushanbrb commented on #193
I tried with **ssl_config_file** option in tensorflow model server
but got issues with it.
https://stackoverflow.com/questions/58701081/issue-with-tensorflow-model-server-with-ssl-confog-file
Since you all tried using TFS on SSL , can you please help me if what worked for you ?thanks a lot

[2019-11-05 02:58] brightcoder01 commented on #1462
Hi, @gowthamkpr @rohan100jain, could you please share some updated information about this issue? It seems that it will block the TFServing usage with tf.feature_column.categorical_column_with_vocabulary_list.
Thanks. :)

[2019-11-05 09:04] rhdong commented on #730
Hi, could you tell us the detail of your resolution, thank you!

[2019-11-05 15:11] EmnamoR commented on #1250
@linyia01
as far as i remember versions should be on a specific format like :
0000001 and 0000002
i kept the versions in an incremental way.
i hope this will help

[2019-11-05 21:07] dave-andersen commented on #1469
Btw - seeing exactly this problem using a nearly off-the-shelf SSD FPN mobilenets model using the pip install of TF 1.15 (executing inside an nvidia-docker image but I'm not certain that's relevant -- with tf 1.14 in the same docker image I get normal speed).  About a 2.7x slowdown -- my test run goes from 108 seconds to 280 seconds.

This is a fine-tuned SSD mobilenets FPN coco config, with the o

[2019-11-05 21:12] dave-andersen commented on #1469
(In thinking about this, I suspect a performance regression in 1.15, not a serving-specific slowdown.  I'm just running natively in TF with my own inference pipeline, doing the obvious feed_dict to get data in:

[code]

Oh - worth noting the other change to SSD FPN, that model draws from layers 2-5 instead of 3-6 and so is a fair bit larger than one might otherwise expect.

[2019-11-06 03:38] violet-day opened #1480 "model storage broken cause serving unavailable"
## Question

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu
- **TensorFlow Serving installed from (source or binary)**: docker
- **TensorFlow Serving version**: tfserving-gpu:1.8

### Describe the problem

below is sample `model.config`

[code]

when tfserving start ok, if delete one dir under `/work/models/` like `/work/models/1`, tfserving will auto

[2019-11-06 06:22] EthanPhan commented on #1459
Can I see how you use tf serving for TF-Lite model? I think I want to do the same thing with my model.

[2019-11-06 06:59] rmothukuru commented on #1480
@violet-day,
 Can you please elaborate your question. Also, in order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-11-06 07:49] violet-day commented on #1480
@rmothukuru updated, FYI

[2019-11-06 21:13] wdirons commented on #1474
@CoinCheung , Can you check the version of nvidia-docker you are using? For CUDA 10.0, you need to using nvidia-docker 2. (https://github.com/nvidia/nvidia-docker/wiki/Installation-(version-2.0))

[2019-11-06 22:03] gowthamkpr commented on #1467
Closing this issue as it has been inactive for more than 3 weeks. Please add  additional comments and we can open this issue again. Thanks!

[2019-11-06 22:03] #1467 closed

[2019-11-06 22:50] gowthamkpr commented on #1469
@dave-andersen This definitely looks like a regression issue in TF1.15. Can you please post this issue in [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow) and [tensorflow/models](https://github.com/tensorflow/models) repo. Thanks!

@ilaripih Can you please provide a minimal example for us to reproduce. Thanks!

[2019-11-07 02:58] CoinCheung commented on #1474
The problem is brought by model exported from old version tensorflow. A newer version helps to solve the problem. I am closing this, thanks for support !!

[2019-11-07 02:58] #1474 closed

[2019-11-07 22:30] gobrewers14 opened #1482 "Illegal Instruction when trying to build tensorflow serving 1.15"
### Expected output from development image
[code]

### Output when I build from source using the Dockerfile.devel file
[code]

### Output when I build from source using the Dockerfile.devel file and run through gdb
[code]

When I pull the development image, everything works as expected (the server tries to start but I didn't give it a model).  When I copy the Dockerfile.devel and try to build r1.1

[2019-11-08 04:19] oohx opened #1483 "tensorflow serving batch inference slow !!!!"
Excuse me, how to solve the problem of slow speed?
shape：(1, 32, 387, 1)
data time:  0.005219221115112305
post time:  0.24771547317504883
end time:  0.2498164176940918
shape:(2, 32, 387, 1)
data time:  0.0056378841400146484
post time:  0.4651315212249756
end time:  0.4693586826324463
--------------------------------------------------------------
docker run --runtime=nvidia -it --rm -p 8501:8501 \

[2019-11-08 04:25] lnshi opened #1484 "HTTP request give error: "error": "JSON Parse error: Miss fraction part in number. at offset: 4958""
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **Mac Catalina 10.15.1(19B88)**:
- **TensorFlow Serving installed from (source or binary): https://hub.docker.com/r/tensorflow/serving**:
- **tensorflow/serving:1.14.0**:

### Describe the problem

gRPC request is working fine

corresponding HTTP request got the below error:
[code]

HTTP re

[2019-11-08 04:43] lnshi commented on #1484
close first as i found somehow there is some number like `0.` ...

[2019-11-08 04:43] #1484 closed

[2019-11-08 06:12] rmothukuru commented on #1482
@gobrewers14,
Can you please let us know if there is any specific reason why you want to install Tensorflow Serving from Source. Because,  the recommended way to install it is through Docker. Thanks!

[2019-11-08 06:19] rmothukuru commented on #1483
@sevenold,
Can you please let us know what is the GPU Utilization during Serving. Problem might be low GPU Utilization.

Can you please try running the Container with the below parameters and let us know if it resolves your issue. Thanks!

[code]

For more information, please refer #1440

[2019-11-08 06:24] rmothukuru commented on #1447
@rush9838465,
Can you please respond to @unclepeddy's comments. Thanks!

[2019-11-08 09:52] sevenold commented on #1483
I try running the Container with the below parameters but the same result.
************************************
docker run --runtime=nvidia -it --rm -p 8501:8501 \
-v "$(pwd)/densenet_ctc:/models/docker_test" \
-e MODEL_NAME=docker_test tensorflow/serving:latest-gpu \
--grpc_channel_arguments=grpc.max_concurrent_streams=1000 \
--per_process_gpu_memory_fraction=0.7 \
--enable_batching=true \
--max_

[2019-11-08 10:23] rmothukuru commented on #1483
@sevenold,
Can you please confirm that you have gone through the issue, #1440 and issue still persists.
If so, can you please share your Model so that we can reproduce the issue at our side.  Thanks!

[2019-11-08 14:39] gobrewers14 commented on #1482
@rmothukuru Yes, we (my place of employment) need tf_sentencepiece at inference time as well as we have a collection of custom tensorflow ops (in c++) that need to be served.  When combining all of these into the Dockerfile serving provides and building we received the above error.  Assuming it had to do with something we'd added, we stripped out all our custom build instructions and just tried to

[2019-11-08 20:38] AdilHanif commented on #1174
Did anyone find a solution to this problem?

[2019-11-09 02:54] violet-day commented on #1480
ping @christisg

[2019-11-09 09:26] Kritamook commented on #1100
with new_detection_graph.as_default() and general_detection_graph.as_default():
    for vid in listing:
        vid = r"C:/vid/"+vid
        video = cv2.VideoCapture(vid)
        count = 0
        counter+=1
        risk_count = 0
        success = True
        print('Video : %d'%counter)
        while success:
            success, image_np = video.read()
            if success == True:

[2019-11-09 18:33] gobrewers14 commented on #1482
Were you able to reproduce?

[2019-11-10 00:29] amitbd1508 commented on #1280
https://github.com/tensorflow/tensorflow/issues/33183#issuecomment-552103822

downgrade the python to 3.6 . python 3.7 is not supported Tensorflow
https://www.pyimagesearch.com/2019/01/30/macos-mojave-install-tensorflow-and-keras-for-deep-learning/

or

you can create a anaconda env of python3.6
conda create -n tf_cpu6 pip python=3.6
source activate tf_cpu6
pip install --ignore-installed --upgrade

[2019-11-11 01:42] sevenold commented on #1483
@rmothukuru Thanks.
[google drive](https://drive.google.com/file/d/1kACNCJHI9iaC_VLm1txPsWYUUtrqOH3n/view?usp=sharing)
This is my model and client.

[2019-11-11 02:07] sevenold commented on #1483
@rmothukuru
I tested my other models, such as the verification code recognition model, and the parameters are the same, it is normal to use gpu for prediction.Thanks!

[2019-11-11 14:49] stefanondisponibile commented on #1420
How can I use the `classify` api when exporting a `Module` in `tf 2.0`? [It seems](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/save.py#L466) only `PREDICT_METHOD_NAME` will be exported for all the signatures.

[2019-11-11 17:20] csachs commented on #1276
Any update here? I do have the same problem, and deserializing a TF Serving response with `tf.make_ndarray` takes ~100 ms (for a response taking ~200ms for prediction). So it's roughly wasting 1/3 of total time on copying stuff around … slowly (RAM-wise it should by <1ms).
Interstingly, `tf.io.parse_tensor(tensor_proto.SerializeToString())` is faster, but has other downsides.

[2019-11-11 17:32] sid13790 opened #1485 "Stack Overflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-11-11 18:20] gowthamkpr commented on #1485
@sid13790 Can you please describe what your issue is. There is nothing we can do with the issue you have created. Thanks!

[2019-11-11 18:24] tridemax commented on #1276
@csachs we just recompiled the image with this enum set by default. Speed grew up tremendously.

[2019-11-11 21:26] ilaripih commented on #1469
I finally had the time to find out how to easily reproduce the slow (on Serving 1.15.0-gpu) SavedModel:

Either download the SavedModel from here: https://drive.google.com/file/d/1VIZ3_YFOCVI3-txYwAN_ApxtgDCm3Bgm/view?usp=sharing

...or if you want to create it yourself:

1. Install the CPU version of Tensorflow 1.14.0. It's possible that this works with any Tensorflow version but I haven't tested

[2019-11-11 22:25] ilaripih commented on #1469
This is definitely a Tensorflow issue because the same performance degradation can be reproduced by running the SavedModel directly with libtensorflow-gpu 1.15.0.

[2019-11-12 04:32] lnshi commented on #1215
@nrobeR  i guess i am facing the same issue, below are some test results i just did:
[code]

So the serving container memory usage keep increasing unit it get killed, with heavier request load it increase more rapidly as well.

Model, just the inception model from the tensorflow official models zoo: https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zo

[2019-11-12 15:47] gobrewers14 commented on #1482
Any update on this?  This is a pretty big roadblock for our production pipeline.  A "_we are able to reproduce this and are working on it on our side_" or a "_no, we cant reproduce this, this is an issue on your side_" would be extremely helpful.

[2019-11-12 18:26] #1485 closed

[2019-11-12 20:58] peter-mourfield commented on #1468
Check out #1486 instead of my PR

[2019-11-13 06:43] YelongYin opened #1487 "how to run tensorflow/serving:gpu in docker 19.03"
Some ERRORs occured When I try to run tensorflow/serving:latest-gpu.
Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
Ubuntu 16.04.6 LTS
docker version: 19.03
cuda version:9.0

[2019-11-13 08:44] hygkim95 commented on #1453
@Elizaaaaa  Hi, I also tried changing lines in BUILD from "platform/default" to "platform:default".
Although the original error (the same one you got) did not appear anymore, different error
"serving/tensorflow_serving/session_bundle/oss/BUILD:1:1: Invalid label: invalid target name 'platform:default/build_config.bzl': target names may not contain ':'" appeared. Have you faced the same issue?

[2019-11-13 16:36] tadam75 opened #1488 "Retrieve the latest "Available" model on the Model status API"
### Describe the problem the feature is intended to solve
We would like to use the model status API (by the http://host:port/v1/models/${MODEL_NAME} uri) to monitor the health of the TF Serving service. However, it seems that the JSON response list all the versions loaded by the service :

[code]

And that's a problem, because for every new model this response will grow (except if there is a clean

[2019-11-13 18:28] Elizaaaaa commented on #1453
yeah i've seen this. try check which version of tensorflow your serving is using, and check that build_config.bzl from that version of tensorflow. you can find this info at https://github.com/tensorflow/serving/blob/8e514a36efbaccafa7d5551c6dc6c3b3b98a367a/WORKSPACE#L11

[2019-11-13 19:05] sadeel opened #1489 "Sporadic FileSystemStoragePathSource encountered a filesystem access error"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Docker
- **TensorFlow Serving installed from (source or binary)**: Binary
- **TensorFlow Serving version**: tensorflow/serving:1.14.0-gpu

### Describe the problem
I am large number of errors/spam logs about failing to read the mo

[2019-11-13 19:59] gowthamkpr commented on #1489
@sadeel This is not related to tensorflow serving. Please take a look at this [issue](https://github.com/googleapis/google-cloud-php/issues/1202) and try to resolve it.

If you are still facing the sameissue please post it in this [repo](https://github.com/googleapis/google-cloud-php).

[2019-11-13 19:59] #1489 closed

[2019-11-13 20:11] gowthamkpr commented on #1487
Please go though this [issue](https://github.com/tensorflow/tensorflow/issues/4078) particularly this [comment](https://github.com/tensorflow/tensorflow/issues/4078#issuecomment-448217699) as your system is missing a few configurations. Thanks!

[2019-11-13 20:22] gowthamkpr commented on #1469
@ilaripih I am closing this issue as it looks like the issue is being caused by tensorflow-gpu 1.1. itself andis being tracked [here](https://github.com/tensorflow/tensorflow/issues/34174). Thanks!

[2019-11-13 20:22] #1469 closed

[2019-11-14 13:44] stefanondisponibile opened #1490 "tensorflow_text support."
Are `tensorflow_text` ops currently fully supported by TensorFlow Serving?
I have some models perfectly running using e.g. `Wordpiece` tokenization, but I'm failing when trying to serve [this](https://tfhub.dev/google/universal-sentence-encoder-multilingual-large/2) new version of the Universal Sentence Encoder due to the following error:

I'm experiencing this with [tensorflow/serving:nightly](ht

[2019-11-15 06:51] TzeSing commented on #1479
thank you. I find the reason that it's of the high complexity of the model.

[2019-11-15 06:51] #1479 closed

[2019-11-15 09:44] rmothukuru commented on #1447
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-15 09:44] #1447 closed

[2019-11-15 18:41] gowthamkpr commented on #1490
Please go through the similar[ issue](https://github.com/google/sentencepiece/issues/325) and it should help you in resolving this problem. Thanks!

[2019-11-15 18:45] gowthamkpr commented on #1333
@martinwicke @lilao Can we please take a look at this request. Thanks!

[2019-11-15 21:27] stefanondisponibile commented on #1490
Thank you @gowthamkpr, but I've been following that issue for months, so I'm aware of that. What I was trying to understand, though, was if there's the plan of including all tensorflow_text ops in TensorFlow Serving or the only solution will remain having to recompile it. I'm asking this because when loading the tf.hub module importing tf_sentencepiece is no longer needed, while tensorflow_text is

[2019-11-15 23:17] nrobeR commented on #1490
Hi Stefano, which tf_serving are you using? It should be included in tf 1.15 or 2.0 release version.

[2019-11-16 08:52] guillaumekln commented on #1490
The list of supported TensorFlow Text ops should simply be updated to included the latest ones (eg. `SentencepieceOp`).

cc @broken who introduced initial support of Text ops in https://github.com/tensorflow/serving/commit/142d0adb5e2975689d80d8fc608c9684e96de078.

[2019-11-18 07:25] zhjunqin commented on #1215
I met same problem when continue loads new version model in CPU tf serving 1.13.0.
Those models are same size, but different version.

You can try any model and use a tf serving docker.
1. first load verion-1
2. then replace verion-1 with version-2 without stopping tf serving, wait for model loaded, then memory increased.
3. then replace version-2 with version-3 without stopping tf serving, then m

[2019-11-18 13:31] umang-singhal commented on #1413
Any update on this? As it stands, it is not resolved even in tf model server 2.0.

[2019-11-18 16:19] Lakshay-Awasthi opened #1491 "tensorflow-model-server for centos rhel 7 without docker"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-11-18 16:31] martinwicke commented on #1333
The serving team is working on enabling dynamic loading of op libraries, but I think it'll take a while longer.

[2019-11-19 09:02] zhjunqin commented on #1215
One more question, I saw such log in TF serving, but in TF, seems the function is a no-op?

[code]
[code]

So following code in serving acutlly not work?

[code]

[2019-11-19 09:16] stefanondisponibile commented on #1490
@nrobeR I'm using today's `tensorflow/serving:latest`, i.e.:

[code]

This is what I get:

[code]

Same output also with `tensorflow/serving:nightly`.

As @guillaumekln said, it looks like as simple update of the the supported TensorFlow Text ops will solve the issue (but I still haven't tested this).

[2019-11-19 19:16] vinuraja commented on #1482
Sorry for the late response. All of our team were out in an internal summit. We're taking a look now.

[2019-11-19 19:22] gowthamkpr commented on #1491
@Lakshay-Awasthi Can you be more specific and fill out the teamplate thats being given [here](https://github.com/tensorflow/serving/issues/new) as this is a broad question to address. Thanks!

For example, details like what version of tensorflow serving, tensrflow etc.,

[2019-11-19 19:23] gowthamkpr commented on #1448
@DonaldM164 Is the issue still reproducing on windows?

[2019-11-19 21:52] vinuraja commented on #1482
So I'm not able to reproduce. The steps I tried are:
[code]
Then I edited `tensorflow_serving/tools/docker/Dockerfile.devel` to change [this](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/docker/Dockerfile.devel#L16) line from `master` to `r1.15`.

[code]

Are these different from your commands. If so, I can try those and get back to you.

[2019-11-20 09:34] spraveen420 commented on #700
How do I install tensorflow-model-server on Windows10?

[2019-11-20 14:38] stefanondisponibile commented on #1490
Are there any updates on this?

[2019-11-20 20:02] quanjielin commented on #671
/cc @quanjielin

[2019-11-20 23:19] gobrewers14 commented on #1482
@vinuraja  Thanks for the reply

The only difference in our commands is `--build_arg TF_SERVING_BUILD_OPTIONS="--local_ram_resources=2048"`.  When I add this the build completes and I don't receive an illegal instruction error.  But when you set this command at build time, isn't it overriding `ARG TF_SERVING_BUILD_OPTIONS="--config=nativeopt"` on line 84 of `Dockerfile.devel`?

If I set them manua

[2019-11-21 00:37] vinuraja commented on #1482
Ah I see. I did the same, with the `nativeopt` flag and it still works for me. Steps:
[code]

[2019-11-21 07:23] spraveen420 commented on #1074
0

I am trying to serve model using docker Tensorflow-serving in VM(Linux) and Tensorboard WhatIf tool in my laptop(windows) But I am getting this error Inference request is failing from WhatIf tool with 500 Internal Server Error

raise _Rendezvous(state, None, None, deadline) grpc._channel._Rendezvous: <_Rendezvous of RPC that terminatedenter code here with: status = StatusCode.DEADLINE_EXCEEDED

[2019-11-21 07:43] christisg commented on #1450
Apologies for the delayed response.
You're correct that we could completely decouple TF serving api from Tensorflow. To do this we'll need to basically duplicate the relevant dependencies in TF serving api, which might create conflicts for cases when Tensorflow is already installed on the same machine (for training for example).
All of this is solvable, but will require some work, which is current

[2019-11-21 09:10] PythonImageDeveloper opened #1493 "Tensorflow Serving or froze inference graph"
Hi everyone,
I have some question, if possible please help me.
I've trained the Tensorflow model, and I want to use the trained model in two scenario of production:
We have two solution : one is handle by **froze inference graph (.pb file)** and another is handle by  **Tensorflow Serving API**.

1-  **web service scenario:** In my opinion, the best solution is handling by Tensorflow Serving API, B

[2019-11-21 10:19] Talbot3 commented on #1487
hi, mybe didn't use `-gpus all` flags when  `docker run`. example
[code]

[2019-11-21 12:40] kgizdov opened #1494 "Fails to build with Bazel 1.0"
## Bug Report
### System information
- **OS Platform and Distribution**: Arch Linux x86_64
- **TensorFlow Serving installed from**: source
- **TensorFlow Serving version**: 2.0.0

### Describe the problem
Project fails to build with latest bazel 1.2.0. In fact, build failure with any bazel > 0.24.1.

### Exact Steps to Reproduce
1. install bazel 1.2.0
2. run `bazel build -c opt tensorflow_serving/

[2019-11-21 19:10] gobrewers14 commented on #1482
So some additional information that may be relevant.
- this is being built on an amazon instance with 96 cores to reduce build time
- when I run the image ***on that machine*** after building, it works.
- when I push the image to our internal ecr repo and then pull it to any other machine (local mac osx, google cloud or aws instance, etc ...) it throws the above illegal instruction error.

[2019-11-21 19:48] gowthamkpr commented on #1493
`1- web service scenario: In my opinion, the best solution is handling by Tensorflow Serving API, Because this API easily handling Multi-Threading and Multi-Processing problems, right?`

Yes, TF Serving handles [Multi-Threading](https://stackoverflow.com/questions/47825958/does-tensorflow-serving-supports-multi-threading) and [Multi-Processing](https://hackernoon.com/how-we-improved-tensorflow-ser

[2019-11-21 21:03] gowthamkpr commented on #1494
Does it fail with Bazel 0.26.1 @kgizdov ?

[2019-11-21 21:08] gowthamkpr commented on #1448
I am closing this issue as it has been inactive for more than 14 days. Please add additional comments and we can open the issue again. Thanks!

[2019-11-21 21:08] #1448 closed

[2019-11-21 23:24] vinuraja commented on #1482
That makes sense. The `--config=nativeopt` is supposed to setup compilation flags according to the machine being built on. If you end up running on a different machine, you'll have to make sure that that machine has the same capabilities as the one being built on.

I would suggest figuring out the capabilities of the machine(s) you're eventually going to run on, and explicitly compiling for those.

[2019-11-21 23:49] broken commented on #1490
I'm also reaching out to see if there is a way to have TF Text ops automatically included, rather than on a per op basis. The discussion currently revolves around testing. Having TF Text ops tested inside a serving environment without having to rewrite tests for all the ops just for serving.

[2019-11-22 06:18] spraveen420 opened #1495 "Tensorflow serving datatype issue i am using tensorboard as client"
I am getting this error how to change data type:
raise _Rendezvous(state, None, None, deadline)
grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with:
status = StatusCode.INVALID_ARGUMENT
details = "Expects arg[0] to be float but string is provided"
debug_error_string = "{"created":"@1574400948.336107855","description":"Error received from peer ipv6:[::1]:8500","file":"src/core/lib/s

[2019-11-22 06:50] PythonImageDeveloper commented on #1493
Thanks.
Are the TF-Serving and TFX the same API and concept? In the website tensorflow I only see TFX keyword, are these the same?

[2019-11-22 07:09] shreyanair01 opened #1496 "Behavior of TF_FORCE_GPU_ALLOW_GROWTH=true in tensorflow serving with multiple models (Saved model format)"
### Describe the problem the feature is intended to solve
I have a question about the TF_FORCE_GPU_ALLOW_GROWTH flag option with tensorflow serving.

I am able to run multiple models in a docker container with TF serving. In order to limit the GPU usage, I passed the TF_FORCE_GPU_ALLOW_GROWTH=true flag as an environment variable. So as the model server loads initially, it takes up some ~250 MiB ,

[2019-11-22 08:08] stefanondisponibile commented on #1490
Thanks @broken, that sounds good, of course. I wonder if you knew if we're going to see the current TF Text Ops (i.e. including sentencepiece, etc) built into TensorFlow Serving any time soon with the next release? I am asking because I'm sure, like me, also for others this represent a main point for choosing a serving architecture or another at the moment.

[2019-11-22 10:25] spraveen420 commented on #1496
I am getting this erroron how to change data type: tensorflow/serving/predict   [serving-default]
how can i change the datatype
raise _Rendezvous(state, None, None, deadline)
grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with:
status = StatusCode.INVALID_ARGUMENT
details = "Expects arg[0] to be float but string is provided"
debug_error_string = "{"created":"@1574400948.336107855",

[2019-11-22 15:01] gobrewers14 commented on #1482
Interesting.  That narrows down my point of confusion.
Why is the image you've provided (`tensorflow/serving:1.15.0-devel`) able to run on any machine/environment successfully even though it has the `--config=nativeopt` flag set in the Dockerfile it is constructed from?

[2019-11-22 17:16] kgizdov commented on #1494
It's strange that the project only works with a specific `bazel` version. So we're packaging it for Arch Linux and this is quite a blocker for us. Arch Linux currently ships `bazel v1.2.0` for all its other packages and this is the only blocker for us. Surely, newer versions of bazel have changes to clean up some ambiguities in syntax and configuration, so I expect this is the reason why it can't

[2019-11-22 19:16] vinuraja commented on #1482
That's a good question. I think the machine we use to build that image might have the lowest common denominator of capabilities. So the image is able to run in most other machines.

[2019-11-22 19:44] gobrewers14 commented on #1482
I see.  Okay.  I guess I'll just build it without the flag.  Closing for now.  Thanks for the discussion.

[2019-11-22 19:44] #1482 closed

[2019-11-22 20:09] gowthamkpr commented on #1494
sure. We will look into it @kgizdov. Thanks!

[2019-11-22 20:09] broken commented on #1490
I'm working with TF Serving to add the rest of the TF Text ops currently. The original ones were added with little vision to the maintenance of adding more in the future. This time I'm wanting to move forward with an approach that makes regular updates smooth. I expect everything will be available in the release after we get these added, but I am not in position to speak to the model server releas

[2019-11-22 20:14] gowthamkpr commented on #1495
@spraveen420 Please take a look at these 2 issues [[1]](https://github.com/tensorflow/serving/issues/927) and [[2]](https://github.com/tensorflow/serving/issues/497) and it should help you in solving the problem. Thanks!

[2019-11-22 21:16] stefanondisponibile commented on #1490
That's great! Thanks for the awesome work, keep it up! ⚡

[2019-11-22 21:45] gowthamkpr commented on #1493
They are not. Please take a look [here](https://github.com/tensorflow/tfx)

[2019-11-24 14:04] egolearner opened #1497 "Fails to build tag 2.0.0 using gcc 4.9.2"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7.2 gcc 4.9.2
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 2.0.0

### Describe the problem
Fail to build tf serving 2.0.0.
(I build tf 2.0.0 successfully on the same m

[2019-11-25 02:41] egolearner commented on #1497
This is due to gcc 4.9.2 has no full support for c++ 14, especially Variable templates.
I will try to fix it.

[2019-11-25 02:41] #1497 closed

[2019-11-25 02:50] leo-XUKANG commented on #1483
maybe you can try the grpc channel

[2019-11-26 04:28] sevenold commented on #1483
I tried  but the same result.

[2019-11-26 06:45] rmothukuru commented on #1487
@YelongYin,
Can you please let us know if your issue still persists, or is it resolved, so that we can work towards closure of this issue. Thanks!

[2019-11-26 13:07] tejaslodaya commented on #1413
+1

[2019-11-26 17:14] christisg commented on #1480
Hi @violet-day,

Could you please share the Model Server log at the time the model is unloaded?

Thank you, and apologies for the delay.

[2019-11-26 18:32] gowthamkpr commented on #1496
Can you please go through this [question](https://stackoverflow.com/questions/56012618/eager-load-the-entire-model-to-estimate-memory-consumption-of-tensorflow-serving)  which partially answers your question and let me know if it helps. Thanks!

[2019-11-26 18:33] gowthamkpr commented on #1493
Closing this issue as it has been answered. Please post support related questions on stackoverflow. Thanks!

[2019-11-26 18:33] #1493 closed

[2019-11-26 19:57] broken commented on #1490
FYI; we compromised on an integration testing solution, but I'm going to be on vacation for a week, so I won't be able to make progress with it until then.

[2019-11-26 22:11] stefanondisponibile commented on #1490
Thank you @broken, I'll leave the issue open as a reference until it gets solved 👍 Have fun and relax in the meantime 🦸

[2019-11-27 03:17] violet-day commented on #1480
@christisg here is full log

[code]

[2019-11-27 09:57] ddingwang12 opened #1498 "tensorflow/serving return predicions=[[0,0,0,0,0,0,0,.....]]"
- **centos **:
- **TensorFlow Serving for docker image**:

### Describe the problem
the docker container of tensorflow/serving  with gpu (Multiple models),return the model preidicions is [0,0,0,0,....],restart docker container may Solve the problem ，but,Another model predictions is [0,0,0,0,....].

thanks

[2019-11-27 11:09] shawpan opened #1499 "Output shape mismatch for model trained with DNNEstimator"
## Bug Report

### System information
- **macOS Sierra 10.12.6, Amazon Linux AMI 2018.03**:
- **TensorFlow Serving installed from : binary**:
- **TensorFlow Serving version 1.14.0**:

### Describe the problem
tf-serving throws output shape mismatch error for `DNNLinearCombinedEstimator` model with
multi label regression head.

### Exact Steps to Reproduce
1. train a model using DNNLinearCombinedEs

[2019-11-27 19:18] gowthamkpr commented on #1498
@ddingwang12 Can you please give the exact steps for us to reproduce the issue. Also please follow the template thats given [here](https://github.com/tensorflow/serving/issues/new) as it makes our life easy to understand and answer your questions faster. Thanks!

[2019-11-27 19:32] gowthamkpr commented on #1499
@shawpan Can you please give us a simple example to reproduce your issue and also can you follow the template [here](https://github.com/tensorflow/serving/issues/new) while creating the issue as this is too vague for us to help you in this issue. Thanks!

[2019-11-28 09:20] shawpan commented on #1499
@gowthamkpr description updated and also the reproducible codes are given as a separate repository.

[2019-11-29 07:04] chenjia123 commented on #947
why your don't offer java client?

[2019-11-29 07:05] chenjia123 commented on #947
Why don't you offer java client?

[2019-11-29 10:16] DavideCatto commented on #1448
Same error for me. Followed the tutorial on Tensorflow Serving official page step by step and " No versions of servable" error showed. How to solve it?

I'm running Docker on Windows 10 and Git Bash for the cmd line

[2019-11-29 10:50] spraveen420 commented on #1496
I am getting an error like expecting float but we got string on /predict

On Wed, Nov 27, 2019, 12:02 AM gowthamkpr <notifications@github.com> wrote:

[2019-11-29 11:10] spraveen420 commented on #1495
I changed as per u told still I'm getting same error like expecting float instead of string

[2019-11-30 04:23] tienthaict96 opened #1500 "could not create cudnn handle with lstm layer"
I am using tensorflow serving with Docker (gpu). I launched the service:
[code]
## Network architecture
[code]
When I run the python client, I got following error:
[code]
If I use the docker image cpu version or remove lstm layer, the problem will no longer exists (results is True).

## Environment info
Docker: 19.03.5
Image: tensorflow/serving:1.14.0-gpu (same on lastest, 2.0.0)
OS: ubuntu 18.04

[2019-11-30 23:30] rahulsmehta commented on #947
If this won't be done, are the .proto files published to any maven repo? I'd like to include something in my buildscript to download the proto defs from a particular version

[2019-12-02 04:03] christisg commented on #1480
Thanks @violet-day,

Have you looked into setting [servable_versions_always_present](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/sources/storage_path/file_system_storage_path_source.proto#L87)?
It should be available starting from TF serving 1.14.0 (see [release notes](https://github.com/tensorflow/serving/releases/tag/1.14.0)).

[2019-12-02 05:36] rmothukuru commented on #1487
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-02 05:56] violet-day commented on #1480
@christisg thanks for reply. I have notice servable_versions_always_present before

But I don't know how to configure this in **platform config**

Can u give me a full example?

[2019-12-02 10:07] majian opened #1501 "RuntimeError: build_tensor_info is not supported in Eager mode"
When I want to save model used for docker tf serving, accur this error!
The code:
model_input = tf.compat.v1.saved_model.utils.build_tensor_info(model.input)
model_output = tf.compat.v1.saved_model.utils.build_tensor_info(model.output)
Error:
RuntimeError: build_tensor_info is not supported in Eager mode.
My tensorflow is version 2.0.

[2019-12-02 18:41] gowthamkpr commented on #1491
@Lakshay-Awasthi Can you please use the template to create the issue. Thanks!

[2019-12-02 19:38] gowthamkpr commented on #1495
Please provide a minimum reproducible code to reproduce your error @spraveen420

[2019-12-02 22:03] gowthamkpr commented on #1501
What version of Tensorflow serving are you using? Can you please fill the template [here](https://github.com/tensorflow/serving/issues/new) as the current information is too vague for us to understand the issue. Thanks!

[2019-12-02 22:09] ChuyangDeng commented on #1450
Sure, I'll submit a PR.

[2019-12-03 12:58] spraveen420 commented on #1495
I used that code in tensorflow/serving GitHub code nothing extra code
docker version

On Tue, Dec 3, 2019, 1:08 AM gowthamkpr <notifications@github.com> wrote:

[2019-12-03 22:29] davcamer opened #1503 "SSL/TLS for HTTP endpoint"
## Feature Request

### The Problem

I am excited that Tensorflow Serving comes with Prometheus metrics built-in! I have set up a Dockerfile that builds off of `tensorflow/serving:2.0.0`, importing my model and configuration and starting the server with my config. Everything works, including gRPC secured with TLS. 😄 However, the Prometheus metrics are served through the `rest_api_port`, which is n

[2019-12-04 04:05] zouxiaodong opened #1504 "tensorflow_model_server return 400(Session was not created with a graph before Run()!)"
tensorflow_model_server has running on 8501,but invoke predict function return 400 ,message:Session was not created with a graph before Run()
=====
![image](https://user-images.githubusercontent.com/46236818/70111797-51b1df00-168e-11ea-859a-3465fb01879e.png)

====
model as from checkpoint file:
![image](https://user-images.githubusercontent.com/46236818/70111766-37780100-168e-11ea-813e-58400c62c08

[2019-12-04 10:22] chengnignzhang commented on #1406
I also have the same error, @badele did you already solve this problem?

[2019-12-04 18:29] gowthamkpr commented on #1504
@zouxiaodong Can you provide us a simple reproducible test case for us to reproduce the issue. Also please follow the template which is given [here](https://github.com/tensorflow/serving/issues/new) .Thanks!

[2019-12-04 18:31] gowthamkpr commented on #1495
Can you please provide a minimum reproducible code as it is not clear what you are referring to @spraveen420

[2019-12-05 05:55] spraveen420 commented on #1495
I used docker tensorflow/serving with help of docker image in docker hub I
did docker run

Then for client I ran tensorboard cmd from cmdline not used any code

On Thu, Dec 5, 2019, 12:01 AM gowthamkpr <notifications@github.com> wrote:

[2019-12-05 07:17] majian commented on #1501
The Tensorflow serving's version is 2.0.0. My full code:
`
import tensorflow as tf
import os

def save_model_for_production(model, version, path='prod_models'):
    tf.keras.backend.set_learning_phase(1)
    if not os.path.exists(path):
        os.mkdir(path)
    export_path = os.path.join(
        tf.compat.as_bytes(path),
        tf.compat.as_bytes(version))
    builder = tf.compat.v1.saved_mode

[2019-12-05 15:24] DL-POWER commented on #1269
Heyy Bro, i was reading this page and i found you wrote about custom layers.I also want to try some custom layers but after lot of research i didn't found anything relevant can u help me with it??

[2019-12-05 16:10] badele commented on #1406
@chengnignzhang  After spending some days, I gave up :)

[2019-12-05 17:28] shawpan commented on #1499
@gowthamkpr did you check the reproducible example?

[2019-12-05 18:33] #1499 closed

[2019-12-05 18:56] rohan100jain commented on #1462
For the latest reproduction, the one with the table initialization issue - could you specify what version of TF you were using? I ran with the latest version (2.0.0) and seems to run fine.

[2019-12-05 22:39] gowthamkpr commented on #1501
This does not belong to Tensorflow serving. Please post this issue in [tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues) as this issue is a tensorflow issue

[2019-12-05 22:40] #1501 closed

[2019-12-06 01:39] p4rk3r commented on #491
Using Docker version works for me... Although I had to change .deb package version for tensorflow_model_server to 1.15.0

I followed the tutorial described here -> https://medium.com/@yuu.ishikawa/serving-pre-modeled-and-custom-tensorflow-estimator-with-tensorflow-serving-12833b4be421

Created the Dockerfile and run it... Got the same error as described in this thread...
Changed .deb file in Docke

[2019-12-06 03:11] workingloong commented on #1462
Yes, the case runs fine with the latest version tf-serving 2.0.0 which is released on 22 Oct. I used tf-serving 1.14.0 because version 2.0.0 was not released previously. Thanks for your validation.

[2019-12-06 04:59] zouxiaodong commented on #1504
@gowthamkpr
 apologize for post this issue not according the template.
 i solved it, not a bug . thanks for your support!

[2019-12-06 05:19] gao8954 opened #1505 "tensorflow serving gpu only one thread is busy"
![image](https://user-images.githubusercontent.com/7404433/70297768-4693b600-182a-11ea-8f11-aa2fe87c274e.png)
tensorflow serving gpu only one thread is busy,and the gpu usage is very low even though set the --enable_batching=true and set max_batch_size
![image](https://user-images.githubusercontent.com/7404433/70297922-d76a9180-182a-11ea-91ec-3d321feef645.png)
there is some bug?
and the serving ve

[2019-12-06 10:01] penny4860 commented on #1487
I'm having the same problem. Running tensorflow-gpu locally with cuda10 succeeded. However, when tensorflow serving is run with docker, the following message appears and uses only cpu resources.

[code]

[2019-12-06 18:34] gowthamkpr commented on #1504
Closing this issue as it has been resolved.

[2019-12-06 18:34] #1504 closed

[2019-12-06 18:39] gowthamkpr commented on #1505
Can you please use the latest TF-serving version and let me know if the issue still persists. Also if the issue persists, please provide some reproducible code for us to reproduce the issue preferable on google colab. Thanks!

[2019-12-06 18:41] gowthamkpr commented on #1496
@shreyanair01 Were you able to solve the issue?

[2019-12-07 02:16] rohan100jain commented on #1462
So then i'm closing the issue now. Please reopen or file another issue if more problems appear with TF2.0

[2019-12-07 02:16] #1462 closed

[2019-12-09 18:49] gowthamkpr commented on #1495
Why do you wanna run tensorboard after installing tensorflow serving? Can I understand the reasoning behind it @spraveen420 ?

[2019-12-09 21:13] geraldstanje commented on #1215
hi, i run tfserving in kubernetes.
i there a way to figure out the memory usage of tfserving within the pod?

here some stats from metrics-server
[code]

where can i see the 3831Mi from within the pod?
bash into the running pod:
kubectl exec -it tf-bla-model-6bc566bcfb-2rqz2 -- /bin/bash
[code]

[2019-12-10 06:26] RainZhang1990 commented on #1483
Same question . Seems like tf serving predicts images tandem even I post multiple images one time.

[2019-12-10 06:33] christisg commented on #1480
@violet-day, unfortunately this option is not exposed via a flag yet, however it's very easy to add this support (in tensorflow_serving/model_servers/main.cc, along with other flags). You could try setting this option in your own locally built version of TF serving. Then, if this indeed solves your problem, please feel free to submit a PR to pass it via a flag.

Thanks again, and apologies for the

[2019-12-10 21:50] kevinashaw commented on #790
This would be very helpful!

[2019-12-11 10:17] vakker commented on #1475
@benhoff This is an issue in Tensorflow Serving and not related to tensorflow/tensorflow.

E.g. following the example from [here](https://www.tensorflow.org/tfx/serving/serving_basic) throws the error for the MNIST training after running `tools/run_in_docker.sh python tensorflow_serving/example/mnist_saved_model.py  /tmp/mnist `:
[code]

The Docker image is specified in this repo as well as the ex

[2019-12-11 10:44] shreyanair01 commented on #1496
Hi @gowthamkpr ,
I tried the saved model warmup, while it improves my first inferencing request latency, it does not provide insight to the GPU usage by specific model. With regards to the second stackoverflow link, I tested loading multiple models on machines with different GPU capability.

My question is that does tf serving internally restrict the amount of gpu growth when we use the TF_FORCE_G

[2019-12-11 10:56] spraveen420 commented on #1495
I have my dataset in vm and tensorflow/serving(docker) serving my
classification model .The problem request is going but I am getting error
like input expected is float not string in GitHub of tensorflow/serving on
which file I should change to make it work

On Tue, Dec 10, 2019, 12:19 AM gowthamkpr <notifications@github.com> wrote:

[2019-12-11 13:29] stefanondisponibile opened #1512 "Classification signature on tf serving."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `no`
- OS Plat

[2019-12-11 19:53] gowthamkpr commented on #1512
@stefanondisponibile The default signature is predict but you can define your own signature including classify[ here](https://www.tensorflow.org/api_docs/python/tf/saved_model/save). Also we can continue the discussion in tensorflow/tensorflow repo as this issue belongs there. I am gonna close this thread.

[2019-12-11 19:53] #1512 closed

[2019-12-11 23:18] gowthamkpr commented on #1491
Closing this issue as it has been inactive for a long time. Please add additional comments and we can open this issue again. Thanks!

[2019-12-11 23:18] #1491 closed

[2019-12-11 23:20] gowthamkpr commented on #1498
@ddingwang12 Were you able to solve this issue?

[2019-12-12 03:09] dcmrlee commented on #1190
I find a way to work around.

The reason is the class "nvinfer1::ITensor", which is a pure virtual class,  added some new interfaces  in  newer tensorrt version like(5.0.2 or 5.1.5), but  in tensorflow(1.13.1) class "TRT_TensorOrWeights::SimpleITensor" does not implement these interfaces, which  means can not "new SimpleITensor".

The work around method  is pretty simple:
(1) Find your compileing

[2019-12-12 10:26] luvwinnie commented on #1487
Is there any list of compatible CUDA CUDNN version?

[2019-12-12 13:29] venuswu opened #1515 "open jit in a platform_config_file seems nosense"
[code]

I wrote the code as above, and run a tf-serving with the output, but the xla-jit seems still not open.
Can the jit not be used in tf-serving ??

[2019-12-12 19:22] gowthamkpr commented on #1515
I am unclear as to what your issue is @venuswu Can you please follow the template https://github.com/tensorflow/serving/issues/new[here](url) and be more clear in description. Thanks!

[2019-12-12 21:11] davcamer commented on #1503
I originally, optimistically thought that maybe https support wasn't included because no one had faced a significant need for it yet. I hoped it would be a straightforward task of wiring some existing, and hopefully already included, libraries together.

The [http serving component] of TensorFlow Serving is built on the [libevent] library. Libevent doesn't include an https component, although it d

[2019-12-13 03:57] venuswu commented on #1515
I want to know whether xla-jit can be used in tf-serving ?

[2019-12-13 18:54] gowthamkpr commented on #1515
We actually suggest against doing compilations during inference. Compilations at inference time will cause HBM to be out of memory, resulting the chips to be unable to serve requests. Please see [here](http://go/servo-faq#i-am-getting-genericresource-exhausted-error-in-my-model-server-how-can-i-fix-it) for more details.

[2019-12-14 02:55] venuswu commented on #1515
Does the same problem of HBM happen during traing? @gowthamkpr

[2019-12-14 06:16] gowthamkpr commented on #1515
no it doesn't happen. It only happens during inference

[2019-12-14 12:14] venuswu commented on #1515
May I ask why it only happens during inference ?

[2019-12-16 05:50] spraveen420 commented on #1496
Any update on this?

On Wed, Dec 11, 2019, 4:15 PM Shreya Nair <notifications@github.com> wrote:

[2019-12-16 11:55] roshanzameer opened #1517 "TF Serving cannot handle more than 350 req/sec"
- Docker Image: Tensorflow/Serving:latest,
- Model: Fashion_Mnist (per the official Docs),
- Docker Version: 19.03.2, build 6a30dfc
- TensorFlow ModelServer: 2.0.0+dev.sha.b5a11f1
- TensorFlow Library: 2.0.0

I'm using Docker Container to serve a Tensorflow SavedModel over the REST API Port 8501. The inference latency is 2ms which is great.

Problem: I'm trying to perform load-testing and notice t

[2019-12-16 18:50] gowthamkpr commented on #1515
@venuswu You can refer to the following [question](https://stackoverflow.com/questions/54671395/tensorflow-serving-with-xla) for more explanation. Its mostly due to high latency for compilation.

[2019-12-16 18:54] gowthamkpr commented on #1495
@spraveen420 I am sorry to say that I am unable to reproduce your error. Please provide exact steps and the files that you used with the code for me to reproduce the issue. Thanks!

[2019-12-16 18:59] gowthamkpr commented on #1498
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2019-12-16 18:59] #1498 closed

[2019-12-17 06:59] shreyanair01 commented on #1496
@spraveen420  I got this explanation on reddit, doesn't completely help my usecase but fairly helpful

https://www.reddit.com/r/MachineLearning/comments/ea083i/d_tensorflow_gpu_memory_management_tf_force_gpu/

[2019-12-17 13:24] spraveen420 commented on #1495
Hi,
For serving the model i used docker version mentioned in this
https://github.com/tensorflow/serving
For UI to pass dataset as tfrecords and classes i ran tensorboard from
command prompt like this
https://www.datacamp.com/community/tutorials/tensorboard-tutorial
After i gave input while running i am getting this error Float is expected
instead of string
Used classification with 9 classes

On Tu

[2019-12-17 19:05] lbustelo commented on #1165
+1 on this request
I don't understand why you would allow folks to build custom images that embed their models and then expect the outside world to have to pass in a configuration or know where that file exist inside the container.

Accepting ENV variables would allow fully encapsulated knowledge of the layout inside the container.

[2019-12-18 09:37] RahulKulhari commented on #1517
any update on this ?

[2019-12-18 18:31] njhill opened #1519 "Aspired servables/versions aren't refreshed following config updates"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04, RHEL 8
- **TensorFlow Serving installed from (source or binary)**: Both
- **TensorFlow Serving version**: 1.15.0

### Describe the problem
Currently when the configured model list is updated via a call to `handleReloadConfigRequest`, the request thread blocks until any newly added models become avai

[2019-12-18 19:20] gowthamkpr commented on #1505
@gao8954 Did you resolve the issue?

[2019-12-18 19:37] gowthamkpr commented on #1500
@tienthaict96 I don't think this issue is related to Tensorflow serving.

I've seen this error message for three different reasons, with different solutions:

**1. You have cache issues**
I regularly work around this error by shutting down my python process, removing the ~/.nv directory (on linux, rm -rf ~/.nv), and restarting the Python process. I don't exactly know why this works. It's probably

[2019-12-19 06:07] nrobeR commented on #1517
Do you have the sample requests that you used for load testing? Also, if you could list the concrete steps (or even better in a script) to reproduce this issue that would be great. Thanks.

[2019-12-19 06:15] nlnjnj opened #1520 "[Feature Request] AMD ROCm suppoert"
## Feature Request

### Describe the problem the feature is intended to solve
Recently I did a performance test on the AMD Radeon 7 Graphics Card,
using resnet-50 model with batch size 64, while the performance result is close to Nvidia 2080Ti,
so could this test make this feature request more realistic?

![FB401C5B-5E5A-42fc-8363-27A9FED50ABC](https://user-images.githubusercontent.com/5831940/711

[2019-12-19 06:47] rmothukuru commented on #1520
@nlnjnj,
Can you please elaborate about your feature request. Thanks!

[2019-12-19 07:45] roshanzameer commented on #1517
@nrobeR

**DOCKER:**

`docker run -it -p 8501:8501 -v "$(pwd)/mnist-model:/models/mnist-model" -e MODEL_NAME=mnist-model tensorflow/serving:latest --tensorflow_intra_op_parallelism=4 --tensorflow_inter_op_parallelism=4 --enable_batching=true --batching_parameters_file=/models/mnist-model/batch.conf`

Batching Config:

Request (Using Locust Loadtest framework):
[code]

**KUBERNETES**

Cluster Info:

[2019-12-19 07:48] nlnjnj commented on #1520
I hope we could add hardware support for amd gpu aka rocm,

this means we need add support for the unofficial tensorflow-rocm in build steps.
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream

after that we need add some new Dockerfiles for this hardware, like Dockerfile.devel-rocm Dockerfile.rocm.
https://github.com/tensorflow/serving/tree/master/tensorflow_serving/tools/docker

[2019-12-19 09:43] robinreni96 opened #1521 "Signature Definition for tf.keras Predict -> Classify"
### System information

- for image classification model developed using tf.keras, serve the model in classify method not default "serving_default" method
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device: no
- TensorFlow installed from (source or binary): no
- TensorFlow version

[2019-12-19 18:29] unclepeddy commented on #1468
Sorry for the delay - we've submitted a fix for this that will be merged as soon as some of our issues with the CI pipeline are resolved. Thanks for the patience.

[2019-12-19 20:55] unclepeddy commented on #1476
Thanks for this FR - it's something we've thought about open sourcing so more specific requirements about your use case would help.

At a high level, this comes down to splitting the graphs into N shards, placing special ops that coordinate sending RPCs to different shards and deploying the N shards as N models onto N servers.

However, any time we talk about sharding models onto multiple servers,

[2019-12-19 23:35] nrobeR commented on #1488
Thanks for the FR. This is a reasonable feature request, yet it's not something on our roadmap yet. But contributions are welcome!

[2019-12-20 06:28] oscarriddle commented on #1382
for grpc 1.25.0:
channel_opt = [('grpc.max_send_message_length', 512 * 1024 * 1024), ('grpc.max_receive_message_length', 512 * 1024 * 1024)]

[2019-12-20 17:05] geraldstanje commented on #1290
are there any tf serving optimizations you can do to reach high speed within 1-30ms?

[2019-12-20 18:59] gowthamkpr commented on #1521
@robinreni96 This issue is related to tensorflow and not serving. It is being tracked [here](https://github.com/tensorflow/tensorflow/issues/34968). I am gonna close this issue here and I would recommend you to follow theissue in the tensorflow repo. Thanks!

[2019-12-20 18:59] #1521 closed

[2019-12-23 06:24] spraveen420 commented on #1495
Any update on this @gowthamkpr

[2019-12-23 19:33] gowthamkpr commented on #1495
I am not sure as to why you are running tensorboard as client @spraveen420. i would recommend you writing your own client file or follow this [question](https://stackoverflow.com/questions/56016549/tfrecords-tensorflow-serving-converting-tfrecords-into-grpc-or-restful-tens) to use tensorflow serving.

Just to be clear "Tensorboard is the interface used to visualize the graph and other tools to und

[2019-12-23 19:34] gowthamkpr commented on #1515
I am going to close this issue as it has been answered. Please add additional comments and we can open this issue again. Thanks!

[2019-12-23 19:34] #1515 closed

[2019-12-24 04:45] spraveen420 commented on #1495
No from the tensorboard UI I can able to upload dataset as tfrecord and labels file. It  is also reaching TensorFlow serving (Using docker) error coming from that TensorFlow serving I think there is some problem with that TensorFlow GitHub that it expects float instead of string check this link (https://stackoverflow.com/questions/54680499/tensorflow-serving-expects-arg0-to-be-float-but-string-is-

[2019-12-25 11:46] hbellafkir opened #1522 "enable batching only for one model"
## Feature Request

### Describe the problem the feature is intended to solve
I'm serving multiple models. one of them takes requests with images different size, so I need to disable batching only for that model.

### Describe the solution
configure models file, so that enabling or disabling batching is allowed

[2019-12-26 11:15] roshanzameer commented on #1517
@nrobeR @gowthamkpr Hi, any update on this?

[2019-12-26 13:21] zxgm commented on #1100
You can convert sparse tensor to dense tensor by tf.sparse.to_dense funtion

[2019-12-27 11:39] tejaslodaya opened #1523 "Chain multiple estimators to create a single SavedModel"
Chain multiple estimators to create a single SavedModel with a single serving file/output.

Suppose I have 3 estimators with me, first is BoostedTrees, who's output I want to use as input into DNNClassifier, and the output of which I want to use in my custom Estimator.

Is there a way to chain output/input of each other to create a *mega* estimator of sorts.

Please help me out here.

[2019-12-27 11:40] tejaslodaya commented on #1523
TF version - 2.0
Using Estimators, not sessions/graphs.

CC: @ymodak @unclepeddy

[2019-12-27 11:40] tejaslodaya commented on #528
@Z-Zheng how can I use it with TF 2.0 and Estimators.

Chain multiple estimators to create a single SavedModel with a single serving file/output.

Suppose I have 3 estimators with me, first is BoostedTrees, who's output I want to use as input into DNNClassifier, and the output of which I want to use in my custom Estimator.

Is there a way to chain output/input of each other to create a mega estima

[2019-12-28 02:53] tienthaict96 commented on #1500
@gowthamkpr tks for the comment. The issue was resolved.

[2019-12-28 02:53] #1500 closed

[2019-12-30 05:48] spraveen420 commented on #1495
Any update on this @gowthamkpr

[2019-12-30 05:56] rmothukuru commented on #1480
@violet-day,
Can you please respond to @christisg's comment. Thanks!

[2019-12-30 06:25] violet-day commented on #1480
@christisg thank for you reply. i will try it and close this issue.

cc @rmothukuru

[2019-12-30 06:25] #1480 closed

[2019-12-30 23:34] nrobeR commented on #1517
I can't reproduce this using your configurations above. I was able to reach 600+ RPS, when the server was compute bound (CPU usage 80%+).

Based on your setup, the memory usage seem to be enough. Maybe it was bound due to the network bandwidth?

[2019-12-31 07:22] tejaslodaya commented on #1523
Hi @lilao @rmothukuru ,

Any update on the above would be appreciated.

[2019-12-31 08:16] roshanzameer commented on #1517
@nrobeR Did you try the tests with the same batch configurations?

[2019-12-31 11:13] gao8954 commented on #1505
@gowthamkpr not work, the issue is still not resolved, it even in cpu is faster than gpu

[2019-12-31 17:39] nrobeR commented on #1517
Same batch config on docker.

[2020-01-02 06:00] rmothukuru commented on #1505
@gao8954,
Can you try the solution mentioned in [this link](https://github.com/tensorflow/serving/issues/1440#issuecomment-541578798)  and confirm if the issue still persists. Thanks!

[2020-01-02 18:41] gowthamkpr commented on #1523
@tejaslodaya In order to serve an estimator model with tensorflow serving, we must export the trained model with export_savedmodel method. The method requires serving_input_receriver_fn. All these methods are related to tensorflow and not serving as shown [here](https://www.tensorflow.org/api_docs/python/tf/estimator/export/ServingInputReceiver?version=stable). So, please post this question on ten

[2020-01-03 03:13] Stonesjtu commented on #1522
Setting `max_batch_size = 1` should work in this case.

[2020-01-03 06:41] tejaslodaya commented on #1523
But is there a way to combine more than one estimator's output into a single endpoint?
Suppose I have 3 different estimators, and using the above code will give me 3 different endpoints.

I want to combine outputs of different estimators and serve it using one single endpoint.

This surely comes under the bucket of tf-serving CC: @gowthamkpr

[2020-01-03 08:03] byronyi commented on #906
Same here using sandboxed remote build execution. Gently ping @gautamvasudevan.

[2020-01-03 13:11] mfojtak commented on #1490
Is this getting anywhere? The current version of tf.text deployed on serving is old. Just wanted to know if I can count on this to be implemented soon or hop on an alternative solution. Thank you.

[2020-01-03 13:25] roshanzameer commented on #1517
@nrobeR Thanks for the info. Going by your observation of 600+ RPS, you don't think the number is low for 16 Core-32Gb RAM resource, also given that the model is lightweight?
Post optimization, I presume over 800+ RPS can be served with the given resources, which is still less IMHO. What's your say on this? What are the main factors that trigger higher resource consumptions and latency?

[2020-01-03 14:18] hbellafkir commented on #1522
@Stonesjtu  you cannot set max_batch_size for specific model.

[2020-01-03 20:53] jose-airspace commented on #1365
@mxk do you have one for TensorFlow 2? I can compile for TensorFlow 1 fine

[2020-01-03 21:20] mxk commented on #1365
@jose-airspace No, I haven't tried doing anything with TensorFlow 2 yet.

[2020-01-03 21:46] gowthamkpr commented on #1523
@tejaslodaya I am sorry. I get it now.

This feature has not been implemented in Tensorflow Serving. My recommendation would be to run these 3 models individually using Tensorflow serving at the same time and combine these requests at the client side.

[2020-01-03 21:50] gowthamkpr commented on #1495
Are you using regress or classify signatures @spraveen420 ?

[2020-01-05 16:26] spraveen420 commented on #1495
classify

On Sat, Jan 4, 2020, 3:20 AM gowthamkpr <notifications@github.com> wrote:

[2020-01-06 00:41] Stonesjtu commented on #1522
You can set different `platforms` for the models with different `max_batch_size`

[2020-01-06 09:25] edias commented on #1406
Did anybody found a solution for this issue?

I'm using Bazel and I'm getting `/59500ca4bca19b28deb1169ec76b1fab/external/com_google_protobuf/BUILD:148:1: no such package '@zlib//': The repository '@zlib' could not be resolved and referenced by '@com_google_protobuf//:protobuf'
`

[2020-01-06 13:46] hbellafkir commented on #1522
thnx for the response @Stonesjtu. I didn't get what you mean, but I founded here #836.

[2020-01-06 18:41] hankcs commented on #663
I've read many issues and articles, although the official maintainers are suggesting to use tf ops for preprocessing, the practitioners find it's inconvenient or simply impossible. Let's take the famous BERT model as an example, the tokenizer inside is not what tf.text can handle. As a result, every project I see is doing preprocessing in Flask and [wrap tensorflow server with a Flask server.](htt

[2020-01-06 21:24] gowthamkpr commented on #1495
@spraveen420 you have to set inputs dtype of signature to string to do classify/regress. Please go through this [comment](https://github.com/tensorflow/serving/issues/927#issuecomment-404248671) and let me know if it helps.

[2020-01-07 00:42] broken commented on #1490
Yeah; I sent code for review over to the serving team before I went on vacation, but I believe most of them were already out.. Now that everybody is getting back from holiday, I'll push for the code to get in.

[2020-01-07 04:43] spraveen420 commented on #1495
@gowthamkpr i tried those two but still not worked

On Tue, Jan 7, 2020 at 2:54 AM gowthamkpr <notifications@github.com> wrote:

[2020-01-07 11:45] BannockYJQ opened #1527 "Tensor Shape is not useful"
when i inference the model with tensorflow serving,i found a question.i defined the dim of inputs,example input3 is shape (1, 3) or (None，3)， inputs3 = [1, 2, 3]  , i test it in my model.pb that is true,but i enter more dim that is also ok，ep：[1, 2, 3, 4], i dont understant why;

curl -d '{"signature_name":"voice_classification", "inputs": {"input1": [[6]], "input2": [[0.1]], "input3":[[3.0, 8.0,

[2020-01-07 11:59] liaocz opened #1528 "tf-serving generate warmup request"
some tensorflow model is trained using tf.placeholder and some by tf.esitimator API, there are some difference between this two method when creating warmup data for tf-serving model
- if model is trained using tf.placeholder, we can know all input tensor name and shape from savedModel by executing the command, `saved_model_cli show`, so we can make up data according to input tensor name and shape

[2020-01-07 15:01] hitchhicker commented on #1490
We ran into a problem when trying to serve a model ([universal-sentence-encoder-multilingual](https://tfhub.dev/google/universal-sentence-encoder-multilingual/3))  that uses sentencepiece because of the missing operator **SentencepieceOp**. After several attempts, we have succeeded in compiling **tensorflow_text 2.1.0** with the **TF-serving 2.1** release and built it as a Docker image. It can be

[2020-01-07 18:15] gr8Adakron commented on #1290
You can try the **Tensor RT inference server** from NVIDIA. It's more efficient and scalable and 3x faster than TF-Serving.

[2020-01-07 19:45] unclepeddy commented on #1520
If this is officially supported by TensorFlow then we may consider it but as far as I know TF does not support ROCm and so TF Serving cannot either.

[2020-01-07 22:43] gowthamkpr commented on #1527
@BannockYJQ Modelserver does not do any input shape verification while handling a predict request.
Please refer to the following [comment](https://github.com/tensorflow/serving/issues/1436#issuecomment-536025782) for more information. Thanks!

[2020-01-07 23:09] gowthamkpr commented on #1495
@spraveen420  Unfortunately, we cannot reproduce your issue from our side and its not a bug too.

I would recommend you to post this issue on stackoverflow as there is a wider community to help. Thanks!

[2020-01-08 05:59] BannockYJQ commented on #1527
@gowthamkpr emmmm，i am thinking your word. but i have some puzzle.
ep:input1 : you must be shape like（-1,1）why i definded it like [[6]], this feature is single feature.
![1](https://user-images.githubusercontent.com/30150009/71953903-921cf380-321e-11ea-958d-3012af69e57e.png)
but if you shape input1 like [[6, 1]], there is a shape error;
BUT,for input3, i definded it like [[7, 3,8]], this feature i

[2020-01-08 19:04] unclepeddy commented on #1468
Should be resolved now.

[2020-01-08 19:04] #1468 closed

[2020-01-08 19:37] #1520 closed

[2020-01-10 08:36] hsh2438 commented on #1504
I am having same issue...
Whould

I am having same issue as you opened...
You said you have solved it, whould you please let me know how to solve?

[2020-01-10 16:45] raimondasl opened #1529 "Batching does not work for model with single dimension tf.example serialized input"
I have a model with a single dimension input that is serialized tf.example.
TF serving does not seem to perform batching with this model and the input.
I have the following batching config:

[code]

I have tried it with and without "pad_variable_length_inputs: true".
I have tried batch_timeout_micros at various values, e.g. batch_timeout_micros { value: 1000 }. The value above is set to very high

[2020-01-10 23:03] gowthamkpr commented on #1528
You can obtain the information of the tensorflow estimator saved model. You can use Saved_model_cli for saved estimator model as shown [here](https://stackoverflow.com/questions/51212160/how-to-do-a-simple-cli-query-for-a-saved-estimator-model).

[2020-01-11 20:01] geraldstanje opened #1530 "tfserving issue"
System information
OS Platform and Distribution (e.g., Linux Debian 9): Debian GNU/Linux 9.11 (stretch)
TensorFlow Serving installed from (source or binary): Both
TensorFlow Serving version: 1.13
Describe the problem
Im running tfserving in a pod in kubernetes.
Here is how many ressources i give tfserving:
[code]

My tfserving crashes as follows:
[code]

[2020-01-13 07:54] rmothukuru commented on #1505
@gao8954,
Can you please confirm if the above comment has resolved your issue. Thanks!

[2020-01-13 07:55] rmothukuru commented on #1517
@roshanzameer,
Can you please respond to @nrobeR's comment. Thanks!

[2020-01-13 16:48] badele commented on #1406
@chengnignzhang @edias
I switched to tensorflow 2.0 I no longer have a build problem now :)

[2020-01-13 17:04] njhill commented on #1519
Any interest in this fix? Might it make the next release?

[2020-01-14 02:21] striveth opened #1531 "build failed on Centos 6.7 with Error: no such instruction: `vbroadcasti128 .Lsigma(%rip),%ymm11'"
Command:
bazel build -c opt //tensorflow:libtensorflow_cc.so
Message:
ERROR: /home/xiaoju/.cache/bazel/_bazel_xiaoju/be98a53b27ec7c052c1f167e0f93692d/external/boringssl/BUILD:130:1: C++ compilation of rule '@boringssl//:crypto' failed (Exit 1)^M
external/boringssl/linux-x86_64/crypto/cipher_extra/chacha20_poly1305_x86_64.S: Assembler messages:
external/boringssl/linux-x86_64/crypto/cipher_extra/ch

[2020-01-14 07:03] rmothukuru commented on #1531
@striveth,
Can you please confirm if you are trying to install Tensorflow or Tensorflow Serving. If you want to install Tensorflow and are facing issues, please raise an Issue in this [Tensorflow Repository](https://github.com/tensorflow/tensorflow/issues).

If you are trying to install Tensorflow Serving, can you please provide details about what platform you are using (operating system, architec

[2020-01-14 09:07] HoangTienDuc opened #1532 ""You must feed a value for placeholder tensor 'input_1' with dtype float and shape [?,?,?,3]"
input image has shape:
[code]
i feed input image into tf-serving
[code]
but i don't know why i got error below:
[code]

[2020-01-14 09:16] striveth commented on #1531
Sorry, build tensorflow.

[2020-01-14 09:16] #1531 closed

[2020-01-14 12:38] thepycoder commented on #1505
@rmothukuru I'm having the exact same problem

I'm using the latest tensorflow serving gpu docker image to serve a model from the object detection model zoo that has been rebuilt to accept base64 images. I send non-parallel requests via HTTP.

Nvidia-smi confirms that the tf-serving binary is using the GPU memory, and with each request the GPU usage goes up and vanishes again quickly and only to a

[2020-01-14 21:07] gowthamkpr commented on #1532
@HoangTienDuc This is definitely not a serving issue. But can you please provide a simple reproducible code to reproducible code or a code snippet of your model and version of Tensorflow you are using. Thanks!

[2020-01-15 01:32] 372046933 commented on #1406
@badele  I'm on TF 2.0 but still fails, yet @luduling 's solution still works.

[2020-01-15 02:53] unclepeddy commented on #1523
Just a +1 that this should be doable in TF - if you're having difficulty chaining estimators, please do ask on StackOverflow or TF community, but this is very much outside the scope of TF Serving.

[2020-01-15 02:53] #1523 closed

[2020-01-15 03:07] HoangTienDuc commented on #1532
- My tensorflow version:
[code]
- My model configuration:
[code]
- My client reproducible code:
[code]

[2020-01-15 03:16] runzhliu commented on #839
@HITxuefeng I just found out that, the MNIST dataset is failed to be downloaded by some reasons, could be proxy or something else.
You could check it by `ls -l /tmp` to see the size of the dataset to confirm about that.

[2020-01-15 18:45] gowthamkpr commented on #1532
@HoangTienDuc
Your input shape as shown here in the signature def is
[code]
not matching the shape of the input that you are feeding into the model which is `(1, 512, 512, 3)`. So this is the cause of the error.

Try not to expand the dimension i.e., comment this line out `inputs = np.expand_dims(image, axis=0)`

[2020-01-15 22:26] gowthamkpr commented on #1522
Closing this issue as it has been resolved. If you have any more questions please post it in stackoverflow as github is only meant for bug/performance, build/install, feature reqest or docs related issues. Thanks!

[2020-01-15 22:26] #1522 closed

[2020-01-15 22:27] #1495 closed

[2020-01-15 23:33] geraldstanje commented on #1530
@rmothukuru why is it on status waiting now?

[2020-01-16 00:20] unclepeddy commented on #1400
There's a performance guide I'm merging very soon that should help with this.

[2020-01-16 00:26] unclepeddy commented on #1483
what happens when you load up the model with TF? Do you get significantly better inference latency? your TF runtime requires X time to do a forward pass on your model on a batch of examples, X becomes a lower bound for your inference latency with TF Serving.

[2020-01-16 00:30] unclepeddy commented on #1503
Thanks for taking a look!
Unfortunately swapping out the http server implementation to use a different library is likely not something we'll be looking into since unless we hear an overwhelming # of requests for it. I'll keep this open so others could +1 it if appropriate.

[2020-01-16 02:01] unclepeddy commented on #1517
There's a performance guide (+ integration with tensorboard) landing soon that should help you debug this.

[2020-01-16 05:04] jusonn commented on #1400
Thanks, I just came up with a question.
Does TF serving server designed for online inference? which infer inputs right away when it comes.

[2020-01-17 08:27] HoangTienDuc commented on #1532
I already commented that line, but the error still the same.
[code]

[2020-01-17 12:04] ericmclachlan opened #1534 "'module' object has no attribute 'app' in Basic TensorFlow Serving tutorial."
Executing the 3 command-sets of this Basic TensorFlow Serving tutorial should not result in errors. This is supposed to be the carrot for introducing folk to TensorFlow Servings.

https://www.tensorflow.org/tfx/serving/serving_basic

# Problem

The following error is reported when trying to test the server.

[code]

# Steps to reproduce:

## Step 1

[code]
The export was successful.

## Step 2

[c

[2020-01-17 14:25] juanjops opened #1535 "Missing some request using GRPC client with error "DNS resolution failed""
### System information
- **Linux Ubuntu**: 18.04
- **TensorFlow Serving version**:  installed from repository via docker image latest
- **TensorFlow version**: 2.1.0

### Describe the problem
After serving my model with no problems in a local VM and using grpc to make a petition i receive
[code]

### Source code / logs
[code]

[2020-01-19 03:16] upwindflys commented on #1534
I fixed this by change code 'tf.app' to code'tf.compat.v1.app' ,it works but get 'Inference error rate: 100.0%' , at the same time ,'training accuracy 0.9092',I'm confused, does serving works right?

[2020-01-19 06:49] upwindflys opened #1536 "Grpc Transport closed error"
Example
https://tensorflow.google.cn/tfx/serving/serving_basic
run
tools/run_in_docker.sh python tensorflow_serving/example/mnist_client.py \
  --num_tests=1000 --server=127.0.0.1:8501
get the following error?
<_MultiThreadedRendezvous of RPC that terminated with:
	status = StatusCode.UNAVAILABLE
	details = "Transport closed"
	debug_error_string = "{"created":"@1579416411.591710831","description":

[2020-01-19 07:29] EthanPhan opened #1537 "Error when using gRPC while REST API just works fine"
I'm serving the distilbert model from [huggingface](https://github.com/huggingface/transformers) for text classification problem using tensorflow serving. I was able to call REST api for prediction just fine but I decided to use gRPC to improve the predicting speed. But when I use gRPC I get the  following error:

[code]

This is the code I use to call the gRPC api:

[code]

`doc` is a list of 512

[2020-01-20 06:12] rmothukuru commented on #1530
@geraldstanje,
It is on Status Waiting because we are waiting for response of Google Engineer, @christisg.

[2020-01-21 06:45] rmothukuru commented on #1505
@thepycoder,
Can you try the solution mentioned in this [link](https://github.com/tensorflow/serving/issues/1440#issuecomment-541578798) and confirm if the issue still persists. Thanks!

[2020-01-21 11:02] ericmclachlan opened #1538 "Padding Error when Predicting Multiple Instances using TensorFlow Serving"
## Feature Request

### Description
When posting a request to the Model Server's predict endpoint, I receive the following response:

[code]

This happens when my payload contains 2 instances. The first is a list of integers with length 270. The second is a list of integers with length 252.

If only 1 instance is provided, there is no problem.

### Solution
I have `pad_variable_length_inputs: true

[2020-01-21 14:22] EthanPhan commented on #1537
This is the model definition:
[code]

I will try your recommendation and update on it.

[2020-01-21 14:28] EthanPhan commented on #1537
It works! thanks a lot.

[2020-01-21 17:56] benjtlv commented on #1141
How do you know that ? And how is it done ? Because I am currently stuggling with that. A data scientist in my team wrote a prediction script and I'm trying to get the same results going through tf serving but what I get is totally different

[2020-01-21 18:15] gowthamkpr commented on #1532
Can you post the entore samed_model_cli output, I mean the the signature of serving default?

[2020-01-21 18:17] gowthamkpr commented on #1528
@liaocz Did you solve the issue?

[2020-01-21 18:26] gowthamkpr commented on #1529
@raimondasl This maybe the network io problem,you can use dstat to monitor your network interface.

You can also refer to the question [here](https://stackoverflow.com/questions/54858600/tensorflow-serving-batch-configure-ineffectiveness).

[2020-01-21 21:12] lagidigu commented on #1141
If you send me the specific extract from the script as well as the expected output I can help you out :)

[2020-01-21 23:49] gowthamkpr commented on #1535
@juanjops Thank you for reporting this. This is a bug in grpc itself. This has been tracked [here](https://github.com/grpc/grpc/issues/20972). Lets leave this issue open.

[2020-01-22 01:40] jusonn commented on #1536
Did you run tf serving server with
[code]
Would you check serving server log

[2020-01-22 01:56] gowthamkpr commented on #1537
@EthanPhan Summing this issue up, this is caused due to shape mismatch. I am closing this issue as it has been resolved. Thanks!

[2020-01-22 01:56] #1537 closed

[2020-01-22 05:59] liaocz commented on #1528
We can use 'Saved_model_cli' to show the model's input and output, but we can't make up the data according to the information from 'Saved_model_cli', so how can we generate warmup request as same as the as the 'tf.placehloder'

[2020-01-24 05:48] sonfiree commented on #249
Is it possible to configure in conf for each model?

[2020-01-24 17:36] m0baxter commented on #1490
@hitchhicker is there a reason you dropped the stuff in `Dockerfile.devel` that appears below the comment `# Build and install TensorFlow Serving API`?

[2020-01-24 22:23] gowthamkpr commented on #1538
Can I see your batching config? Also can I know what version of Tensorflow and Tensorflow serving are you using?

[2020-01-25 00:05] hitchhicker commented on #1490
@m0baxter, the reason is that we used only **tensorflow_model_server** in our case. If you need using **pip** package, you could keep the staff below the comment `# Build and install TensorFlow Serving API`.

[2020-01-25 04:59] rickyzhang82 commented on #1487
Could you reopen the issue? I experienced the same thing. When using  tensorflow-gpu-2.1.0 and docker 19.03.4.

Error log from notebook:
[code]
Why tensorflow-gpu look for cuda library path `/usr/local/nvidia/lib:/usr/local/nvidia/lib64` rather than `/usr/local/cuda`? Do you on purpose to sabotage the build?

[code]

I can created a symlink in the docker image. But this stinks. Because `/usr/local

[2020-01-25 23:40] raimondasl commented on #1529
I have instrumented tensorflow_serving/batching/batching_session.cc and I see that the batching is happening. At least when BatchingSession::ProcessBatch() is being executed, the inputs are merged in MergeInputTensors(), merged inputs are passed to wrapped_->Run(), and results are split in SplitOutputTensors().

So then we are back to performance problem: why batched processing with tensorflow_ser

[2020-01-26 21:04] rickyzhang82 commented on #1487
Out of the box, `tensorflow-gpu 2.0` installed from pypi by pip doesn't work under container pulled from NVIDIA docker image `nvidia/cuda:10.0-cudnn7-devel`.

Even I created a symlink from `/usr/local/cuda` to `/usr/local/nvidia`, I still failed to launch 1D CNN in Keras.

I have to pull image `nvcr.io/nvidia/tensorflow:19.12-tf2-py3` from NVIDIA to make it runs.

@luvwinnie
Here is [the list](htt

[2020-01-27 16:35] gowthamkpr commented on #1536
@upwindflys Can you please reply to jusonn's comment. Thanks!

[2020-01-27 22:39] broken commented on #1490
This took much longer to get approval and get in than I originally thought, but I just got in bd206e4, and now keeping tf.text updated should be much easier.

[2020-01-28 05:04] svenstaro opened #1541 "build_pip_package fails"
This is on Arch Linux with bazel 2.0.0. We're trying to package the new versiong of serving API.

Our build process is pretty simple:

    bazel build -c opt tensorflow_serving/tools/pip_package:build_pip_package
    bazel-bin/tensorflow_serving/tools/pip_package/build_pip_package /tmp/pip

The first step works but `build_pip_package` fails:

[code]

Full log:

[code]

This is on master and 2.1.0.

[2020-01-28 14:11] #1535 closed

[2020-01-28 14:12] juanjops commented on #1535
The error is in the exposed port, grpc does not uses 8501

[2020-01-28 14:13] ashmeet13 commented on #1490
@broken Thanks!
Testing `tensorflow/serving:nightly` to serve Multilingual-USE seems to work fine.
A small follow up question - Till when can this be expected to be built into the latest tag release?

[2020-01-28 16:13] christisg commented on #1530
Hi @geraldstanje,

Please see the error at the bottom of the log ("Check failed: NDIMS == dims() (2 vs. 1)Asking for tensor of 2 dimensions from a tensor of 1 dimensions"). It indicates a likely mismatch between the tensor shapes defined in the model, and those used in the inference requests querying the model.
I recommend looking into the model and the inference requests to root cause this.

[2020-01-28 19:59] gowthamkpr commented on #1541
@svenstaro  Correct me if I am wrong, but this is similar to the issue that has been mentioned [here](https://github.com/tensorflow/serving/issues/1494). If it is can we go ahead and close this issue and track the issue there. Thanks!

[2020-01-28 20:06] broken commented on #1490
That's great to hear it works for you! I can't speak to serving's release timeline, but it should be in whatever is next. I'll hand this back to @nrobeR who may know.

[2020-01-29 01:44] geraldstanje commented on #1530
@christisg the funny thing is that this error seems to be random. i run the same model now - and see no issues.
is there a command line tools i can load the model and check for dimensions? could you tell me how to run it and display the number of dimensions etc.?

[2020-01-29 08:01] christisg commented on #1527
@BannockYJQ could you share your model or some more details about how the features are defined?

[2020-01-29 18:35] gowthamkpr commented on #1530
@geraldstanje You can use saved model command line interface called `saved_model_cli` to check the dimensions of your input and output. For more info you can refer to the following [link](https://www.tensorflow.org/guide/saved_model#saved_model_cli)

[2020-01-29 21:29] geraldstanje commented on #1530
@gowthamkpr thanks for quick reply.
are there any advantages to update tf serving from TensorFlow Serving version: 1.13 to the lastest version which i think is TFS 2.1?
will it consume less memory and be more cpu efficient?

[2020-01-29 23:54] mohsenrezaeithe opened #1542 "Add support for CentOS based Docker images"
## Feature Request
### Describe the problem the feature is intended to solve
Based on the interest in the community and in my team on supporting the TF serving [service] on CentOS, I'm interested in introducing Docker based CentOS (7+) artifacts to the repository, and I wanted to gauge the interest in the community on committing the effort back to the repository to be maintained by the contributor

[2020-01-30 01:14] misterpeddy commented on #1400
Performance guide [1] and TensorBoard inference instructions [2] are now available.

To answer your question, yes it's designed for online inference. The inter-request batching feature is not turned on by default [3].

[1] https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/performance.md
[2] https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/tensorbo

[2020-01-30 04:05] jusonn commented on #1400
Nice guide!
I didn't know inference profiling exists and using prometheus with tf serving.
My questions are solved now so I'm going to close this issue.
Thanks for the documentation.

[2020-01-30 04:05] #1400 closed

[2020-01-30 15:58] thepycoder commented on #1505
@rmothukuru I passed the parameters, but no dice. It even became slower.

[2020-01-30 16:18] christisg commented on #1528
Hi @liaocz,
The warmup data needs to be representative of the actual inference requests sent to the model at serving time.
It should be possible to collect a few example requests (they should already be in PredictionLog format) and use them as the warmup data.
If collecting actual inference requests is hard, you may consider collecting a few examples from the test or eval set and write a script to

[2020-01-30 16:36] christisg commented on #1529
Hi @raimondasl,

Batching allows you to achieve better throughput, but it may come at a cost of increased average and/or tail latency, because the server will wait for accumulating a batch. There are plenty of tuning options to achieve the right balance between throughput and latency that fit your environment and QPS characteristics. I'd strongly recommend looking at github.com/tensorflow/serving/

[2020-01-30 16:42] christisg commented on #1519
Thanks for the contribution, @njhill! I will review and post my comments.

[2020-01-30 19:08] raimondasl commented on #1529
@christisg : actually batching can improve latency significantly. Regarding github.com/tensorflow/serving/blob/master/tensorflow_serving/batching/README.md, it has misleading advice.

As I have said above, I had to instrument tensorflow_serving/batching/batching_session.cc to get info on what batching does.
I think that TF Serving project should provide the logging/instrumentation similar to what

[2020-01-30 22:48] gowthamkpr commented on #1530
Tensorflow serving 2.1 supports tensorfow 2.x but Tensorflow Serving 1.13 doesn't.
Also contrib ops has are not supported from Tensorflow Serving 1.15
To checkout major features and improvements from Tensorflow Serving 1.13 to 2.1, you can refer to the following [link](https://github.com/tensorflow/serving/releases).

As per memory consumption and efficiency 2.1 should be better if not equal to th

[2020-01-30 22:57] gowthamkpr commented on #1505
@gao8954 @thepycoder Can you give us the exact steps (with configuration) to reproduce the issue. Thanks!

[2020-01-31 21:40] gowthamkpr commented on #1532
@HoangTienDuc I am not exactly sure where you are running into an error. Please go through this [colab](https://colab.research.google.com/gist/gowthamkpr/b17e6e8fc89886acc2cb129f2b35791f/final_flowers_serving.ipynb) which will help you debug the error yourself.

[2020-02-01 12:04] liaocz commented on #1528
ok, thank you very much~ @christisg

[2020-02-01 19:09] spidyDev commented on #1215
I am also seeing the same problem. CPU memory keeps increasing after I keep removing latest model versions. The next latest version gets loaded before the older one gets unloaded.There are no inference calls made.
As you can see below RES keeps increasing after each step.
Below is the details of my experiment.

Setup:
Ubuntu 16.04
TensorFlow ModelServer: 2.0.0+dev.sha.b5a11f1
TensorFlow Library: 2

[2020-02-03 06:39] christisg commented on #1528
Let us know if any follow-up is needed, or whether the issue can be closed.
Thanks and good luck!

[2020-02-03 07:03] liaocz commented on #1528
I have collected a few examples from the testl set and write a script to translate them into PredictionLog format. so this issue can be closed, thany you again~

[2020-02-03 18:56] gowthamkpr commented on #1536
@upwindflys The error is because that the grpc port is 8500 and the restFul API port is 8501
Please change the port in the client script to 8500 as you are using grpc.

For more info you can refer to the comment [here](https://github.com/tensorflow/serving/issues/1149). Thanks!

[2020-02-04 08:27] svenstaro commented on #1541
It doesn't seem to be quite the same problem though if you look at the log.

[2020-02-05 18:47] gowthamkpr commented on #1528
Closing this issue as it has been resolved. Thanks!

[2020-02-05 18:47] #1528 closed

[2020-02-05 18:56] shadowdragon89 commented on #1494
We are working on to migrate to bazel v1.2.0 now. In general, we tent to use the same bazel version as Tensorflow.

[2020-02-05 22:12] harsh306 commented on #1459
Any documentation in this direction will be really helpful. I also want to use Tf-lite with TF-serving and deploy on cloud server. Thanks

[2020-02-06 19:58] geraldstanje commented on #1530
@gowthamkpr i can reproduce the error, can you share your email so i can send you a demo?

[2020-02-07 14:48] kgizdov commented on #1494
@shadowdragon89 thanks, sounds good. If it builds with v1.2.0, it should be fine with v2.0.0 too. At least tensorflow happily builds with that. :)

[2020-02-07 21:13] jraffield1 opened #1545 "Dockerfile.devel-gpu references a python package that doesn't exist"
### System information
- Linux Ubuntu 16.04)
- TensorFlow Serving installing from source
- 2.1.0

### Describe the problem
Dockerfile.devel-gpu uses nvidia/cuda:10.0-base-ubuntu16.04 as a base image but tries to install python3-distutils, which doesn't exist for ubuntu 16.04
When trying to build from source, it displays the error "Unable to locate package python3-distutils"

### Exact Steps to Rep

[2020-02-10 12:31] shizukanaskytree commented on #1541
I have the same problem when I build with

[code]

[code]

Why does it happen? Thanks.

[2020-02-10 15:03] shizukanaskytree opened #1547 "Linking of rule '//tensorflow_serving/resources:resource_tracker_test' failed"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow Serving installed from (source or binary)**:
- **TensorFlow Serving version**:

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in
TensorFlow Serving.

Docker Env: `Dockerfile.devel-gpu` in `serving/tensorflow_serving/tools/docker`

R

[2020-02-10 19:36] abhinavos7a commented on #1413
@gowthamkpr Do we have any updates on this. We have been waiting for this feature for quite some time now.

Having this capability would allow us to do do client side A/B testing with ease. With versions it becomes confusing.

[2020-02-11 02:54] wangwenchao-job opened #1548 "Source based compilation failed，Python Configuration Error: Problem getting python include path."
environment：
ubuntu 18
anaconda env：tf1.14

Compiler directive：
sudo tools/run_in_docker.sh bazel build -c opt tensorflow_serving/...

the error：
`== Pulling docker image: tensorflow/serving:nightly-devel
nightly-devel: Pulling from tensorflow/serving
Digest: sha256:f40edf7bb5419be5011dd662155f8197b63a0db5fc3ec61c33d5d657c94d85ee
Status: Image is up to date for tensorflow/serving:nightly-devel
==

[2020-02-11 04:03] gowthamkpr commented on #1548
It seems like `python3-distutils` is not installed
Can you install it using
`sudo apt install python3-distutils`

[2020-02-11 04:10] gowthamkpr commented on #1545
@jraffield1 As mentioned in this [comment](https://github.com/pypa/pip/issues/5367#issuecomment-386864941), can you please try istalling `python3-distutils ` using this command
`sudo apt-get install python3-distutils` and let me know if the error still exists.

[2020-02-11 10:15] wangwenchao-job commented on #1548
the python3-distutils is the lastest version

[2020-02-11 12:26] wangwenchao-job commented on #1548
---To update---

Before, I used bazel version 0.24.1，report errors ：
Current Bazel version is 0.24.1, expected at least 1.2.1

So，I upgraded bazel.
Use command to view version：bazel --version
bazel 2.1.0

but，the error did not change: Current Bazel version is 0.24.1, expected at least 1.2.1

[2020-02-11 14:46] jraffield1 commented on #1545
Yes, it gives the same "unable to locate package" error.

I was able to work about it by changing 'python3-distutils' to 'python3-distutils-extra' in the dockerfile

[2020-02-11 20:47] rola93 commented on #795
is there any news on this?

[2020-02-11 22:30] gowthamkpr commented on #1548
As shown [here](https://github.com/tensorflow/serving/blob/385e7962ceae7e30e58d1e4ad54b0502795b9ef5/tensorflow_serving/tools/docker/Dockerfile.devel-gpu#L97) your bazel version should be 1.2.1 but your system has bazel 2.1.0 which is a mismatch.

Please down grade your bazel version to 1.2.1 using the commands in the comment [here](https://github.com/tensorflow/tensorflow/issues/24101#issuecomment

[2020-02-11 22:41] gowthamkpr commented on #1547
@shizukanaskytree What version of cuda are you using?

[2020-02-12 18:56] gowthamkpr commented on #1530
Can you please share it here @geraldstanje Thanks!

[2020-02-12 18:57] gowthamkpr commented on #1532
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-02-12 18:57] #1532 closed

[2020-02-12 19:01] gowthamkpr commented on #1534
As mentioned [here](https://github.com/tensorflow/serving/issues/1468#issuecomment-567607649) this should be fixed now. What version of Tensorflow serving are you using. Can you please use the latest version of tensorflow serving and let me know if the issue still persists. Thanks!

[2020-02-12 19:02] gowthamkpr commented on #1538
Closing this issue as it has been inactive for close to 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-02-12 19:02] #1538 closed

[2020-02-12 19:04] gowthamkpr commented on #1541
@svenstaro What version of Tensorflow serving are you using??

[2020-02-12 19:07] shizukanaskytree commented on #1541
@gowthamkpr The tf-serving version I use is commit `950705519372ce89da0c99524e3bb8b5a1fedf3f`.

[2020-02-12 19:14] gowthamkpr commented on #1536
@upwindflys Did the above comment help you? Can I close this issue?

[2020-02-12 19:39] Brayangacely commented on #1541
I have the same error.

Adding python files
cp: cannot stat 'bazel-genfiles/tensorflow_serving/apis/*_pb2.py': No such file or directory

The command '/bin/sh -c bazel build --color=yes --curses=yes     ${TF_SERVING_BAZEL_OPTIONS}     --verbose_failures     --output_filter=DONT_MATCH_ANYTHING     ${TF_SERVING_BUILD_OPTIONS}
    tensorflow_serving/tools/pip_package:build_pip_package &&     bazel-bi

[2020-02-12 20:54] svenstaro commented on #1541
@gowthamkpr It's tensorflow 2.1.0.

[2020-02-13 01:25] shizukanaskytree commented on #1547
@gowthamkpr
 The tf-serving version I use is commit `950705519372ce89da0c99524e3bb8b5a1fedf3f`.
https://github.com/tensorflow/serving/issues/1541#issuecomment-585367660

[2020-02-13 03:17] pake2070 opened #1550 "How can I run tensorflow serving per core CPU in the same time ?"

[2020-02-13 05:28] snitanda opened #1551 "Add support for stream request and response in tensorflow- model-server"
## Feature Request

### Describe the problem the feature is intended to solve
When exchanging large size messages to tensorflow-model-server via grpc, the process fails. So, I've solved this issue in this way. https://github.com/tensorflow/serving/issues/1382
But according to protocol buffers policy, I shouldn't not send message larger than 1MB. so, I want to send messages at stream. Could you sup

[2020-02-13 05:34] rmothukuru commented on #1550
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version and Tensorflow Serving Version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the G

[2020-02-13 09:58] kesh-me commented on #795
@yupbank +1 to open up your PR.

[2020-02-13 10:13] CLIsVeryOK commented on #1190
when comes to TensorRT6.0.1
in xxxxxx/tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc,
the folowing interface should be implemented.

[code]

notice tensorflow 1.14 master 00fad90125b18b80fe054de1055770cfb8fe4ba3 do not fix this issue.

[2020-02-13 11:40] Danhyal-Masood commented on #1545
That moment you commit an update without testing..

[2020-02-13 15:49] psyyip opened #1553 "Error with tf.estimator.export.ServingInputReceiver()"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **I run my project on a Jupyter Notebook on GCP**:
- **TensorFlow version: 1.15**:
- **Python version: 3.5.3**:

### Describe the problem
I followed every instruction to build a serving_input_receiver_fn(). No solution works even though this is just a very simple function. I believe it is n