[2020-02-13 20:52] gowthamkpr commented on #1550
As shown [here](https://github.com/tensorflow/serving/blob/e085cb37b4b5c62154aa063dcbb781b24d5b3fd4/tensorflow_serving/tools/docker/Dockerfile.mkl#L85), you can set `TENSORFLOW_INTRA_OP_PARALLELISM=n `where 'n' is the No. of Physical cores you want to use.

By controlling `TENSORFLOW_INTRA_OP_PARALLELISM` and `TENSORFLOW_INTER_OP_PARALLELISM` , you can control the performance.

[2020-02-13 21:00] gowthamkpr commented on #1553
Please refer to the following [issue](https://stackoverflow.com/questions/52798399/excluded-from-export-because-they-cannot-be-be-served-via-tensorflow-serving-api?noredirect=1&lq=1) and the [doc](http://shzhangji.com/blog/2018/05/14/serve-tensorflow-estimator-with-savedmodel/)

If you have any more questions, please post it stack overflow as there is a wider community to respond. Thanks!

[2020-02-13 21:04] gowthamkpr commented on #1541
Try to build it using `bazel=1.2.1` and let me know if the error still persists. Thanks!

[2020-02-13 21:04] #1536 closed

[2020-02-13 22:19] geraldstanje opened #1554 "problem with build of devel docker image"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-02-14 01:12] alpsholic commented on #1490
can anyone share the **.so** file generated in the above compilation process? I converted **multi-lang/1** in python from hub module to normal tf model to load in Java. But I get _TensorFlowException: Op type not registered 'SentencepieceEncodeSparse_ in binary... exception. I want to load the .so file onto tensorflow and load my converted model. Thanks a ton in advance.

[2020-02-14 01:48] svenstaro commented on #1541
Same problem with bazel 1.2.1.

[2020-02-14 05:51] minglotus commented on #1541
At a super high-level, a temporary workaround is to replace 'bazel-genfiles/tensorflow_serving/apis/*_pb2.py' with the right path, based on the layout of the bazel version.

Say, for the docker image (https://www.tensorflow.org/tfx/serving/building_with_docker#building_a_container_from_a_dockerfile), replace 'bazel-genfiles' with 'bazel-out/k8-opt/bin'.

[2020-02-14 19:30] geraldstanje commented on #1550
@gowthamkpr what is the default setting on TENSORFLOW_INTRA_OP_PARALLELISM and TENSORFLOW_INTER_OP_PARALLELISM?

[2020-02-14 21:17] broken commented on #1490
@alpsholic It looks like that model is using a TF op that was specifically released in the SP repo that was available before we got it integrated in tf.Text. You can either update the model to use the tf.Text SentencepieceTokenizer, or link in the version that model is using (https://github.com/google/sentencepiece / pip install tf_sentencepiece).

[2020-02-14 21:23] gowthamkpr commented on #1554
What version of bazel are you using to build serving?

[2020-02-14 21:32] gowthamkpr commented on #1550
@geraldstanje You have to either modify the image with the following parameters and commit it or build your serving from source modifying these parameters.

[2020-02-14 22:29] Arnold1 commented on #1550
@gowthamkpr what i mean who determind those settings on what facts? Those seem to be some standard setting?!
‘’’
ENV OMP_NUM_THREADS=2
ENV TENSORFLOW_INTRA_OP_PARALLELISM=2
ENV TENSORFLOW_INTER_OP_PARALLELISM
‘’’

[2020-02-15 01:16] ElliotVilhelm commented on #1490
@broken

I ran into the op not found situation while using a model with multilingual embeddings:  https://tfhub.dev/google/universal-sentence-encoder-multilingual/3

The model was built with:
[code]

This occurred on our model server running `tensorflow/serving:latest` built today 02/14/2020.
Error output was as follows:
[code]

I tested `tensorflow/serving:nightly` and it resolved the issue. Look

[2020-02-15 01:34] broken commented on #1490
Me too. :)  I believe tensorflow/serving times their releases around tensorflow releases. So I expect the next release will contain it.

[2020-02-15 01:51] geraldstanje commented on #1554
@gowthamkpr whatever is here in the image: https://github.com/tensorflow/serving/blob/d83512c6b5b2b8433df2fd61bbbfb22e0295b3d3/tensorflow_serving/tools/docker/Dockerfile.devel

[2020-02-15 12:29] Paperone80 commented on #1541
Just to add what worked for me:

My WORKDIR:
`$ /opt/tensorflow/serving# ls -lha`

Check the symlink of ```bazel-bin``` that's the folder @minglotus is referring to.

Create a symlink in your serving WORKDIR:
`$ ln -sfv bazel-bin bazel-genfiles`
and you should be good to go.

[2020-02-15 15:30] geraldstanje commented on #1550
@gowthamkpr how did you come up with that settings - those seem to be some standard setting (based on what)?!
[code]

[2020-02-16 05:29] psyyip commented on #1553
I did post my questions on stack overflow. But there is no solution till now.

I tried to modify my codes according to your suggestions. But there are still errors. I wonder if this is caused by problem of my own codes, so I use your suggested codes and then replace the data source and data specification with my own data. Here is the results.

1. I firstly reused Ji Zhang's codes.

[code]
No error

[2020-02-16 23:13] svenstaro commented on #1541
I made it work using a similar hack in the official Arch package but I'd appreciate a fix for recent bazel versions nonetheless.

[2020-02-17 12:26] ericmclachlan opened #1555 "TensorFlow Serving "version_labels" do not work as documented for the HTTP REST API"
## Bug Report

### System information

- **OS Platform and Distribution**: Windows 10 and Linux Ubuntu 18.04 in WSL
- **TensorFlow Serving installed from**: Docker image (binary)
- **TensorFlow Serving version**: Docker image `tensorflow/serving:latest` (downloaded around January 20th)

### Describe the problem

At a high level, the version_labels feature appears not to work correctly. (This featu

[2020-02-18 06:47] rmothukuru commented on #1555
@ericmclachlan,
Can you please confirm if you have tried Inference using Numeric Version Labels and using Non-Numeric Version Labels.

And if you observed that Numeric Labels are working fine and Non-Numeric Version Labels are resulting in error, can you please provide the Commands which you have used in both the cases (Numeric and Non-Numeric), and the respective Output or the Error. Thanks!

[2020-02-18 06:48] rmothukuru commented on #1555
Also, you can look at [this article](https://medium.com/@brianschardt/how-to-setup-tensorflow-serving-for-production-3cc2abf7efa) for more information about Configuring Different Versions for Serving.

[2020-02-18 07:24] ericmclachlan commented on #1555
Hi @rmothukuru

Thank you for the link but we already have TensorFlow Serving working in production. The problem lies specifically in trying to use the version_labels feature as described in the documentation.

I have just confirmed that sending requests like the following yields predictions:
[code]

However, using a URL like this does not:
[code]

The only difference between these two is that thi

[2020-02-18 08:30] rmothukuru commented on #1555
@ericmclachlan,
Can you please confirm that you have invoked the Tensorflow Model Server along with the Config File, as shown below. Thanks!

`tensorflow_model_server --port=8500 --rest_api_port=8501 --model_config_file=/home/configs/models.conf
`

[2020-02-18 08:39] ericmclachlan commented on #1555
I'm deploying the TensorFlow Server using docker-compose. Below is a simplied version:

[code]

---

This [issue](https://github.com/tensorflow/serving/issues/1413) on GitHub confirms my observation and suggests:

This makes me sad. The limitations of the HTTP implementation should be made more transparent. This investigation has now needlessly cost my company money; as I'm sure it will continue t

[2020-02-18 18:59] gowthamkpr commented on #1550
@geraldstanje Please go through this [tutorial](https://hackernoon.com/how-we-improved-tensorflow-serving-performance-by-over-70-f21b5dad2d98) and where they have set those flags.

[2020-02-18 20:47] spate141 commented on #1459
@leo-XUKANG Can you please provide any details how you did that? I've got the `model.tflite` file and not sure how to convert it to use in tf-serving!

[2020-02-18 21:28] Arnold1 commented on #1555
@ericmclachlan just out of curiosity - how does the  /config/batching_parameters.txt look like?

[2020-02-18 22:15] gowthamkpr commented on #1534
@ericmclachlan @upwindflys Sorry for the above comment. This has been committed in couple of days ago as shown [here](https://github.com/tensorflow/serving/blob/e085cb37b4b5c62154aa063dcbb781b24d5b3fd4/tensorflow_serving/example/mnist_client.py#L44)

Please wait for a few more days until we release an other docker image where the change will be committed.

[2020-02-19 05:32] ericmclachlan commented on #1534
Thank you, @gowthamkpr. I'm glad the team found a solution.

[2020-02-19 05:34] ericmclachlan commented on #1555
Hi @Arnold1

The batching_parameters.txt looks like this:
[code]

Please let me know if anything seems off.

[2020-02-19 17:14] minglotus commented on #1541
With https://github.com/tensorflow/serving/commit/a328ed619b823052bdecfe9f619fbdf3c2a99dbe, this is fixed for the Docker environment [1].

If bazel genfile path can be different in another environment, the suggestion is to find the genfile dir and re-write.

[1] https://www.tensorflow.org/tfx/serving/building_with_docker#building_a_container_from_a_dockerfile

[2020-02-19 19:02] gowthamkpr commented on #1505
Closing this issue as this has been inactive for more than a 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-02-19 19:02] #1505 closed

[2020-02-19 22:54] deaffella commented on #1277
Hi! I want to use tensorflow serving on my Jetson TX2.
I've successfully pulled docker image and tried to create a new container with all these devices mounting. When the container starts, the RAM is filled by more than 90% and I get messages in the container logs about the lack of RAM.
The query execution time fluctuates about 5 seconds, which is a lot for me. When using tensorflow serving on a w

[2020-02-20 01:58] abhinavos7a opened #1556 "Single GPU underutilized with tensorflow serving"
I am currently testing performance of seqToseq models on GPU node using tensorflow serving

OS: Rhel 7
GPU: Nvidia V100
CPU: Intel Xeon

Deployment : docker.ouroath.com:4443/ml/tensorflow-serving-gpu

The plan is to start with the simplest experiment where multiple inference request are served and then moving towards complex experiment setting where client/server side batching is enabled, freezing

[2020-02-20 02:51] Liu-Da commented on #1555
Same problem！

[2020-02-20 04:58] christisg commented on #1529
Thank you for your feedback. I think adding more logging is a good suggestion. Please feel free to file a feature request or contribute.
As far as your comment about the general recommendations in the tensorflow_serving/batching/README.md, it would be great to better understand which part was misleading.
1. The guideline states that allowed_batch_sizes is optional and should be set if for system a

[2020-02-20 08:24] rmothukuru commented on #1556
@abhinavos7a,
Can you please try the solution mentioned in [this link](https://github.com/tensorflow/serving/issues/1440#issuecomment-541578798) and let us know if it improves the performance of GPU. Thanks!

[2020-02-20 09:11] taruntandon88 commented on #1554
Getting the same error on the r.15 branch as well (I'm running docker on a Mac machine).
`ERROR: /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/external/org_tensorflow/tensorflow/core/kernels/BUILD:4321:1: C++ compilation of rule '@org_tensorflow//tensorflow/core/kernels:conv_ops' failed (Exit 4)
gcc: internal compiler error: Killed (program cc1plus)
Please submit a full bug repor

[2020-02-20 17:26] gowthamkpr commented on #1550
What is the use case that you are trying to solve here @pake2070 ?

[2020-02-21 02:29] geraldstanje commented on #1554
i fixed my error. i gave the docker desktop the following settings on osx:
- number of cpus: 8
- memory: 16GB
- swap: 2GB

i used the following compile options:
```--local_resources=8192,2.0,1.0```

@taruntandon88 can you try the same?

[2020-02-21 02:36] christisg commented on #1554
The following commit should fix the issue: https://github.com/tensorflow/serving/commit/b9602b3820dddea0d9fa9423b1ae9eaaf2aec977#diff-1faa52ce24cf571c7aa9182dbd63b266.

[2020-02-21 03:58] geraldstanje commented on #1554
@christisg i used commit from master master branch (b9602b3), but it still was failing - so i guess thats not helping?

[2020-02-21 04:16] abhinavos7a commented on #1556
@rmothukuru thanks a lot for your reply. The GPU utilization does increases with batching which I have already verified and is also mentioned in the link above.

The post is regarding single inference requests to have a basic understanding about tf serving performance.

[2020-02-21 04:39] wangwenchao-job commented on #1473
这个似乎是网络的问题，请问您是如何解决的

[2020-02-21 05:05] wangwenchao-job opened #1557 "tools/run_in_docker.sh bazel build -c opt tensorflow_serving/... fetching error"
`ERROR: error loading package '': Encountered error while reading extension file 'third_party/toolchains/preconfig/generate/archives.bzl': no such package '@org_tensorflow//third_party/toolchains/preconfig/generate': java.io.IOException: Error downloading [https://mirror.bazel.build/github.com/tensorflow/tensorflow/archive/2a2c812ab2330c9aac33335f10679a346436acfb.tar.gz, https://github.com/tensorf

[2020-02-21 09:50] mpmischitelli opened #1558 "ERROR: An error occurred during the fetch of repository 'local_config_git'"
### System information
- Microsoft Windows 10 Enterprise LTSC 1809
- TensorFlow Serving installed from source
- TensorFlow Serving version: current head (b9602b38)
- Using bazelisk with USE_BAZEL_VERSION="1.2.1". Using bazel 1.2.1 directly doesn't solve the issue.

### Describe the problem
Running the following command (taken from Dockerfile.devel) in either powershell or cmd:
```bazel build --col

[2020-02-21 11:12] mpmischitelli commented on #1558
I've managed to solve this particular issue by commenting out these lines from .bazelrc:
[code]
These set the aforementioned `PYTHON_BIN_PATH` env variable which is later used in `git_configure.bzl`. I've then just created a powershell script which sets the variable to my python installation and then invokes the `bazel build` command.

Now I'm facing more issues, but at least this particular one s

[2020-02-21 20:09] gowthamkpr commented on #1557
What OS are you using? What is the version of Tensorflow serving?
Please provide the steps for us to reproduce the issue. Thanks!

[2020-02-22 01:21] wangwenchao-job commented on #1557
Thank you very much for your reply.The following procedure is my compilation step：
1、git clone https://github.com/tensorflow/serving.git
2、cd serving
3、git checkout tags/2.1.0 -b lastest
4、bazel-bin/tensorflow_serving/model_servers/tensorflow_model_server

and my os is ubuntu 18.04

[2020-02-22 19:10] whatdhack opened #1559 "Support for latest AVX512, VNNI , etc in MKL version of Serving"
### Describe the problem the feature is intended to solve
Currently the MKL build is not taking advantage of acceleration  for neural net  that are available in Xeon CPUs - notably VNNI.  VNNI supports faster FP16, BF16, and INT8 inference.

### Describe the solution
Option in Docker.mkl to enable VNNI ?

### Describe alternatives you've considered
Use MKL without VNNI.

### Additional context
N/A

[2020-02-24 07:56] IvyGongoogle opened #1560 "how to convert nhwc saved_model to nchw saved_model?"
Hello, I have a problem. I have trained a tensorflow model using `nhwc` and convert it a saved_model.  Now I want to convert this `nhwc` saved_model to `nchw` saved_model that will be deployed on tf serving. So how to do?

Anyone can give some advises?

[2020-02-24 19:39] gowthamkpr commented on #1560
Please follow this [tutorial](https://hackernoon.com/how-we-improved-tensorflow-serving-performance-by-over-70-f21b5dad2d98) where  `NHWC` saved_model has been served using Tensorflow serving. Thanks!

[2020-02-24 22:50] gowthamkpr commented on #1548
@wangwenchao-job Please confirm so that we can take further action on the issue. Thanks!

[2020-02-25 00:36] gowthamkpr commented on #1558
@mpmischitelli I am glad that the current issue is resolved. Please create a new issue if you are running into any more errors. Thanks!

[2020-02-25 00:36] #1558 closed

[2020-02-25 00:37] gowthamkpr commented on #1557
@wangwenchao-job Please try the commands given in order [here](https://www.tensorflow.org/tfx/serving/setup#clone_the_build_script) and let me know if the issue still persists. Thanks!

[2020-02-25 04:01] Arnold1 commented on #1440
hi, I currently use TensorFlow Serving with cpu only, the p99 latency is around 20ms (no batching).
lets say I switch from cpu to cpu, will it help to increase the throughput and still keep p99 latency at 20ms?

[2020-02-25 06:39] pake2070 commented on #1550
instead of running 2 models on the hardware at the same time, I run 2 models separately hardware, it seems to faster

[2020-02-25 06:40] pake2070 commented on #1550
with the same resource

[2020-02-25 10:47] oleg-yaroshevskiy commented on #1279
That might be related to tensor2tensor transformer implementation, as I'm not sure if they do any masking in the encoder. So imagine batch size 2 input will look like:
[5, 7, 1, **5, 5, 5**]
[4, 7, 9, 8, 6, 1]
and doing self-attention over whole sequence will lead to bad encoder representations.

In huggingface transformers they have optional masking argument.
I believe zero paddings is a common p

[2020-02-25 14:57] Arnold1 commented on #1550
hi @pake2070 how many request per second do you have to 1 pod (1 model per pod) and what is the latency? does it use cpu or gpu?

[2020-02-26 01:48] Arnold1 commented on #1290
@gr8Adakron
I have a grpc client with 100 connections and 2 threads per connection to Tensorflow serving.
I currently run TensorFlow Serving with cpu only (with 6 cores), the p99 latency is around 20ms (no batching).
lets say I switch from cpu to cpu, will it help to increase the throughput and still keep p99 latency at 20ms?

[2020-02-26 06:15] pake2070 commented on #1550
I deployed two models ( per pod ), and I used gRPC instead of RESTfulAPI, for detection and then classification, total about 0.3~0.4 per image

[2020-02-26 06:39] taruntandon88 commented on #1554
@geraldstanje , I was able to proceed by using
`--local_resources=8192,2.0,1.0`
Thanks for the help.

I got the following issue in the later stage. I'm adding more space to the docker disk image to try getting past this error.
`Error processing tar file(exit status 1): write /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/execroot/tf_serving/bazel-out/host/bin/external/org_tensorfl

[2020-02-26 18:42] gowthamkpr commented on #1534
Closing this issue as it has been resolved.

[2020-02-26 18:42] #1534 closed

[2020-02-26 18:54] gowthamkpr commented on #1547
Correct me if I am wrong but as mentioned in this [comment](https://github.com/tensorflow/serving/issues/1541#issuecomment-588335116) this should be fixed now. Please try it and let me know. Thanks!

[2020-02-26 19:10] minglotus-6 commented on #1545
It should work by now with this commit (https://github.com/tensorflow/serving/commit/b9602b3820dddea0d9fa9423b1ae9eaaf2aec977)

[2020-02-26 19:10] #1545 closed

[2020-02-26 19:16] shizukanaskytree commented on #1547
@gowthamkpr I think the comment solves the problem.

[2020-02-27 00:26] Arnold1 commented on #1550
@pake2070 does it run on gpu? 0.3 seconds?

[2020-02-27 00:29] Arnold1 commented on #462
I try to extract TensorFlow Serving metrics.
how can I see the the number of requests, requests per second, the time tfs needs to serve a request?

[code]

[2020-02-27 01:14] alpsholic commented on #1490
@broken How can I update the model to use the tf.Text SentencepieceTokenizer? Even if I do, I may need TF 2.0 for serving? Since I dont have tf 2.0 jar for Java, I am afraid I cant pursue this approach. What works for me is if I can get _sentencepiece_processor_ops.so file, I can load onto tf in Java and extract the embeddings. Please throw some light on how can I get this done. My another questio

[2020-02-27 16:19] christisg commented on #1551
Thanks for filing this feature request. If there is enough interest from the community, we can definitely prioritize this. Would like to ask folks to +1 and describe the use-cases.

[2020-02-27 16:58] #1548 closed

[2020-02-27 20:04] gowthamkpr commented on #1553
Have you figured out the error @psyyip ?

[2020-02-27 23:22] #1541 closed

[2020-02-28 00:07] broken commented on #1490
This would require updating the source and including it in your model directly, rather than using hub.

Do you say this because tf.Text 2.x is included as a dependency in model server? Actually, the code for tf Text's 1.x & 2.x branches are currently the same. If it's recompiling (like what is happening in serving), it shouldn't matter what version of TF your compiling with it.

Are you talking ab

[2020-02-28 00:20] alpsholic commented on #1490
Thanks a lot for your reply. I will go through your reply throughly..but a quick reply on your following comment:
I dont have issues using the model in python. I install tf_sentencepiece as you said, it works without any issue. I read that guse hub model in python and save it as normal tf model. Then I load it in Java. That where i get this missing op exception.

"Did you try downloading it from h

[2020-02-28 00:33] broken commented on #1490
I see. Unfortunately, I haven't loaded a model in Java, so any help I can provide there is limited. However, when you installed tf_sentencepiece, it should have installed the .so file in the process.

To find it, bring up a python shell and find where it is installed:
[code]
Then you should be able to find it in that directory:
`find <path_from_above> -name '*.so'`

[2020-02-28 01:32] psyyip commented on #1553
No. I tried all solutions I found and those proposed by others. These solution solves one problem but then creates another problem, going back to one of the scenario I faced above.  No further proposals right now. I have to move on to learn and practice, so I set aside this issue now.

Any solution to me?

[2020-02-28 04:09] christisg commented on #1542
Thanks for filing this feature request. Provided there is enough interest from the community to take ownership of this in terms of maintenance etc., we're definitely open to considering it.

[2020-02-28 09:37] IvyGongoogle commented on #1560
@gowthamkpr sorry, I can not get useful info about how to convert nhwc saved_model to nchw saved_model from above two tutorial you give.

[2020-02-28 18:33] gowthamkpr commented on #1560
I am saying that you can directly use NHWC saved_model to deploy using Tensorflow serving. I am trying to understand whats the reason behind converting the model from  nhwc saved_model to nchw saved_model?

[2020-02-28 19:22] Arnold1 opened #1562 "tf_serving_warmup_requests with model-warmup-options gives error"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 4.9
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 2.1.0

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in
TensorFlow

[2020-02-28 19:37] Arnold1 commented on #1562
@christisg any idea?

[2020-02-29 01:33] alpsholic commented on #1490
@broken I cant express enough how helpful your last suggest was. I was blocked all along and this just saved my day. Thank you so much. I use 1.14.0 so and load it in Java before loading the converted guse model. So all good. Btw, I am assuming this .so file is OS specific. If I deploy my code on centos, i would need different .SO. Right now, I am on Mac. Why I am saying this is- I loaded one so f

[2020-02-29 02:49] magick93 commented on #1542
I'll help with maintenance and ownership.

[2020-02-29 03:23] Arnold1 commented on #1520
@misterpeddy can I run TensorFlow Serving on the following gpu?
[code]

[2020-02-29 08:10] magick93 opened #1563 "Linking of rule '@flatbuffers//:flatc' failed (Exit 1)"
## Bug Report

Related to https://github.com/tensorflow/serving/issues/1542 (adding support for centos 7)

### System information
- **OS Platform and Distribution**: Centos 7 (from docker image centos/s2i-base-centos7)
- **TensorFlow Serving installed from (source or binary)**: attempting to compile from source
- **TensorFlow Serving version**: compiling from master branch, head

### Describe the

[2020-03-02 08:12] Windfarer commented on #1557
Set a stable proxy for your docker will resolve this problem, if you are in China mainland.  https://docs.docker.com/network/proxy/

[2020-03-02 09:06] ciel-zhang commented on #994
how to export saved_model in tensorflow2 with signature_def_map?

[2020-03-02 09:08] ciel-zhang commented on #994
@misterpeddy  can i reopen this issue?

[2020-03-02 16:40] misterpeddy commented on #1279
Reopening and marking as a feature request. If anyone wants to contribute to the project to fix this please feel free to!

[2020-03-02 18:46] gowthamkpr commented on #1562
@Arnold1 Please give me the exact steps you followed to reproduce the error. Thanks!

[2020-03-02 18:48] gowthamkpr commented on #1557
I am closing this issue as this issue is mainly related to your network not Tensorflow serving. Please add additional comments and we can open this issue again. Thanks!

[2020-03-02 18:48] #1557 closed

[2020-03-02 20:19] broken commented on #1490
@alpsholic Great! I'm happy that worked for you. And, you are correct. The .so file is compiled specifically for each OS platform (macos, win, linux). Pip install knows the platform your on, so it pulls the correct package from pypi and hides this from you.

[2020-03-03 10:49] CoinCheung commented on #1382
How to set this in c++ ?

[2020-03-03 14:41] michaelarfreed commented on #724
Is it possible add this information (the limitations of tf.saved_model API) to the documentation? I understand why this limitation exists, but I see no mention in the tf.saved_model documentation that the models cannot save state. If I am overlooking something, please let me know, but I spent a few weeks looking for documentation like this post and the SO link in the initial post, and it would've

[2020-03-03 21:47] patha454 opened #1564 "Tensorflow Serving runs stock Xception models very slowly."
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- Ubuntu 18.4 LTS. (x64 server and x64 laptop)
- Nvidia Linux for Tegra (Based on Ubuntu 18.4) (ARMv8 Nvidia Jetson Xavier)

- **TensorFlow Serving installed from (source or binary)**:
-  Source (on Jetson Xaver)
 - Binary (on x64 server and x64 laptop).

- **TensorFlow Serving version**:
- 2.0 GPU

[2020-03-04 02:55] Arnold1 commented on #1564
@patha454 hi how does your batching_parameters_file look like?

[2020-03-04 03:21] patha454 commented on #1564
Thanks Arnold.

- The contents of my `batching_parameters` is currently:
[code]

I've experimented with other values, although not very rigorously. In any case other models with similar complexity, such as a custom full YOLO, do not suffer this bug.

- We're currently using GRPC.

- Typical rates are between 10 and 0.3 requests per second.. We currently send requests synchronously from a single de

[2020-03-04 09:54] lxl910915 commented on #1349
@ginger0106 Have you find the way to get the transmission time? Thanks.

[2020-03-04 18:59] gowthamkpr commented on #1527
@BannockYJQ Please reply to the above comment so that we can discuss further. Thanks!

[2020-03-04 19:00] gowthamkpr commented on #1529
@raimondasl Please reply to above comment so we can discuss further. Thanks!

[2020-03-04 19:02] gowthamkpr commented on #1530
@geraldstanje Can you please reply to the above comment so that we can take the discussion further? Thanks!

[2020-03-04 19:05] gowthamkpr commented on #1547
Thanks @shizukanaskytree for the response. I am gonna close this issue now, if you have any more concerns please add additional comments and we can open the issue again. Thanks!

[2020-03-05 00:31] namjals commented on #1447
This problem is reproduced. The code is shown below. I need help.
# docker run script
docker run -t --rm -d \
-p 8501:8501 \
-p 8500:8500 \
-v "{model_path}:/models/" --name serving tensorflow/serving --model_config_file={config_path} --model_config_file_poll_wait_seconds=10

# config file
model_config_list: {
   config: {
    name:  "model",
    base_path:  "{not exsist path}",
    model_platform

[2020-03-05 03:09] 17patelumang commented on #1490
@alpsholic  can you please share you Java code for inference ?

[2020-03-05 03:13] 17patelumang commented on #1490
@stefanondisponibile  can you please share the code where you were successfully able to run I Wordpiece tokenization in different model for TF serving ?

[2020-03-05 04:43] geraldstanje commented on #1530
@gowthamkpr do you only need the model?

[2020-03-05 05:49] lilao commented on #1556
Thank you for reporting the problem. Can you take a look at [the performance guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/performance.md), and if that does not address your problem, [profile your inference requests with Tensorboard](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/tensorboard.md)?

[2020-03-05 06:13] namjals opened #1565 "gRPC API: HandleReloadConfigRequest() return Deadline Exceeded 2"
Is the same as the following issue, but since it is closed, registered again.
https://github.com/tensorflow/serving/issues/1447

This problem is reproduced. The code is shown below. I need help.
# docker run script
docker run -t --rm -d \
-p 8501:8501 \
-p 8500:8500 \
-v "{model_path}:/models/" --name serving tensorflow/serving --model_config_file={config_path} --model_config_file_poll_wait_second

[2020-03-05 07:27] upwindflys commented on #1487
I met the same problem,Is there any compatible CUDA CUDNN version for tensorflow serving?

[2020-03-05 13:07] namjals commented on #1565
I want to use tensorflow serving as a real-time server.
But when I incorrectly edit the config file, the server gets stuck. Then I have no choice but to restart the server.

I have two questions.
1. Ask if there is a way to restore the server to poll the config file again.
2. In addition, if the server is stuck, there is a way to check the server's status with restapi or script.

[2020-03-05 22:49] gowthamkpr commented on #1565
Can you please answer this [question](https://github.com/tensorflow/serving/issues/1447#issuecomment-540237563) in detail @namjals . Thanks!

[2020-03-05 22:56] gowthamkpr commented on #1564
Thank you for reporting the problem. Can you take a look at the [performance guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/performance.md), and if that does not address your problem, [profile your inference requests with Tensorboard](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/tensorboard.md)?

[2020-03-05 23:19] raimondasl commented on #1529
@christisg and @gowthamkpr - I am sorry for delayed reply. I was busy with projects as well as running some more experiments with TF Serving and batching.

I have to check with my organization in terms of contributing the logging code. I'll get back when/if I know.

I have encountered an issue that likely has contributed to my previous results with TF Serving. I am running my experiments on Azure

[2020-03-06 00:01] namjals commented on #1565
1) What you're doing
Deploy the model in real time. The config file changes in real time.

2) What the observed outcome is and
When the server polls the config file every 10 seconds and sets model_config_list ['config'] ['base_path'] in the config file to the wrong path, the service outputs an error log.
At this point, the serving no longer polls the config file.

3) What the expected outcome is?

[2020-03-06 00:25] gowthamkpr commented on #1565
@misterpeddy Can you PTAL? Thanks!

[2020-03-06 03:56] patha454 commented on #1564
Thanks @gowthamkpr .

I can confirm the performance guide could not address my issues.

I've created Tensorboard Traces using the x64 laptop (no GPU, `tensorflow/serving:latest`), and the x64 server (RTX2080, `tensorflow/serving:latest-gpu`), so both are now TF Serving 2.1 installs.

My profile traces are hosted on Github Gists:
- [x64 laptop trace](https://gist.github.com/patha454/2121fadcd30cdbb

[2020-03-06 07:19] ericmclachlan commented on #1555
@gowthamkpr: It would probably be helpful if the [documentation](https://www.tensorflow.org/tfx/serving/serving_config) describing labels mentioned this limitation upfront.

It's less an issue of "This doesn't work" as much an issue of "I've just reimplemented REST and now I've discovered that this documented feature doesn't work unless I _don't_ use REST."

[2020-03-06 22:40] raimondasl commented on #1529
I ran another experiment with 16 clients accessing single TF serving server on 16 core CPU machine. Setting num_batch_threads to 4 outperformed not setting num_batch_threads at all. Unfortunately, the result is opposite for 8 clients. So at least in my use case there is no single best batching configuration across different number of clients.

[2020-03-07 00:25] misterpeddy commented on #1565
Yes this is not ideal from a UX standpoint but it's somewhat difficult to fix from a technical perspective, which I'll try to explain below.

/cc @christisg and @netfs to keep me honest.

When the server starts up, it'll read the config file and try to serve what has been asked. It does not finish the process of construction of the server (ServerCore, an internal interface, to be exact) until it's

[2020-03-07 00:25] #1565 closed

[2020-03-07 00:49] Arnold1 commented on #1564
@patha454 @gowthamkpr I also want to profile it in my environment, is there a way to profile rest port (8501) with TensorBoard?

[2020-03-07 02:26] patha454 commented on #1564
As far as I understand Tensorboard (which is "not much"), Tensorboard profiles all requests. The GRPC API is just used by Tensorboard to request diagnostic data undocumented(?) APIs.

From that I'd assume that you can just expose both the GRPC port (for Tensorboard's diagnostics) and the REST port (for actually making queries) with `docker run -p 8500:8500 -p 8501:8501 ...`.

As for the TB issue,

[2020-03-07 02:27] misterpeddy commented on #1555
@ericmclachlan thanks for pointing out the lack of documentation on this - I've added a note [1] clarifying that version labels don't work for REST.

@christisg how do we feel about fixing this? It's not a lot of work and I'd be happy to take it. We'd have 2 options:

1) Keep the current path [2] try to parse the version as an int, if failed, use it as a version_label.
2) Add a new path (model/<>/

[2020-03-07 06:48] christisg commented on #1555
Thanks @misterpeddy!

How about Option 3) keep the current path and use explicit prefix for labels, i.e models/<model_name>/versions/label=<version_label> ?
The explicit prefix makes it less error prone, and it also allows assigning numerical labels like "1" and "2" if one prefers to.

[2020-03-07 07:07] namjals commented on #1565
@misterpeddy
I think my problem is well communicated. But there is one strange part.
As you say, when I start the server with a valid config, there is no problem. After modifying the existing settings to invalid ones, I confirmed that the server did not stop polling the config file.
However, after adding the wrong setting to the existing setting, it stops polling.
[code]
Probably, the modified con

[2020-03-07 10:25] ericmclachlan commented on #1555
@misterpeddy, @christisg: I don't want to dilute the conversation too much; I just wanted to say thanks for seriously considering the suggestion. And thanks for all the work you're are doing for the community.

[2020-03-07 10:32] stefanondisponibile commented on #1490
hey @17patelumang I've never tried running Wordpiece tokenization on an exported graph myself, but I can ensure models like the UniversalSentenceEncoder are currently running gracefully on `tensorflow/serving:nightly`.

[2020-03-07 12:57] taozhijiang commented on #1473
you can download the dependence source files manually, put it at somewhere on the hosts, and add the locations to the *.bzl start like file:///root/mirrors/xxx.tar.gz

[2020-03-07 13:15] taozhijiang opened #1567 "build tf.serving and pass some opt to tensorflow"
I need some help for building tf.serving at our machine.

* how to pass additional opt and conf flags to tensorflow?
I noticed tensorflow building supports many more configs, such as  --config=noaws --config=nogcp --config=nohdfs, but I can not pass these when build with tf.serving target. So how can I add additional configs and opts when building tensorflow part.
Additional, tensorflow ./configur

[2020-03-07 17:24] mohsenrezaeithe commented on #1542
I started a PR to achieve this (#1566). @magick93 we can iterate on this to get the build working on TF's `master`.

@christisg for the sake of automation, I need help setting up checks and release pipelines so we'd get Docker images automatically.

[2020-03-08 03:22] omartin2010 commented on #1277
Did you figure this out, @deaffella ? I'm planning to do that if I can, to make it simpler to serve my a model on my tx2.

[2020-03-08 03:26] taozhijiang commented on #1567
I comment out some components for tensorflow original code, tar it and replace the new commit-id, sha256 in serving repos, it works now.
The tensorflow configure flags take affect by ENV, and these can be set in through --action_env to override their default value.

It works great now.

[2020-03-08 03:26] #1567 closed

[2020-03-08 21:01] patha454 commented on #1564
Update:

I've profiled a known good model with a similar layer and variable count - a custom trained full YOLO - on the x64 laptop. The trace doesn't appear that different to the Xception trace on the laptop: Single core in use, ~150ms to compute.

The [x64 laptop YOLO trace](https://gist.github.com/patha454/189c4a224a6605714faf9d9c9e2f2e92) is hosted on GitHub Gists.

This model does, however, ru

[2020-03-09 08:58] mrchor opened #1568 "The score of the request in the TF serving service is different from the score of the Java call saved_model"
I trained a deep FM model with estimator. But now there is the problem that the scores of different environments are inconsistent.
1、Java calls the saved model to get the correct score.
![image](https://user-images.githubusercontent.com/10007145/76197062-65895600-6226-11ea-85db-241020bf546f.png)
![image](https://user-images.githubusercontent.com/10007145/76197175-9c5f6c00-6226-11ea-841a-6da1ab92e6

[2020-03-09 08:59] mrchor commented on #1568
Excuse me, what causes TF serving to score incorrectly?

[2020-03-09 11:42] wangwenchao-job commented on #1557
Yes, it's really my network problem. It has been compiled through many attempts. Thank you again for your advice

[2020-03-09 11:43] wangwenchao-job commented on #1557
Thank you very much for your reply. I'll try it

[2020-03-09 11:46] wangwenchao-job commented on #1548
Sorry for my late reply. I know that the version here refers to the version in the image. The problem has been solved. Thank you very much.

[2020-03-09 12:03] wangwenchao-job opened #1569 "How to pass new parameters to tensorflow_model_server through container"
Now I can compile the source code successfully, and add some parameters to the source code. And the image is successfully packaged through Dockfile and Dockfile.devel. **Then my question is how to pass parameters to the tensorflow_model_server**
For example:
I add the parameter --value1 = sth to the main.cc file
How should I pass the value of input value1 to the program through the instruction：
`d

[2020-03-09 14:10] michalbrys commented on #1494
Hey, another issue with the build on `1.2.1` version is:
[code]
The version is provided here:
https://github.com/tensorflow/serving/blob/0b83b7e0a442d641a84d24afb278e48c8f1c24d5/tensorflow_serving/tools/docker/Dockerfile.devel#L67

Manually update of the version to 2.2.0 solved that error.

[2020-03-09 14:52] sngjuk commented on #1250
@linyia01 change directory structure, and designate model directory as same (my_models/model)

my_models/model [assets,saved_model.pb,variables] << change it to add version number
my_models/model/<b>1 [assets,saved_model.pb,variables] </b>

<a href=https://stackoverflow.com/questions/45544928/tensorflow-serving-no-versions-of-servable-model-found-under-base-path> stack overflow </a>

[2020-03-09 15:27] gowthamkpr commented on #1553
What other solutions did you try and what issues are you facing @psyyip ?

[2020-03-09 15:39] gowthamkpr commented on #1550
@pake2070 Tensorflow Serving optimizes and uses the resources that is available to it. I would recommend using GPU to serve multiple models at the same time. Please go through the following [tutorial](https://medium.com/@stephen.odaibo/tensorflow-serving-of-multiple-ml-models-simultaneously-to-a-rest-api-python-client-cd60ac6f71aa).

[2020-03-09 15:45] gowthamkpr commented on #1568
@mrchor TF serving returns the score that your model returns as serving just queries your model to get the predictions.

Can you please share the exact details so that we can reproduce the issue. Thanks!

[2020-03-09 15:59] gowthamkpr commented on #1569
@wangwenchao-job What do you mean by adding parameters? Can you please be more specific about what use case are you trying to solve here. Thanks!

[2020-03-09 16:08] gowthamkpr commented on #1560
@IvyGongoogle Can you please respond to the above question. Thanks!

[2020-03-09 17:31] misterpeddy commented on #994
What exactly are you trying to specify? Does the [documentation](https://www.tensorflow.org/guide/saved_model#identifying_a_signature_to_export) (provide the `signatures` argument to `saved_model.save()`) not help?

[2020-03-10 04:52] patha454 commented on #1569
@wangwenchao-job I infer you're trying to pass command line arguments to Tensorflow Serving, while starting Tensorflow Serving in Docker.

In this case, the first half of the command `docker run ...` are arguments for Docker: `--rm`, `--p`, `-v`, `-mount` are all Docker's command line arguments. Everything after the image tag `-t tensorflow/serving` is passed *through* Docker into Tensorflow Servi

[2020-03-10 06:00] mrchor commented on #1568
I'm sorry, but there's something wrong with my code. I've corrected it now.
The previous code was:
![image](https://user-images.githubusercontent.com/10007145/76284023-164f2e00-62d7-11ea-9507-829b028f71cd.png)

The current code is：
![image](https://user-images.githubusercontent.com/10007145/76283995-059eb800-62d7-11ea-9a1f-900dfead63e0.png)

The reason is that the input data type should be long, w

[2020-03-10 06:00] #1568 closed

[2020-03-10 14:46] psyyip commented on #1553
My codes are based on a Coursera course. What I did is, I opened a Jupyter Notebook I downloaded from the course and ran it using my GCP project & bucket. Everything is unchanged. The (1st) error is the same as  mine. Therefore, I think the error is not due to the codes themselves but something else, like dependency. I can only do this so far.

This is the notebook I mentioned:
[https://github.com

[2020-03-10 22:41] Arnold1 commented on #1440
@blakenguyen97 are you still available?

[2020-03-11 06:56] rmothukuru commented on #1562
@Arnold1,
Can you please respond to @gowthamkpr's comment above. Thanks!

[2020-03-11 10:45] Niels-Osnabrugge opened #1570 "How to use base64 image as input"
### System information
- Linux Ubuntu 16.04
-Serving installed from binary
-Tensorflow Serving 2.10
-TensorFlow 2 keras model

### Describe the problem
I have been unable to find a source that describes a way to send an (base64) image over a POST request. I have tried to edit the signature so it accepts base64 images as input but with no success. Is it possible to change the model so that it accep

[2020-03-11 13:18] wangwenchao-job commented on #1569
Yes, thank you very much for your reply，I tried it, here are my instructions：
`sudo docker run -t --rm -p 9999:8501 \

But it gave an error: no instructions found --my_paramter=some_value

[2020-03-11 13:21] wangwenchao-job commented on #1569
That is, I added some specific control parameters in main.cc, and then I want to pass the parameters in by way of docker to create a container.Please see patha454's answer, that is my question. Thanks a lot!

[2020-03-11 13:23] wangwenchao-job commented on #1569
That is, I added some specific control parameters in main.cc, and then I want to pass the parameters in by way of docker to create a container.
Please see patha454's answer, that is my question. Thanks a lot!

[2020-03-11 19:19] patha454 commented on #1569
This is a shell error, and not Tensorflow Serving. I refer you to [the sh man page](https://linux.die.net/man/1/sh) in the first instance. `&` only starts a background process when placed after the entire command. `&`, placed anywhere else, acts by starting the left hand side as a background command and the right hand side as second, blocking, command.

I suggest you move the `&` to the end of you

[2020-03-11 21:36] patha454 commented on #1564
Update:

I've attempted to write a minimal, isolated script to reproduce the issue, and failed. The [script which *fails to reproduce* the issue](https://gist.github.com/patha454/90a2d479cc502fa7552ebe2ed04db618) is on Github Gists.

I've noticed the first call to TF and TFS in my isolated script has the expected very high latency for the first request when the model has to be initialized, then th

[2020-03-12 01:58] gowthamkpr commented on #1570
@Niels-Osnabrugge Please take a look at this canonical [example](https://github.com/tensorflow/serving/blob/r2.1/tensorflow_serving/example/resnet_client.py) and use on the client side to perform inference.

[2020-03-12 03:51] blakenguyen97 commented on #1440
Sorry for being late. I didn't notice the notifications. This is my my batching.config files:
---
max_batch_size { value: 1000 }
batch_timeout_micros { value: 100000 }
max_enqueued_batches { value: 1000000 }
num_batch_threads { value: 48 }
---

If you need any helps just comment below. Regards

[2020-03-12 03:52] blakenguyen97 commented on #1440
Sorry for being late. I didn't notice the notifications. This is my batching.config files:

max_batch_size { value: 1000 }
batch_timeout_micros { value: 100000 }
max_enqueued_batches { value: 1000000 }
num_batch_threads { value: 48 }

If you need any help just comment below. Regards

[2020-03-12 06:28] BannockYJQ opened #1571 "Predict is error"
When i predict data by tensorflow serving, a part of data is ok, there are some result.but other data are not ok, the error is Incompatible shapes:[43, 8] vs [58, 8].
![image]( #https://user-images.githubusercontent.com/30150009/76493543-d40c2500-646d-11ea-9c08-e3770460da2a.png)
It is important that the error is not found on tf serving test, but online tf serving is error . and some data is ok, so

[2020-03-12 06:43] BannockYJQ commented on #1527
emmm, my model is in LAN，i need test in my computer,. It does not affect prediction, because you only define the input shape is ok. but the error is also exists

[2020-03-12 06:47] BannockYJQ commented on #1527
emmm, you say that "Modelserver does not do any input shape verification", but when i coding,the Input（shape=(1，), name='Input1'） or Input（shape=（3，）， name='Input3'）,
i coding it , so the shape is defined, you predict that it shape must be consistent

[2020-03-12 13:36] liutao053877 opened #1572 "How can I remove a model by the tensorflow serving grpc or api ?"
In my program there are lot of models I need to load and remove automatically at the runtime.
So when i remove a model i want to release the memory the model used before.
I remove the model by first remove the model from the config.ini and the reload the config.ini(the grpc reload config function),we can see the model version is END(by curl -XGET http://ip:port/v1/models/{modelname}),but the memor

[2020-03-12 16:53] gowthamkpr commented on #1571
@BannockYJQ I think that this error is caused due to tensorflow(model) itself as serving just queries the model and gets the predictions. Can you please add all the steps you followed and a minimal example for us to reproduce the error. Thanks!

[2020-03-12 17:36] Arnold1 commented on #1440
@blakenguyen97 thank u

can you provide infos to:
- how you start the tf serving docker image? (gpu memory fraction, etc)
- which TensorFlow Serving image you use?
- ubuntu version
- cuda version
- what gpu card you use

also, is there a "hello world" I can run for the first time I use tf serving on the gpu? are you hanging out on slack  or irc by chance?

[2020-03-12 20:45] Arnold1 commented on #1562
@rmothukuru we can close this ticket. I used the wrong file to pre-heat the model.

[2020-03-12 23:27] liutao053877 commented on #1572
@gowthamkpr I just find the demo add model by grpc, but i do not know how to delete it by grpc

[2020-03-12 23:29] liutao053877 commented on #1572
@gowthamkpr  I remove the model by first remove the model from the config.ini and the reload the config.ini. I am not sure whether it is the right way to delete model

[2020-03-13 03:49] 17patelumang commented on #1490
@alpsholic  any updates ?
@stefanondisponibile  thank you for reply , also what you mean by "running Wordpiece tokenization on an exported graph" , does it mean that you never added Wordpiece tokenization op into metagraph  ?

[2020-03-13 04:11] alpsholic commented on #1490
@17patelumang sorry for the delay. My code is scattered across. I will past the imp snippets here. I think you will get rough idea. I am sorry for jumbled code.

SavedModelBundle bundle = SavedModelBundle.load(model path, "serve").get();

//convert list of sentences into a single tensor

   byte[][] byteTensor = new byte[inputStringList.size()][maxLen];

       for (int i=0; i<inputStringList.size

[2020-03-13 06:14] yuxuan2015 opened #1573 "gcc failed: error executing command"
docker build --pull -t $USRE/tensorflow-serving-devel \
  -f tensorflow_serving/tools/docker/Dockerfile.devel .

ERROR: /tensorflow-serving/tensorflow_serving/batching/BUILD:49:1: C++ compilation of rule '//tensorflow_serving/batching:batching_session' failed (Exit 1): gcc failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/execroot/tf_serving && \

[2020-03-13 07:30] rmothukuru commented on #1562
Closing the issue as it has been resolved.

[2020-03-13 07:30] #1562 closed

[2020-03-13 08:54] Niels-Osnabrugge commented on #1570
Hey @gowthamkpr ,
Thankyou for helping. I looked at the example and downloaded a resnet model which accepts base64 jpgs as input. I was sucessfully able to serve it on tensorflow serving and make a POST request.

Although this might not be a tensorflow serving but a tensorflow question. I cant seem to find a way to export/save my (keras) model with a signature so that it accepts JPG's as input. Do

[2020-03-13 12:56] liutao053877 commented on #1572
??

[2020-03-13 17:50] gowthamkpr commented on #1570
Signature just contains input dimensions and output dimensions that the model would accept during predict. And you are gonna feed a tensor lets say with dimensions `( None, 256,256,3)`, which means you have to convert the jpeg image into a tensor in the client file during inference.

So, the image should be preprocessed in the client file to convert it into a tensor or you can also convert the ima

[2020-03-13 17:57] gowthamkpr commented on #1573
Can I know `on what platform you are trying to build this?
Also can I get exact steps to reproduce this issue? Thanks!

[2020-03-13 22:05] gowthamkpr commented on #1572
@liutao053877 Please take a look at [Reloading Model Server Configuration](https://www.tensorflow.org/tfx/serving/serving_config#reloading_model_server_configuration) especially `HandleReloadConfigRequest`

As mentioned [here](https://github.com/tensorflow/serving/blob/3d5b44a95a2c458affeb284f1141a8612427dd8c/tensorflow_serving/apis/model_service.proto#L19) it reloads the set of served models. The

[2020-03-13 22:24] gowthamkpr commented on #1569
Yes @wangwenchao-job please do as mentioned in the above comment and the issue here as mentioned by @patha454  is not related to serving its related to passing in command line arguments to the docker itself.

[2020-03-14 01:25] liutao053877 commented on #1572
@gowthamkpr I know this ,I find the model is omitted from the new config do not release the memory .I just find a way to solve it is to open two tfs process, one is used to restart and release delete models and one is used for serving, once the restart process is OK we will switch it for serving and close the other process, the two process will switch at the run time .This way is not very good bec

[2020-03-14 03:10] 17patelumang commented on #1490
@alpsholic thank you

[2020-03-14 05:30] yuxuan2015 commented on #1573
System：ubuntu16.04  64
Docker version：18.09.7
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609

Execute the following command：
docker build --pull -t $USRE/tensorflow-serving-devel -f tensorflow_serving/tools/docker/Dockerfile.devel .

[2020-03-14 16:16] FelixHo opened #1574 "Predict API does not work with VarLenFeature when batch inputs from different size"
## Bug Report
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS
- **TensorFlow Serving installed from (source or binary)**:
- **TensorFlow Serving version**: 2.1.0

### Describe the problem

The Predict API is not compatible with batch variable length inputs. Everything is ok when the input is just one instance, or multiple instances with the same length o

[2020-03-15 16:05] xixiddd commented on #1462
@rohan100jain Could we expect that SavedModel exported by TF 1.x can be serving normally using TF-Serving 2.x

[2020-03-15 21:09] cep21 opened #1575 "Structured logging support"
### Describe the problem the feature is intended to solve

We monitor all of our production systems with a unified logging framework.  This framework assumes structured, \n delimited log messages in JSON format.  We use DataDog, but similar logging systems for AWS and GCP also assume and work best with \n delimited JSON logs.  This allows us to easily correlate issues between requests across our m

[2020-03-16 04:34] blakenguyen97 commented on #1440
Hi there,

It depends on how much memory you need, for me I set it to 0.9
--per_process_gpu_memory_fraction=0.9

I built my image based on this official image "nvcr.io/nvidia/tensorflow:19.02-py3" , you can directly use this image to serve your model. It's totally fine. I built my own image because I need to install more packages.

You don't have to worry about the CUDA, it is included in the imag

[2020-03-16 06:38] rmothukuru commented on #1574
@FelixHo ,
When tried to reproduce your issue, I got the error, `TypeError: 'G' has type str, but expected one of: bytes` in the line, `tfrecord_writer.write(serialize_example(val, label))`. Can you please help us to reproduce your error. Thanks!

[2020-03-16 06:59] FelixHo commented on #1574
thank you for your reply , if running on python 3+ you should change this code
[code]

to

[code]

[2020-03-16 09:20] yuxuan2015 commented on #1573
Modified the parameters of TF_SERVING_BUILD_OPTIONS
change
ARG TF_SERVING_BUILD_OPTIONS="--config=nativeopt"
to
ARG TF_SERVING_BUILD_OPTIONS="--copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-msse4.1 --copt=-msse4.2 --local_resources=16384,2.0,1.0"，I successed.

[2020-03-16 09:20] #1573 closed

[2020-03-16 12:18] PayneJoe commented on #1215
Can you provide your config file? Did you use the default version policy?

[2020-03-16 12:26] spidyDev commented on #1215
Did not create a config file.

[2020-03-16 18:23] gowthamkpr commented on #1572
@liutao053877 Can you please share a dummy example for us to reproduce the issue. Thanks!

[2020-03-17 01:40] gowthamkpr commented on #1574
@FelixHo This is related to tensorflow itself. Please create an issue in tensorflow/tensorflow repo and we can discuss it there. Thanks!

[2020-03-17 02:14] FelixHo commented on #1574
@gowthamkpr
I've put it there https://github.com/tensorflow/tensorflow/issues/37652

[2020-03-17 05:44] rmothukuru commented on #1530
@geraldstanje,
Can you please upload the Model and Script as per your comment above. Thanks!

[2020-03-17 12:14] t-rad opened #1576 "--rest_api_num_threads=1 freezes REST API"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 9 (stretch)
- **TensorFlow Serving installed from (source or binary)**: binary
- **TensorFlow Serving version**: 2.1.0

### Describe the problem
When the TF serving is run with the parameter `--rest_api_num_threads=1` it stops responding to REST queries at `rest_api_port` while it

[2020-03-18 16:56] gowthamkpr commented on #1576
@t-rad Can you please provide us a series of steps to reproduce the issue. Thanks!

[2020-03-18 16:58] gowthamkpr commented on #1574
Thanks @FelixHo . I am gonna close this issue here. Lets track it there. Thanks!

[2020-03-18 16:58] #1574 closed

[2020-03-18 17:00] gowthamkpr commented on #1569
@wangwenchao-job Did you resolve the issue?

[2020-03-18 17:02] gowthamkpr commented on #1570
@Niels-Osnabrugge I am gonna close this issue as it has been resolved. Please add additional comments for us to reopen this issue again. Thanks!

[2020-03-18 17:02] #1570 closed

[2020-03-18 17:03] gowthamkpr commented on #1571
@BannockYJQ Can you please respond to the above comment so that we can take the discussion further.

[2020-03-18 17:06] gowthamkpr commented on #1560
Closing this issue at it has been inactive for close to three weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-03-18 17:06] #1560 closed

[2020-03-18 17:17] gowthamkpr commented on #1556
@abhinavos7a Can you please respond to the above comment so that we can take the discussion further. Thanks!

[2020-03-18 19:24] Arnold1 opened #1577 "error adding additional feature"
Hi,

-----------------------
## Feature Request
If this is a feature request, please fill out the following form in full:

### Describe the problem the feature is intended to solve
A clear and concise description of what the problem is. Ex. I'm always
frustrated when [...]

my tfs model uses 10 features, but my grpc request sends 10 features + 1 additional feature (dummy) --> tf serving fails with

[2020-03-19 04:58] IvyGongoogle commented on #1560
@gowthamkpr Sorry for replying so late. Because I want to deploy my saved_model onto Nvidia GPU. As we all know the CNN-based model can have faster inference speed when using Nvidia GPU that can better support `nchw` than `nhwc` tensor. So I want to convert the model from `nhwc` saved_model to `nchw` saved_model to get faster inference speed.

Thanks.

[2020-03-19 06:41] BannockYJQ commented on #1571
@gowthamkpr emmm,sry,i work every day so i forget it. The problem has been solved.
THX, bro. the secret is Thread safety issues，not Tensorflow serving, it cause the shape is error

[2020-03-19 09:15] rmothukuru commented on #1577
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-03-19 11:28] ChinaChenp opened #1578 "is there any way to build static library and header for Tensorflow-serving client （using c++）？"
I am write a gRPC client which written in C++ and can run with the inception serving demo.

I use this demo `https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/resnet_client.cc`

but I encountered two problems：
- I use this commd `bazel build //tensorflow:libtensorflow_cc.so`, But only provides dynamic libraries, I can't use bazel to build my project, all my old libraries

[2020-03-19 16:39] gowthamkpr commented on #1550
@pake2070 Can you please respond so we can take the discussion further.

[2020-03-19 16:42] gowthamkpr commented on #1571
Thank you. Closing this issue as it has been resolved.

[2020-03-19 16:42] #1571 closed

[2020-03-19 21:35] christisg commented on #1554
@geraldstanje could you confirm you're still experiencing the problem?

[2020-03-19 23:46] misterpeddy commented on #1555
Just a note that I have a preliminary implementation for the awesome idea @christisg mentioned and will resume with testing and merging it once we get some of our build breakage (due to incompatibilities with recent changes in upstream TF) under control.

[2020-03-20 00:55] christisg commented on #1529
@raimondasl, I don't have full visibility into your set-up, but assuming the aggregated traffic coming from 8 clients is half the traffic coming from 16 clients, it's possible that the overhead of more threads outweighs the benefits of parallelism. Also with lower QPS there is more chance of waiting more before executing a batch (depending on your batch_timeout_micros setting).

Thanks for your su

[2020-03-20 00:58] christisg commented on #1519
Please update this once the unit tests are in. Thanks again for the contribution!

[2020-03-22 02:31] smartinumcp opened #1580 "Basic and Serving Advanced documented client commands fail without tensorflow/serving:1.14.0-devel"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.1-Ubuntu SMP
- **TensorFlow Serving installed from (source or binary)**: Docker 19.03.06
- **TensorFlow Serving version**:
TensorFlow ModelServer: 2.1.0-rc1
TensorFlow Library: 2.1.0

### Describe the problem
Following the directions at https://www.tensorflow.org/tfx/serving/serving_basic and h

[2020-03-23 12:15] snowcrumble commented on #1494
same

[2020-03-23 18:14] gowthamkpr commented on #1550
Cloxing this issue as it has been inactive for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-03-23 18:14] #1550 closed

[2020-03-24 03:10] Kuzzzz opened #1581 "model with dropout layer has shape mismatch problem during batch prediction"
When i use tensorflow/serving docker to deploy my tf model with dropout layers, i set
--enable_batching=true to ensure batch prediction can work.
But when i use Restful API service for  prediction and request url with data like: {"instances": [{xxxxx, "dropout":1.0}]}   (len(batch)==1 can recieve correct result),
if i use data like: {"instances": [{xxxxx, "dropout":1.0}， {xxxxx, "dropout":1.0}， {x

[2020-03-24 09:39] rmothukuru commented on #1581
@Kuzzzz,
Can you please share the SignatureDef of your Model. Thanks!

[2020-03-24 10:24] seafire1991 opened #1582 "How to record HTTP/REST API call logs?"
`2020-03-24 07:18:06.077987: I tensorflow_serving/model_servers/server.cc:358] Running gRPC ModelServer at 0.0.0.0:8500 ...
[warn] getaddrinfo: address family for nodename not supported
2020-03-24 07:18:06.078817: I tensorflow_serving/model_servers/server.cc:378] Exporting HTTP/REST API at:localhost:8501 ...`
How to record users's calling logs without launching another service?Thanks.

[2020-03-24 15:38] Tomer23 commented on #1494
I was also experiencing this issue

--experimental_repo_remote_exec was introduced in bazel 2.0.0
so the minimum version to set is 2.0.0 (thats the same version to build tensorflow)

[2020-03-24 20:57] gowthamkpr commented on #1582
@seafire1991 Please take a look at this [issue](https://stackoverflow.com/questions/38073432/how-to-suppress-verbose-tensorflow-logging) and let me know if it helps

[2020-03-25 15:03] hsujamy commented on #1227
I found a solution.
This is likely caused by a gcc bug.
just use parentheses
https://gitlab.com/libeigen/eigen/issues/1143
https://gitlab.com/libeigen/eigen/-/commit/2ee4b8e945accc972b361381cb4fb61a766279a6

[2020-03-25 16:05] whatdhack opened #1583 "Enable AMP (Automatic Mixed Precision ) in Tensorflow Serving."
### Describe the problem the feature is intended to solve
AMP accelerates inference  significantly.

### Describe the solution
A flag for enabling AMP

### Describe alternatives you've considered
There is no alternative with Tensorflow Serving

### Additional context
N/A

[2020-03-26 04:19] gowthamkpr commented on #1578
@ChinaChenp This issue can be posted on tensorflow repo itself as you are trying to build tensorflow.

[2020-03-26 04:21] gowthamkpr commented on #1569
Closing this issue as it has been in awaiting response for more than 3 weeks. Please add additional comments to open this issue again. Thanks!

[2020-03-26 04:21] #1569 closed

[2020-03-26 07:23] weitianyu1 opened #1584 "docker of windows 2020-03-26 07:22:44.839752: E tensorflow_serving/sources/storage_path/file_system_storage_path_source.cc:362] FileSystemStoragePathSource encountered a filesystem access error: Could not find base path /models/half_plus_three for servable half_plus_three"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-03-26 09:00] Windfarer commented on #1215
faced with the same issue.

tensorflow-serving 1.15.0, CPU only.
using gRPC Predict API.

Here are the details
1. If we use default malloc, memory usage goes up quickly during load testing and memory can not be released after load testing.
2. Switch to tcmalloc, memory usage goes up quickly during load testing , but the leaking speed is lower than previous situation, and memory can not released af

[2020-03-26 09:40] rmothukuru commented on #1584
Include your TensorFlow Serving version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submission template, because it is really difficult to he

[2020-03-26 09:45] rmothukuru commented on #1577
@Arnold1,
Can you please provide the information asked in the comment above. Thanks!

[2020-03-26 15:08] lzzuo2 commented on #1572
I had the same problem, is there any grpc api to unload a model ?

[2020-03-30 04:15] vqbang commented on #1529
@raimondasl Excuse me, but have you ever tried to test a single request with n (e.g. 4) examples and monitored if it is using batching? I think that the model doesn't do batching in this case. Hope you can give me some advices. I'd tried to figure out what's going on for a week and also frustrated about the logging of tensorflow serving too :(

[2020-03-30 07:57] DmitriyBaykov commented on #1532
Hi, @gowthamkpr. Seems like I'm facing a similar issue on TF=2.1, tensorflow-transform=0.21, tensorflow serving - latest image from Docker. [Here's a reference to my SO question](https://stackoverflow.com/questions/59880686/serving-tf-model-with-variable-length-input). Could you give me a hand with this? I need to have variable inputs on my model's serving.

[2020-03-30 16:05] whatdhack opened #1585 "Seeing many 504 Server Error: Gateway Time-out for url:xxx at 8 or more clients on GPU"
## Bug Report
Seeing a lot of "504 Server Error: Gateway Time-out for url:" and  "429 Client Error: Too Many Requests for url:" when the number of clients  is about 8 or more.   At 5 clients there seems to be no issue. This only happnes on the GPU verwsion , the CPU version is fine upto 20 clients.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04

[2020-03-30 18:49] gowthamkpr commented on #1585
@whatdhack Can you please update it to tensorflow serving version 1.15.0 and let me know if the issue still persists. Thanks!

[2020-03-30 19:23] whatdhack commented on #1585
Thanks. All the models ( both saved and otherwise) I have are for 1.14. Do not think they would work on 1.15, would they ?

[2020-03-30 21:59] gowthamkpr commented on #1585
Yes they should work with 1.15

[2020-03-30 22:04] sundowatch opened #1586 "Max retries exceeded with url Tensorflow Serving Python Request"
Hi,
I've trained my own model and I've runned docker container with this code:

`docker run -t --rm -d -p 8501:8501 -v "%cd%/serving/tensorflow_serving/servables/tensorflow/testdata/optik_gpu:/models/optik_gpu" -e MODEL_NAME=optik_gpu tensorflow/serving`

I'm using Windows 10 as OS. Docker version 19.03.8. Python 3.7.4

And I'm trying to post base64 string to the container to get a prediction. Her

[2020-03-31 08:22] rmothukuru commented on #1581
@Kuzzzz ,
Can you please respond to the comment above. Thanks!

[2020-03-31 17:38] gowthamkpr commented on #1586
Did you start server before client. if no server running, the client will meet ConnectionRefusedError.

[2020-03-31 18:11] sundowatch commented on #1586
Yes I've started the server. It response when I use half plus two prediction. My model is object detection

[2020-03-31 20:43] gowthamkpr commented on #1586
This error is a network-related error occurred while establishing a connection to the Server. It means that the error is occurring because there is no server listening at the hostname and port you assigned. It literally means that the machine exists but that it has no services listening on the specified port .

Generally, it happens that something is preventing a connection to the port or hostname

[2020-03-31 21:01] nrobeR commented on #1564
I have a few questions on the problem to clarify my understanding.
  - your models run slower with GPU tensorflow_serving build running on Jetson Xavier compared to CPU tensorflow_serving and , is that correct? Is there a difference among different hardwares for the GPU build or are they all the same?
  - could you please summarize config comparisons on the different experiments you ran which help

[2020-03-31 21:25] gowthamkpr commented on #1585
@whatdhack Can you please share the code to reproduce this issue. Thanks!

[2020-03-31 21:27] gowthamkpr commented on #1578
@ChinaChenp Can you please respond t the above comment so that we can take the discussion forward. Thanks!

[2020-04-01 01:04] patha454 commented on #1564
Hi @nrobeR,

- So far, I've only found the one model, the Keras Xception model, which suffers this bug, and yes, it is only effecting the GPU build on the Jetson Xavier. Running the model on a CPU build is no slower than CPU performance on comparable machines, but the GPU performance is slower than the CPU build on the same hardware, and much slower than the GPU build on comparable desktop worksta

[2020-04-01 02:21] ChinaChenp commented on #1578
I'm very sorry, my purpose is very simple. I hope the official can provide a C++ static library and header files (including proto header files). just like other open source libraries, You can finally generate 2 dependency directories (include/ lib/) through make && make install, Then I can use it directly in my c ++ tensorflow-serving client project.

https://github.com/tensorflow/serving/issues/1

[2020-04-01 02:23] ChinaChenp commented on #1578
@gowthamkpr I'm very sorry, my purpose is very simple. I hope the official can provide a C++ static library and header files (including proto header files). just like other open source libraries, You can finally generate 2 dependency directories (include/ lib/) through make && make install, Then I can use it directly in my c ++ tensorflow-serving client project.

[2020-04-01 02:43] seafire1991 commented on #1582
Finally I launch another web api service to record users's calling logs,Thanks all the same!

[2020-04-01 02:44] seafire1991 commented on #1582
Finally I launch another web api service to record users's calling logs,Thanks all the same!

[2020-04-01 03:05] whatdhack commented on #1585
Still seeing "429 Client Error: Client Error for url" for 1.15 probably less.  Looks like GPU OOMs !
[code]

Which code you are referring to the client side or the model ?

[2020-04-01 03:28] davidvuong commented on #615
It's 2020 and I'm still seeing these messages but everything else works. For reference, I'm using the TFS docker image:

[code]

and the arguments I'm passing are:

[code]

This is running inside EKS where the underlying instance has roles to read/write to S3.

[2020-04-01 04:00] Kuzzzz commented on #1581
@rmothukuru ,sorry i forgot to watch github recently, here is my model`s signatureDef:
signature_def['serving_default']:
  The given SavedModel SignatureDef contains the following input(s):
    inputs['dropout_keep_prob'] tensor_info:
        dtype: DT_FLOAT
        shape: unknown_rank
        name: dropout_keep_prob:0
    inputs['input_p1'] tensor_info:
        dtype: DT_INT32
        shape: (-1,

[2020-04-01 08:42] Kuzzzz commented on #1581
another question i met is：when i set --enable_batching=False, my request can be predicted correctly. But when i set --enable_batching=True, dimensions error will appear.
may be when i dont use batching, shape of my input tensors are  input_x:(1, 18, 100) input_p1:(1, 18, 5) input_p2:(1, 18, 5), but when i use batching, they change to  (1, 1, 18, 100) (1, 1, 18, 5) (1, 1, 18, 5) . if i use tf.expan

[2020-04-01 11:52] Kuzzzz commented on #1581
this question is caused by my data error, only dropout layer dimention error is still unsolved.

[2020-04-01 17:56] whatdhack opened #1587 "enable_batching not working"
## Bug Report
Using the following command line to enable  batching.

[code]

Returns the following to the client ( Rest API)

[code]

Works fine if I  remove the --enable_batching.    Does batching require any change on the client side - that will be  bad.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:16.04
- **TensorFlow Serving installed from (source or bi

[2020-04-02 03:00] TpClark commented on #1215
same question, can anybody having solution to share

[2020-04-02 10:21] ganler commented on #1483
I found that the serialization is of great overhead in the gRPC client API.
And this heavily drops the QPS. And in my case, I use 3x224x244 as the data to be transferred.
The serialization cost is 2 times as the server processing time in the ResNet50 model.

[2020-04-02 10:26] Zethson commented on #1487
Running into the same issue

[2020-04-02 11:23] rmothukuru commented on #1584
@weitianyu1,
Can you please provide the information asked in the comment above. Thanks!

[2020-04-02 11:24] rmothukuru commented on #1577
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-02 11:24] #1577 closed

[2020-04-02 16:53] whatdhack opened #1588 "Enable Multi-GPU load balancing"
## Feature Request
Enable multi-GPU support.

### Describe the problem the feature is intended to solve
Although nvidia-smi seems to show all the GPUs running TFS , but TFS appears to utilizes only 1 gpu.   So as the number simulataneous clients  goes up, TFS starts to OOM, inspite of all the other GPUs lying idle.

### Describe the solution
On a  multi-GPU system, TFS should be able to  leverage

[2020-04-02 18:57] gowthamkpr commented on #1588
@whatdhack This is a known issue as shown [here](https://github.com/tensorflow/serving/issues/311).

[2020-04-02 19:05] gowthamkpr commented on #1587
Can you please share the exact steps used to reproduce this issue?
Also can you please share the signaturedef of your model with the serving client code. Thanks!

[2020-04-02 19:16] gowthamkpr commented on #1585
Can you please share the exact steps for us to reproduce this issue?
The OOM error is closely related to this [issue](https://github.com/tensorflow/tensorflow/issues/16768). Please take a look at it and let me know if it helps.
Thanks!

[2020-04-02 19:17] gowthamkpr commented on #1582
Thanks @seafire1991 Please close this issue as it has been resolved. Thanks!

[2020-04-02 19:21] gowthamkpr commented on #1576
@t-rad Are you still running into the same issue? Can you please respond to the above comment so that we can take the discussion forward. Thanks!

[2020-04-03 02:03] #1582 closed

[2020-04-03 05:26] ganler opened #1589 "Performance issue with tf serving QPS and client latency on float16 NWHC data"
### Performance issue with tf serving QPS and client latency on float16 NWHC data

Hi. Recently I was profiling the performance of tf serving and the gRPC client of tf serving API. And I got some really strange data points.

All the models I discussed are ResNet models with different input shapes and data types.

1. **[gRPC Client + Bad Latency + NHWC DT_HALF]**:  75% Client time was used in seria

[2020-04-03 13:06] ganler commented on #1589
Hi, I think I got the answers. The `tf.make_tensor_proto`'s implementation won't put the data into `tensor_content`，but the `repeated half_val`. This is very inefficient.

So it seems to be a problem with `tf.make_tensor_proto` not tf serving. After I manually set the data into tensor_content, tf serving became great again!

So I think I should go to the tensorflow repo and tell them this issue.

[2020-04-03 13:06] #1589 closed

[2020-04-03 14:06] kalpa-subbaiah opened #1590 "node ParseExample/ParseExampleV2 error"
Dear Team,

I am trying to use tensorflow serving which is running fine as below:

![image](https://user-images.githubusercontent.com/30182218/78368812-d7647d80-75e1-11ea-92be-6b9963b82353.png)

I am trying to predict on sample data which gives me below error, Looks like I am doing some mistake , can you please help me , it gives me node ParseExample/ParseExampleV2 error.

![image](https://user-im

[2020-04-03 16:03] whatdhack commented on #1587
The signaturedef follows.

[code]
The batch dim is missing from input ? Could that be a reason ?

[2020-04-03 16:03] whatdhack commented on #1588
Sure.

[2020-04-03 16:09] whatdhack commented on #1585
Thanks.  The OOM in this case of TFS happpens only when  number of clients exceed certain number. There is no OOM till that threshold is reached.  So,  I think is TFS specific, I also think TFS has more avenues to addresess this.

[2020-04-03 16:13] whatdhack commented on #1583
This I think  should ber a very high priority ( at the least FP16) , otherwise the case for  TFS becomes weak.

[2020-04-03 20:21] turowicz commented on #822
@dhinar1991 did it finish? I'm waiting for a GPU build with CPU optimisations. It's been 6 hours already and still going...

[2020-04-03 20:21] turowicz commented on #822
cc @chrisolston maybe you can help?

[2020-04-03 20:27] turowicz commented on #1556
I'm having a similar problem. I have multiple clients that send images of various sizes for object detection. Batching is impossible as it blocks the asynchronous requests. GPU util never goes higher than 20%.

[2020-04-03 20:52] #1586 closed

[2020-04-03 22:54] lilao commented on #1572
@liutao053877 Did the model actually get unloaded in your case? If the model was unloaded, it's likely that the malloc system did not return the freed memory back to OS. This depends on the implementation of the malloc, and is out of the control of tensorflow serving.

[2020-04-03 23:04] minglotus-6 commented on #1575
To clarify about the feature request, this is about **structured locking in docker image output**, not **structured logging in TF serving**. Could you confirm?

If that's the case, could you point out related lines in TF serving docker image, and give examples (preferably real-world noisy logs) where changing verbosity helps, and where it doesn't help so log sink ends up with dangling request head

[2020-04-05 20:18] geraldstanje commented on #1554
no, we can close it thanks.

[2020-04-05 20:18] #1554 closed

[2020-04-06 10:01] turowicz commented on #1556
I've migrated to NVIDIA Triton Inference Server where the problems do not exist.

[2020-04-06 13:04] t-rad commented on #1576
@gowthamkpr Hi, I am still running into the same issue. I am not sure what other steps than the ones mentioned I should provide, but I can try to give even more detailed steps here:

1. first install tensorflow serving according to instructions given [here](https://www.tensorflow.org/tfx/serving/setup)
- I have tried it with a version downloaded from APT and also with self-compiled version of `ten

[2020-04-06 16:23] roshanzameer commented on #1587
@whatdhack

What is 'batch dim'?

[2020-04-06 17:24] #1588 closed

[2020-04-06 17:33] gowthamkpr commented on #1587
@whatdhack Can I see your client code?

[2020-04-06 19:17] gowthamkpr commented on #1590
@kalpa-subbaiah I don't think this is an error. Can you give us the exact steps and code to reproduce this issue?

[2020-04-06 20:04] IvanBrasilico opened #1591 "Recomended docker installation don´t work on CentOS 7 & Intel. No instructions how to install another version or even on how to build."
Installing docker image on CentOS7 with Intel Chipset got the message:

/usr/bin/tf_serving_entrypoint.sh: line 3:     6 Illegal instruction     (core dumped) tensorflow_model_server --port=8500 --rest_api_port=8501 --model_name=${MODEL_NAME} --model_base_path=${MODEL_BASE_PATH}/${MODEL_NAME} "$@"

Tried to generate another build and got the message:

 sudo docker build -t $USER/tensorflow-serving

[2020-04-07 09:54] gowthamkpr commented on #1591
This is similar to the issue [here](https://github.com/tensorflow/serving/issues/1542). It is a well known issue and is being tracked in that issue.

[2020-04-08 08:58] dannysid commented on #462
A documentation on what represents these metrics and how to use them in production uses cases would be very nice. Right now i'm trying to implement a scaling mechanism for our serving machines and i can just deduct what the metrics are doing.

 Is there such documentation somewhere? because i can't find it

[2020-04-08 12:40] kalpa-subbaiah commented on #1590
I will try with the link shared here https://github.com/tensorflow/tfx/issues/1584#issuecomment-609983446 , hence this issue can be closed.

[2020-04-09 09:38] BorisPolonsky commented on #1538
I would like to request this feature as well. I tested with the following image
- tensorflow/serving:1.12.3-gpu
- tensorflow/serving:2.0.0-gpu
with args: `--model_config_file=/etc/tensorflow-serving/config --enable_batching=true --batching_parameters_file /etc/tensorflow-serving/batching_config`
Both of them fails when I post batch of sequences of variable length, e.g.
[code]
In Addition, the meta

[2020-04-09 13:23] rmothukuru commented on #1584
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 13:23] #1584 closed

[2020-04-09 19:03] #1590 closed

[2020-04-10 15:56] shadowdragon89 commented on #1578
I am not sure if you need to build tensorflow:libtensorflow_cc.so to have a client library.
Could you clarify what block you from having a client library following the example?

For the interface provided by tensorflow serving, a client library will be language specific, so we think GRPC will be a more general interface for users.

[2020-04-10 16:00] shadowdragon89 commented on #1583
The AMP is mainly target on training instead of serving.(https://www.tensorflow.org/guide/keras/mixed_precision)

Have you observed the significant performance difference for serving as well? If so, could you share the benchmark and related numbers?

[2020-04-10 19:46] wdirons opened #1596 "error: 'val.val' may be used uninitialized in this function with 2.2.0-rc0 using docker build"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: x86_64 RHEL 7.7 Host, Ubuntu container
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 2.2.0-rc0

### Describe the problem
TensorFlow Serving 2.2.0-rc0 fails to build using documented steps: https://github.com/tensorflow/serving/blob/2.2.0-rc0/te

[2020-04-11 12:52] hahadashi commented on #1483
hi everyone, @sevenold @rmothukuru @leo-XUKANG @RainZhang1990 @misterpeddy
i try to use pb model by batch inference(tf c++), i set two same data in the batch datas. but one the first data of the batch datas get the right result .and the second data get a different result, i check i push shape is right. can your give me some advice,thx.

[2020-04-12 13:21] #1591 closed

[2020-04-12 21:00] whatdhack commented on #1587
The model  input does not have a batch dimension  - no batch in shape: (-1, -1, 3).

[2020-04-12 21:03] whatdhack commented on #1583
Absoluyely, fp16  on Tenscore gives  50% improvement in  processiong time without any noticeable change in accuracy. Reduced precision is one of the cornerstopnes of Nvidia TensorRT, etc.

[2020-04-12 22:49] sw2921 opened #1597 "ServerCore only support device_types::kMain type for resource tracker"
Currently I am trying to use server core for the model management, but from the code, ServerCore only create ResourceTracker with main memory (kMain) support. Do we consider adding the GPU(kGpu) device into resource tracker of ServerCore?  Or do we have some alternatives to support main ram and gpu ram together in resource tracker?

[2020-04-13 02:52] whatdhack commented on #1585
How about a config to set the maximum number of HTTP clients ?  That way the HTTP server can throttle requests to the model, and send back try-later reply (e.g. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After ) ?

[2020-04-13 06:54] whatdhack commented on #1583
Is there a way to do the following in TFS ?

[code]

[2020-04-14 15:13] gowthamkpr commented on #1587
@whatdhack Please provide us steps to reproduce this issue. Thanks!

[2020-04-14 15:19] gowthamkpr commented on #1585
@whatdhack Can you please provide us the exact steps for us to reproduce this issue. Thanks!

[2020-04-14 15:20] gowthamkpr commented on #1581
@Kuzzzz please provide the code and exact steps to reproduce this issue. Thanks!

[2020-04-14 18:41] danial459 commented on #1100
did you solved it?

[2020-04-14 18:44] minglotus-6 commented on #1575
As stated, could you give examples (preferably real-world noisy logs) where changing verbosity helps, and where it doesn't help so log sink ends up with dangling request headers?

[2020-04-14 21:58] Arnold1 commented on #462
also is there a way to monitor requests per second into the Tensorflow serving container?

[2020-04-15 09:16] littlepai commented on #1277
We have the same thing
Any new developments?

[2020-04-15 10:35] njustyangkai opened #1598 "How to record interface log when i using tfs docker"
I use tfs container 2.0.0 to do ctr predict, but I don't know how to record interface log(http restful), can some one help?
I just need to statistics the TPS and the predict result

[2020-04-16 00:16] aaur0 commented on #1555
@misterpeddy Any update on this? Also, We have not moved to Tensorflow 2.0 yet. So, I was wondering if you guys will backport this fix to the older version of TFServing also.

[2020-04-16 04:54] BorisPolonsky opened #1600 "[Bug] Single quotes escaped wthin string leads to malformed JSON responses in REST API"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **TensorFlow Serving installed from docker (tensorflow/serving:1.12.3-gpu)**:
- **TensorFlow Serving version 1.12.3-gpu**:

### Describe the problem
In REST API responses, single quotes in strings were incorrectly escaped in some cases thus can't be parsed by downstream apps. I would like to sugg

[2020-04-16 18:23] cep21 commented on #1575
I later discovered my comment was related to #789 and I fixed it with that ticket's advice.  I no longer have dangling request headers.

[2020-04-17 00:45] ashahba commented on #1596
Hi @minglotus-6 thanks for looking into this.
We are also running into this issue with `TensorFlow serving 2.0.0` and newer versions.

[2020-04-17 10:36] barrierye commented on #1534
Now the problem is still there. And I found this https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/mnist_client.py#L50

[2020-04-18 01:27] xixiddd commented on #1215
Same memory leak problem encountered.

[2020-04-18 23:58] gowthamkpr commented on #1563
@magick93 Thanks for the report. Right now we don't support Cent OS based docker images. We will update issue #1542 for any future progress. Thanks!

[2020-04-18 23:58] #1563 closed

[2020-04-19 02:12] xixiddd commented on #1215
@nrobeR @misterpeddy @gautamvasudevan actually, just using the official tensorflow serving docker image(e.g. tfs 1.14.0), and the [mnist](https://github.com/tensorflow/serving/tree/master/tensorflow_serving/example) example codes(run mnist_client.py 10000+ times), you could be able to reproduce the memery leak issue.

[2020-04-20 15:47] sonfire86 opened #1602 "SavedModel Warmup data loss"
tf_serving_warmup_requests
[code]
`Loading servable: {name: ping_model version: 1} failed: Data loss: corrupted record at 0`

TF serving model 1.14CPU, docker

[2020-04-20 21:14] ashahba opened #1603 "building MKL container fails on r2.1 branch."
While running
[code]
I'm getting the following error:
[code]

[2020-04-21 06:51] 372046933 commented on #311
@troycheng
I met up with the same problem. See https://github.com/kubernetes/kubernetes/issues/87277 and https://github.com/kubernetes/kubernetes/issues/88986. Can you paste your `batching_parameters_file` and the CPU limit on each instance. Pay attention to `num_batch_threads` especially. If it's bigger than the available CPUs. Most of the resources are busy waiting for `condition_variable`. See

[2020-04-21 11:02] CreekLou opened #1604 "bazel build TFS2.1 cpu version FAILED"
My ENV:

g++ (GCC) 7.2.0

bazel version Build label: 2.2.0

CentOS Linux 3.10.0-693.21.1.std7a.el7.0.x86_64 #1 SMP Mon Apr 9 01:47:10 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

build command

**ERROR log**
ERROR: /home/work/.cache/bazel/_bazel_work/0833223f9c21beecc46ce1b52a1a0413/external/org_tensorflow/tensorflow/core/kernels/BUILD:349:1: C++ compilation of rule '@org_tensorflow//tensorflow/core/k

[2020-04-22 01:21] wdirons commented on #1596
The build is working for me if I unset the default for TF_SERVING_BUILD_OPTIONS
https://github.com/tensorflow/serving/blob/r2.2/tensorflow_serving/tools/docker/Dockerfile.devel#L87

i.e. this command works:
`docker build --pull -t $USER/tensorflow-serving-devel --build-arg TF_SERVING_VERSION_GIT_BRANCH=2.2.0-rc1 --build-arg TF_SERVING_BUILD_OPTIONS="" -f tensorflow_serving/tools/docker/Dockerfile.

[2020-04-22 16:13] wdirons commented on #1604
This is the same issue as https://github.com/tensorflow/tensorflow/issues/25323, using a newer version of gcc will help, or try other suggestions in that issue.

[2020-04-23 04:07] tobegit3hub opened #1606 "Upgrade examples to TensorFlow 2 in develop and 2.x docker images"
Now we follow the official documents to build and test tensorflow serving with latest dev docker image. The examples can not be run successfully because the tensorflow version is 2.1.0 in `tensorflow/serving:latest-devel` while the examples code like `mnist_saved_model.py` still uses TensorFlow 1.x APIs.

We should upgrade the examples to TensorFlow 2 so that users can build and test with latest d

[2020-04-23 08:45] tobegit3hub commented on #1606
The function `index_to_string_table_from_tensor` is not export in Python API after moving to TensorFlow 2.x core.

[code]

I'm not sure if we can request tensorflow to expose these APIs. If so, it is pretty easy to make these example scripts work as usual.

[2020-04-23 11:46] psyfb2 opened #1607 "Deploy Sequence to Sequence model with Tensorflow Serving"
I have created a seq2seq model for question and answering by following the tensorflow tutorial here: https://www.tensorflow.org/tutorials/text/nmt_with_attention

The model works well and I want to deploy it with Tensorflow serving. it's not clear how I could do this efficiently because:
- The decoder can only make a prediction for the next word, by taking as input the last predicted word. Surely

[2020-04-23 13:46] JakeTheWise commented on #1607
- Could you construct an appropriate tf.function and export it as a model signature that contains the necessary logic to iterate over tokens + predictions? This signature would be loaded by tf-serving and would run for every inference request.
- Have you heard of tensorflow extended? This project creates and fuses a preprocessing graph onto your main tensorflow graph. This would allow you to send

[2020-04-23 13:52] JakeTheWise opened #1608 "Model version labels should be applied only after models are loaded"
## Feature Request

### Describe the problem the feature is intended to solve
When starting a tf model server configured by a config file specifying multiple model versions and version labels, there is currently an issue where the server will try to apply the version labels before the models are actually loaded. This breaks my tf server deployed on kubernetes because every time the node restarts,

[2020-04-23 15:18] psyfb2 commented on #1607
Oh I have a python function to handle the logic for sentence level predictions. Is this as simple as annotating the function with @tf.function, but then how to export it?
And thanks I wasn't aware of tensorflow transform

[2020-04-23 15:50] JakeTheWise commented on #1607
For exporting signatures, have you read this documentation? https://www.tensorflow.org/api_docs/python/tf/saved_model/save

[2020-04-23 17:07] psyfb2 commented on #1607
Oh I see, thanks for clarifying.

[2020-04-23 17:07] #1607 closed

[2020-04-24 03:20] gmt710 commented on #1494
bazel 3.0.0 may help.

[2020-04-24 15:19] gowthamkpr commented on #1576
@t-rad I tried to reproduce the issue  with the parameter --rest_api_num_threads=1. I think the issue is that its reaching some sort of timeout and hence the issue.
By default tensorflow serving tries to use all the cores available to it.

[2020-04-24 15:27] gowthamkpr commented on #1580
@smartinumcp Can  you please try it with tensorflow==1.15 and let me know if it resolves the issue. Thanks!

[2020-04-24 15:46] gowthamkpr commented on #1556
@abhinavos7a @turowicz Can you please respond to this [comment](https://github.com/tensorflow/serving/issues/1556#issuecomment-595041132) so we can debug the issue. Thanks!

[2020-04-24 16:49] ElPapi42 commented on #1459
@leo-XUKANG same here, share your implementation with us

[2020-04-25 22:09] vdevaram commented on #1603
Even issue is there on master -
ERROR: /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/external/upb/BUILD:57:1: C++ compilation of rule '@upb//:upb' failed (Exit 1)
external/upb/upb/table.c: In function 'upb_inttable_pop':
external/upb/upb/table.c:588:10: error: 'val.val' may be used uninitialized in this function [-Werror=maybe-uninitialized]
   return val;
          ^~~
cc1: all

[2020-04-26 10:43] peakji opened #1610 "Allow batch size of zero in JSON outputs"
## Feature Request

### Describe the problem the feature is intended to solve
The current version of tensorflow serving (`2.2.0-rc`) does not allow the final output in the row format to have a batch size of zero:
[code]
While in end-to-end systems it is legit to return an empty response.

For example when feeding an image with no cats to a cat-face-detector that returns the coordinates, or passing

[2020-04-26 19:08] ashahba commented on #1603
@vdevaram As far as I know `master` fails both with and without `mkl`.
We'll take take another look and provide update here.

[2020-04-27 01:04] hsuvarna opened #1611 "TFserving command not working on Mac CPU"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-04-27 03:20] XiaYuanxiang commented on #1083
Hi, did you solve the problem，I meet the same problem

[2020-04-27 04:14] deliahu opened #1612 "Unable to get model metadata in TF Serving 2.2.0-rc1"
## Bug Report

### System information
Docker Hub image `tensorflow/serving:2.2.0-rc1` (running on OSX)

### Describe the problem
I have been successfully using [tensorflow-serving-api](https://pypi.org/project/tensorflow-serving-api/) to query the `GetModelMetadata` gRPC API in version 2.1.0 (and before). However, with `2.2.0-rc1`, something seems to be breaking.

### Exact Steps to Reproduce
1\.

[2020-04-27 08:27] tobegit3hub commented on #311
If we only serve one model with one model version in multiple-gpu server, we have implemented the functionality to automatically start multiple session to load the model which has been edit for binding different gpu devices. This can utilize all the gpu devices for one model and rebalance the inference requests by simple strategies like RoundRobin.

However, the default implementation of servable

[2020-04-27 10:17] huangyz0918 commented on #1556
That's true.

[2020-04-27 14:51] turowicz commented on #1556
Sorry I've migrated away from TF Serving.

[2020-04-27 16:17] tgsmith61591 opened #1613 "U_FILE_ACCESS_ERROR with tensorflow_text"
### System information
[code]
- **TensorFlow Serving installed from (source or binary)**: Using a stock docker image
- **TensorFlow Serving version**: `tensorflow/serving:nightly`
- **TensorFlow version**: `2.2.0rc3`
- **TensorFlow Text version**: `2.2.0.rc2`
- **Python version**: `3.6.10`

### Describe the problem

This was posted as an issue on the tensorflow/text repo (https://github.com/tensor

[2020-04-27 16:51] JakeTheWise commented on #1608
@gowthamkpr any thoughts about how this issue could be resolved?

[2020-04-27 17:55] ashahba commented on #1603
@vdevaram would you please be able to try this one? #1601

[2020-04-28 08:27] JIANZM commented on #1215
The situation 3 can work,thanks.

[2020-04-28 13:54] tgsmith61591 commented on #1613
For whatever it's worth, I built `tensorflow_serving` with the following changes:

1. Updated the `workspace.bzl` to point to the new tf-text distro:

[code]

2. Updated the `tftext.patch` to:

[code]

The build was successful, but I'm getting the same error when I serve the model:
[code]

Maybe that helps someone... Tensorflow-text has an ICU patch that I notice is not included in serving. Perhap

[2020-04-28 17:20] gowthamkpr commented on #1581
@Kuzzzz Can you please respond to the above comment. Thanks!

[2020-04-30 06:45] gowthamkpr commented on #1598
@njustyangkai Can you please elaborate on what you are trying to accomplish here. Thanks!

[2020-04-30 06:52] gowthamkpr commented on #1602
@sonfiree Can you please provide a gist or an example to reproduce this issue. Thanks!

[2020-04-30 07:00] gowthamkpr commented on #1611
@hsuvarna The problem is that tensorflow 2.x doesn't have a module called `tf.app` and hence the error. In [mnist client file](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/example/mnist_client.py) you can replace line 50 with `FLAGS = tf.compat.v1.flags` and you can work around this error.

[2020-04-30 07:14] sonfiree commented on #1602
[code]

[2020-04-30 07:15] sonfiree commented on #1602
[code]

[2020-05-01 00:28] deliahu commented on #1612
@gowthamkpr @amahendrakar I just wanted to follow up, have you been able to identify the issue?

[2020-05-01 15:28] minglotus-6 commented on #1596
A fix is being worked on.

Before that is in, the suggested workaround is to use `config=release`, i.e.

[code]

[2020-05-01 16:08] netfs commented on #1600
strings are represented using double quote (") as per [JSON spec](https://tools.ietf.org/html/rfc7159). so any json output that has strings (in errors or otherwise) should be double quoted. and strings that contain double quotes, should be escaped as \\"

[2020-05-01 16:14] netfs commented on #1597
i think we should track GPU resource usage under `kGPU` to help differentiate from main. monitoring tools can aggregate (sum/rates etc.) as desired.

[2020-05-01 17:30] #1596 closed

[2020-05-01 21:16] JakeTheWise commented on #1608
I just discovered the `--allow_version_labels_for_unavailable_models` option. The docstring is a little unclear: `If true, allows assigning unused version labels to models that are not available yet.` But this may be the solution.

[2020-05-01 23:31] jeisinge commented on #1515
To confirm, XLA cannot be used with TensorFlow Serving?

[2020-05-01 23:50] netfs commented on #1600
regarding single quotes, we need to escape them for JSON conformance. python `json` module seem to handle this correctly (and will fail if we do not escape the single quotes):

[code]

[2020-05-02 02:03] JakeTheWise commented on #1608
Update: `--allow_version_labels_for_unavailable_models` didn't work.

[2020-05-03 16:50] gowthamkpr commented on #1581
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-03 16:50] #1581 closed

[2020-05-04 11:14] BorisPolonsky commented on #1600
Hello, please try this instead
[code]
You'll get
[code]

[2020-05-04 16:48] netfs commented on #1600
using `r'...'` (raw) strings will cause problems as escape characters (a valid JSON construct) get interpreted literally. you can probably use `u'...'` if you want.

Quoting from [json.org](https://www.json.org/json-en.html), definition of JSON string is as follows:

[2020-05-04 21:39] pselden opened #1618 "Problems scaling on Kubernetes?"
I have smallish model that I've tuned on Kubernetes to maximize performance for a single instance based on the performance guide.

I ended up with the following setup, which gives me around 1000 requests per second at around 10ms response time for the 99th percentile. My goal is to keep p99 response time below 10ms and get as many requests per second as possible per CPU.

Because there was no shar

[2020-05-05 20:14] tgsmith61591 commented on #1613
@lilao bump. I have a PR for this but no one has acknowledged it.

[2020-05-05 23:07] gowthamkpr commented on #1585
Closing this issue as it has been inactive for more than 3 weeks. please add additional comments for us to open this issue again. Thanks!

[2020-05-05 23:07] #1585 closed

[2020-05-05 23:09] gowthamkpr commented on #1587
Closing this issue as it has been awaiting response for more than 3 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-05-05 23:09] #1587 closed

[2020-05-05 23:18] gowthamkpr commented on #1604
@CreekLou As mentioned above comment this issue is due to GCC not Tensorfow or Tensorflow Serving.  As mentioned [here](https://github.com/tensorflow/tensorflow/issues/25323#issuecomment-491460634) please try using the later version of GCC 7 or GCC 8 to solve this issue. IF you have more questions please post it in GCC related github repo. Thanks!

[2020-05-05 23:18] #1604 closed

[2020-05-06 01:09] BorisPolonsky commented on #1600
Hello. Thanks for your reply. But I believe that's exactly what is returned via the `response.read().decode("utf-8")` call in my test code. The slash before the single quote is literally there in the body.
I believed that the ill-formatted part returned by tensorflow/serving shall be represented as `u"\\'"` (a string of length 2).
PS:
I don't think this claim suggest that single quotes should be e

[2020-05-06 07:11] liuchangyu1988 commented on #1459
@leo-XUKANG same here. Could you please share your experience? Thanks

[2020-05-06 23:46] lilao commented on #1608
Thanks for reporting the issue. Can you explain in more details why applying version labels before models become available is a problem, and what problems do you see after enabling --allow_version_labels_for_unavailable_models.

[2020-05-07 10:37] michalbrys commented on #1459
This could be helpful: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/main.cc#L191

[2020-05-07 11:18] RajezMariner commented on #1077
Hi Prateek,

I would like to know the way to access the two different model end points from the client side.

I am assuming the docker consists of two different models running inside the container.

Thanks,
Rajesh

[2020-05-07 12:41] Pallav56 opened #1619 "TFServing : Not able to parse input"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-05-07 17:50] JakeTheWise commented on #1608
I have two model versions. I want to serve them simultaneously, with the labels prod and dev. I specify this in my server config file. But when I spin up the server, I get errors that the server is trying to apply labels to models that are not loaded / unavailable. I'll try to send over the logs.

[2020-05-08 09:10] leo-XUKANG commented on #1459
@liuchangyu1988  我直接打中文了啊，我之前寻求使用tensorflow/serving去部署tflite模型，是想可以极致的提升速度，后来我发现这种提升并没有实际的工程作用，因为将模型压缩成tflite格式，精度会大量损失，而且tensorflow官方宣称的速度提升数倍、精度不变，你看看就好，实际工程中别当真。有精力折腾这个还不如去玩TVM、去做模型压缩。结论：我已经放弃在tensorflow/serving上部署tflite模型，转而去开始极致的折腾我的模型，向着更小更强前进，其时tf/serving强在部署便捷稳定，你要是玩极限加速，可以试试nvidia tensorrt，这个优化是几乎没有精度损失的哦。或者你改写tf/serving的源码，将其中一些对你无用的部分剔除掉也行，假设你够强的话。兄弟！加油！

[2020-05-08 15:52] lilao commented on #1608
Thanks @JakeTheWise. It seems that allow_version_labels_for_unavailable_models is created specifically for this use case. I can help investigate if you can provide more details (e.g., error message) when allow_version_labels_for_unavailable_models is enabled.

[2020-05-08 15:52] liuchangyu1988 commented on #1459
好的好的，非常感谢。感觉你对tf serving这方面很有经验，有空多交流

[2020-05-08 15:58] lilao commented on #1603
@vdevaram Please see https://github.com/tensorflow/serving/issues/1596 for the 'val.val' issue. Please let us know if this does not address your question.

[2020-05-08 18:25] lilao commented on #1603
@ashahba https://github.com/tensorflow/tensorflow/issues/31187 reported a similar issue as yours. Can you take a look to see if it resolves your problem?

[2020-05-09 06:30] njustyangkai commented on #1598
@gowthamkpr yes, thanks for support. let me describe this demand.
We are now using tensorflow serving restful interface to do ctr predict, the system run good, but we want to log every request to a logFile, and this file can use some rolling policy will be better in case of the storage overflow.
These logFiles like nginx logs, can record the requestInfo like requestTime, elapsedTime, and responseB

[2020-05-11 15:55] #1600 closed

[2020-05-11 17:26] netfs commented on #1600
@BorisPolonsky I submitted a fix to correctly escape JSON string to confirm to JSON spec.

If you can help test this from the master branch, that would be highly appreciated. I can then have it cherrypicked in the upcoming TF Serving 2.2 release.

Thanks!

[2020-05-11 21:01] gsgxnet commented on #1596
same here on openSUSE Tumbleweed:

tried to build according exactly to https://www.tensorflow.org/tfx/serving/setup
`tools/run_in_docker.sh bazel build --config=nativeopt tensorflow_serving/...`

[code]

waiting patiently for a fix sometime.

[2020-05-12 02:22] misterpeddy commented on #1580
This was fixed in fb3c70dc8a44720df870d733f885f6a29e5b6a88

[2020-05-12 02:22] #1580 closed

[2020-05-12 21:34] lilao commented on #1603
@ashahba Can you please verify if you can build with 2.2.0-rc2? We are ready to release 2.2.0. Please let us know at your earliest convenience if you encounter any problems. Thanks!

[2020-05-13 18:38] pselden opened #1624 "GRPC metrics are not collected/exported"
## Feature Request

### Describe the problem the feature is intended to solve
When prometheus monitoring is enabled, you get lots of nice stats like graph runtime, loads, etc, that is exported by Tensorflow core, and it looks like if you use HTTP you also will get some useful metrics there. However this does not appear to be implemented for GRPC.

Metrics for the following would be useful for moni

[2020-05-13 18:41] pselden commented on #1624
This might be fixed by #1623, but that looks to be specific to the model runtime and not end-to-end request/response times.

[2020-05-14 16:52] whatdhack commented on #1583
I just ran some tests on a MaskRCNN Saved Model in nvcr.io/nvidia/tensorflow:20.03-tf1-py3. TF_ENABLE_AUTO_MIXED_PRECISION  seems to work very well for inference - requires less memory and speeds up significantly. The following are the numbers , if you need more convincing.

TF_ENABLE_AUTO_MIXED_PRECISION =1, memory = 4.2GB , inference speed 0.25 sec .

vs

memory = 7.1 GB , inference speed 0.53 s

[2020-05-14 18:49] shadowdragon89 commented on #1583
Thanks for the experiments and numbers! Based on the number, we could add the option. I will also follow up with our GPU team.

[2020-05-15 02:48] geraldstanje commented on #1624
is it possible to provide metrics to tune the batching?

[2020-05-15 08:59] gowthamkpr commented on #1611
@hsuvarna Are you still facing the issue?

[2020-05-15 09:04] gowthamkpr commented on #1608
@JakeTheWise Can you please respond to the above comment so we can take the discussion further. Thanks!

[2020-05-15 09:13] #1611 closed

[2020-05-15 14:49] JakeTheWise commented on #1608
Well now I'm actually running into an issue where the server is not ignoring `--model_name` and `--model_base_path` when trying to configure with a `model_config_file`:
`docker run -it tensorflow/serving:2.1.0 --model_config_file gs://sauron-gke-kfp/tf_server_conf.pbtxt` gives me `tensorflow_serving/sources/storage_path/file_system_storage_path_source.cc:362] FileSystemStoragePathSource encountere

[2020-05-15 15:24] christisg commented on #1612
Thank you for reporting the issue. We'll work on fixing it for TF serving 2.2.0 release.

[2020-05-15 15:31] christisg commented on #1612
This got broken by [this commit](https://github.com/tensorflow/serving/commit/2090d67f4e5e8ee5aa7faf8437bea096a438450a)

[2020-05-15 17:04] lilao commented on #1613
@broken replied to your pull request (https://github.com/tensorflow/serving/pull/1616). Please let us know if you have any questions.

[2020-05-15 20:57] gowthamkpr commented on #1619
@Pallav56 Can you please provide the required steps and code to reproduce this issue. Thanks!

[2020-05-15 21:00] gowthamkpr commented on #1602
@sonfire86 Please post this issue in stack overflow as this is not related to bug, performance or feature request related issues. Thanks!

[2020-05-16 06:52] sonfire86 commented on #1602
No, this is just a bug. Because direct calling works

[2020-05-16 10:09] shkwsk commented on #1624
@pselden

#1623 addresses the end-to-end request/response time for Predict method in gRPC API.

[2020-05-16 15:42] geraldstanje commented on #1572
do you have some code to share to test it?

[2020-05-17 15:18] Lannister-Xiaolin opened #1626 "serving model with base64 as input failed with gpu but ok with cpu"
### Describe the problem
I was serving a model with base64 as input, it's ok with cpu but failed with gpu,
my model definition as belows:
[code]

error comes as below:

[code]

[2020-05-18 06:39] marziehoghbaie opened #1627 "tf serving with different port"
Hi, I'm trying to change the port number for docker when serving a model. in most toturials the port number is 8501, but i want to use it on 8502. But when I change it enter the event loop but for inference I get the following error:
requests.exceptions.ConnectionError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))
I run this on a gpu server and the following is th

[2020-05-18 16:14] azagniotov commented on #1619
Hi @Pallav56 , I hope the following won't send you on a wrong path, but this `may` has to do with how you built the `serving_input_receiver_fn` when you saved your model. Have a look at the issue https://github.com/tensorflow/ranking/issues/189

[2020-05-18 16:27] gowthamkpr commented on #1626
@Lannister-Xiaolin What version of tensorflow and tensorflow serving are you using? Also can you please provide the code for us to reproduce the issue. Thanks!

[2020-05-18 16:53] azagniotov opened #1628 "Support for ExampleListWithContext requests formatted as JSON in Predict REST API"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-05-18 18:21] gowthamkpr commented on #1602
Can you create a new issue using this [template](https://github.com/tensorflow/serving/issues/new) and make sure everything is formatted correctly. Thanks!

[2020-05-18 18:22] gowthamkpr commented on #1576
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments or open a new issue to continue the discussion. Thanks!

[2020-05-18 18:22] #1576 closed

[2020-05-18 20:56] gowthamkpr commented on #1627
@marziehoghbaie You cannot change the port number for docker as it has already been configured in TF serving as shown [here](https://www.tensorflow.org/tfx/serving/docker#running_a_serving_image). Please use port 8500 for gRPC and 8501 for REST API.

[2020-05-19 08:32] marziehoghbaie opened #1630 "tf serving input"
hi,
I'm using tensorflow serving for mtcnn and I want to use batch request to reduce inference time, but one of the networks(pnet) can accept inputs with different sizes. when I send that request, I get this error: { "error": "Failed to process element: 1 key: input_4 of 'instances' list. Error: Invalid argument: Expecting tensor size: 82944 but got: 41616" }
it seems that served models can only h

[2020-05-19 08:32] marziehoghbaie commented on #1630
is it possible to send input size for each instance in the batch?

[2020-05-19 08:39] marziehoghbaie commented on #1627
TNX, so it's not possible to run a tf serving docker for different models simultaneously?

[2020-05-19 12:18] aniketmaurya opened #1631 "Serving Docker memory usage is growing constantly"
System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 18.04)**:
- **TensorFlow Serving installed from (docker:- tensorflow/serving:latest-gpu)**:

Docker memory usage is growing constantly (every time I hit TF serving for inference).

Following is my docker configs:

[code]

[2020-05-19 13:39] aniketmaurya commented on #1215
did anyone get the solution to this problem?
I am facing the same with TF 2.1

[2020-05-19 17:14] gowthamkpr commented on #1631
@aniketmaurya What version of tensorflow and tensorflow serving are you using. Also can you give us the system details?
Also specify all the steps inorder for us to reproduce the issue. Thanks!

[2020-05-19 17:15] aniketmaurya commented on #1631
I'm using tensorflow 2.1.0 and tf serving docker 2.1.0 version as well.

GPU Spec: Tesla T4 - 14 GB, with CUDA 10.1

[2020-05-19 17:19] aniketmaurya opened #1632 "> @nrobeR"
Can you provide your config file? Did you use the default version policy?

_Originally posted by @PayneJoe in https://github.com/tensorflow/serving/issues/1215#issuecomment-599505035_

[2020-05-19 17:20] #1632 closed

[2020-05-19 18:10] #1610 closed

[2020-05-20 00:55] satishpasumarthi opened #1633 "Different checksum for icu thirdparty dependency"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 2.2.0-rc2

### Describe the problem
While compiling the serving build using native bazel command. The build fails because the checksum was different for icu third party library.

ERROR: Analysis of ta

[2020-05-20 06:00] Lannister-Xiaolin commented on #1626
tensorflow 2.1.0
tensorflow serving 2.1.0 /gpu version

I found it got the same error in tensorflow as serving, should move the issue to tensorflow?
code below produce the same error:
[code]

[2020-05-20 06:12] aniketmaurya commented on #1631
https://github.com/tensorflow/serving/issues/1215

[2020-05-20 10:40] mikezhang95 commented on #344
Can we reload the batch config after the server starts ?  I see model config has such function.

[2020-05-20 11:07] munagekar commented on #1633
sed -ri "/^\W+sha256 = \"[^\"]+\"\W+$/d" tensorflow_serving/workspace.bzl

[2020-05-20 11:59] aniketmaurya commented on #1215
I solved this issue by manually setting the TensorFlow parallelism arguments in the TF serving arg list.

`
docker run -d --gpus all  -p 8500:8500 \
        --mount type=bind,source=$MODEL_ROOT_PATH/text_check,target=/models/my_model \
        --mount type=bind,source=$MODEL_CONFIG_PATH,target=/models/model_config.config \
        --mount type=bind,source=$BATCH_CONFIG_PATH,target=/models/batching

[2020-05-20 17:11] hsuvarna commented on #789
where in tfserving code model from s3 is downloaded? i.e. where is this s3 connector?

[2020-05-20 18:42] wdirons commented on #1627
What is the docker run command your using? As mentioned above port 8500 is used for gRPC and 8501 is used for the REST API inside of the container. You can make this port on the host whatever number you want.

For example:
[code]

Will bind port 8502 on the host, to port 8501 of the docker container. That being the rest api port.

[2020-05-21 00:50] satishpasumarthi commented on #1633
Isn't this way an easy way to miss if the file is corrupted?

[2020-05-21 01:59] xixiddd commented on #1215
how does it work ?

[2020-05-21 06:32] tobegit3hub commented on #1633
Edit the `tensorflow_serving/workspace.bzl` and change to this checksum will work.

[code]

[2020-05-21 06:35] christisg commented on #1633
Thanks for reporting. This should be fixed by https://github.com/tensorflow/serving/commit/6ad81047a282f0e67ceebe9e25d7f0201e636a84.

[2020-05-21 06:38] tobegit3hub commented on #1181
Thanks @knightcode  and `--workspace_status_command=tools/gen_status_stamp.sh` work for me.

BTW, building TensorFlow Serving in docker is not good enough if we want the build the binary for MacOS.

[2020-05-21 06:47] tobegit3hub commented on #1633
Nice and thanks for the fix @christisg .

[2020-05-21 19:57] #1612 closed

[2020-05-22 10:41] venuswu opened #1639 "Why the restful http server does not support type DT_HALF ?"
Question as above~

[2020-05-22 20:29] satishpasumarthi opened #1640 "[Question] Will the 2.2 tensorflow-serving-api support Python3.7?"
Previously, the 2.1 serving-api doesn't support python 3.6. Atleast as per the Programming Language section in the page https://pypi.org/project/tensorflow-serving-api/

Will there be support for Python3.7 with 2.2 this time?

[2020-05-23 05:27] marziehoghbaie commented on #1627
thank you so much, problem's solved, I was wrong at port mapping.

[2020-05-23 05:27] #1627 closed

[2020-05-25 03:33] rmothukuru commented on #1639
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submiss

[2020-05-25 19:37] Anatolist opened #1641 "requests.exceptions.HTTPError: 400 Client Error: Bad Request for url"
Hello everyone,

I have served my custom model an object detection API for cellphones basic on a pre-trained model. So, I want to send requests to the service:
http://localhost:8501/v1/models/cellphone:predict
The HTTP\REST API running correctly.

I used Docker and TensorFlow-serving.

For the requests, I used a python script that returns the avg time, here is the python script:
https://raw.github

[2020-05-26 18:31] gowthamkpr commented on #1626
Leave this issue pen here and also create an issue in tensorflow repo @Lannister-Xiaolin. Thanks!

[2020-05-26 18:55] gowthamkpr commented on #1641
Can you share the signature def of the model? You can also look at the following [issue](https://github.com/tensorflow/serving/issues/1317#issuecomment-483401285) and let me know if it helps. Thanks!

[2020-05-26 20:21] Anatolist commented on #1641
@gowthamkpr thank you for your response.
My model is produced from a pre-trained model for object detection.
Can you help me to find where is the signature def? in which archive?

[2020-05-26 22:43] satishpasumarthi opened #1642 "error: 'val.val' may be used uninitialized in this function with 2.2.0-rc2 using bazel build"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 2.2.0-rc2

### Describe the problem
When building the model-server using bazel build with mkl config, it fails. I used the optimization level O3. When build with any other lower levels O2 or O, the bu

[2020-05-27 01:50] xixiddd commented on #1215
for those using tf2 keras to export the savedmodel, the above [pr](https://github.com/tensorflow/serving/pull/1638) may be helpful. i.e., different from tf1 estimator API, the savedmodel exported by tf2 keras may has multi inputs(say the number is N), which, in theory, could write N! different inputs_key_concat_string to memory.

[2020-05-27 07:08] BannockYJQ opened #1644 "the memory free of TF serving"
When i delete the previous model, it has been standing in memory so that i cant do hourly model updates.So is there some solution?

[2020-05-27 07:25] quocdat32461997 opened #1645 "TF serving 1.15 does not load weights and tf.image.non-max-surpression not work as expected"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon AMI
- **TensorFlow Serving installed from (source or binary)**: docker
- **TensorFlow Serving version**: 1.15

### Describe the problem
I deployed a custom YOLOv3 model that yields 3 outputs: boxes, scores, classes. The following snip set receives output of the last Conv layer and apply non-max-suppression

[2020-05-27 20:12] Anatolist commented on #1641
hi, Ι found this solution here
https://stackoverflow.com/questions/58172536/tensorflow-serving-type-object-is-not-of-expected-type-uint8
Thank you

[2020-05-27 20:12] #1641 closed

[2020-05-28 08:47] YoungXu06 opened #1646 "Docker tf-serving gets error: curl: (52) Empty reply from server"
I follow the tool docker deploying example:
![image](https://user-images.githubusercontent.com/14051806/83120120-31c21c00-a103-11ea-9220-fa06a777a8b9.png)

After runing the `half_plus_two`  model, I use `curl -d "{"instances": [1.0, 2.0, 5.0]}" -X POST http://localhost:8501/v1/models/half_plus_two:predict` to predict, and got this: `curl: (52) Empty reply from server` or `curl: (7) Failed connect

[2020-05-28 22:22] #1555 closed

[2020-05-29 00:54] broken commented on #1613
Most of this is info is on the corresponding PR, but adding here as well.

The problem was missing ICU data. All of ICU data was supposed to be built into TF model server, but was no longer (either from a Bazel update or likely it wasn't to begin with). I talked with the ICU team on how to do this and it required a different patch that inserted Bazel build files in different directories of the ICU

[2020-05-29 06:35] gowthamkpr commented on #1646
I was able to run this using the latest version of tf-serving image on ubuntu(linux).
![image](https://user-images.githubusercontent.com/47574994/83228469-415d5700-a13b-11ea-849d-f7fc53d9182f.png)
![image](https://user-images.githubusercontent.com/47574994/83228397-1e32a780-a13b-11ea-9c4a-47290740a9c6.png)
I am not sure what error you are running into. This is not an issue with Tensorflow serving

[2020-05-29 06:46] gowthamkpr commented on #1578
@ChinaChenp Can you respond to the above comment so that we can take the discussion further. Thanks!

[2020-05-29 06:51] gowthamkpr commented on #1642
@satishpasumarthi This is similar to this [issue](https://github.com/tensorflow/serving/issues/1596). Please follow the workaround for now. Thanks!

[2020-05-29 06:52] gowthamkpr commented on #1603
@ashahba Can you please respond to the above comment so that we can take the discussion forward. Thanks!

[2020-05-29 08:12] satishpasumarthi commented on #1642
Hi, as mentioned in the bug description the workaround provided in https://github.com/tensorflow/serving/issues/1596 doesn't help with bazel build. I've tried that option but didn't help.

[2020-05-30 04:07] #1575 closed

[2020-05-30 04:09] minglotus-6 commented on #1575
Thanks for the update. I'll close this one since there is no longer dangling request header issues.

[2020-05-30 18:09] netfs commented on #1639
There is on reason not to support it. Happy to accept+review PRs to support DT_HALF.

[2020-05-30 18:19] netfs commented on #1618
from TF serving perspective, each pod is independent. and TF serving is oblivious to other pods.

so in theory, if one pod gives you X qps, i'd expect N pods (same sized) to give N*X qps, like one would expect if these were bare-metal machines. so clearly there are isolation issues with kubernetes setup -- something i do not think TF serving can help here.

i ran a simple gprc test on my desktop w

[2020-05-30 21:11] gowthamkpr commented on #1644
@BannockYJQ Can you please fill the [template](https://github.com/tensorflow/serving/issues/new). Thanks!

[2020-05-30 21:13] gowthamkpr commented on #1645
@quocdat32461997 Did you try saving the model and then loading it and then using model.predict n the loaded model? Thanks!

[2020-05-30 23:03] quocdat32461997 commented on #1645
I tried to save model, load it but not using model.predict. I use the loaded model and seas.run for evaluation (this is before deploy in TF serving). This way works perfectly (correct detections). However, when deploying in TF Serving, I got the error as I described in the post. At first, I thought it was a bug in AWS SageMaker for Tensorflow (I tried to deploy in SageMaker), but not because I got

[2020-05-31 02:23] #1640 closed

[2020-06-01 02:27] netfs commented on #1628
Predict API uses [TensorProto](https://github.com/tensorflow/tensorflow/blob/e9505939ea5f903c066fc3792df9d01c09b2bcb4/tensorflow/core/framework/tensor.proto#L16) as its input/output type. Protocol buffers (like [ELWC](https://github.com/tensorflow/serving/blob/7efa3188ea73620faf2143c6d7734c006c2c6842/tensorflow_serving/apis/input.proto#L72) you are referring to here) are passed in serialized form

[2020-06-01 02:27] #1628 closed

[2020-06-01 02:54] azagniotov commented on #1628
Hi @netfs ,

Thank you for your input and confirming that Predict API is designed to be agnostic to specific protocol by design.

[2020-06-01 03:02] #1633 closed

[2020-06-01 04:13] christisg commented on #1631
Hello @aniketmaurya,
Since it looks like you enable request batching, I'd recommend going over
github.com/tensorflow/serving/blob/master/tensorflow_serving/batching/README.md and trying different values for some of the parameters which might trigger memory growth, specifically max_batch_size, num_batch_threads and max_enqueued_batches.

[2020-06-01 08:17] lubolaiye commented on #1578
I ran into the same problem, and I solved it through this solution ，https://zhuanlan.zhihu.com/p/41505082

[2020-06-01 17:41] shadowdragon89 commented on #1618
As suggested, it doesn't sound like a TF Serving issue. Instead, you may want to consult kubernetes Engine for how to get better isolation among different pods.

[2020-06-01 17:41] #1618 closed

[2020-06-01 20:45] nrobeR commented on #1598
@njustyangkai https://github.com/tensorflow/serving/blob/master/tensorflow_serving/config/model_server_config.proto#L67 allows you configure logging of your requests and response. Let me know if that helps. Thanks.

[2020-06-01 23:17] satishpasumarthi opened #1648 "[Question] When will serving 2.2 be out?"

[2020-06-02 05:56] louiselumapas opened #1649 "Bad request when serving resnet API"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux 18.04
- **TensorFlow Serving installed from (source or binary)**:  Docker and apt package
- **TensorFlow Serving version**: 1.13.0-rc1+dev.sha.f16e777

My custom object detection model is being served in a docker container. I am trying to make a request like sending an image to the ModelServer using the res

[2020-06-02 05:58] louiselumapas commented on #1649
@netfs maybe you could help?

[2020-06-02 06:13] goodluck4s opened #1650 "HOW CAN I limit the GPU's MEMORY ."
I want to deploy a model by tensorflowServing+nvidia-docker on GPU .
HOW CAN I limit the GPU's MEMORY .
cause it's tend to use all memory of GPU .
I want to limit the GPU memory used to below 5G (10G in total) .

[2020-06-02 06:58] louiselumapas commented on #1641
@Anatolist I had similar issue as yours! Thank you so much i've been trying to solve this problem for 2 days. Although, the output seemed like a cluster of float number in an array even though i provided only one picture. Does the result seems similar like yours maybe? I followed the client file the one you referenced:

[code]

[2020-06-02 07:04] #1649 closed

[2020-06-02 16:01] gowthamkpr commented on #1650
@goodluck4s This is not related to serving, its related to tensorflow itself. You have to limit the the tensorflow models memory growth itself. You can go through the following [issue](https://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory) and the following [article](https://medium.com/@starriet87/tensorflow-2-0-wanna-limit-gpu-memory-1

[2020-06-02 16:04] gowthamkpr commented on #1646
@YoungXu06 Are you still running into this issue?

[2020-06-02 21:30] lilao commented on #1608
@JakeTheWise The problem you described in https://github.com/tensorflow/serving/issues/1608#issuecomment-629277286 seems to be a different issue. If this is unexpected, can you please open a new issue?

Do you have any updates regarding my question in https://github.com/tensorflow/serving/issues/1608#issuecomment-625881952? Thanks!

[2020-06-03 00:40] broken commented on #1613
This is cherry-picked in 2.2.0.

[2020-06-03 00:40] #1613 closed

[2020-06-03 01:55] goodluck4s commented on #1650
Thanks for your reply, ANd I know how to solve this problem

[2020-06-03 10:06] sebastianbk commented on #1648
I'm very interested in this as well.

[2020-06-03 22:31] satishpasumarthi commented on #1648
It's released now.  @sebastianbk

[2020-06-03 22:31] #1648 closed

[2020-06-04 00:28] satishpasumarthi commented on #1642
@gowthamkpr the issue still persists in 2.2 release. I think the issue pops up when the optimization flag "--copt=-O3" is enabled. Can we expect a fix for this?

[2020-06-04 00:52] krikit opened #1657 ""Expected one input Tensor." error on "regress" REST API"
I have a trouble with "regress" API on TensorFlow serving server,
with following this article: https://www.tensorflow.org/tfx/serving/api_rest

Please see gist link below to read the code more comfortably.
https://gist.github.com/krikit/32c918cc03b52315ade562267a91fa6b

I made a simple Keras model which got two inputs(x1, x2) and showed single output value(y).
With this model, I got error results

[2020-06-04 05:46] salanki opened #1659 "2.20-gpu Docker image is missing NVRTC"
### System information
CUDA 10.2

### Describe the problem
The non devel version of the 2.2.0-gpu image as well as nightly-gpu does not start.

[code]

`tensorflow/serving:2.2.0-rc2-gpu` works fine, as well as `tensorflow/serving:2.2.0-devel-gpu`. The latter includes NVRTC and the former does not depend on it.

### Exact Steps to Reproduce
`docker run --gpus all --rm -it tensorflow/serving:2.2.0-g

[2020-06-04 12:49] goodluck4s commented on #1650
if i use the following way to run my model serve , Is there a suitable environment variable to control GPU's memory usage

docker run --runtime=nvidia -p 8501:8501 \
  --mount type=bind, \
  source=/tmp/tfserving/serving/tensorflow_serving/servables/tensorflow/testdata/saved_model_half_plus_two_gpu, \
  target=/models/half_plus_two  \
-e NVIDIA_VISIBLE_DEVICES=3  \
  -e MODEL_NAME=half_plus_two -t

[2020-06-04 13:51] ElPapi42 commented on #1459
@leo-XUKANG you say that tflite has no benefits, but you just convert to tflite and no more?, or you apply the 8bit quantization?

[2020-06-04 21:09] ashahba commented on #1603
Oh, sorry just saw this. Let me try.

[2020-06-04 21:23] ashahba commented on #1603
No, both `2.2.0-rc2` and `2.2.0` fails for me with:
[code]

[2020-06-04 23:17] cheers00 opened #1660 "build failed on CentOS-7 @flatbuffers//:flatc'"
## Bug Report
Getting the following error while building.

[code]

Re: #1563
this bug also reported the same issue but with building docker. Here, I am not building any docker.

### System information
- **OS Platform and Distribution (e.g., CentOS Linux 7)**:
- **TensorFlow Serving installed from (source v2.2.0)**:
- **TensorFlow Serving version**:

### Describe the problem
Getting the above build

[2020-06-04 23:23] cheers00 commented on #1660
oops. Wrong project.

[2020-06-04 23:23] #1660 closed

[2020-06-04 23:43] ashahba commented on #1603
However if I use `TF_SERVING_BUILD_OPTIONS="--config=release"` it builds fine.

[2020-06-04 23:49] gowthamkpr commented on #1646
Closing this issue as it it not a bug. Please add additional comments for us to open this issue again. Thanks!

[2020-06-04 23:49] #1646 closed

[2020-06-04 23:51] gowthamkpr commented on #1626
I am closing this issue as its a tensorflow issue and is not related to serving. Please add additional comments for us to open this issue again. Thanks!

[2020-06-04 23:51] #1626 closed

[2020-06-05 04:09] netfs commented on #1659
what the output of this command?

`docker run --gpus all --rm nvidia/cuda:10.1-base-ubuntu18.04 nvidia-smi`

[2020-06-05 04:13] salanki commented on #1659
[code]

[2020-06-05 04:31] nrobeR commented on #1659
Thanks for filing the issue. There's a missing package in the release gpu docker image. We will push out the updated release docker image tomorrow. The nightly build today should also include the fix.

[2020-06-05 04:31] netfs commented on #1659
thanks to @nrobeR commit 74ea413db4407c1affe2b9fa69dc53ecdba61fa6 -- this should fix the issue.

[2020-06-05 04:33] salanki commented on #1659
Thank you!

[2020-06-05 14:44] peakji commented on #1659
@nrobeR Thanks for the quick fix! I've compiled a GPU docker image from the master branch, and I can confirm the `libnvrtc` error is now gone. However, the loading process became extremely slow, it took ~5 minutes to load a model which used to load instantly with `2.2.0-rc2-gpu`:

[code]

Heres the full log:
[code]

[2020-06-05 15:30] gowthamkpr commented on #1630
@marziehoghbaie Can you gives us a minimal code for us to reproduce this issue. Thanks!

[2020-06-05 16:55] marziehoghbaie commented on #1630
Hi @gowthamkpr,
Yes, I'll send my code tomorrow morning

[2020-06-05 18:55] nrobeR commented on #1659
@peakji could you please provide the model file or link to it so that I could try reproduce? Thanks

[2020-06-05 18:57] salanki commented on #1659
It happens without any model. It errors as soon as the TF binary is loaded as the linked library does not exist.

[2020-06-05 19:02] nrobeR commented on #1659
Thanks @salanki, I understand that and I've verified that's fixed in the latest gpu-nightly.

I was referring to the model loading time latency regression issue that @peakji was encountering.

[2020-06-05 20:33] quocdat32461997 commented on #1645
I wonder if any updates on this?
In details:
I was using TF 1.15 and keras 2.2.4

[2020-06-05 20:46] gowthamkpr commented on #1659
@reedwm Can you PTAL? Thanks!

[2020-06-05 21:28] nrobeR commented on #1659
@peakji we did a test on latest-devel-gpu vs 2.1.0-devel-gpu on half_plus_two model, the loading time are both ~600ms.

Could you share how you built the docker image and/or try with the latest-devel-gpu and see if that has the same regression?

[2020-06-05 21:29] nrobeR commented on #1659
@salanki the updated tensorflow/serving:2.2.0-gpu is out.

[2020-06-06 02:29] whatdhack opened #1662 "Error: Invalid argument: Tensor name: output/labels:0 has invalid batch size: 0"
## Bug Report
Getting the following error  occurs when no object  is detcted.

[code]
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 18.04
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**:1.14

### Describe the problem
See above.

### Exact Steps to Reproduce
Any model and an input that does  result in

[2020-06-06 02:59] peakji commented on #1659
I followed [this guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/building_with_docker.md#building-an-optimized-serving-binary) to build from `Dockerfile.devel-gpu`. The CPU image built from `Dockerfile.devel` works as usual.

It has the same regression. I’ve also tested with the updated `tensorflow/serving:2.2.0-gpu` image, the regression is exactly the same, so I

[2020-06-06 04:57] marziehoghbaie commented on #1630
I want to send all scales at once to get the responses at once:
This is my for loop for creating the request:
`        for i, scale in enumerate(scales):
            resized_h = int(h * scale)
            resized_w = int(w * scale)
            resized_img = cv2.resize(data, (resized_w, resized_h))
            img_padd = self.add_padding(resized_img,
                                        desired_

[2020-06-06 07:33] njustyangkai commented on #1598
@nrobeR thanks bro, i will try

[2020-06-06 07:35] njustyangkai commented on #1598
@nrobeR thanks bro, i will try. Do u have refrerence about how to use this param?

[2020-06-07 06:02] aniketmaurya commented on #1631
Hi @christisg
I followed the guide **github.com/tensorflow/serving/blob/master/tensorflow_serving/batching/README.md**  and tried different batch configs but still facing memory growth problem.

[2020-06-08 00:58] HuiCheng opened #1663 "GPU docker 2.2.0 takes too long to initialize"
<img width="1824" alt="tensorflow-serving-gpu" src="https://user-images.githubusercontent.com/7549696/83984139-19090000-a966-11ea-804e-062100cb739f.png">

[2020-06-08 02:49] roarjn commented on #1627
Hi, I am seeing the same error using the `tensorflow/serving:latest-gpu` image. I do not see this error when using the `tensorflow/serving:latest` image.
I am pointing to the right 8501 port.

[2020-06-08 11:41] vijaygill commented on #1663
Same here. It  takes nearly 7 minutes. I am using one RTX 2080 Super. The image for 2.1.0 is almost instantaneous.

[2020-06-08 17:38] nrobeR commented on #1630
Are you passing instances or inputs in the JSON object? Based on the documentation https://github.com/tensorflow/serving/blob/master/tensorflow_serving/util/json_tensor.h#L66-L69, 'instances' requires all inputs to have same 0-th dimension while 'inputs' can represent input tensors with varying sizes.

[2020-06-08 17:48] netfs commented on #1662
This is fixed in #1610 and available in 2.2.0 release. Can you please test the new release?

[2020-06-08 18:47] thomasdhc opened #1664 "Memory leak when reloading model config"
## Bug Report
Memory leak when reloading model config

### System information
OS Platform and Distribution: ubuntu:18.04
TensorFlow Serving installed from: binary
TensorFlow Serving version: 2.1.0
Bug produced using TFS docker image: tensorflow/serving:2.1.0-gpu

### Describe the Problem
Using the grpc model management endpoints to load and unload models, specifically calling the function ReloadCo

[2020-06-08 19:22] whatdhack commented on #1662
Release 2.2.0 works  with TF 1.x saved models ?

[2020-06-08 19:37] netfs commented on #1662
Yes TF 1.x saved models should continue to work with TF 2.x

[2020-06-08 23:43] gowthamkpr commented on #1650
@goodluck4s You can take a look at this [comment](https://github.com/tensorflow/serving/issues/1440#issuecomment-541578798) where your question has been answered. Thanks!

[2020-06-08 23:50] gowthamkpr commented on #1663
@HuiCheng Can you share a minimal reproducible code for us to reproduce this issue? Thanks!

[2020-06-09 01:52] HuiCheng commented on #1663
https://github.com/tensorflow/serving/tree/master/tensorflow_serving/servables/tensorflow/testdata/saved_model_half_plus_two_gpu_trt/00000123

docker run --gpus all  -it --rm  -v /tmp/serving/tensorflow_serving/servables/tensorflow/testdata/saved_model_half_plus_two_gpu_trt/00000123/:/models/intent/1 -e TF_CPP_MIN_LOG_LEVEL=0 -e MODENAME=intent    tensorflow/serving:2.2.0-gpu-libnvrtc10.1

In addi

[2020-06-09 03:06] nrobeR commented on #1598
No problem. You can checkout the documentation here: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/config/logging_config.proto

[2020-06-09 03:12] nrobeR commented on #1659
Thanks @peakji. Having a minimal reproducible example would be great.

I'm going to close this one as the original issue about the 2.2.0 gpu docker image config issue has been resolved. Keep two problems in the same issue is a bit confusing to others. Do you mind creating a separate one for this? Thanks

[2020-06-09 03:13] peakji commented on #1663
I've encountered the same regression https://github.com/tensorflow/serving/issues/1659#issuecomment-639540075 as well.

@HuiCheng @vijaygill Are you using recurrent or dynamic structures in your models?

[2020-06-09 03:15] peakji commented on #1659
@nrobeR 👍

Actually there's already one: https://github.com/tensorflow/serving/issues/1663

[2020-06-09 03:29] nrobeR commented on #1659
Thanks!

[2020-06-09 03:29] #1659 closed

[2020-06-10 00:16] garettwjohnson commented on #1291
@joekohlsdorf came across this post as I was weighing a few different deployment strategies myself.  Was wondering if you still had issues with this.  And also, if a hybrid s3/non-s3 solution would work.

The hybrid solution I was thinking about would include hosting the saved_models in s3, but have the model.config file hosted on the server itself.  So you could have the server look for updates e

[2020-06-10 04:59] goodluck4s commented on #1650
thanks for you reply and i had solve this problem

[2020-06-10 10:47] Adblu opened #1665 "Connection timeout error 110"
Starting server:
[code]

Example inference code:
[code]

And getting:

[code]

Do you have any clue ?

[2020-06-10 10:48] Adblu opened #1666 "How to run on many GPU ?"
I am starting the server:
[code]
where i specify --gpus device = 1

But how to select all 8 cards I have ?

[2020-06-10 10:49] Adblu commented on #1666
flag all.

[2020-06-10 10:49] #1666 closed

[2020-06-10 11:23] Adblu commented on #1006
nice and clear, but how to set that flag if im using docker ? @varunarora  @edumotya

[2020-06-11 17:11] gowthamkpr commented on #1650
@goodluck4s Thank you for the reply. I am closing this issue as it has been resolved.

[2020-06-11 17:11] #1650 closed

[2020-06-12 15:08] gowthamkpr commented on #1657
Regression API calls prescribe that there must be exactly one inputs Tensor, and one outputs Tensor.
This is the reason why you are running into an error.

[2020-06-12 15:47] christisg commented on #1631
Hello @aniketmaurya,

In addition to the batching options have you tried experimenting with lowering the QPS? Is the memory growth still happening for lower QPS?
We'd need the model and the requests to be able to reproduce.

Thanks

[2020-06-12 23:11] patrickvonplaten commented on #1407
Is there any update on this issue? In TF 2.2 I still don't see an easy way to measure actually and peak memory usage

[2020-06-13 17:50] varunarora commented on #1006
@Adblu I had to do a custom Docker image build using their existing Dockerfile. Wasn't fun :/ But it isn't the worst thing in the world.

[2020-06-14 19:38] shadowdragon89 commented on #1664
I cannot reproduce the issue following the steps. Attach the server side log I saw, which seems different comparing to the screen shot you provided.

Server side log:
2020-06-14 18:57:14.959220: I tensorflow_serving/model_servers/server_core.cc:464] Adding/updating models.
2020-06-14 18:57:15.040068: I tensorflow_serving/core/loader_harness.cc:138] Quiescing servable version {name: model version:

[2020-06-14 19:45] maxockner1 commented on #1664
We will take a look ASAP!

On Sun, Jun 14, 2020, 12:38 PM chaox <notifications@github.com> wrote:

[2020-06-14 20:23] ethanyanjiali commented on #1459
感谢分享，请问精度大量损失是因为quantization吗？如果不做量子化仅仅是tflite的格式，性能和精度上会有变化吗？

[2020-06-15 07:41] krikit commented on #1657
I understand why I was running into an error.
The method named "[PreProcessRegression()](https://github.com/tensorflow/serving/blob/c6b9dcac44a38ad300e9ee16740450f4040476f0/tensorflow_serving/servables/tensorflow/regressor.cc#L161)" shows that "regression" API must have only one "inputs" string Tensor.
I think "regress" API is currently not completely functional as described [here](https://www.ten

[2020-06-15 23:52] thomasdhc commented on #1664
Hey @shadowdragon89 ,

We've reproduced the bug using a model provided by Tensorflow. Please find the reproduction steps below.

**1. Download and copy models then start TFS**
TFS starts with one model loaded:
[code]

**2. Client side python script**
Exec into the TFS docker to setup client side code:
[code]

Add following code to tfs_grpc_client.py:
[code]

**3. Load, unload and check memory usag

[2020-06-16 17:56] nrobeR commented on #1598
Closing this per discussions above. Please feel free to re-open if there's some issue with it. Thanks.

[2020-06-16 17:56] #1598 closed

[2020-06-16 17:58] nrobeR commented on #1630
Hi @marziehoghbaie, could you please try with inputs https://github.com/tensorflow/serving/blob/master/tensorflow_serving/util/json_tensor.h#L137-L144?

[2020-06-17 01:51] C45513 opened #1667 "TFX Pusher with model served on Google AI Platform Model"
I've successfully deployed the model to Google AI Platform Model using the tfx.extensions.google_cloud_ai_platform.pusher.

However, I am having an issue formatting the data input as the requested JSON object for prediction. I'd appreciate your help and guidance.

There are 2 signature defs, "serving_default" is the data input with Base64 serialized data input. "serving_raw" is the data input with

[2020-06-17 17:11] marziehoghbaie commented on #1630
Hi @nrobeR, to answer your 1st question, yes I pass the inputs as JSON objects and it works perfectly when I resize the image inputs so they have the same size, But my model must process inputs with different size. As the document says all the inputs with the same name, e.g. inp_1, must have the same size. For the second question, I can't see the point? this example has three inputs with different

[2020-06-17 20:10] ratansingh98 commented on #1664
I had reproduced the steps you provided. Yes, it has a memory leak if we load and unload multiple times. Might be TensorFlow-serving architecture was defined for creating and destroying instances. Considering the current build I would say it will be better if you create your own docker on top of TensorFlow-serving.

[2020-06-17 21:32] gowthamkpr commented on #1665
@Adblu Were you able to solve this issue?

[2020-06-17 21:36] thomasdhc commented on #1664
Ok, what is your proposed solution? If the TensorFlow-serving architecture has a memory leak, how would building a docker on top of it find and deallocate the memory?

[2020-06-17 21:46] ratansingh98 commented on #1664
Instead of unloading your model, you can destroy your docker container. And by creating your own docker on top reproduce step 2 for each run. And for step 3, you can call your container and even specify parameter through docker image CLI.

[2020-06-17 21:49] mihaimaruseac commented on #1664
Does this reproduce with any model?

[2020-06-17 22:01] thomasdhc commented on #1664
Hi @mihaimaruseac,

Yes, we were able to reproduce this with our own models as well as models provided by Tensorflow.

[2020-06-17 22:19] jameschanx opened #1668 "--per_process_gpu_memory_fraction flag does not provide accurate memory allocation"
## Bug Report
### System information
- **OS Platform and Distribution**: EC2 g4dn.xlarge instance, Ubuntu 16.04 AWS Deep Learning AMI
- **TensorFlow Serving installed from (source or binary)**: docker pull tensorflow/serving:2.2.0-gpu
- **TensorFlow Serving version**: 2.2.0

### Describe the problem
When I use --per_process_gpu_memory_fraction to allocate the amount of GPU ram to tensorflow servin

[2020-06-18 04:55] gowthamkpr commented on #1657
Its deprication in tensorflow 2.x but in 1.x regress api still works. Please take a look at the doc [here](https://www.tensorflow.org/tfx/serving/api_rest#request_format) which talks about how to pass context. Thanks!

[2020-06-18 07:23] Adblu commented on #1665
@gowthamkpr  Its local network, because I am doing ssh tunneling of the port, but anyway, yes, solved.

[2020-06-18 07:23] #1665 closed

[2020-06-18 13:41] KarimSamehSadek opened #1669 "Is there a tensorflow/serving image with a universal binary?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-06-18 14:01] KarimSamehSadek commented on #1669
### Exact Steps to Reproduce
$ tensorflow_model_server

### Source code / logs
Failed to start server. Error: Invalid argument: Both server_options.model_base_path and server_options.model_config_file are empty!

[2020-06-19 06:25] ashahba commented on #1603
@MahdiEsf I'll try this again tomorrow and I'll post here.

[2020-06-19 06:49] zhaocc1106 opened #1670 "tensorflow serving returning NaN when predict"
Tensorflow version: 2.2.0
Tensorflow serving version: TensorFlow ModelServer: 2.2.0-rc2+dev.sha.d22fc19 TensorFlow Library: 2.2.0

I had trained one GAN model and saved the generator by the following function:
[code]

It predicts successfully when load model by tf.keras.models.load_model in python. But when serving the model in tensorflow model server, the model returns NaN value. I serve the mode

[2020-06-19 09:26] RussianEmpire opened #1671 "Plugins (dynamically linked user extensions)"
https://stackoverflow.com/questions/62453370/does-tensorflow-serving-allows-plugins-dynamically-linked-user-extensions

## Feature Request

### Describe the problem the feature is intended to solve
When recompiling a code is not an option (for any reason: security, original code is forbidden to be changed, lost, and so on) and so static linking of the user code (custom sources, etc) is unavailable

[2020-06-19 09:43] zhaocc1106 commented on #1670
I tried serve this model on gpu-serving. Has the same problem.
Serving another rnn classifer model is okay...

[2020-06-19 23:28] liuyibox opened #1672 "Response [504]: "error": "Timed out waiting for notification""
I am trying to use tensorflow-model-server (2.2.0) to serve my fine-tuned bert model. It works well when I feed 1 sentence or 10 sentences with 1 POST request. When the sentences per POST request comes to 100, my endpoint ("http://localhost:8501/v1/models/liuyi_sr2pr:predict") will return a 504 response, and the response.text is ` "Timed out waiting for notification"`.

When I am using `tensorflow

[2020-06-22 07:02] rmothukuru commented on #1670
@zhaocc1106,
Can you please provide the `SignatureDef` of your `Model` (using `saved_model_cli` command) and the Command that you have used to perform Inference using `REST API` so that we can reproduce the issue? Thanks!

[2020-06-22 07:22] rmothukuru commented on #1672
@liuyibox,
Can you check [this comment](https://github.com/tensorflow/serving/issues/1006#issuecomment-467243985) and this [Stack Overflow Answer](https://stackoverflow.com/a/41557248) and let me know if it helps? Thanks!

[2020-06-22 08:54] only-yao commented on #1564
Is this problem solved now, I have the same problem.

[2020-06-22 09:21] Adblu opened #1673 "Correct data type for tf serving warmup file: tf_serving_warmup_requests"
Hi. I have trouble to generate correct tf_serving_warmup_requests file.

Here is my script:

[code]

I need to highlight that my model accept an image as list of 3d nd.array.

I have tried many different combinations of specifying input data in here:

[code]
however nothing works, and I;m getting following error:
[code]

Here is the full log:
[code]

### System information
- ubuntu 18.04, python 3

[2020-06-22 10:03] aaur0 commented on #1542
I will be more than happy to help to get this merged and maintain it in future as well.

[2020-06-22 10:43] Adblu commented on #1673
I have solved the problem by changing the way the image is loaded:
[code]

As the last words, the error message:
'''
2020-06-22 08:16:07.712274: E tensorflow_serving/util/retrier.cc:37] Loading servable: {name: a version: 1} failed: Invalid argument: Expects arg[0] to be float but half is provided"
'''
the word "half" is really weird and non informative .

[2020-06-22 10:43] #1673 closed

[2020-06-22 13:03] MahdiEsf commented on #1603
@ashahba Thanks. We were able to build images successfully with updated files.

[2020-06-22 19:30] MahdiEsf opened #1674 "error: 'Expected size[1] in [0, 21], but got 25\n\t [[{{node FPN_slice_lvl4/narrow_to/Slice}}]]'"
I have built docker serving MLK images with the latest updates released recently https://github.com/tensorflow/serving/tree/master/tensorflow_serving/tools/docker. Now that I want to make predictions with CPU serving images using fine tuned Mask-RCNN model, I get the following error:

**error: 'Expected size[1] in [0, 21], but got 25\n\t [[{{node FPN_slice_lvl4/narrow_to/Slice}}]]'**

This error i

[2020-06-22 20:39] liuyibox commented on #1672
@rmothukuru
This works perfectly for now. Thanks.

[2020-06-22 20:39] #1672 closed

[2020-06-23 09:33] ievgen-goichuk-rft opened #1675 "saved_model_cli convert tensorrt adds unknown inputs to serving signature"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.4
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.7

**Describe the current behavior**
[cod

[2020-06-23 09:33] zhaocc1106 commented on #1670
Like the follows:
https://stackoverflow.com/a/62483768/13766029
There is  temporary workaround solution and the problem maybe caused by 'training' param.

[2020-06-23 09:54] rmothukuru commented on #1674
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-06-23 12:47] marcoadurno opened #1676 "Serving "metadata" - empty input signature"
Hi,

Starting from a comment in issue https://github.com/tensorflow/serving/issues/1248#issuecomment-501891571 I had a look at defining a custom signature to "serve" some model metadata. I'm using TF2.2 (Python 3.7) and TF serving 2.2 (docker image).

One could export the model like that:
[code]
expose it via tf serving and query it via the rest API:
[code]
The request however fails:
[code]
It tur

[2020-06-23 16:00] sathyamoorthyrr opened #1677 "URLs in Installation shell commands are enclosed within anchor tag"
The Tensorflow Serving Installation **commands** are formatted.

The actual shell command should be,
[code]

But, the visible Documentation at https://www.tensorflow.org/tfx/serving/setup#installation_2 formats all the URLs.

The URLs are enclosed within the anchor tag and href attribute `<a href="">`
[code]

[2020-06-23 18:34] hi-im-ryanli commented on #1675
Same issue here - pulled a `albert-base-v2` from HuggingFace, after building TensorRT engines, it added a lot of unknown inputs:

[code]

Without TensorRT conversion, the model's signature looks all good. It only happens after TRT conversion.

[2020-06-23 22:17] anfernee-cyanoly commented on #1490
@hitchhicker we're using SentencepieceEncodeSparse operator, your instruction is for operator SentencepieceOp, could you please share what need to done for SentencepieceEncodeSparse operator.

Thanks for your help!

[2020-06-24 10:59] rmothukuru commented on #1677
@sathyamoorthyrr,
Can you please specify the problem caused by the changed formatting. Thanks!

[2020-06-24 11:07] sathyamoorthyrr commented on #1677
@rmothukuru

Do you see the actual commands visible in the Documentation (or the second set of commands above)

It has `<a href=""> ... </a>` which is not accepted by the shell

When we just use the above commands in our terminal directly, the shell simply says,

[2020-06-24 16:06] jjgreenberg commented on #1627
bump! Also have this issue port mapping using tensorflow/serving:gpu

[2020-06-24 19:49] broken commented on #1490
@anfernee-cyanoly SentencepieceEncodeSparse is not part of the tf text library, and not natively built in tf model server. You have two options:
1. Convert your code to use the SentencepieceTokenizer (SentencepieceOp) - [api docs](https://github.com/tensorflow/text/blob/master/docs/api_docs/python/text/SentencepieceTokenizer.md)
2. Find tf serving documentation on building model server with custom

[2020-06-24 19:49] #1490 closed

[2020-06-24 23:50] MahdiEsf commented on #1674
@rmothukuru What code snippet are you specifically asking for? I basically trained a mask-RCNN model and exported its tar file in S3 using a training docker image (had to set MODE_MASK=False in the training bash command since I do not need object segmentation as:
python train.py --config DATA.BASEDIR=/opt/ml/input/data/training MODE_FPN=True MODE_MASK=False \
        "DATA.VAL=('any_val',)"  "DATA

[2020-06-25 06:30] marziehoghbaie commented on #1627
Hi, are you following the correct notation?
""Will bind port 8502 on the host, to port 8501 of the docker container. That being the rest api port.""
your_port_No:port_No_on_docker(which is 8501)

[2020-06-25 14:04] AlexanderJLiu commented on #485
[This](https://github.com/AlexanderJLiu/tensorflow-serving-api/tree/master/golang) could be help for anyone who want to generate tensorflow serving api for go step by step.

https://github.com/AlexanderJLiu/tensorflow-serving-api/blob/ae6d50b421bc84286e608f4eb004506482c6d953/golang/main.go#L23-L47

[2020-06-26 13:09] gowthamkpr commented on #1670
@zhaocc1106 Can you please explain in depth about the training param? Thanks!

[2020-06-26 13:11] gowthamkpr commented on #1657
Closing this issue as it has been inactive for more than a week. Please add additional comments for us to open this issue again. Thanks!

[2020-06-26 13:11] #1657 closed

[2020-06-26 13:12] gowthamkpr commented on #1644
Closing this issue as it has been inactive for a long time. Please add additional comments for us to open this issue again. Thanks!

[2020-06-26 13:12] #1644 closed

[2020-06-26 13:14] gowthamkpr commented on #1602
Closing this issue right now. Please open a new issue for us to take the discussion further. Thanks!

[2020-06-26 13:14] #1602 closed

[2020-06-26 13:16] gowthamkpr commented on #1631
@aniketmaurya Can you please respond to the above comment so that we can take the discussion further. Thanks!

[2020-06-26 14:10] aniketmaurya commented on #1631
I'm not in a position to provide the model. I've tried both with batching enabled and without batching. When I increase decrease the max queue size then the memory growth happens at a slow rate but still at some time all the RAM is consumed.

[2020-06-26 14:36] aaur0 commented on #1596
I had same issue with Centos and passing "--build-arg TF_SERVING_BUILD_OPTIONS="--config=release" as an argument to Docker build resolved the problem.

[2020-06-26 20:30] denisb411 opened #1678 "'pip install tensorflow-serving-api' uninstalling my current version of tensorflow and installing a new one"
Currenly I'm using the docker version of tensorflow-gpu:1.15 and, when building a docker image from a Dockerfile, I need to download tensorflow-serving-api because my code requires it.
When it executes, it uninstalls my 1.15 version and installs the current one (2.2), which is not what I wanted. As a workaround I have to manually install 1.15 again using `RUN pip uninstall tensorflow && pip instal

[2020-06-28 02:44] gowthamkpr commented on #1669
TF serving should be available as tensorflow-model-server-universal, without platform specific instruction sets (please see here for more details).

[2020-06-28 02:47] gowthamkpr commented on #1675
I think this is mainly a tensorrt issue, not related to serving. As you have already posted this issue on tensorflow/tensorrt, I am closing this issue here.

Please try posting it in tensorflow/tensorflow repo too...

[2020-06-28 02:47] #1675 closed

[2020-06-29 03:24] 372046933 commented on #1578
FYI.
`bazel build --jobs=2 -c opt --copt=-msse --copt=-msse4.1 --copt=-msse4.2 --copt=-mfma --copt=-mavx --copt=-mavx2 --copt=-fopenmp --linkopt=-fopenmp --linkopt=-static tensorflow_serving/model_servers/tensorflow_model_server`

[2020-06-29 08:08] ievgen-goichuk-rft commented on #1675
Initially, I did raise an issue in **tensorflow/tensorflow**: https://github.com/tensorflow/tensorflow/issues/40686 and they asked to raise it here.

And a similar issue was raised in **tensorflow/tensorrt**: https://github.com/tensorflow/tensorrt/issues/202

[2020-06-29 08:28] wangyunxiaa opened #1679 "saved_model_warmup.cc is not in the start log"
#911  Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:centos 7
- **TensorFlow Serving installed from (source or binary)**:source
- **TensorFlow Serving version**:1.15

### Describe the problem
Describe the problem clearly here. Be sure to convey here why it's a bug in
TensorFlow Se

[2020-06-29 12:12] njustyangkai commented on #1598
@nrobeR hi, bro, i still have question about this issue, as you know, i am now using docker tfs to serving, but i don't know which param to set when i startup a container. there are the setup params i can get:

    --port=8500
    --grpc_socket_path=""
    --rest_api_port=0
    --rest_api_num_threads=16
    --rest_api_timeout_in_ms=30000
    --enable_batching=false
    --batching_parameters_file="

[2020-06-29 12:29] rmothukuru commented on #1679
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-06-29 15:31] marcoadurno commented on #1413
Just to mention that the official documentation suggests that labels should work with the REST API (see [here](https://www.tensorflow.org/tfx/serving/serving_config#assigning_string_labels_to_model_versions_to_simplify_canary_and_rollback)), but as of 2.2.0 this is still not working.

Is there any update on this?

Thank you,

Marco

[2020-06-29 18:16] netfs commented on #1642
i think the problem here is building https://github.com/protocolbuffers/upb (external) repo with the described compiler+optimization levels.

@satishpasumarthi it may be faster to resolve this by reporting an issue to https://github.com/protocolbuffers/upb with a sample compiler command line flag, that will cause the build to fail. and once `upb` fixes it in their repo, we can update our TF source

[2020-06-29 18:26] misterpeddy commented on #1413
Yeah this was fixed in https://github.com/tensorflow/serving/commit/3df036223b66738de1b873e9b163230fb7661cb4 which did not make it to 2.2.

The documentation is unfortunately generated off of master, and so it describes the features that may not be available in the latest release. HTTP support for labels should be available in the latest Docker images and the next release.

[2020-06-29 18:26] #1413 closed

[2020-06-29 22:08] shadowdragon89 commented on #1664
Thanks @thomasdhc! I can reproduce the problem with the updated steps. I am looking into the issue.

[2020-06-29 23:57] satishpasumarthi commented on #1642
Hi, I've reported the issue on the upb external repo and they have pushed the changes to master. Can the TF team pull the latest changes ?
https://github.com/protocolbuffers/upb/issues/300

[2020-06-30 01:21] wangyunxiaa commented on #1679
the saved_model_cli shows as followings:
`signature_def['ac_forward']:
  The given SavedModel SignatureDef contains the following input(s):
    inputs['input'] tensor_info:
        dtype: DT_FLOAT
        shape: (-1, -1)
        name: Placeholder:0
    inputs['length'] tensor_info:
        dtype: DT_INT32
        shape: (-1, 1)
        name: Placeholder_1:0
    inputs['pre_state'] tensor_info:

[2020-06-30 08:11] wangyunxiaa commented on #1679
I am confused that I also cannot get the message info
`I tensorflow_serving/servables/tensorflow/saved_model_warmup.cc:83] No warmup data file found at ****`

It is strange, Is there some options missed when buildding the tensorflow_model_server or other BUILD rules should be added?

[2020-06-30 08:36] mNemlaghi opened #1680 "Cannot serve custom layer based model"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2020-06-30 10:15] asgg4321 commented on #1469
I train custom model in 1.14.0, and then, I used tf.saved_model.simple_save() to export tf.keras.models.Model as savedmodel. It's slowly for load model in tensorflow/serving 2.0 than tensorflow/serving 1.14.0.  I don't know if this is the same as your problem. Did you solve the problem?

[2020-06-30 12:16] mikezhang95 commented on #408
any updates on this?

[2020-06-30 17:38] netfs commented on #1642
@mihaimaruseac -- do you have recommendations on how can we get protocolbuffers/upb#300 fixes into TF?

it seems TF serving get `upb` from TF, and TF gets it from `grpc` (part of `grpc_deps()` afaics).

[2020-06-30 17:46] mihaimaruseac commented on #1642
The solution then should be to update `grpc` dependency in TF's workspace.

[2020-06-30 23:17] DonnieKim411 commented on #1215
This solution did not help me (TF 2.2). I am still seeing increase in memory. Does anyone have a solution to this?

Is this pull request relevant to our problem or no? https://github.com/tensorflow/serving/pull/1638

[2020-07-01 11:32] rmothukuru commented on #1680
@mNemlaghi,
Can you please share the files, `tokenizer_path` and `base_model_path` (if they are not confidential) so that we can reproduce your error. Thanks!

[2020-07-02 02:17] 372046933 commented on #1381
I have successfully added Beam search ops to Serving 2.2.0. Here is the patch
[code]
Then add `tfaddons.patch` to `third_party/tf_addons/tfaddons.patch` with the following content
[code]

[2020-07-02 02:51] baopanda opened #1682 "Tensorflow serving about "--enable_batching" flag"
Hi all,
I am using tensorflow for serving models but if I use the same script after starting the server with --enabled_batching flag, it returns me this error "Batching session Run() input tensors must have equal 0th-dimension size".
Anyone can help me? Thank you in advance <3

[2020-07-02 03:49] waelmas commented on #1668
I seem to be hitting the same issue.

I'm building from Dockerfile:

[code]

Once I run the container, it starts as if everything is okay until it shows

running using:

[code]

`[evhttp_server.cc : 238] NET_LOG: Entering the event loop ...`

I'm mainly using Docker on Windows 10 but I get the same thing when I build using GCP Cloud Build then try to start a GCE VM based on the generated image.

A

[2020-07-02 05:40] rmothukuru commented on #1682
@baopanda,
Can you please confirm if you have configured Batching parameter File. Please find this [TF Serving Link](https://www.tensorflow.org/tfx/serving/serving_config#batching_configuration)  for more details. If you have configured as shown in that link and if the issue still persists, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue repo

[2020-07-02 06:09] rakeshmothukuru1 opened #1683 "Please add Documentation for using Custom Objects"
Custom Objects is a very good option for the Tensorflow Developers. It would be great if a Tutorial is present in which a Model is built using Custom Layers, uses Custom Metrics, Custom Loss, Custom Optimizers, etc.. and **then performs inference using Tensorflow Serving**.

It will help as a reference guide for all the Developers using Custom Objects in their Projects. Thanks!

[2020-07-02 06:51] baopanda commented on #1682
@rmothukuru
Yeppp, I have configured Batching parameters:
`max_batch_size { value: 32 }
batch_timeout_micros { value: 5000 }`
and the code request to grpc server:
`def grpc_client_request(f_f, f_p, b_f, b_p, w_f, timeout=10):
    host = "localhost"
    model_spec_name = "segment"
    port = 8500
    model_sig_name = "serving_default"

    host = host.replace("http://", "").replace("https://", "")

[2020-07-02 13:16] mNemlaghi commented on #1680
@rmothukuru thanks for the answer, model file is quite heavy, but please find tokenizer pickle attached (zipped) [here](https://github.com/tensorflow/serving/files/4864444/tokenizer.zip)

About the base model, here is a summary of its layers as well as the output of , hope it helps :

- Model summary :
[code]
And now `saved_model_cli` output
[code]
Thanks in advance !

[2020-07-03 03:46] baopanda commented on #1682
@shadowdragon89 @rmothukuru you have any ideas?

[2020-07-04 20:23] shadowdragon89 commented on #1664
Hi @thomasdhc,
It looks to me the issue seems to be caused by some memory cache behavior from docker. When I tried to load and unload the model multiple times, the reported memory usage does not increase continuously.
More specifically, you could try to limit the docker memory by '-m 2GB' when starting the server, the models could be load and unload many times without problem.

[2020-07-06 06:12] tiru1930 opened #1684 "Error while running tfserving docker with s3 model"
I  am not able to start docker for tfserving where my model is stored in aws s3 and the command i am using is

[code]

Here model is stored in bucket

bucket-name/model-name
     saved_mode.pb
     variables

Error

[code]

[2020-07-06 06:25] deadprogram commented on #1663
Having same problem, any further updated on this issue? Thank you.

[2020-07-06 08:38] leo-XUKANG commented on #1529
@raimondasl  thanks to your work, it helps me a lot

[2020-07-06 14:59] tiru1930 opened #1685 "tf-serving increase system memory usesge throwing an instance of 'std::bad_alloc'"
[code]
tensorflow_model_server --port=9000 --rest_api_port=8501 --model_name=eff_savd_model --model_base_path=s3://path

Error

[code]

Request

[code]

[2020-07-06 15:14] DonnieKim411 commented on #1215
I also tried #1638, not helping my case... I updated the code, rebuilt  tensorflow-serving from the source using docker, and deployed... but i am still seeing memory keeps growing over time.

Btw, the way I am requesting the model (via gRPC) might be a factor. For me, I wanted to stress test the server given our system hardware spec. So I have been requesting 512 inputs as a batch, but simultaneou

[2020-07-06 20:19] thomasdhc commented on #1664
Hey @shadowdragon89,

Thanks for the response.
I have a couple of questions. What were the steps you took to test that the memory usage does not increase continuously?
Did you load and unload the same one model? If you were testing with multiple models, did you load them all at once or one at a time?

In my test, the memory usage does seem to grow.
### Test 1
For example, here is an extension of t

[2020-07-06 22:09] sanjoy commented on #1663
Quadro RTX 8000 has compute capability 7.5 and we don't ship SASS for it with TensorFlow, so the time spent here is just the CUDA driver JIT compiling the code.  Including new CCs into TF pip releases is tricky also because adding new compute capabilities increases binary size, which is a problem as well.

CC @chsigg

[2020-07-07 06:16] leo-XUKANG commented on #1598
@njustyangkai 你好啊，你需要修改model_config_file，为啥子勒，因为
![image](https://user-images.githubusercontent.com/28701457/86725297-1b8d7100-c05c-11ea-91fc-8ddb4d3cc785.png)
你可以在文件中调整logging的等级，然后使用
model_config_file_poll_wait_seconds参数进行调整，这样不用停掉你的容器也能更新，当然，如果你启动容器的时候没有这两个参数，也是需要停掉容器，重新启动的

[2020-07-07 07:18] leo-XUKANG commented on #1589
@ganler 您好，请问您怎么解决的这个问题
是更改这个代码吗：
  if is_same_size and numpy_dtype in _TENSOR_CONTENT_TYPES and shape_size > 1:
    if nparray.size * nparray.itemsize >= (1 << 31):
      raise ValueError(
          "Cannot create a tensor proto whose content is larger than 2GB.")
    tensor_proto.tensor_content = nparray.tostring()
    return tensor_proto

[2020-07-07 07:21] ganler commented on #1589
@leo-XUKANG Yes, this should work. I also made a PR to tensorflow: https://github.com/tensorflow/tensorflow/pull/38258.

BTW, I suggest we talk in English as GitHub is a global environment. :-)

[2020-07-07 08:28] #1685 closed

[2020-07-07 08:29] tiru1930 commented on #1685
issues in inference request

[code]

[2020-07-07 08:29] #1684 closed

[2020-07-07 08:30] tiru1930 commented on #1684
issue with storage url  path doesnot have version

[2020-07-07 08:49] leo-XUKANG commented on #1589
@ganler  Thanks

[2020-07-07 20:54] yuzliu commented on #671
It is important to have an appropriate health check endpoint so users can add liveness check.

[2020-07-07 20:55] salanki commented on #671
Is there any endpoint, at all that can be used as a health check for the server itself ie. when serving multiple models?

[2020-07-08 13:52] KarimSamehSadek commented on #1669
Thanks @gowthamkpr , I dont see the link, could please post it? thank you

[2020-07-09 00:07] blepfo commented on #1365
If anyone else runs into this issue, I found what seems to be a simple workaround (specifically on `r1.15` branch)

The issue is that [`tensorflow_serving/apis/prediction_log.proto`](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/apis/prediction_log.proto) needs a `LogMetadata` from [`tensorflow_serving/core/logging.proto`](https://github.com/tensorflow/serving/blob/r1.15/ten

[2020-07-09 02:27] wangyunxiaa commented on #1679
Any suggestions or ideas about this issue?

[2020-07-09 02:48] puneetjindal commented on #621
Does this still work?

Can I do something like below?
`docker run -p 8500:8500 --mount type=bind,source=gs://<bucket-name>/Model,target=/models/Model -e MODEL_NAME=Model -t tensorflow/serving &`

[2020-07-09 08:10] amandazw commented on #1098
same error,did you fix it?

[2020-07-09 19:56] JakeTheWise commented on #1608
allow_version_labels_for_unavailable_models works! I'm just dumb.

[2020-07-09 19:56] #1608 closed

[2020-07-10 10:16] hiigao commented on #1567
I met for the same issue. Is there any formal way to compile serving without aws support?

[2020-07-10 10:43] DachuanZhao commented on #1331
Hi , @gowthamkpr
I meet the same error :
[code]
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  CentOS7
TensorFlow Serving installed from (source or binary):  docker  tensorflow/serving:latest
TensorFlow Serving version: docker  tensorflow/serving:latest
What should I do ?
Why not change the default size 1GB to 2GB or more ?

[2020-07-10 15:09] christisg commented on #1631
Hi @aniketmaurya,

Have you observed memory growth with lower QPS to the model?

[2020-07-10 15:18] aniketmaurya commented on #1631
yes, I have observed this problem with lower QPS a well

On Fri, Jul 10, 2020 at 8:39 PM christisg <notifications@github.com> wrote:

[2020-07-10 15:21] christisg commented on #1674
Hi @MahdiEsf,

Would it be possible to share the request that triggers the error?

[2020-07-10 15:37] gowthamkpr commented on #1670
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments to open this issue again.Thanks!

[2020-07-10 15:37] #1670 closed

[2020-07-11 15:59] DachuanZhao opened #1686 "A protocol message was rejected because it was too big (more than 1073741824 bytes)"
A same issue maybe [https://github.com/tensorflow/serving/issues/1331](https://github.com/tensorflow/serving/issues/1331)

## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS7
- **TensorFlow Serving installed from (source or binary)**: pip install tensorflow
- **TensorFlow S

[2020-07-11 21:00] sanjoy commented on #1668
Given this, it is very likely you're seeing the additional GPU memory allocated by the CUDA libraries.  This amount is difficult for TF to predict as well.

When `per_process_gpu_memory_fraction` is unset we try to [set aside](https://github.com/tensorflow/tensorflow/blob/17bf7027b14aaa75c0a75e7b652a81f3a975be28/tensorflow/core/common_runtime/gpu/gpu_device.cc#L974) some extra memory for these sys

[2020-07-12 01:02] mgyong commented on #1365
@blepfo Do you have a repo you can share on how you got tensorflow serving working with golang grpc client?

[2020-07-15 01:41] drimyus opened #1688 "Export the inception-v3/v4 to Savedmodel for tensorflow-serving."
## Export the inception-v3/v4 to Savedmodel for tensorflow-serving.

I want to export the image classification models (inception v3/v4) to SavedModel format (saved_model.pb).

I downloaded the checkpoint files from [here](https://github.com/tensorflow/models/tree/master/research/slim)
inception-v3: http://download.tensorflow.org/models/inception_v3_2016_08_28.tar.gz
inception-v4: http://download.t

[2020-07-15 05:39] ahakanbaba opened #1689 "Outdated docs/examples compared to versions in tensorflow/serving:nightly-devel"
I think the code in `resnet_client_grpc.py` and the container `tensorflow/serving:nightly-devel` have diverged. It looks like `resnet_client_grpc.py` is using old names. For example uses `tf.app.flags.FLAGS` instead of `tf.compat.v1.app.flags.FLAGS`

Take a look at the [docs](https://github.com/tensorflow/serving/blob/195584c93e53f2461d8fef2f071f53a0a57e4dd9/tensorflow_serving/g3doc/serving_kubern

[2020-07-15 05:46] rmothukuru commented on #1688
@drimyus,
Please check if the Saved Model in TF Format from TF Hub Link for [Inception V3](https://tfhub.dev/google/imagenet/inception_v3/classification/4) will be useful to you. You can download the Module from that link. Thanks!

[2020-07-15 10:03] drimyus commented on #1688
Hi @rmothukuru
Thank you for your response,
Can you let me know how can I do that on my side? I mean how can I convert/export the inception_v3 checkpoint to Savedmodel on my s?

[2020-07-15 10:15] drimyus commented on #1688
I got this error, when I send the request for image classification.
[code]
Please let me know what is wrong on my side.

[2020-07-15 15:32] pnsantos opened #1690 "Should prometheus exporter use ':' in metric names?"
## Bug Report

Prometheus exporter using `:` when it's stated that colons shouldn't be used by exporters.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: `tensorflow/serving:2.2.0-gpu`
- **TensorFlow Serving installed from (source or binary)**: docker image
- **TensorFlow Serving version**: `2.2.0`

### Describe the problem

Prometheus documentation says the

[2020-07-16 09:53] rmothukuru commented on #1688
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-07-16 09:58] drimyus commented on #1688
[code]

[2020-07-16 19:18] Zerthick opened #1691 "Invalid GPG Key for Debian Binary"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 10.4 Buster (Docker Image)
- **TensorFlow Serving installed from (source or binary)**: binary (apt)
- **TensorFlow Serving version**: 2.2.0

### Describe the problem
I've noticed today that my docker builds are throwing the following error when I attempt to install `tensorflow-model-server`:

[2020-07-16 19:53] ptierno commented on #1691
Having same issue. Looks like the Key is expired.

[2020-07-17 00:11] ashishalakhani commented on #1691
Now i see E: Unable to locate package tensorflow-model-server , Can anyone please fix this

[2020-07-17 04:45] shadowdragon89 commented on #1679
Could you provide reproduce steps?

[2020-07-17 05:16] shadowdragon89 commented on #1682
In order to be batchable, we need to have the the same first dimension size. This is the complains from the server, which they get requests in one batch with different first dimension size.
Is there a reproduce step?

[2020-07-17 06:39] christisg commented on #1676
The input_signature should not be empty, it should be a sequence of tf.TensorSpec objects specifying the shapes and dtypes of the Tensors that will be supplied to this function (see https://www.tensorflow.org/api_docs/python/tf/function#args_1).

[2020-07-17 06:48] christisg commented on #1677
I followed the link at https://www.tensorflow.org/tfx/serving/setup#installation_2 and I do not see the shell commands converted int he way described here. Using "Copy code sample to clipboard" yields the correctly formatted format.

[2020-07-17 06:51] christisg commented on #1668
Thanks for the context, @sanjoy.
@jameschanx, is there any additional follow-up needed, or can we close this issue?

[2020-07-17 08:29] rmothukuru commented on #1688
@drimyus,
Sorry for asking multiple questions and this is the final one from my side. Can you please share the complete code which comprises Data Pre-Processing, Model Building  and Model Saving so that we can reproduce it at our end and can help you. Thanks!

[2020-07-17 09:44] sathyamoorthyrr commented on #1677
It's works as expected now.

[2020-07-17 13:49] owenliang commented on #1462
`'{ "error": "indices = 1 is not in [0, 1)\\n\\t [[{{node sequential/dense_features_6/Ticket_embedding/Ticket_embedding_weights/GatherV2}}]]" }'`

[code]

Have the same problem, but with tensorflow 2.1.0, anyone same?

[2020-07-17 15:24] christisg commented on #1677
I'm closing the issue then. Feel free to reopen if there are further concerns.

[2020-07-17 15:24] #1677 closed

[2020-07-17 15:55] ashishalakhani commented on #1691
@gowthamkpr @rmothukuru are there any workaround until this get fixed. Like downloading installing previous version etc..
We were planning to launch a feature to production and this is blocking us.

[2020-07-18 04:28] lilao commented on #1691
Thanks for the report. The key should be renewed. Please reopen if you see any problem.

[2020-07-18 04:28] #1691 closed

[2020-07-19 16:01] duhuajiang commented on #1631
i face the same problem，with low qps，the **cpu usage** sharply increase，sametime，the **memory usage** also sharply increase.

**client：** java，grpc call tensorflow serving，use tensorflow serving api

[2020-07-19 20:54] jameschanx commented on #1668
Thank you so much for the response @sanjoy it would be greatly appreciated to have the change in 2.4 if at all possible.  @christisg please go ahead and close the issue, thank you!

[2020-07-19 20:54] #1668 closed

[2020-07-20 03:42] wangyunxiaa commented on #1679
you can have a test with the docker of `tensorflow/serving:1.15.0-gpu`
start tensorflow_model_server by docker also cannot get the message info about
I tensorflow_serving/servables/tensorflow/saved_model_warmup.cc:83] No warmup data file found at ****

[2020-07-20 07:34] wangyunxiaa commented on #1679
@shadowdragon89 , the start commond as followings:
nvidia-docker run -it -p 9501:9501 \
    -v ${basepath}:${docker_model_path} \
    --env CUDA_VISIBLE_DEVICES=1 \
    tensorflow/serving:1.15.0-gpu \
    --model_config_file=${docker_model_path}/cfg/model.cfg \
    --platform_config_file=${docker_model_path}/cfg/platform.cfg \
    --port=9501 \
    --grpc_socket_path=/tmp/f.yx

--enable_model_warm

[2020-07-20 14:13] gowthamkpr commented on #1686
@DachuanZhao As mentioned in this [comment](https://github.com/tensorflow/serving/issues/1331#issuecomment-488928139), try hardcoding INT_MAX at L399 in coded_stream.h (SetTotalBytesLimit(INT_MAX);). Thanks!

[2020-07-20 23:13] satishpasumarthi opened #1692 "[Question] r2.3 for TF Serving"
Hello, when can we expect r2.3 be cut for tensorflow serving?

[2020-07-21 02:04] tianyunzqs opened #1693 "the log refreshed over and over, and not stop until the docker of tensorflow/serving is stopped"
## Bug Report
When I installed tensorflow/serving in docker, and run(add or delete) my model with model config file, I got an error(a bug I guess) which the log that described as follow refreshed over and over, and not stop until the docker of tensorflow/serving is stopped.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.7.1908
- **Tens

[2020-07-21 08:07] ahakanbaba opened #1694 "Adding other model platforms under servables."
Would the maintainers be amenable to adding other model platforms (non-tensorflow) under /servables on the open source version ?

### Describe the problem the feature is intended to solve
The tensorflow_serving libraries are generic to support any model platform. The [servables](https://github.com/tensorflow/serving/tree/dfeb2e39b6dd6e6b0c4d00cf45a165c6334fbdfb/tensorflow_serving/servables/tensorf

[2020-07-22 02:31] DachuanZhao commented on #1686
@gowthamkpr
Where is ```coded_stream.h``` while I install tf-serving by ```docker``` ?

[2020-07-22 10:09] mNemlaghi commented on #1680
Hi, do you have any update on this issue ? Thanks in advance !

[2020-07-22 12:34] wangyunxiaa commented on #1679
@shadowdragon89  I can get the log messages on tfs1.13, Does TFS1.15 not support ?

[2020-07-22 22:50] minglotus commented on #1692
TF serving team will cut the release by the end of this week (at immediate moment waiting for a fix to be live).

[2020-07-23 03:44] minglotus-6 commented on #1692
TF serving team is working on 2.3 release cut.

[2020-07-23 16:46] ghost1917 opened #1696 "Universal sentence encoder on tf serving doesn't work with GPU"
For some reason, universal sentence encoder v4 couldn't be run on GPU via tf serving.

Steps to reproduce:
1. Download model from tensorflow hub
https://tfhub.dev/google/universal-sentence-encoder/4
and unpack it into a local folder, say to `/home/pavel/universal-sentence-encoder/4`
2. Run to serving docker image that works with the given model
[code]
Logs shows that the model couldn't be run on G

[2020-07-23 17:00] minglotus-6 commented on #1692
https://github.com/tensorflow/serving/tree/r2.3 was cut.

[2020-07-23 17:00] #1692 closed

[2020-07-23 18:45] bharatv007 opened #1697 "Serving large models"
### System information
Tensorflow - 2.3.0-rc1
CUDA-10
TensorRT-6

### Describe the problem
I am trying to convert a GPT2 model, the saved model size is about 1.9GB. It causes an issue when I try to use TF serving for deployment as it hits a protobuf limit of 1 GB. I have tried to not build TRT engines before deployement too, but it did not affect the size of the saved_model.pb. Is there a reason f

[2020-07-23 22:22] paperspace-philip commented on #1663
It appears to work with 2.2.0-rc2, but then takes longer at 2.2.0

[2020-07-24 06:06] ayushch3 opened #1698 "[ TF 2.0 ] tf.function throws error when trying to export model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): pip install tensorflow=

[2020-07-24 08:09] thisisandreeeee opened #1699 "Recommended way to call TF Transform graph before model inference?"
In TF 1.x, developers were able to execute TF Transform graphs via the serving_input_fn (see: [example](https://github.com/tensorflow/transform/blob/77e862db6dd733d34fb0f1e311228c1535e828db/examples/sentiment_example.py#L267-L299)). What is the recommended way to do so in TF 2.x using the Keras API?

I try to do this by overwriting the serving signature when exporting the saved model:

[code]

How

[2020-07-24 09:03] rmothukuru commented on #1698
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-serving) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-07-24 10:54] rmothukuru commented on #1699
@thisisandreeeee,
Can you please refer to this [TFX Documentation](https://www.tensorflow.org/tfx/guide/keras#keras_module_file_with_transform)  and let us know if it helps. Thanks!

[2020-07-24 10:55] rmothukuru commented on #1688
@drimyus,
Can you please respond to the above comment. Thanks!

[2020-07-24 12:23] kleysonr opened #1700 "tensorflow_model_server with --model_base_path pointing to a gs:// bucket getting too long to start."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: Docker image
- **TensorFlow Serving version**: tensorflow/serving:2.2.0

I'm using **tensorflow/serving:2.2.0** as base for a new docker image.
Below the Dockerfile to build the new image.
The main change on this Dockerfile is that I'm copyi

[2020-07-24 18:52] ayushch3 commented on #1698
@rmothukuru Its actually a bug because the code works as it is when input is passed to the function, however adding the tf.function wrapper causes the code to fail, my guess is its something to do with running this in graph mode. I need to be able to export that function for tf-serving but this has remained a blocker

[2020-07-24 19:22] chsigg commented on #1663
It shouldn't have to JIT from ptx_70 to sass_75, but rather it should just run sass_70 on sm_75 hardware.

I can't find anything that changed between 2.2.0-rc2 and 2.2.0 with regards to compute capabilities. But you could try to run 2.2.0-rc2 with CUDA_FORCE_PTX_JIT=1. If that results in about the same startup delay, that would be a strong signal that it's indeed JITing with 2.2.0.

[2020-07-24 21:36] paperspace-philip commented on #1663
This has a delay for me on P5000 on 2.2.0-rc2 when setting:
`export CUDA_FORCE_PTX_JIT=1`

[2020-07-25 00:02] cgmckeever commented on #671
Following .. Having an issue where the time to fully stand up TensorFlow after a docker is started is sometimes longer than the healthcheck against the LoadBalancer causing a cycle of failovers. Would be nice to have something that responds quicker while the system starts up

[2020-07-25 02:17] ved27 commented on #1696
Awaiting the solution for the same.  I face similar issue when I try to run UNet model of mesh-tensorflow. However, I can see that gpu memory is being used, as shown by nvidia-smi

**tensorflow/core/common_runtime/colocation_graph.cc:1034] Failed to place the graph without changing the devices of some resources. Some of the operations (that had to be colocated with resource generating operations)

[2020-07-25 02:21] ved27 opened #1701 "While trying to run 3D Unet of mesh-tensorflow"
Hi,

I was trying to run 3D Unet model of mesh-tensorflow. I was able to run the code with few package version tweaks. However the see the following in the logs. I can also see that GPU memory is all being used up as shown by nvidia-smi. The training seems to be slow too.

**tensorflow/core/common_runtime/colocation_graph.cc:1017] Failed to place the graph without changing the devices of some reso

[2020-07-25 08:06] chsigg commented on #1663
What's the amount of startup delay, is it comparable to 2.2.0 without `CUDA_FORCE_PTX_JIT`?

Also, did you see the difference in startup delay between 2.2.0-rc2 and 2.2.0 with a Quadro P5000? That's surprising because P5000 are sm_61 and we do ship sass_61.

[2020-07-25 14:38] rmothukuru commented on #1698
@ayushch3,
If the problem is with **`tf.function`** wrapper, then it is more of a **`Tensorflow`**  issue than a **`Serving`** Issue. Please raise an Issue in [Tensorflow Repository](https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2020-07-25 15:39] paperspace-philip commented on #1663
latest-gpu ( ~7 minute delay)
`root@psdzmtm12:/tmp/tfserving# docker run --gpus all  -p 8501:8501 --mount type=bind,source=/tmp/tfserving/serving/tensorflow_serving/servables/tensorflow/testdata/saved_model_half_plus_two_gpu,target=/models/half_plus_two   -e MODEL_NAME=half_plus_two tensorflow/serving:latest-gpu
2020-07-25 15:02:51.524702: I tensorflow_serving/model_servers/server.cc:86] Building

[2020-07-27 07:55] thisisandreeeee commented on #1699
Yes, that helps. Thank you @rmothukuru , closing this issue.

[2020-07-27 07:55] #1699 closed

[2020-07-27 11:10] rmothukuru commented on #1619
@Pallav56,
Sorry for the delayed response. Can you please confirm if your issue is resolved. If it is not, can you please provide the code so that we can reproduce your issue. Thanks

[2020-07-28 07:03] rmothukuru commented on #1529
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-28 07:03] #1529 closed

[2020-07-28 07:05] rmothukuru commented on #1669
@KarimSamehSadek,
The link which @gowthamkpr was referring to is https://www.tensorflow.org/tfx/serving/setup#installing_using_apt. Please let me know if this resolves your issue. Thanks!

[2020-07-28 07:21] peakji commented on #1663
I found this statement in the [release note](https://github.com/tensorflow/tensorflow/releases/tag/v2.3.0) of TensorFlow 2.3.0:

Is there anything we can do to mitigate the overhead while using TensorFlow-Serving with docker?

[2020-07-28 11:09] rmothukuru commented on #1697
@bharatv007,
Can you please elaborate on what issue you are facing and In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-07-28 18:32] sanjoy commented on #1663
@paperspace-philip As Christian said, we do ship SASS for 6.1 so the 7 minute delay is unlikely due to SASS JITting.  Can you run with the env var `TF_CPP_VMODULE` set to `gpu_device=3` and attach the logs?

@peakji if you're running with on a GPU for which TF does not ship SASS, one option is to build TF from source which will let you pick the GPUs TF needs to support.  The TF pip you build this

[2020-07-28 19:29] paperspace-philip commented on #1663
2.2.0-gpu TF_CPPP_VMODULE=gpu_device=3
`root@psjbsjjwn:/tmp/tfserving# docker run --runtime=nvidia -p 8501:8501 --mount type=bind,source=/tmp/tfserving/serving/tensorflow_serving/servables/tensorflow/testdata/saved_model_half_plus_two_gpu,target=/models/half_plus_two   -e MODEL_NAME=half_plus_two -ti -e TF_CPP_VMODULE=gpu_device=3 tensorflow/serving:latest-gpu
2020-07-28 19:04:43.564455: I tensorf

[2020-07-28 19:33] bharatv007 commented on #1697
### System information
Tensorflow - 2.3.0-rc1
CUDA-10
TensorRT-6
TF Serving : from docker image tensorflow/serving:2.2.0-gpu

### Describe the problem
I am converting a GPT2 model using TF-TRT for an optimized inference, the saved model size is about 1.9GB after conversion by TensorRT. It causes an issue when I try to use TF serving for deployment as it hits a protobuf limit of 1 GB. I have tried

[2020-07-29 00:00] sanjoy commented on #1663
@paperspace-philip it looks like the 2.2.0-rc2 branch is built against CUDA 10/cuDNN 7.4 while the 2.2.0 release is built against CUDA 10.1 / cuDNN 7.6.  This could explain the discrepancy -- can you please verify this by building 2.2.0-rc2 against 10.1/7.6 as well?

The fact that it takes 7 minutes to start up TF is a problem regardless, but knowing this has to do with CUDA or cuDNN versions will

[2020-07-29 12:27] ansreng opened #1703 "Tensorflow Serving 2.2.0 error: output_shape has incorrect number of elements: 2 should be: 1"
I have a SavedModel, which a am serving with Tensorflow Serving. When I load and run it in a separate script, it's working fine. But sending a request to the serving API throws the following error:

    {
        "error": "[_Derived_]{{function_node __inference__wrapped_model_6314}} {{function_node __inference__wrapped_model_6314}} output_shape has incorrect number of elements: 2 should be: 1\n\t

[2020-07-29 21:44] gowthamkpr commented on #1703
@ansreng Please share the code and exact steps for us to reproduce this issue. Thanks

[2020-07-29 22:13] paperspace-philip commented on #1663
I built the following the containers from Dockerfiles in master:

2.2.0 Dockerfile.devel-gpu w/ TF_SERVING_VERSION_GIT_COMMIT=22760f8 (2.2.0-rc2)
`docker build -t tensorflow/serving:2.2.0-rc2-10-1-devel-gpu --build-arg TF_SERVING_VERSION_GIT_COMMIT=22760f8 -f tensorflow_serving/tools/docker/Dockerfile.devel-gpu .`

2.2.0 Dockerfile.gpu w/ TF_SERVING_BUILD_IMAGE=2.2.0-rc2-10-1
`docker build -t tens

[2020-07-30 04:05] taninaim commented on #1670
I'm having the same problem. I served an image classifier and it's giving me nan on only some images. I stacked 4 images so I have a tensor of shape (4, 380, 380, 3). Now the prediction worked fine for the first image, but the next three returned nans. I've checked that the values are properly normalized. This is very weird because I've manually loaded the model using tf.keras.models.load_model an

[2020-07-30 15:57] ansreng commented on #1703
I am not allowed to share the code, since my company is also working with it.

Would a slighty trained model be enough for you?

Or is there a way to only give you parts of the code?

[2020-07-30 17:39] Samvid95 commented on #1448
Same error here. I am also running docker on Windows 10 and cmd.

[2020-07-30 19:43] Samvid95 opened #1704 "Unable to run the base example"
Hey guys,

I am trying this [getting started ](https://www.tensorflow.org/tfx/serving/docker)guide with docker but it is unfortunately not working for me. I am using Anaconda cmd on Windows10 with docker.

When I run the `docker run` it works and gives me this log message: `Successfully loaded servable version {name: half_plus_two version: 123}
`
But unfortunately when I try to run the `curl `comm