[2019-03-18 20:15] anish714 commented on #621
Can you link to the doc where this is explained?

[2019-03-19 02:43] MaybeShewill-CV commented on #1282
@unclepeddy I will try if that is the cause:)

[2019-03-19 03:16] karthikvadla opened #1287 "TFServing using only one CPU core on MKL docker image"
Hi Team,

Recently we noticed that TFServing is using only single CPU core while testing object detection model, even though we set `TENSORFLOW_SESSION_PARALLELISM=14`. `OMP_NUM_THREADS=56` is related to `intel mkl-dnn`.

[code]
**htop** looks as below.
![image](https://user-images.githubusercontent.com/16564109/54577791-617f7b00-49ba-11e9-88e9-1284207f28d3.png)

Is this something to do with how m

[2019-03-19 03:24] DenceChen commented on #1206
i got the same issue, and my tf-version=1.12.0, have someone kown about this

[2019-03-19 18:07] usptact commented on #692
In my case, the problem was separately installed C++ library for Tensorflow "libtensorflow_framework.so" in "/usr/local/lib". I removed this library and Python tensorflow started to work once again.

[2019-03-19 20:22] hgadig commented on #1284
This question can be better asked on StackOverflow as we encourage users to post only feature or bug related issues here. Thanks!

[2019-03-19 20:23] #1284 closed

[2019-03-19 20:30] hgadig commented on #1285
Please fill the new issue[ template ](https://github.com/tensorflow/serving/issues/new)with clear explanation on the steps followed. Also, provide a code snippet to reproduce the error from our end.

[2019-03-19 20:46] hgadig commented on #1286
Please fill the new issue [template](https://github.com/tensorflow/serving/issues/new). Also please provide exact commands or any code snippet to reproduce the error from our end. Thanks!

[2019-03-19 23:11] netfs commented on #1287
few questions:
- do you get similar behavior with non-mkl, official docker images?
- where is this env `TENSORFLOW_SESSION_PARALLELISM` used?

if you do not set any --xxx_parallelism flags on the model server, i'd expect the system to use all schedulable CPUs. assuming the docker container has access to all of these. is the `htop` command from within the docker container (i'd guess so, but wanted

[2019-03-19 23:34] netfs commented on #1272
@karthikvadla any idea?

[2019-03-20 02:50] karthikvadla commented on #1287
@netfs
* do you get similar behavior with non-mkl, official docker images?
- I tested commenting [envs](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/docker/Dockerfile.mkl#L102-L103) (which makes it similar to offical non-mkl [dockerfile](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/docker/Dockerfile#L54))  , re-build image and use. Assumi

[2019-03-20 19:02] netfs commented on #1287
(trying to understand the problem) are you sending multiple concurrent requests to the model server or just one (large) request, and expect the model server to use all the cores to process one request?

[2019-03-20 19:11] netfs commented on #1287
fwiw i tried running resnet on latest docker serving image, sending N concurrent requests and saw all the cores being used. this is without setting any additional environment variables.

for quick test, just follow this [blog post](https://medium.com/tensorflow/serving-ml-quickly-with-tensorflow-serving-and-docker-7df7094aa008). may want to tweak `num_requests` to some large value in the python cl

[2019-03-20 19:32] netfs commented on #1285
i just tried this and it works for me.

looking at your error messages, notably `Premature EOF` errors -- it seems to be a network problem between your server and github (maybe after a heavy docker download, something is rate-limiting you. see similar post [here](https://github.com/tensorflow/tensorflow/issues/18740#issuecomment-383253234), where a sleep/delay between docker download and starting

[2019-03-20 20:40] pigritia opened #1288 "Multiple TF serving process can bind on the same port"
I found that tensorflow-serving allow multiple processes bind on the same port.
<img width="1048" alt="Screen Shot 2019-03-20 at 1 38 32 PM" src="https://user-images.githubusercontent.com/1179478/54717477-7de3fa80-4b15-11e9-9eb2-d0db40e1abc4.png">

The reproduce steps:
Just run the same launching TF serving process command multiple times. It can be reproduced on both Mac and RHEL7.

[2019-03-20 22:39] baishalichaudhury commented on #712
@bidai541 Hi with the modifications in model_helper.py i get following error:
Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/baishali/MLPerf/inference/cloud/translation/gnmt/tensorflow/nmt/nmt.py", line 735, in <m

[2019-03-20 23:21] karthikvadla commented on #1287
okay let me test and update you.

[2019-03-20 23:30] karthikvadla commented on #1287
I'm sending multiple concurrent requests to the model server. Expectation was when i assign cores to `TENSORFLOW_INTRA_OP_PARALLELISM`, `TENSORFLOW_INTER_OP_PARALLELISM` OR just `TENSORFLOW_SESSION_PARALLELISM`, its not using as assigned. All the time only one core is utilized  100%.

[2019-03-21 04:28] unclepeddy commented on #1272
(sorry for the driveby comment and I ask the experts on this thread to validate my thoughts)

I think the first question is "Why do you expect to see performance improvement with mkl? Whether this is to be expected depends not only on your processor, but also what kind of load your model is under, how variable that load is, how many concurrent sessions you're running, etc.

In addition, if I under

[2019-03-21 10:32] #1280 closed

[2019-03-21 10:34] rummens opened #1289 "Model Status GET causes illegal connection state 7 and crashes server"
## Bug Report

### System information
Running in OpenShift, using the docker images from the [RedHat Registry](https://access.redhat.com/containers/?tab=overview&platform=openshift#/registry.connect.redhat.com/bitnami/tensorflow-serving) and [Docker Hub](https://hub.docker.com/r/tensorflow/serving). The versions of the model server are:
RedHat:
TensorFlow ModelServer: 1.13.0-rc1+dev.sha.c2fe59c
Te

[2019-03-21 10:52] gr8Adakron opened #1290 "Latency issue while doing parallel calls to TF-serving"
My TF-serving pipeline runs SIX TF-serving image models of different architecture **_(like xception, densenet, nasnet, UNET etc)_** in parallel.

My time difference for 10 different images running through the pipeline in sequential order:
[code]
I don't understand why is it not following the constant graph of 1-2 sec in all the 10-requests, its returning prediction for 3-4 request very efficiently

[2019-03-21 10:55] gr8Adakron commented on #1290
@netfs @ewilderj @montanaflynn @lamberta @kchodorow please help!

[2019-03-21 17:16] hgadig commented on #1289
Does it happen with different endpoints too ? Can you try next step with different APIs(without checking model status) and see if you are running into similar error ?

[2019-03-21 17:20] hgadig commented on #1288
@pigritia  Could you confirm if this is just an observation or if you are seeking any answer? If so, please clearly post more information using [this](https://github.com/tensorflow/serving/issues/new) template. Thanks!

[2019-03-21 17:21] rummens commented on #1289
Do you mean make POST to predict endpoint? That works fine and returns the expected result.

[2019-03-21 17:21] hgadig commented on #1273
Closing this as it is in "awaiting response" status for more than 3 days. Feel free to provide the information asked above and we will reopen. Thanks!

[2019-03-21 17:21] #1273 closed

[2019-03-21 17:24] #1285 closed

[2019-03-21 17:34] #1254 closed

[2019-03-21 18:03] netfs commented on #1288
gRPC uses SO_REUSEPORT when creating the socket, causing this behavior. and is WAI.

does running your server with `--grpc_channel_arguments="grpc.so_reuseport=0"` help avoid this issue (assuming that is what you want)?

[2019-03-21 18:20] netfs commented on #1289
you seem to be using locally built model server based off a release candidate (rc1). it will be difficult to help without knowing what all (local) changes you have in the model server.

please try one of the (many) official released docker images from latest (1.13) release available [here](https://hub.docker.com/r/tensorflow/serving/tags), and see if things crash. they should not, as our continuou

[2019-03-21 18:54] pigritia commented on #1288
I see. @netfs That works. Thanks very much!

@hgadig sorry for the confusion. That's a question. Since I may hot-reload different models for different process, it caused very weird non-reproducible issues. `--grpc_channel_arguments="grpc.so_reuseport=0"` solved my problem. I'll be more clear next time.

Thanks!

[2019-03-21 18:56] #1288 closed

[2019-03-21 18:58] iggy12345 commented on #1098
I am requesting a feature to fix this issue, get on it @gautamvasudevan

[2019-03-21 23:22] netfs commented on #1287
any update on your testing with resnet model (from the blog post) i mentioned?

[2019-03-22 01:39] zhouyuangan commented on #1206
@YananJian Have u found a solution? I met the same problem, I need your help, thanks, pls.

[2019-03-22 01:48] DenceChen commented on #1206
@zhouyuangan tf==1.9.0 will be ok!

[2019-03-22 07:22] sathyamoorthyrr commented on #475
I'm facing the exact problem.
**OS:** Ubuntu Linux 18.04
**Tensorflow Serving(trying to build):** **1.3**
**gcc, g++ version:** (Ubuntu 7.3.0-16ubuntu3) 7.3.0
**Python:** 2.7.15

Could you find the solution?
Will changing the gcc, g++ version work?

[2019-03-22 10:00] rummens commented on #1289
We use two container, one from Docker Hub (the offical Google Container with latest tag) and one from Redhat. The latter on can have a custom build but the first container is the official container and therefore built, provided by Google. And the endpoint does not work in either of the containers.

Are there any more log files or similiar, that I can give you to track down the problem?

[2019-03-22 10:11] karthikvadla commented on #1287
yeah i tried from blog, It's using all cores when nothing is set.
[code]

![image](https://user-images.githubusercontent.com/16564109/54815793-f949c700-4c4f-11e9-9118-dc30e54c6d23.png)

[2019-03-22 11:28] karthikvadla commented on #1287
I cross checked, testing `resnet50` with intel-optimized tfserving image following this [tutorial](https://github.com/IntelAI/models/blob/master/docs/image_recognition/tensorflow_serving/Tutorial.md)

[code]
I see it's using more than one core.
![image](https://user-images.githubusercontent.com/16564109/54819924-aaedf580-4c5a-11e9-8c92-1189b8b7d17b.png)

Is there anything to do with way model impl

[2019-03-22 13:44] netfs commented on #1287
I do not think rest vs grpc matters. They both funnel into the same run session path.

[2019-03-22 17:16] netfs commented on #1289
in your output i see `1.13.0-rc1+dev.sha.f16e7778` as the modelserver version for Docker setup. that looks like a custom build too. no?

[2019-03-22 17:51] rummens commented on #1289
No, maybe I am doing something wrong but this is the output when I connect to the pod and call the model server with the —Version flag.

[2019-03-22 18:27] netfs commented on #1289
hmm maybe our version strings are not correct (assuming you are running tensorflow/serving:latest). anyways, i tried these steps (certain output omitted for brevity) to reproduce and could not. the GET call works without crashes:

- Start modelserver from latest docker image, and using test model from gitrepo
[code]

- (in a different terminal), do a GET call:
[code]

can you try the same steps, m

[2019-03-22 20:34] netfs commented on #1287
yes the model can be a problem. but i'd expect it to impact single evaluation of a request. IOW its possible the model causes 1 core to be used when running a single request (as opposed to using all the available cores for running one request).

the fact that sending lot of multiple concurrent requests also causes just 1 core to be used is a bit puzzling.

[2019-03-25 13:07] rummens commented on #1289
I did that and here are my (strange) findings:

Locally it works fine, running the docker command and the GET works.

When deploying in our cluster the same error happens with your models as with mine. The model server crashes and does not come up again.

Is there a way to compare the model server to make sure that the one on the Docker Hub is really the same we are using? In the meantime I will c

[2019-03-25 15:40] julianiacoponi commented on #1280
any reason this was closed ? :) @gr8Adakron

[2019-03-25 17:39] netfs commented on #1289
compare the output of `docker images --digests` on your local and remote machine, to ensure that the docker image name+sha is identical and that you are using the same image. i suspect they are different :)

[2019-03-25 17:48] netfs commented on #1287
given that we are not able to reproduce this with standard (resnet) model and test models (in TF serving gitrepo), can you share your model+sample-requests?

[2019-03-25 18:04] karthikvadla commented on #1287
@mhbuehler did some experiments pinning `TF version` while building docker images. She saw while using `TF 1.13.0`, `R-FCN` is using specified cores. Melanie, can you please share your findings.

[2019-03-25 22:10] netfs commented on #1287
hmm. so things are working and all cores are being used for R-FCN? i am mildly confused :)

[2019-03-25 22:30] mhbuehler commented on #1287
As @karthikvadla said, I'm seeing proper usage of multiple cores when I build TFServing with MKL from tag 1.13.0, but not when I build from the head of the master branch. For now, this is a fine workaround, but there might be a regression in master. To replicate the problem:

Build TFServing with MKL with these commands (head of master):
[code]
And build it again with these commands (release 1.13.

[2019-03-25 22:58] netfs commented on #1287
do you see similar issue if you just use just TF?

you can experiment by building+installing TF+MKL (steps [here](https://www.tensorflow.org/guide/performance/overview#tensorflow_with_intel%C2%AE_mkl_dnn)), and then doing inference using a session with your model loaded (python code))?

i am trying to see if this is a build issue (with TF serving), or something is actually broken in TF.

[2019-03-26 00:06] penpornk commented on #1287
I saw a similar issue about TF-MKL using only one core when using Anaconda image: https://github.com/tensorflow/tensorflow/issues/24172

But it's about OMP/KMP environment variable settings affecting other operations that also use OpenMP, so it's likely unrelated to this issue.

[2019-03-26 01:01] karthikvadla commented on #1287
@penpornk just to confirm i re-check envs
[code]
as from reference you mentioned `OMP_PROC_BIND` is not set here.

[2019-03-26 01:15] karthikvadla commented on #1287
We will follow this [guide](https://github.com/IntelAI/models/blob/master/benchmarks/object_detection/tensorflow/rfcn/README.md#fp32-inference-instructions) and at step 6 `--docker-image` i[ntelaipg/intel-optimized-tensorflow:latest-devel-mkl](https://hub.docker.com/r/intelaipg/intel-optimized-tensorflow/tags) which is based of master . Is that okay?

[2019-03-26 01:57] tatianashp commented on #1287
+ @penpornk, @ezhulenev
Penporn, Eugene - do you know what can be happening here?

[2019-03-26 02:16] penpornk commented on #1287
TF-MKL is a different build from normal TF. So commenting the environment variables to TF-Serving will still run TF-MKL underneath (just with different threading configurations).

Could you please try running with TF-Serving + normal TF build and see if you still get the issue? It will help us narrow down the scope a bit. Thank you!

[2019-03-26 02:21] karthikvadla commented on #1287
@penpornk here i tested using official TFServing +TF docker image. I tested for `resent` . Do you want me to test anything different than this?

[2019-03-26 02:23] netfs commented on #1287
@karthikvadla can you test R-FCN with stock TF serving? that would help.

[2019-03-26 02:26] karthikvadla commented on #1287
Sure i can do that. ` stock TF serving?` means pulling from docker hub?
Also do you have any location for `R-FCN` pre-trained saved model `.pb` which i can download and use. Right now, i have intel optimized `R-FCN` which uses `MKL-DNN`

[2019-03-26 02:37] netfs commented on #1287
yes. if you want to test TF+TFS at master, pull tensorflow/serving:nightly

nope. sorry.

[2019-03-26 02:43] karthikvadla commented on #1287
[code]
[code]
![image](https://user-images.githubusercontent.com/16564109/54967926-1e7f5380-4f36-11e9-903f-3e5366090abe.png)
`resent` looks good with `nightly` too.
Will check with our data scientist whether i can find `non-mkl` `R-FCN` model.

[2019-03-26 02:49] penpornk commented on #1287
Thank you! So the normal TF at head works fine.

The only big change related to MKL between r1.13 and head that I'm aware of is enabling MKL contraction kernels, but it is only for normal TF build (doesn't affect TF-MKL), and it has been disabled for a few weeks now.

If the culprit is on the TF side, one way to find it is to do a bisection on the commits. There are about 6,500 commits between TF1

[2019-03-26 02:57] YananJian commented on #1206
Yes, tf==1.10.0 works.

[2019-03-26 15:44] joekohlsdorf opened #1291 "Serving models from S3 causes high costs due to excessive ListBucket operations"
## Bug Report

### System information
- **TensorFlow Serving installed from (source or binary)**: official Docker image tensorflow/serving
- **TensorFlow Serving version**: 1.12.0

### Describe the problem

We have deployed a couple of models where both the model config file and the model are stored in S3. In our case, we are seeing a usage of about 150MB/h for the ListBucket operation on the buck

[2019-03-26 17:01] netfs commented on #1291
i suspect this is due to filesystem polling to detect+load new versions of servables as they become. you can disable or reduce the frequency by setting `--file_system_poll_wait_seconds` flag on the modelserver. the default is 1 second (afair).

happy to review patches to improve/optimize this path.

[2019-03-26 19:04] joekohlsdorf commented on #1291
I'll set it to `-1` and will report back tomorrow if we see any change in the amount of these API calls.

Like I already mentioned, `ListBucket` should be a last resort action. Checking for file modification or existence can be achieved with `HEAD` requests and is >10x cheaper.

[2019-03-26 19:17] baishalichaudhury commented on #712
@harshS26

How did you get the proper prediction, can you please paste the entire code?

[2019-03-27 04:41] SefaZeng commented on #1290
Sorry,I want to ask some questions about how can I make the server to process parallel requests?Do I need run several images in the docker or just one image is ok ? I cant find anything about this in the doc of TF-sering.Any help is appreciate.Thx!

[2019-03-27 05:29] gr8Adakron commented on #1290
30 concurrent request (i.e 30 different images), where each request must be holding an individual image.
Something like this
![github-answer](https://user-images.githubusercontent.com/16715364/55052524-547c1f00-507f-11e9-990c-5749cde4521a.png)

[2019-03-27 06:42] harshS26 commented on #712
Hi @baishalichaudhury @B1gMinnow ,
i have attached my code here..you guys can check
[nmt.zip](https://github.com/tensorflow/serving/files/3011842/nmt.zip)

[2019-03-27 09:27] SefaZeng opened #1292 "Error when I send more than one instance to the TF-serving"
I transformed a ckpt model to a TF-serving model and the code about the inputs placeholder is like this:
[code]
And the saving part is like this:
[code]
When I send a one instance request everytime to the TF-serving,it works well.But when I try to send several instances,server reply an error said:

And the instances of the request is:

[code]
And if I exchange the position of instances[0] and inst

[2019-03-27 11:44] wangyunxiaa opened #1293 "Tensorflow Serving performance test on cpu with mkl"
I have a test about the performance of mkl with cpu, but I am confused about the result:
no mkl on cpu, the inferencr time is 32ms
open avx and sse, the inferencr time is 26ms
open mkl and  adjust the config parameters I can get the best result by 12ms
the input data of all the above test is batch=1, and the model's structure is "1 layer CNN + 4 layer LSTM + 2layer FC", with data formate NCHW.
but

[2019-03-27 13:06] baishalichaudhury commented on #712
Hi

Thanks for your reply. Do you have a readme to briefly explain some of the
changes you had to make in the code. Also out of curiosity, did you try
restroring the saved .pb file and making an test translation or inference
without a client  based approach. So for example I want to make a simple
test inference code, which will load the saved .pb model, restore
placeholders, read an input file wit

[2019-03-27 18:08] joekohlsdorf commented on #1291
After passing `--file_system_poll_wait_seconds=2147483647` (MAXINT32, when setting it to -1 the server doesn't start up completely) the amount of `ListBucket` calls went down.
I'd consider this a workaround as the default setting leads to an unexpected behavior.

[2019-03-27 22:41] baishalichaudhury commented on #712
Hi

Another thing, when I try to export the model with your code I get this
error

File
"/home/baishali/MLPerf/inference/cloud/translation/gnmt/tensorflow/nmt/inference.py",
line 130, in inference
    hparams)
  File
"/home/baishali/MLPerf/inference/cloud/translation/gnmt/tensorflow/nmt/inference.py",
line 161, in single_worker_inference
    infer_model.batch_size_placeholder: hparams.infer_batch_

[2019-03-28 01:04] wangyunxiaa commented on #1272
@unclepeddy

 hello,

I am confused about your comment "Whether this is to be expected depends not only on your processor, but also what kind of load your model is under, how variable that load is, how many concurrent sessions you're running, etc."

Does a running session process one request at the same time? if I want to run N concurrent requests, does it mean that i can do as fast as one request

[2019-03-28 07:30] harshS26 commented on #712
@baishalichaudhury I have mailed u the steps taken to export the model

[2019-03-28 19:48] unclepeddy commented on #1272
Yes - a Session.Run call is blocking. In order to process examples concurrently, you have to either batch examples on client side before you send them or enable server-side batching.

To enable server-side batching, set `--enable_batching` and `--batching_parameters_file` flags. Look at [SessionBundleConfig](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/servables/tensorflow/

[2019-03-29 02:51] wangyunxiaa commented on #1272
thank you very much for your reply,
I have test the parameters, when i set ` tensorflow_session_parallesim=10`, I can do  8 concurrent requests as fast as one just on tfs-cpu.
when I open mkl, I set OMP_NUM_THREADS=20,and --tensorflow_intra_op_parallelism=1 --tensorflow_inter_op_parallelism=1, I can get the best performance just one concurrent requests, but,when I increase the concurrent requests

[2019-03-29 05:57] penpornk commented on #1272
Longer latency is expected. As @unclepeddy explained, MKL uses OpenMP whose threading settings is not as dynamic. Intel-optimized TensorFlow (I'll call it TF-MKL from here on) can give better throughput than normal TF with the right settings for a rather static workload, but it can also have much worse latency because OpenMP threading and TF threading don't know about each other. It's also hard to

[2019-03-29 16:18] hgadig commented on #1292
Could you please provide the following information which helps us to look into the issue.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow Serving installed from (source or binary)**:
- **TensorFlow Serving version**:

### Exact Steps to Reproduce(if applicable)
Please include all steps necessary for someone to reproduce this issue on their
own

[2019-03-29 16:29] hgadig commented on #1286
Closing as the issue is in "awaiting response" status for more than a week. Feel free to add your comments, we will reopen. Thanks!

[2019-03-29 16:29] #1286 closed

[2019-03-29 16:34] penpornk commented on #1293
I think this is because of the cores are oversubscribed. TF Serving with MKL can under/oversubscribe cores pretty easily in dynamic settings. Please see if my explanation about TF-MKL threading (under "More in-depth threading explanation") applies to your case here. https://github.com/tensorflow/serving/issues/1272#issuecomment-477878180

[2019-03-29 18:38] hgadig commented on #1291
@joekohlsdorf  Thanks for the workaround.
Closing this issue for now and will reopen if there are any contributions posted for the same.

[2019-03-29 18:42] netfs commented on #1291
Thanks @joekohlsdorf. Can you please open a feature request OR rename (as a FR)+open this issue so we can keep track (and hopefully someone can help make relevant changes).

Thanks!

[2019-03-29 18:43] hgadig commented on #1291
Reopening in order to track this issue.

[2019-03-30 01:51] ericwang915 opened #1294 "When will TFS support TF 2.0?"
TF 2.0 has introduced some very cool features such as tf.function and autograph. When will TFS support the serialised model using TF 2.0.

[2019-03-30 01:53] joekohlsdorf commented on #1291
I don't agree that this is a feature request, the wrong method for checking if a file has changed is used and it is causing 12.5x the expected cost. In my case over USD 1.000 per month!

This is standard behaviour and the result is completely unexpected.

[2019-03-30 01:59] joekohlsdorf opened #1295 "File system polling cannot be deactivated"
## Bug Report

### System information
- **TensorFlow Serving installed from (source or binary)**: official Docker image tensorflow/serving
- **TensorFlow Serving version**: 1.12.0

### Describe the problem

By default, the filesystem is polled regularly to detect and load model changes. According to the code, setting `--file_system_poll_wait_seconds=-1` should completely deactivate polling.
What h

[2019-03-30 20:42] songboyu commented on #1290
same issue, waiting for help.

[2019-03-30 20:44] songboyu commented on #1290
@netfs @ewilderj @montanaflynn @lamberta @kchodorow

[2019-03-31 10:55] songboyu commented on #1265
same issue, waiting for help.

[2019-03-31 17:11] songboyu commented on #1074
same issue, waiting for help.

[2019-04-01 18:37] unclepeddy commented on #1295
Just to make sure I'm reproducing this as you are..
How are you setting `file_system_poll_wait_seconds` flag when you run the docker image?

[2019-04-01 18:39] hgadig commented on #1292
Closing this issue as it is in "awaiting response" for more than 3 days. Feel free to add your comments by providing the above information.

[2019-04-01 18:39] #1292 closed

[2019-04-01 18:49] joekohlsdorf commented on #1295
I change the entrypoint and the command arguments.

Example:
`docker run --rm --entrypoint=/usr/bin/tensorflow_model_server -e AWS_ACCESS_KEY_ID =x -e AWS_SECRET_ACCESS_KEY=x tensorflow/serving:1.12.0 --model_config_file=s3://x/model.yaml --file_system_poll_wait_seconds=-1`

[2019-04-01 21:25] unclepeddy commented on #1294
TFS will have a 2.0 release following TF 2.0's official release (no exact date yet unfortunately).

However, most of the new features in 2.0 should not have an impact on serving since they will result in a SavedModel with the same semantics as 1.X (SavedModel in 2.0 is very similar to SavedModel in 1.X).

If you export 2.0 models that don't work with TFS, please do file an issue so that we can tra

[2019-04-01 23:34] unclepeddy commented on #1290
Are you sure you've set up warmup correctly? Please understand model warmup is not magic
- it can't produce out of thin air the requests that TFS needs to use to warm up your model. You need to provide it by including the `PredictionLog` data you want replayed back to the server in assets.extra.

If you haven't done this, here is a [guide](https://www.tensorflow.org/tfx/serving/saved_model_warmup)

[2019-04-02 09:10] rummens commented on #1289
Sorry for the late response, it took me a while to research the orginail image and it turns out that our deployment guys deployt 1.12 instead of 1.13. They have changed it now and it works fine.

Sorry for the inconvience.

[2019-04-02 09:10] #1289 closed

[2019-04-03 04:00] unclepeddy commented on #1295
Oh I see - this is the tracking bug filed from #1291.
Got it thanks - @hgadig  can you close the other one now that this one is filed?

[2019-04-03 05:29] christisg commented on #1279
Thank you for your feedback.

Could you elaborate on why padding with the first value (and not zero) doesn't work with sequence batching?

We chose to use a real element instead of zero precisely to avoid assigning a specific meaning to zero.

[2019-04-03 06:48] xuzheyuan624 commented on #311
How to use an appointed GPU to run tensorflow serving with docker.I dont't want to take uo all gpus when running tf serving.So does anybody know?

[2019-04-03 07:06] xuzheyuan624 commented on #310
How to use an appointed GPU to run tensorflow serving with docker.I dont't want to take uo all gpus when running tf serving.So does anybody know?In addition, my model is writen by tf.keras.

[2019-04-03 14:18] SansDK opened #1296 "Can't make predictions with served TensorFlow (Keras) model."
## Bug Report

### System information
I'm running the latest TensorFlow serving docker image.

### Describe the problem
The problem that I have occurs when I try to make a HTTP POST request to the TF Serving container. The error I get is:
`"error": "Failed to process element: 0 key: key_name of \'instances\' list. Error: Invalid argument: JSON object: does not have named input: key_name"`

I expor

[2019-04-03 14:35] aaroey commented on #311
@xuzheyuan624 could you try to set environment variable [CUDA_VISIBLE_DEVICES](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#env-vars) and see if it works?

[2019-04-03 15:06] hgadig commented on #1291
Closing this issue as per the discussion in #1295

[2019-04-03 15:06] #1291 closed

[2019-04-03 20:53] hgadig commented on #1296
The following StackOverflow answer addressed a similar issue. Please take a look at this.

https://stackoverflow.com/questions/52208668/tensorflow-serving-error-invalid-argument-json-object-does-not-have-named-inp

[2019-04-03 20:56] hgadig commented on #1293
Closing as this is in "awaiting response" status for more than 3 days. Please take a look at the above answer and feel free to post your comments.

[2019-04-03 20:57] #1293 closed

[2019-04-03 20:59] hgadig commented on #1287
@karthikvadla  Any update ?

[2019-04-03 21:00] hgadig commented on #1282
@MaybeShewill-CV  Did you get a chance to try ? Please keep us posted for any updates.

[2019-04-03 21:05] karthikvadla commented on #1287
yeah pinning to TF Version `1.13.0` did fix issue. `master` is unstable, still we don't know what causing issue.

Please see documentation where we are passing `--build-arg TF_SERVING_VERSION_GIT_BRANCH="<release_number>"`
https://github.com/IntelAI/models/blob/master/docs/general/tensorflow_serving/InstallationGuide.md#step-1-build-tensorflow-serving-docker-image
[code]

[2019-04-03 21:08] hgadig commented on #1090
@lxl910915  Any update on this?

[2019-04-03 21:15] hgadig commented on #1208
@alextdavis  Does this issue persist with the latest version of tensorflow and TF Serving ?

[2019-04-03 23:38] joekohlsdorf commented on #1291
Why was this issue closed? These are two separate problems.
This issue is about Tensorflow Serving using the wrong S3 API call to check if a file has changed.
The other issue about not being able to disable automatic model reloading.

[2019-04-03 23:44] hgadig commented on #1291
@unclepeddy  Please correct me if I misunderstood your comments in #1295

[2019-04-04 01:13] unclepeddy commented on #1291
@hgadig no worries, my mistake for asking you to close this without an explanation .

@joekohlsdorf sorry about the expense you had to bear but I don't think there is any way to avoid this - please feel free to correct my understanding as I don't have much experience with S3 features.

First, and just to be clear, we poll the model directory provided to ModelServer in order to discover new model v

[2019-04-04 02:47] MaybeShewill-CV commented on #1282
@hgadig Still get stuck on this ==!

[2019-04-04 05:58] nrobeR commented on #1295
Hi Joe,

According to the comment here: https://github.com/tensorflow/serving/blob/63d31a33b4f6faeb0764bb159d403f2b49061aed/tensorflow_serving/sources/storage_path/file_system_storage_path_source.proto#L68 is supposed to be for testing only. I think what happened here is that when it is disabled, it never tries to load the model during startup so the server will hang.

If loading model only once i

[2019-04-04 14:14] david30907d commented on #509
@Kingeng `pip install tensorflow-serving-api` works for me~

[2019-04-05 02:51] xuzheyuan624 commented on #311
@aaroey I tried like this:
`#!/bin/bash

export CUDA_VISIBLE_DEVICES=5 && \
docker run --runtime=nvidia -p 8500:8500 \
--mount type=bind,\
source=/home/xzy/keras-yolov3/yolov3,\
target=/models/yolov3 \
-e MODEL_NAME=yolov3 -t tensorflow/serving:1.12.0-gpu &`
but it didn't work.

[2019-04-05 07:27] t27 commented on #311
You need to use the `nvidia` runtime for docker, and export the `NVIDIA_VISIBLE_DEVICES` environment variable *inside* the container when you run it

Sample command
[code]

If you use a config file for tensorflow serving, you can use the following command while running the docker

[code]

Source: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/docker.md#serving-with-dock

[2019-04-05 07:30] t27 commented on #311
Until tensorflow serving incorporates the multi gpu load balancing, the best approach to do multi gpu inference for TensorflowServing is by having dockerised tensorflow serving containers for each gpu (https://github.com/tensorflow/serving/issues/311#issuecomment-480176078) and then writing your own load balancing logic which has a list of all the url-port number combinations and dispatches reques

[2019-04-06 00:28] shlomiken commented on #789
more than that - i have problem changing the code and compiling like suggested above with periodic function. i would expect this to be TFS configuration.
does someone know if there is such feature on the roadmap ?

[2019-04-06 03:02] gr8Adakron commented on #1280
@julianiacoponi yes, it was the problem with updated Tensorflow-serving-API and grpc.beta module.
I tried using GRPC directly after upgrading the GRPC library and it was working fine.
[code]
Upgrade both (tensorflow-serving-api and grpc) to latest version and don't use grpc.beta.

-thanks

[2019-04-06 05:56] gr8Adakron commented on #1290
@unclepeddy
hey, so I have added the TFrecords in the **extra.assets** still not sure where to use that script?
`
Finished reading warmup data for model at /home/serving/pattern_resnet/serving/1/assets.extra/tf_serving_warmup_requests
`
Please, just a little guidance, the documentation doesn't specify much detail.

[2019-04-06 09:55] stevewyl commented on #765
If you want to add version policy information  into model_config, the following code snippet is for reference:

First, we initialize some config object

[code]

1. latest

[code]

2. specfic

[code]

3. all

[code]

[2019-04-06 10:06] liaq192 opened #1297 "SERVING RNN : LSTMCell not working correctly"
RNN LSTMCell Problem with Serving
  I am trying to create a basic RNN with 1 LSTMCELL within dynamic_RNN. When model is created it trains properly. After training testing data is read from file ('modelData.csv') into numpy array (dimensions : [-1,7,10]) and NN is ran against that file_input. Model works fine and gives output (prediction) as expected. Things get interesting when model is saved for

[2019-04-06 12:32] secsilm opened #1298 "Building optimized serving binary for gpu failed: hash sum mismatch"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: None
- **TensorFlow Serving version**: None

### Describe the problem
I follow the [official doc](https://www.tensorflow.org/tfx/serving/docker#buildin

[2019-04-07 08:06] secsilm opened #1299 "Check failed: NDIMS == dims() on latest-gpu docker image but not on others"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: docker
- **TensorFlow Serving version**: 1.13.0

### Describe the problem
I try to deploy the trained bert model with the docker version of tf serving

[2019-04-07 12:37] xuzheyuan624 commented on #311
@t27 thanks! It's very useful!

[2019-04-07 15:44] shlomiken commented on #1091
Hi
can one give an example how to send such gzip request to predict from curl, as it does not appear in the documentation and i get 400 bad request when sending binary data with that json zipped.
for example
`curl -v --data-binary @body.gz -H'Content-Encoding: gzip' -X POST http://localhost:8501/v1/models/pos-model:predict `

[2019-04-07 18:54] shlomiken opened #1300 "Improve model version discovery"
Hello
I read a lot of material the past week about tensorflow serving - and its truly amazing component.
i think that many times i ran across the same question everyone is interested in , and eventually so am i and there is just don't enough examples , or its too complicated to implement this basic functionality - how to deal with dynamic models loading in runtime. (you may call it reload config ,

[2019-04-08 04:07] troycheng commented on #311
Did someone meet throughput decreasing problem when using load balancing over multiple tf-serving instances?  For only one instance, using batching with fine tuning it can reach 500 qps, but for 8 intances, It can't reach 500 * 8 = 4000 qps, even  worse, it can't reach 500 qps. I know batching is a main cause but till now I do not why and also not find a better solution to make full use of multipl

[2019-04-08 07:25] karlschriek commented on #765
This solution requires the client to have access to `model.config` file, which doesn't really seem optimal to me. For our use case we have multiple clients that request inferences from a load-balanced cluster of servers. It would be much better if the server could accept a gRPC request from any one of the clients to add a model to its model.config, without the client needing to have access to the

[2019-04-08 07:27] SansDK commented on #1296
I tried a few suggestions from the StackOverflow answers.
I tried inputs with the following formats:

- {"instances": {["col1": 0.0, "col2":1.1]}} --> error mentioned in question
- {"instances": {"col1": 0.0, "col2":1.1}}  --> error: Excepting \'instances\' to be an list/array"
- {"col1": 0.0, "col2":1.1} --> error: Missing key: instances or inputs

Also, I tried making a 'regress' call instead of

[2019-04-08 08:45] SansDK commented on #1296
Okay, I fixed it.
There were a few problems with my usage.
First of all, in my export code I define:

`inputs={'input_request': model.input}`

the output of model.input is:
`<tf.Tensor 'dense_1_input:0' shape=(?, 282) dtype=float32>`

Which got me thinking that I should pass an array with shape (1, 282) (single prediction in this case) to the TF serving http api. This array input is named 'input_r

[2019-04-08 08:45] #1296 closed

[2019-04-08 08:47] karlschriek opened #1301 "Make ModelServer poll for model_config changes from remote (e.g. S3) location"
### Describe the problem the feature is intended to solve
I've seen various bits and pieces of this problem discussed in many different issues (now closed, but without a solution being available). The problem is as follows: we need a robust way in which to trigger the server to load / unload models on the fly.

The idea in our orginisation is that we start a cluster of server instances, initially

[2019-04-08 15:58] zepen opened #1303 "How to build index_table_from_file on serving?"
[code]

* The code is work well, and when i build model to docker serving it's running.

**2019-04-08 15:27:11.295055: I external/org_tensorflow/tensorflow/cc/saved_model/loader.cc:162] Restoring SavedModel bundle.
2019-04-08 15:27:11.302146: I external/org_tensorflow/tensorflow/cc/saved_model/loader.cc:138] Running MainOp with key legacy_init_op on SavedModel bundle.
2019-04-08 15:27:11.302203: I

[2019-04-08 18:01] hgadig commented on #1298
This could be due to CDN issue. Please try again in sometime and if the issue still persists, request you to open a new issue in [nvidia-docker](https://github.com/NVIDIA/nvidia-docker/issues) repository.

[2019-04-08 18:12] kikushah opened #1304 "Batching does not work when concat op is present in the graph"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-04-08 18:26] kikushah commented on #1304
Hi,

I trained a model using python 3.6 and tensorflow 1.13.

I am training a densenet. One of the ops that I use is concat(with tf.zeros), to double the size of my input tensor. The model is trained with batch size 1.

It trains well, and the graph is exported with tf.saved_model.builder.SavedModelBuilder and served with tensorflow_model_server.

I use a c++ client to send prediction requests to

[2019-04-08 18:28] kikushah opened #1305 "Batching does not work when concat op is present in the graph during serving"
Hi,

I trained a model using python 3.6 and tensorflow 1.13.

I am training a densenet. One of the ops that I use is concat(with tf.zeros), to double the size of my input tensor. The model is trained with batch size 1.

It trains well, and the graph is exported with tf.saved_model.builder.SavedModelBuilder and served with tensorflow_model_server.

I use a c++ client to send prediction requests to

[2019-04-08 19:28] hgadig commented on #1299
Can you please check if the input tensors are in a good shape for the ops used? Also could you please confirm if there is any external op created ?

[2019-04-08 19:58] hgadig commented on #1303
This could be caused if init op of the serving module was wrongly constructed.

Can you try to initialize tables with tf.tables_initializer. Alternatively can you use if MonitoredSession which does initialization can help in this scenario ?

[2019-04-08 20:20] hgadig commented on #1304
Hi @kikushah, I see you've created a similar issue(#1305). Closing this issue as it is a duplicate one to maintain a single thread [here](https://github.com/tensorflow/serving/issues/1305).

[2019-04-08 20:20] #1304 closed

[2019-04-08 20:26] hgadig commented on #1305
Hi @kikushah, could you please provide the following information which help us to look into the issue.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow Serving installed from (source or binary)**:
- **TensorFlow Serving version**:

### Exact Steps to Reproduce
Please include steps followed and a reproducible code snippet for someone to reproduce

[2019-04-08 20:31] #1294 closed

[2019-04-08 20:31] hgadig commented on #1294
Closed the issue as this has been answered above.

[2019-04-09 01:45] kikushah commented on #1305
Hi,
I use Ubuntu 16.04.

TensorFlow serving is installed from source with --config=mkl

TensorfFlow version is 1.31.1

concat op in python is built with the following code:

`
fcweightsinitializer=variance_scaling

def halfresnet(x, scope, nh, act=actfunction, init_scale=1.0, sublayers=1, collections=None):
    with tf.variable_scope(scope):
        nin = x.get_shape()[1].value
        zeros = tf.

[2019-04-09 02:56] secsilm commented on #1299
Thank you for your reply.

### Can you please check if the input tensors are in a good shape for the ops used?

I use `saved_model_cli` to check the input and it's fine:

[code]

### Also could you please confirm if there is any external/custom op created?

Sorry I don't kown how to check this.

[2019-04-09 03:49] zepen commented on #1303
* OS **Linux version 3.10.0-957.5.1.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)**
* TensorFlow Serving installed from docker
![image](https://user-images.githubusercontent.com/18568380/55771494-dfffa200-5aba-11e9-9297-2d3241ba6ec0.png)
* I don't know what is TS version because i docker pull this. The docker images show it' s latest.
* My cod

[2019-04-09 06:33] secsilm commented on #1305
Same issue here. Python 3.6 and tf serving 1.12.

If I use batch 1 or `saved_model_cli` or `tf.contrib.predictor.from_saved_model`, it all works fine. But if I use restful api and batch > 1, it'll raise an error about reshape op:

[code]

[2019-04-09 09:30] sathyamoorthyrr commented on #285
Could anyone help with this [question](https://stackoverflow.com/questions/55585087/how-to-debug-models-running-in-tensorflow-serving)?

[2019-04-10 11:33] mraduldubey commented on #408
Please provide an update on this. Thanks.

[2019-04-10 12:25] kikushah commented on #1305
@secsilm - agreed. It works well for multiple individual requests because serving is processing them serially and not batching them. Can you check the time taken to execute in the first case?

I have the same issue.

[2019-04-10 12:53] julianiacoponi commented on #1280
FWIW, this might be a bug in a python itself https://bugs.python.org/issue13487#msg301376

[2019-04-11 00:12] unclepeddy commented on #1300
I believe almost all the items you mention are supported today. Below, I answer and thus close this issue. Regarding documentation, I agree with you; we could do better. If you can open an issue an clearly articulate a guide or tutorial (with a clear objective) that would help you, I'd greatly appreciate it.

1. This is already supported. Simply add a new versioned savedmodel under /<models_root_d

[2019-04-11 00:12] #1300 closed

[2019-04-11 01:24] unclepeddy commented on #765
@karlschriek I'm not following your use case. Are you saying when the server receives a request for model X, it looks for and adds model X? Because this is probably not what you want, since model load (which could take minutes) would now potentially be in the critical path of serving prediction requests)

[2019-04-11 03:42] workd91 commented on #1305
Hi! I think the error is because tensor x is assigned a shape of (1, 50). The model has to be changed for (None, 50) to be batched. Mismatch in the input happens because of that. Input is having (10, 50) while the other variable in the concatenate step is with (1, 50)

[2019-04-11 05:25] secsilm commented on #1305
@kikushah The cost time is about 20 ms in the first case.

[2019-04-11 05:28] workd91 commented on #1305
Mismatch in the input happens. Input is having (10, 50) after batching in the abstraction layer while the other (zeros) variable in the concatenate step is with (1, 50)

from the tf.concat
"The number of dimensions of the input tensors must match, and all dimensions except axis must be equal."

https://www.tensorflow.org/api_docs/python/tf/concat

During the synchronous request, the tensorflow ses

[2019-04-11 06:55] shlomiken commented on #1300
i think you miss understand me , maybe i was not very clear.
iim talking about discovery of new model names not versions (i know this is supported already)

[2019-04-11 07:53] andrew-sn commented on #867
Nope, it seems bazel will do the cache, so only build the `Custom Op`

[2019-04-11 08:11] unclepeddy commented on #1297
You probably meant to pass latestData instead of query_components [here](https://github.com/liaq192/BugReportingRNN/blob/master/modelAccess.py#L109)

[2019-04-11 08:11] #1297 closed

[2019-04-11 08:15] stevewyl commented on #765
Hi, guys! Have you ever meet such case, you add a brand-new model after tf serving starts running, it will cause the following error:

<_Rendezvous of RPC that terminated with:
	status = StatusCode.UNAVAILABLE
	details = "Connect Failed"
	debug_error_string = "{"created":"@1554968846.411774859","description":"Failed to create subchannel","file":"src/core/ext/filters/client_channel/client_channel.c

[2019-04-11 08:20] unclepeddy commented on #1290
Nope, as the logs indicate, you've done it correctly. The script is for producing the predictionlogs which you already seem to have...
So now you're warming up model 1 correctly. Do this for all models to ensure they're all warmed up.

[2019-04-11 08:46] liaq192 commented on #1297
Yes , it was my mistake., Thankyou.

[2019-04-11 17:25] kikushah commented on #1305
@workd91 - In my training job, the eval model has a batch size 1 and that is the model that I am serving. If I change it batch size 10, will I not have to train again, because the dimensions of the weights and biases will have to change accordingly? and What happens if I want to increase the batch size to 100 after a few months? Shouldn't there be scalability without having to retrain?

[2019-04-11 20:43] farzaa opened #1311 "Getting an "Unimplemented" error when using TFServing built from source on TF Object Detection API model."
I am using tf-serving built from source via the Docker image found [here](https://www.tensorflow.org/tfx/serving/docker#building_an_optimized_serving_binary). My model is `faster_rcnn_inception_v2_coco` found within the TensorFlow object detection API located [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md).

When I use `tensorflow-gpu

[2019-04-12 02:20] farzaa opened #1312 "Batching has nearly zero affect."
Hello! I am using batching and am running `tf-serving` via the Docker container `tensorflow/serving:1.13.0-gpu`.

My `batch.config` file looks like this:

[code]

And I run everything by doing `tensorflow_model_server --model_base_path=/models/object-detect --rest_api_port=8501 --port=8081 --enable_batching --batching_parameters_file=batch.config`.

The GPU is a Tesla P100 and the system has 8 cor

[2019-04-12 04:21] gr8Adakron commented on #1290
Thanks alot.

[2019-04-12 06:24] ttang235 commented on #1091
Maybe because too many instances in body.gz?
I also have this problem. Looks like if I send less than 100 instances in one request, it works; if I send 500 instances in one request, it would fail. The even more confusing thing is that the boundary isn't clear: sometimes the max number of instances that tf serving can handle is 200, and sometimes it's 188, etc, etc. It's not stable at all.... (If y

[2019-04-12 07:03] naniqingkuang commented on #374
I using Batching to predict but receive error:
"Batching session Run() input tensors must have equal 0th-dimension size"

[2019-04-12 07:13] sathyamoorthyrr commented on #867
Once TFServing is built from source, I could run tensorflow-serving with,
`bazel-bin/tensorflow_serving/model_servers/tensorflow_model_server`

How could I use that custom built Tensorflow Serving in another PC?

[2019-04-12 08:17] ttang235 commented on #1091
I

Is the maximum size of unzipped body 10M? (based on kMaxUncompressedBytes in this code: https://github.com/tensorflow/serving/commit/b94f6c89335782a7f175e8973c4f326375c55120)
In my case, the total size of 200 instances is less than 300 KB, so it shouldn't be a problem, but sometimes it fails. Why? Could you please help answer this? @wenbozhu

PS: I'm using tf serving 1.12.0 image in docker hub,

[2019-04-12 10:07] helloopenworld opened #1313 "build error with Eigen on TF Serving 1.13"
serving version：1.13
gcc：4.8.5
os: centos

In file included from /root/.cache/bazel/_bazel_root/b68f84bd1350ade1c36f452c07321f56/execroot/tf_serving/external/eigen_archive/unsupported/Eigen/CXX11/Tensor:120:0,
                 from /root/.cache/bazel/_bazel_root/b68f84bd1350ade1c36f452c07321f56/execroot/tf_serving/external/org_tensorflow/third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1,

[2019-04-12 14:14] wenbozhu commented on #1091
You mentioned both zlib error -3 and -4 .. and I suppose the first one is a typo?

-4 means the compressed data is corrupted or the server fails to allocate memory ... and is it possible that body.gz is wrong or curl will double compress if you specify C-E: gzip manually ...?

[2019-04-12 16:46] hgadig commented on #1313
Could you please provide the steps followed and a reproducible code snippet(if applicable). This would help us to look into the issue. Thanks!

[2019-04-12 21:39] shlomiken commented on #1230
i think that we are all going in circles here , looking for the same features - but still getting the same answers. (i for example opened this one #1300 ).
what we need is very very simple .
1. have a static model list configured in models.conf - where we can easily set our labels. (yes for models that are in the local file system and ready to be loaded
2. dynamic model discovery - ability to disc

[2019-04-12 22:21] shlomiken commented on #1091
This is not a type - i got both -3 and -4 (maybe on different calls )
The file was a successful to predict JSON file (26MB) - which i zipped using zip json.gz file.json

[2019-04-13 00:32] golisandeep3 commented on #1215
I am facing the same issue.  Any updates on this ?

[2019-04-13 14:10] shlomiken commented on #1230
More than that - presumed use case or not , where did you see a server that its config file is not valid upon start.
cause the models first needs to be loaded and only then can be configured (labels,specific version etc)
you basically say - we don't have a config file , just an interface to be configured at runtime.

[2019-04-13 16:24] alexcpn opened #1316 "TF docker error tensorflow/serving:1.13.0-devel-gpu ImportError: libcublas.so.9.0"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**:  Binary Docker
- **TensorFlow Serving version**:
 tensorflow/serving:1.13.0-devel-gpu

### Describe the problem
The tensorflow in the continer does not load.Gives  error - I`mportError: libcublas.so.9.0: cannot open shared obj

[2019-04-14 01:14] wenbozhu commented on #1091
you should use gzip  i.e.  > gzip file.json

gzip adds gzip headers which include the size of uncompressed data. This is important as we want to make one memory allocation for all the uncompressed data.

[2019-04-14 13:30] shlomiken commented on #1091
Hi @wenbozhu - thanks for helping out
i have zipped as you suggested with gzip file.json
i run this curl command
`curl -v -s --trace-ascii http_trace.log --data-binary @file.json.gz -H "Content-Type: application/json" -H "Content-Encoding: gzip" -X POST http://localhost:8080/v1/models/pos-model:predict `

and get this as http trace on curl side
`== Info: We are completely uploaded and fine
<= Recv

[2019-04-15 18:23] Saxenauts opened #1317 "Bad request when serving mnist and making REST API"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: Docker and apt package
- **TensorFlow Serving version**: 1.13.0-rc1+dev.sha.f16e777

### Describe the problem
Keras exported Saved Model not able to call REST API. I have a standard cnn model for MNIST dataset written in

[2019-04-15 18:26] hgadig commented on #1316
Could you please provide cuda and cudnn versions?

[2019-04-15 19:30] netfs commented on #1316
thanks for reporting the issue!

this is a bug in our release build process. specifically when we build tensorflow-serving-api PIP package we pick the latest TF pip package:https://github.com/tensorflow/serving/blob/28da549e382fa027897886afec83fca6e92da33c/tensorflow_serving/tools/pip_package/setup.py#L49 which may or may-not be inline with TF Serving version. depends on when these builds start. i

[2019-04-15 20:14] netfs commented on #1317
your mnist model requires a (-1, 28, 28, 1) dimensional tensor. the first dimension captures the
batch size (# images), so ignoring that -- you need a 28x28x1 float tensor that represents an image.

in your sample code, you are passing raw jpeg bytes. this only works if the model is capable of handling jpeg bytes directly (and internally decoding and converting it to required multi-dimensional flo

[2019-04-15 21:42] sathyamoorthyrr commented on #1001
By the way, how could I skip tests?

[2019-04-16 05:34] nrobeR commented on #1215
Hi golisandeep3,

Unfortunately, without detailed information of the problem you are facing, I wouldn't be able to know or reproduce the issue.

Hi prabalakanti,

Sorry for the delayed reply. I have a few questions to follow up
  - Would it be possible to share which model you used to serve?
  - How big is each of your images? If are you sending 1000 big images concurrently, I would expect the mem

[2019-04-16 08:23] lnshi commented on #1265
@minglotus-6 any update or in development activities?

Really serious issue, same on `tensorflow/serving:1.12.0`, all the requests will jam in the model server until it got forcedly killed, no resources were released properly before that...

[2019-04-16 12:15] troycheng commented on #1312
I also met the problem and dit a lot of test, and now I can get some benefits  from batching.

I guess you may probably post 1 image per request (or maybe other kind of data, whatever ). If so,  setting `batch_timeout_micros` to 0 means server will not wait other requests to form a batch, and it will work just the same as no batching.

You can set `batch_timeout_micros` to a few milliseconds, i.e.

[2019-04-16 14:50] HFrost0 opened #1321 "How to resize the image inside server"
Is there any way to give server a image without resize, and prepossess the image using tensorflow serving to make it match the input shape of the model?

[2019-04-16 17:41] netfs commented on #1317
closing this issue, as the problem was in request creation.

[2019-04-16 17:41] #1317 closed

[2019-04-16 20:37] hgadig commented on #1321
Please take a look at [this](https://github.com/tensorflow/serving/issues/878) is a similar issue which has information about defining the pre-processing part using tf.image.resize_images().

[2019-04-16 20:39] wenbozhu commented on #1091
Thanks for the log,  Will look into this

[2019-04-16 20:42] hgadig commented on #1313
Closing this issue as it is in "awaiting response" status for more than 3 days. Please provide the information(as asked above) and we will reopen the issue. Thanks!

[2019-04-16 20:42] #1313 closed

[2019-04-16 20:49] hgadig commented on #1312
For CPU, one can set _batch_timeout_micros_ to 0. Then experiment with _batch_timeout_micros_ values in the 1-10 millisecond (1000-10000 microsecond) range.

Since your scenario is with GPU, please find below approach.

Temporarily set batch_timeout_micros to infinity while you tune max_batch_size to achieve the desired balance between throughput and average latency. Consider values in the hundred

[2019-04-16 20:59] hgadig commented on #1311
Could you please provide the exact steps followed and a small code snippet which help us to reproduce the error from our end?

[2019-04-16 23:56] netfs commented on #1299
does this also happen with `tensorflow/serving:nightly-gpu` docker image (this is built with latest HEAD sources)?

[2019-04-17 00:01] colinmorelli commented on #1086
Just replying here to say I ran into this today also. Using `gsutil` to upload a model directory, TF serving picked up the new version immediately after saved_model.pb was uploaded, before the variables were uploaded. It successfully loads the model, but fails evaluation.

I haven't tried HandleReloadConfigRequest, which I'm sure would work (as would changing the order of the uploads), because I'm

[2019-04-17 01:59] HFrost0 commented on #1321
Thank you for your advice! I'm trying to do that.

[2019-04-17 04:39] HFrost0 commented on #1321
I solved this problem. Thanks to this [issue](https://github.com/tensorflow/serving/issues/878#issue-322144979)
First run this code to save a  saved model including image resize.
`
import os
import tensorflow as tf

string_inp = tf.placeholder(tf.string, shape=(None,))
imgs_map = tf.map_fn(
    tf.image.decode_image,
    string_inp,
    dtype=tf.uint8
)
imgs_map.set_shape((None, None, None, 3))
im

[2019-04-17 04:45] #1321 closed

[2019-04-17 11:51] ianhellstrom opened #1323 "How to send proper requests to TensorFlow Serving"
The TensorFlow Serving documentation does not really cover a lot of realistic (i.e. non-MNIST or trivial) cases. The [sample script](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi/chicago_taxi_client.py) for the Taxi example shows how to properly serialize the examples from CSV for requests to the server, but it requires a Python script in the middle that grabs the schema

[2019-04-17 16:52] ZhouyihaiDing commented on #1091
I am trying to debug this but I am not able to reproduce it.

I was using the [TF model example](https://github.com/tensorflow/serving#serve-a-tensorflow-model-in-60-seconds).
I increased the number of instances and used the curl command mentioned by shlomiken.
However, I could get the correct response.

[2019-04-17 18:28] shlomiken commented on #1091
Maybe a big file - mine is about 8.5 MB after gzip

[2019-04-17 20:32] unclepeddy commented on #1265
@netfs do you have any idea about this?
tensorflow::RunOptions is correctly set [here](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/prediction_service_impl.cc#L42)
propagating [enforce_session_run_timeout_](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/prediction_service_impl.h#L39)
originally set to inherit [server_options

[2019-04-17 20:36] netfs commented on #1265
enforce_session_run_timeout is set to `true` by default:

https://github.com/tensorflow/serving/blob/96a716ca31f753b0c3efc1ef60779b77f5c60845/tensorflow_serving/model_servers/server.h#L79

[2019-04-17 21:11] netfs commented on #1316
OK so this is happening on tensorflow/serving:nightly-devel-gpu also where TF 1.13.1 is installed within the docker image. installing TF nightly resolves the issue.

[2019-04-17 22:30] aaroey commented on #1316
@christisg may have some thoughts on this.

[2019-04-17 22:32] aaroey commented on #1316
@chsigg may have an idea about this.

[2019-04-17 22:40] netfs commented on #1316
folk folks attempting to reproduce this (needs docker installed) with latest bits:
[code]

[2019-04-18 06:44] lnshi commented on #1265
@netfs hmm, what could cause it doesn't get respected then?

[2019-04-18 09:50] secsilm commented on #1299
@netfs I pulled the `tensorflow/serving:nightly-gpu` docker image and `docker run` failed:

[code]

[2019-04-18 19:29] eggie5 commented on #789
make sure you set undocumented  `AWS_LOG_LEVEL` env var or else the TF s3 plugin will spam your logs, eg: `export AWS_LOG_LEVEL=3`  for `FATAL`

[2019-04-18 20:09] shlomiken commented on #789
This would only hide the real problem in my opinion - which is querying AWS every second.
this needs to be changed.

[2019-04-19 18:30] ZhouyihaiDing commented on #1091
Thanks! Still looking at it.
FYI for 10MB limit of uncompressed size, I think it means the data size after the decompression.
Your data is already 8.5MB after gzip, It's very likely the original size is greater than 10MB, which will lead to a -4 error.

[2019-04-19 20:48] hgadig commented on #1312
Closing this issue as it is in "awaiting response" for 3 days. Feel free to add your comments and we will reopen.

[2019-04-19 20:48] #1312 closed

[2019-04-19 20:49] hgadig commented on #1298
Closing this issue as it is in "awaiting response" status for more than 3 days. Feel free to add your comments and we will reopen(if applicable). Thanks!

[2019-04-19 20:49] #1298 closed

[2019-04-19 20:53] hgadig commented on #1311
Any update?

[2019-04-19 21:00] shlomiken commented on #1091
I don't understand - i sent 26MB (uncompressed) without any problem , the 8.5MB is compressed.
So is there or not a limit of 10MB - how i managed to send 26MB ?

[2019-04-19 22:17] netfs commented on #1323
once you know/figure out what input tensor(s) (shape, size,type) or example(s) (feature names+types) your model excepts (this is very model specific and only known to the author of the model), i'd recommend using the examples shown in [REST API Spec](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/api_rest.md) to compose/structure your JSON request (the [mapping](https:/

[2019-04-20 14:27] gauravgola96 commented on #789
Used this command `docker run -p 9000:8500 -e AWS_ACCESS_KEY_ID=xxx -e  AWS_SECRET_ACCESS_KEY=xxx -e MODEL_BASE_PATH='s3://aml-models/tf-serving/models' -e MODEL_NAME=model_name S3_ENDPOINT=s3.us-east-2.amazonaws.com -e AWS_REGION=us-east-2 -e TF_CPP_MIN_LOG_LEVEL=3 -t tensorflow/serving:1.11.0
`
Error `If the signature check failed. This could be because of a time skew. Attempting to adjust the s

[2019-04-20 21:12] qianlin404 opened #1326 "Segmentation fault when run TF Serving with NVIDIA MPS"
### System information
- **OS Platform and Distribution**:  Linux Ubuntu 16.04
- **TensorFlow Serving installed from**: Binary Docker
- **TensorFlow Serving version**: tensorflow/serving:latest-gpu

### Describe the problem
I am experimenting with Tensorflow Serving GPU and NVIDIA Multi-Process Server. I run TF Serving with Docker `tensorflow/serving:latest-gpu`. Everything works properly when MPS

[2019-04-22 04:42] prabalakanti commented on #1215
Yes, the model is attached. It's a simple MNIST model.
[model.zip](https://github.com/tensorflow/serving/files/3102163/model.zip)

The "images" are simulated using random numpy arrays in the client code (attached in the earlier comment). I understand that if I am sending a lot of big images concurrently the memory usage will be high, it is expected. But over time, the average/peak memory usage goe

[2019-04-23 17:58] netfs commented on #1316
@alexcpn can you try by adding --runtime=nvidia to your docker command line when using gpu docker images. this works (without any failures for me) for the `nightly-devel-gpu` version:

$ docker run --runtime=nvidia --rm -it tensorflow/serving:nightly-devel-gpu  python -c 'import tensorflow'

thanks to @gunan for noticing the missing `--runtime=nvidia` above.

[2019-04-23 19:28] netfs commented on #1299
@secsilm are you using `--runtime=nvidia` flag on docker command line for gpu image?

see https://www.tensorflow.org/tfx/serving/docker#gpu_serving_example for details

[2019-04-23 19:43] alexcpn commented on #1316
I dont have access to the remote machine now, but I usually give that  (--runtime=nviidia) Can you try with the exact release tf-serving:1.13.0-devel-gpu, instead of the latest. Also you can close it if it is fixed in latest. Thanks

[2019-04-23 22:43] netfs commented on #1316
yes this is still an issue with our 1.13 devel-gpu docker images (as it has TF 1.12 installed).

this does not happen with nightly-devel-gpu (noted above).

i will keep this issue open and ensure upcoming 1.14 release does not have this issue.

thanks for reporting it.

[2019-04-23 23:10] tedivm opened #1328 "Is the nightly docker container binary built against tensorflow nightly?"
We're working with nvidia to resolve a tensorrt issue and they've recommended that we use the nightly versions of tensowflow and tensorflow serving.

When using the tensowflow serving nightly docker containers we can see that it's running tensowflow 1.13.1 rather than the nightly build- what would be the recommended way to use the tensorflow nightly variants?

[2019-04-24 02:18] kevinashaw opened #1329 "Build to Docker image fails"
### Describe the problem the feature is intended to solve
I am following the [instructions](https://www.tensorflow.org/tfx/serving/setup) to build a docker installation of tensorflow/serving (TFS).
As instructed, I pulled the latest commit TFS and entered:
`tools/run_in_docker.sh bazel build -c opt tensorflow_serving/...`
This resulted in:
ERROR: /Users/myname/tfserving/.cache/_bazel_myname/9f2a46

[2019-04-24 02:36] richard403 opened #1330 "build failed due to fft2d checksum mismatches"
`ERROR: /home/whx/.cache/bazel/_bazel_whx/0c1a8c353c81563d651e5a17b5260d00/external/org_tensorflow/tensorflow/core/platform/default/build_config/BUILD:192:1: no such package '@fft2d//': java
.io.IOException: Error downloading [http://mirror.tensorflow.org/www.kurims.kyoto-u.ac.jp/~ooura/fft.tgz, http://www.kurims.kyoto-u.ac.jp/~ooura/fft.tgz] to /home/whx/.cache/bazel/_bazel_wh
x/0c1a8c353c81563d6

[2019-04-24 13:09] ynqa commented on #462
@netfs Is documentation about monitoring progressing? Or could I write?

[2019-04-24 19:07] ParthTandel commented on #663
Are there any updates made on this.

[2019-04-24 19:09] ParthTandel commented on #663
I wanted to use tensor flow serve to create a restful service where i pass a bunch of text inputs in the rest API and use sklearn functions like tfidf vectorizers to preprocess text and then used sklearn cosine similarity function for some other logic on top of it.

[2019-04-24 19:56] netfs commented on #1329
i think you are running out of resources (notably RAM) during the bazel compile.

try tweaking the resource needs for bazel via `--local_resources` flag:
https://docs.bazel.build/versions/master/command-line-reference.html#flag--local_resources

also see this (search for `--local_resources`) for potential values:
https://www.tensorflow.org/tfx/serving/docker#building_a_container_from_a_dockerfile

[2019-04-24 20:01] netfs commented on #1328
yes presently nightly TF serving (docker image) uses stable upstream TF (1.13.1 presently).

your best bet is to build your container. you can base it off TF serving nightly, and then update TF pip package to nightly version within the docker container. note TF nightly and release PIP packages have different names (not just version differences), so you may need to first uninstall TF 1.13.1 and the

[2019-04-24 22:34] tedivm commented on #1328
Great, thank you for clarifying!

[2019-04-24 23:43] #1328 closed

[2019-04-25 01:58] secsilm commented on #1299
@netfs Yes I used the `--runtime=nvidia` flag, here is my command:

[code]

[2019-04-25 02:10] netfs commented on #1299
from the error message i suspect your nvidia driver probably does not support cuda10. since TF 1.13 we use cuda 10. TF 1.12 (and prior) were based on cuda9. can you verify that cuda 10 is installed correctly on your system and is working with your GPU?

maybe follow this:
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#verify-installation

[2019-04-25 08:24] rgabo commented on #1295
Can I also suggest that the default for `file_system_poll_wait_seconds` is reverted back to the original 30 seconds instead of the current 1 second default? The default seems to have changed when the command-line argument was introduced: https://github.com/tensorflow/serving/pull/214#discussion_r84943476

This seemingly innocent change has cost @joekohlsdorf's and our company upwards of thousands

[2019-04-25 18:06] gowtham-kp commented on #1330
Can you please fill [this](https://github.com/tensorflow/serving/issues/new) new issue template which helps us to understand more about this issue and look into it.

[2019-04-25 18:11] gowtham-kp commented on #1326
@qianlin404 Can you please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/9080) and let me know if that answers your question. Thanks!

[2019-04-25 18:39] estmit opened #1331 "Protobuf does not allow model size > 1 GB"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.3.6
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: master

### Describe the problem
Even though total_bytes_limit_ has been set to INT_MAX (2 GB) for a while now, I'm still running into the following error when trying to serve a 1.3GB .pb model:

`[li

[2019-04-25 18:55] gowtham-kp commented on #1328
Closing the issue as it is answered!!

[2019-04-26 08:42] highfly22 commented on #678
Try this command to remove unneeded shared library dependency
[code]

[2019-04-26 10:11] tomandjerrygit commented on #1326
hello i try to run serving in mps and refer to [(https://github.com/NVIDIA/nvidia-docker/issues/419)] you should first install nvidia-docker2 and follow steps in this issue

[2019-04-26 18:23] gowtham-kp commented on #1331
@estmit This looks like a duplicate of the [issue](https://github.com/tensorflow/serving/issues/24). Pls go through the issue and let me know if it helps. Thanks!

[2019-04-26 18:46] estmit commented on #1331
@gowtham-kp I've already seen issue #24 but I apparently I missed laotao's workaround at the bottom of the thread. I tried to implement workaround by manually changing `coded_stream.SetTotalBytesLimit(...)` in L518 of env.cc to `coded_stream.SetTotalBytesLimit(2147483647)` but I'm getting the following compiler/linker errors when running `bazel build`:

[code]

[2019-04-26 22:09] golisandeep3 commented on #1215
@nrobeR Also the memory usage goes up when we reload the model configuration. Like deleting and adding new model versions.

[2019-04-26 22:21] gowtham-kp commented on #1331
@estmit Can you please try this workaround by changing https://github.com/google/protobuf/blob/master/src/google/protobuf/io/coded_stream.h#L611 to 256 << 20 and then recompile. Let me know if that works . thanks!

[2019-04-26 23:27] wenbozhu commented on #1091
The limit is for uncompressed data, enforced only when the response is gzipped.

The does cause inconsistent API semantics and we will fix it.

===

The uncompression is broken when the body is too large and we need fix this, to buffer the entire body or to enable streamed uncompression.

Re-open the bug to add the fix and test.

[2019-04-26 23:42] wenbozhu commented on #1091
Correction: the intent for the current behavior is to use RequestHandlerOptions::set_auto_uncompress_max_size() to limit uncompressed sizes (as a security limit).

If we are expecting responses larger than 10MB, then we need overwrite the default in the model server, e.g. to 100MB.

@netfs

[2019-04-28 09:43] yiyele commented on #1125
same error

[2019-04-28 12:42] viji-123 commented on #878
I am facing the same issue. I am first loading the keras model , then i want to take the input as string. Below is the code.

model = load_model('modelname.h5')
image = tf.placeholder(shape=[None], dtype=tf.string)
builder = saved_model_builder.SavedModelBuilder(export_path)

signature = predict_signature_def(inputs={'images': image},
                                  outputs={'scores': model.outp

[2019-04-28 12:43] viji-123 commented on #878
@stolarczyk
I tried using your code, still facing the issue as mentioned above. Please help

[2019-04-28 18:45] qianlin404 commented on #1326
Hi @tomandjerrygit , thanks for referring. It sounds like this is an IPC problem. The MPS is running on host and the program running inside the docker container cannot communicate with it. By setting `--ipc=host`, it works properly.

[2019-04-29 02:45] viji-123 commented on #994
@walton-wang929
@xujie32

I used the below code to export keras model for tensorflow serving

     model = load_model('modelName.h5')

     image = tf.placeholder(shape=[None], dtype=tf.string)
     export_path = 'path-name'

     builder = saved_model_builder.SavedModelBuilder(export_path)

      signature = predict_signature_def(inputs={'image_bytes': image},
                              output

[2019-04-29 14:35] unclepeddy commented on #462
@ynqa Idt anyone is actively working on monitoring docs so please feel free to write one up.

[2019-04-29 21:06] #1326 closed

[2019-04-29 21:16] netfs commented on #1301
implementing polling of external file is doable, if we are willing to accept the same semantics as reload config rpc endpoint: https://github.com/tensorflow/serving/blob/5a81b85465104d02c6d336114f2e5af65cf92286/tensorflow_serving/apis/model_service.proto#L22

namely, the config reload will unload models not mentioned in the config file. this is for the sake of symmetry with the rpc interface.

a m

[2019-04-29 23:47] netfs commented on #1331
upstream protobuf limit is INT_MAX (~2GB):
https://github.com/protocolbuffers/protobuf/blob/859d2da51b3b67b5dc389eb3c0d0d3cc9b9868d7/src/google/protobuf/io/coded_stream.h#L385

setting the first arg in SetTotalByteLimits() to `INT_MAX` in env.cc here:
https://github.com/tensorflow/tensorflow/blob/1495d2a47cd5de203f5b503f9a878d5c49d585dc/tensorflow/core/platform/env.cc#L518

should fix things for y

[2019-04-30 00:49] netfs commented on #1295
@rgabo happy to review a PR to change default poll interval from 1 sec to 30 secs.

[2019-04-30 01:02] netfs commented on #1277
TF Serving does not have support for `aarch64` architecture (in BUILD system, and i suspect the code might need changes too).

TF (core) afaik has support for `aarch64` for the lite ecosystem:
https://www.tensorflow.org/lite/guide/build_arm64

Happy to accept patches to add `aarch64` support to TF code base.

[2019-04-30 02:22] secsilm commented on #1299
@netfs Sorry to reply late. I test the `tensorflow/serving:nightly-gpu` image with cuda-10.0 installed and it works.

But it confused me that [the TensorFlow document](https://www.tensorflow.org/install/docker) says cuda and cudnn is not required if using docker version.

So why do I have to install the corresponding cuda and cudnn version to use it tfs?

[2019-04-30 02:30] netfs commented on #1299
my understanding is you need host driver. and each driver supports certain level of cuda version.

and looking at your failure, i suspected that your driver is not capable of doing cuda 10 (that our docker image is based off). IOW to use the latest docker image, you need driver w/ cuda 10 support.

adding @aaroey to ascertain or correct my understanding.

[2019-04-30 02:42] secsilm commented on #1299
Thank you for your quick reply.

That makes sense. Before my driver version was 384.130. It becomes 410.48 after I install cuda-10.0. According to [TensorFlow document](https://www.tensorflow.org/install/gpu#software_requirements), cuda-10.0 requires 410.x or higher.

[2019-04-30 04:07] netfs commented on #1299
Thanks for confirm the driver version and the fact that upgrading worked.

[2019-04-30 04:07] #1299 closed

[2019-04-30 04:26] netfs commented on #1287
TFS+TF official nightly builds/docker images uses all cores, and these builds use mkl contraction kernels (by default). So MKL runs in this (so called) hybrid mode.

Regarding Docker.devel-mkl not working as expected, I will leave it for the community to contribute and get this working, mostly due to my lack of understanding. Will unassign myself.

[2019-04-30 04:39] netfs commented on #1277
There is [TF SIG Build](https://github.com/tensorflow/community/blob/master/sigs/build/community-builds.md) too, to see what others are doing regarding aarch64 builds. Try asking on their mailing list.

[2019-04-30 04:59] aaroey commented on #1299
@netfs is right. @secsilm To use TensorFlow with docker, it only requires that the host GPU driver version supports the CUDA/cuDNN version that is used to build the TensorFlow package. E.g. the latest TF release is built with CUDA 10, so it requires 410.x+ GPU driver. We don't need to install CUDA/cuDNN, which is included by the docker image.

[2019-04-30 05:10] prabalakanti commented on #1215
@golisandeep3 When we reload the model configuration, the new version gets loaded first followed by the unload of previous version. That might be causing the high memory usage.

[2019-04-30 06:11] golisandeep3 commented on #1215
@prabalakanti The memory keeps growing ,it doesn't release the memory when it unloads the previous version.

[2019-04-30 14:12] fsudrew07 opened #1332 "Serving Predict Response Greater than 6 digits of precision gets rounded"
-----------------------
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- Using the latest Docker Hub version of tensorflow/serving 1.13.0 (this issue is also reproducible on nightly, 1.11.1, 1.10.1, 1.9.1 versions as well)

### Describe the problem
Values in the predictions response appear to be rounded to 6 significant digits.

When I ru

[2019-04-30 15:11] taylorchu opened #1333 "official release linked with sentencepiece"
## Feature Request
If this is a feature request, please fill out the following form in full:

### Describe the problem the feature is intended to solve

I will have to link sentencepiece with serving myself. Ideally, I want to use the docker image with serving linked with sentencepiece.

### Describe the solution

official release linked with sentencepiece.

### Describe alternatives you've consid

[2019-04-30 17:53] netfs commented on #1295
(out of curiosity) does providing a yaml formatted config file work (ignoring the disabling aspect)?

[2019-04-30 18:22] gowtham-kp commented on #1332
@fsudrew07 If you look at the output [variable](https://github.com/tensorflow/serving/blob/2f42c693b22c946bf38a4a5934e95a335379caac/tensorflow_serving/batching/test_util/matrix_half_plus_two_saved_model.py#L31), its of type float32 i.e., if you're using the binary32 form which is commonly selected by C++ compilers for the float type, it holds just over 7 digits. Hence, the digits are limited to 7.

[2019-04-30 19:14] nrfrank commented on #1332
@gowtham-kp Your answer is confusing. Are you suggesting that single-precision floats only have 7 digits of precision? I don't think that's accurate (e.g. https://en.wikipedia.org/wiki/Single-precision_floating-point_format). Regardless, the OP is saying that tensorflow/serving HTTP REST endpoints do not return the same results as if the model were called via the saved model cli. This seems like a

[2019-04-30 20:46] gowtham-kp commented on #1323
Closing this issue as it is in "awaiting response" status for more than a week. Feel free to add your comments and we will reopen.

[2019-04-30 20:46] #1323 closed

[2019-05-01 17:24] netfs commented on #1332
thanks for reporting!

yes this is a bug (and i suspect this has to do the way floating point numbers are printed (converted to string) in our json library, when composing the response. Many float->string routines format with 6 digits precision (%g format specifier in printf).

[2019-05-02 04:09] #1295 closed

[2019-05-02 16:15] #1332 closed

[2019-05-03 01:43] wenbozhu commented on #1091
This is fixed in upstream. The default max # of uncompressed bytes is now 100MB.

[2019-05-03 01:43] #1091 closed

[2019-05-03 04:32] estmit commented on #1331
@netfs I did try changing L518 in env.cc but I got a lot of linker errors during recompile (see previous comment https://github.com/tensorflow/serving/issues/1331#issuecomment-487162294). I had to resort to hardcoding INT_MAX at L399 in coded_stream.h (`SetTotalBytesLimit(INT_MAX);`).. it's not ideal, but it will do for now.

[2019-05-03 05:35] fdoumet opened #1338 "`Dockerfile.devel-gpu` is broken"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 9 (stretch)
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: HEAD from master branch

### Describe the problem
`Dockerfile.devel-gpu` seems to be broken. When running `docker build -f ./Dockerfile.devel-gpu .`, it errors out with the following:

[2019-05-03 22:29] gowtham-kp commented on #1338
@fdoumet Can you please prove us with the following information:
CUDA Version:
Driver Version:
TF Serving Version:
CUDA Compute Capability:

Thanks

[2019-05-03 22:54] fdoumet commented on #1338
@gowtham-kp, just using the defaults from the `Dockerfile.devel-gpu` file. Not making any changes.

[2019-05-04 13:36] gr8Adakron commented on #1290
Still, the output is not consistent, if I am calling 8 models parallelly for one single image then this is the 5-iteration time sequence:

Iteration-1 for image_1.jpg
[code]
Iteration-2 for image_2.jpg
[code]
Iteration-3 for image_3.jpg
[code]
Iteration-4 for image_4.jpg
[code]

Iteration-5 for image_5.jpg
[code]
**I have 4 K80-GPUs and all these 8-models have been distributed across all the 4-GPU

[2019-05-04 13:44] spate141 commented on #1290
@gr8Adakron Did you find any solutions to this issue? I'm having similar issue with using multiple models in serving and dealing with high latency issue with parallel calls. I don't understand the concept of `--per_process_gpu_memory_fraction`; I mean as per the description it says; `If 0.0, Tensorflow will automatically select a value.` So, I don't get what exact value I've to use here.

[2019-05-06 09:23] ashwini-git opened #1340 "Tensorflow Object detection model export for serving."
I have trained a Tensorflow Object detection model. and used export_inference_graph.py script to generate inference graph. following files were created -
""saved_model.pb""
""variables/"" (an empty folder)

Now I want to export model for serving. exporter.py script does not create "variables" which are required to host model on Tensorflow serving.

Please let me know changes might be required to e

[2019-05-07 02:44] kspook commented on #994
I made a curl script about text-detection, https://github.com/eragonruan/text-detection-ctpn.git. However, I got an malformed error with curl script. Can anyone tell me the reason?

I checked information here, but I couldn't solve.
The information I ran curl script and output as below:

================= input===========

curl -X POST http://localhost:9001/v1/models/ctpn -d '{ "signature_name": "c

[2019-05-07 03:33] aidenzdly opened #1341 "Failed to get device properties, error code: 3"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-05-07 03:34] #1341 closed

[2019-05-07 03:43] elvys-zhang commented on #994
@kspook  Your url should be like this
[code]

[2019-05-07 05:53] kspook commented on #994
@elvys-zhang , thank you for you comment.

this doesn't include classify method.

[2019-05-07 05:59] kspook commented on #994
@elvys-zhang, thank you for your comment.
but my model doesn't include classify. Please refer to    text-detection, https://github.com/eragonruan/text-detection-ctpn.git.  (branch = master)

[2019-05-07 06:19] elvys-zhang commented on #994
What I mean is that you should specify your method after model name, like
[code]
 And the api you called was a classify api, but you have trained a model with predict method. Predict api should be like [this ](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/api_rest.md#predict-api)

[2019-05-07 06:22] mpjlu commented on #1338
I have the save issue.

[2019-05-07 06:52] kspook commented on #994
@elvys-zhang , thank you for quick response.

now, I have another problem.

**{"error": "JSON Value: {\n "b64":${base64 /home/kspook/text-detection/data/demo/006.jpg}"\n}
Type : Object is one of expected type : float"}**

can you help me?

[2019-05-07 07:22] karthik922 opened #1342 "Tensorflow Serving Illegal Instruction core dumped"
**System information**
 **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
**cat /etc/centos-release** :  CentOS Linux release 7.6.1810 (Core)
**rpm -q centos-release** : centos-release-7-6.1810.2.el7.centos.x86_64
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 1.13.0 (tensorflow/serving:1.13.0)

**Source code / logs**
I have saved th

[2019-05-07 08:48] elvys-zhang commented on #994
@kspook
b64 passes encoded Byte to server , but the type of your input is float. You could try to change your input to string. Or you could send your image as float
[code]
I have tried this way and it worked fine on my resnet model.
Hope this helps.

[2019-05-07 21:15] lilao commented on #1248
Currently, only signatures are supported as metadata. Can you store the metadata in the SaveModel?

[2019-05-07 21:21] lilao commented on #888
I'm going to close this issue now. Please feel free to re-open if there are other issues.

[2019-05-07 21:21] #888 closed

[2019-05-07 22:32] lilao commented on #1333
Hi,

Because there are a large number of ops, it's infeasible to maintain ModelServer docker builds with all the possible ops. Can you build your own ModelServer binary and link in the ops that you need? Here are the instructions on how to build from source: https://github.com/tensorflow/serving#set-up. Please let us know if you have other questions.

[2019-05-07 22:32] #1333 closed

[2019-05-07 22:48] lilao commented on #1269
@bigbizze: thanks for following up with your findings!

@sathyamoorthyrr: your question seems different from the original issue. Can you open a new issue?

[2019-05-07 22:48] #1269 closed

[2019-05-08 02:10] kspook commented on #994
@elvys-zhang
thank for your kinds respond.
But I have same Object is the expected type : float

the output is as follows:
....
  [\n                    0.054901961237192157,\n                    0.054901961237192157,\n                    0.054901961237192157\n                ],\n                [\n                    0.05098039284348488,\n                    0.05098039284348488,\n

[2019-05-08 08:49] hmeine commented on #1248
Yes, I think we can store the metadata in the SavedModel (see my last sentence above), but that did not seem to help very much with serving it?

[2019-05-08 16:01] aaroey commented on #1338
@fdoumet I think this is fixed, would you please try again? Thanks.

[2019-05-08 16:21] fdoumet commented on #1338
@aaroey, same error is still happening. I had tried pulling tf from head too before filing this issue, with no success.

[2019-05-08 16:37] aaroey commented on #1338
@fdoumet I tried but I cannot reproduce the problem. How did you pull tf from head? Also, would you please make sure you had clean up the docker build cache before you run `docker build`?

Thanks.

[2019-05-08 17:40] gowtham-kp commented on #1342
What CPU are you running this on?

The output of

$ cat /proc/cpuinfo

Would be useful.

[2019-05-08 18:26] fdoumet commented on #1338
@aaroey I was pulling the latest by updating the `WORKSPACE` file as you did. Running `docker build` with `--no-cache` did get me past my initial error though! Now I'm getting another error:

[code]
Any ideas?

[2019-05-08 19:35] vinuraja commented on #1303
You need to provide the initializers while exporting the savedmodel. For example, you can do something like this:
[code]

More details are available at https://www.tensorflow.org/tfx/serving/serving_basic#train_and_export_tensorflow_model

[2019-05-08 19:39] #1303 closed

[2019-05-08 20:31] aaroey commented on #1338
@fdoumet for that I don't know, maybe there is another bug from TF head. But the latest nightly GPU docker image was updated successfully (https://hub.docker.com/r/tensorflow/serving/tags/), so would you please try to rollback the WORKSPACE change but use head of TF Serving repository to build?

[2019-05-08 21:28] spate141 commented on #993
@upendra2017, @PayneJoe, @walton-wang929, @migtissera, @switchfootsid Any update? we are facing similar issue and looks like batching is not effective on multiple async requests!

[2019-05-08 21:48] gowtham-kp commented on #1311
@farzaa Closing this issue due to the lack of recent activity. Please update the issue with additional details and we will reopen it. Thanks!

[2019-05-08 21:48] #1311 closed

[2019-05-09 04:58] farzaa commented on #1340
Hi there!

You're almost there :). You actually have everything you need for serving - all you need is the `saved_model.pb` file. I can quickly show you my setup and hopefully you can use a similar setup!

I actually serve two models, at the same time - here is my file structure:

![image](https://user-images.githubusercontent.com/15614124/57428177-26990700-71f5-11e9-8e3c-86d29ad7708d.png)

Note:

[2019-05-09 07:56] karthik922 commented on #1342
`processor    : 0
vendor_id    : GenuineIntel
cpu family    : 6
model        : 44
model name    : Intel(R) Xeon(R) CPU           X5660  @ 2.80GHz
stepping    : 2
microcode    : 0x1a
cpu MHz        : 2793.000
cache size    : 12288 KB
physical id    : 0
siblings    : 2
core id        : 0
cpu cores    : 2
apicid        : 0
initial apicid    : 0
fpu        : yes
fpu_exception    : yes
cpuid level    :

[2019-05-09 11:05] karthik922 commented on #1342
This is CPU info of the system in which I was not able to run.

The system information is :
cat /etc/centos-release : CentOS Linux release 7.6.1810 (Core)
rpm -q centos-release : centos-release-7-6.1810.2.el7.centos.x86_64

`processor : 0
vendor_id : GenuineIntel
cpu family : 6
model : 44
model name : Intel(R) Xeon(R) CPU X5660 @ 2.80GHz
stepping : 2
microcode : 0x1a
cpu MHz : 2793.000
cache size

[2019-05-09 12:46] CLIsVeryOK opened #1344 "c++ client restful"
is there anyone use restful api to call serving? I'd like to write a c++ restful client but their is only grpc client, can any one helps me?

[2019-05-09 13:24] kspook commented on #994
@elvys-zhang, if I get image as byte,  do I need to train model again?
or can I just change export python script?

[2019-05-09 16:46] sethbruder commented on #852
I saw this building TensorFlow 1.13.1 with Bazel 0.21.0.
A local workaround for this error is edit `tensorflow/core/kernels/concat_lib_cpu.cc` to explicitly instantiate the `ConcatCPU` template for the `bfloat16` type (diff below).  The advantage being that your build can continue without causing unintended effects or rebuilding many files.
Note that removing the definition of `IS_MOBILE_PLATFORM`

[2019-05-09 17:04] gowtham-kp commented on #1342
@karthik922 TensorFlow Serving's docker images are published compiled with AVX instructions for performance, and your CPU doesn't have that support.

You'll have to [build your own optimized binary](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/docker.md#building-an-optimized-serving-binary) for your CPU.

[2019-05-10 01:47] hzy001 commented on #1344
You can implement your client based on https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/api_rest.md

[2019-05-10 02:04] sjoshi6 commented on #789
For me the TFServing http server starts up after that last logged line. Isn't that the case ?

[2019-05-10 02:04] kspook commented on #994
@elvys-zhang,   I think below is the right code for float.

but writer didn't share whole code. can you do that? ^^;

https://github.com/eragonruan/text-detection-ctpn/issues/288#issuecomment-463930584

def postprocess(cls_prob_tf, box_pred_tf , im_info_tf):
boxes=proposal_layer_tf_api(cls_prob_tf, box_pred_tf, im_info_tf)
return boxes

with tf.Session() as sess:
with tf.gfile.GFile(args.model, "r

[2019-05-10 03:02] thinhlx1993 commented on #1312
Did you find any ideas to resolve this problem?

I have the same problem.

I have tested my model to predict the embedding of image. It takes only 0.12s for 50 images with batch size 50. But when I convert the Keras model to Tensorflow SavedModel and serve by Tensorflow serving. It takes 3s to calculate embeddings.

My batch.config file

`max_batch_size { value: 128 }`
`batch_timeout_micros { valu

[2019-05-10 03:08] kspook commented on #994
https://github.com/eragonruan/text-detection-ctpn/issues/288#issuecomment-463930584

[2019-05-10 03:16] kspook commented on #994
@elvys-zhang, I think exporting would be wrong.
So,  I found different style exporting script whose owner claimed to be successful.
But he didn't share all script.

can you make unshared part, "preprocess".
https://github.com/eragonruan/text-detection-ctpn/issues/288#issuecomment-463930584

＠hcnhatnam, i have successed deploy the CTPN in TensorFlow Serving, but i cann't share the all code ,sorry.

[2019-05-10 03:57] rxt2012kc commented on #1229
So how to write the final command? I also meet this problem

[2019-05-10 03:59] rxt2012kc commented on #1229
@Lihengwannafly @hgadig So how to write the final command? I also meet this problem

[2019-05-10 04:11] zepen commented on #1303
It‘ s working, thanks a lot!

[2019-05-10 05:08] karthik922 commented on #1342
Yes, It worked with building an optimized binary for my CPU.

Thanks for the help!.

It would be better if these binaries were prebuilt for CPU's which do not support AVX instruction set and made available in the repository.

[2019-05-10 05:08] #1342 closed

[2019-05-10 05:24] elvys-zhang commented on #994
@kspook You could refer to this [official example](https://github.com/tensorflow/serving/blob/r1.11/tensorflow_serving/example/inception_saved_model.py#L172) to do dtype convert.

[2019-05-10 06:51] ginger0106 commented on #1287
hi，I am using tf serving docker,   I limit the cpu usage of docker with 16cores, but I found that when I send large number requests to TFS, the docker could not use up the cpu (almost only 200%cpu), how could I use up the cpu (nearly 1600%)? Thanks.

[2019-05-10 08:02] fwz-fpga commented on #1257
Did you test the grpc or restful api? @nishantagarwal
Tensorflow Serving container crashes regularly  when I test the restful api.

[2019-05-10 08:14] fwz-fpga commented on #1257
I use tensorflow/serving:1.13.0-gpu

[2019-05-10 09:13] nishantagarwal commented on #1257
@fwz-fpga I tested it for grpc on tensorflow/serving:1.13.0

[2019-05-10 09:55] annish07 commented on #1340
@farzaa Can you please tell me how to make a REST request for the same.

[2019-05-10 20:38] minglotus-6 commented on #1265
Hey lnshi,
   Thanks for reporting this.

   The current investigation result is that, server propagates client-specified timeout to tensorflow sessions.

   The most useful piece of information for us to continue investigation would be a stack trace for those threads on servers that continue to be active (when the RPC is cancelled on client side, user gets an deadline exceeded error).

   Could y

[2019-05-10 20:49] minglotus-6 commented on #559
Hi Rudi and William,
    Thanks for the reports.

    To Rudi, could you elaborate which API (or specific request protocol buffer) is related, or the reason gRPC metadata cannot satisfy the use case?

    To YMMS, could you given an example of one2one pattern, and sequence pattern (in comparison)?

[2019-05-10 21:02] minglotus-6 commented on #1173
For future readers of this FR, as frallain@ figured out, there are places where log levels are used. Yet  where code does not use LOG() macro need to be updated. We would appreciate community PRs for this.

[2019-05-10 21:04] #1173 closed

[2019-05-10 22:13] fdoumet commented on #1338
Yup, build correctly now. Thanks for the help! Closing the issue as resolved.

[2019-05-10 22:13] #1338 closed

[2019-05-11 06:17] ginger0106 opened #1345 "CPU usage of TFS docker"
hi，I am using tf serving docker, I limit the cpu usage of docker with 16cores, but I found that when I send large number requests to TFS, the docker could not use up the cpu (almost only 200%cpu), how could I use up the cpu (nearly 1600%)? Thanks.

[2019-05-12 15:19] CLIsVeryOK commented on #1344
thanks for your suggestion. I solved it by using curl.
`#include <curl/curl.h>`

[2019-05-12 15:19] #1344 closed

[2019-05-13 05:27] lnshi commented on #1265
@minglotus-6 thanks a lot for you time.

Firstly according to my experiments looks this issue is NOT specific to any model, i can easily reproduce it with TFS public pre-trained object detection model, inception model version 1, 2, and 3, and other two ourself build TFS models.

Just now i tried and was able to reproduce it with this latest inception model: [faster_rcnn_inception_resnet_v2_atrous_

[2019-05-13 09:05] Gpwner opened #1346 "memory usage grows when reload a new pb model"
-----------------------
## Feature Request

### Describe the problem the feature is intended to solve
When I finish training a new model ,I  copy it to the folder where the current serving model is .
And I notice that the docker container memory usage grow  after tensorflow serving load the new model.Here is the docker container memory usage information：

[code]

[2019-05-13 09:09] carter54 commented on #1346
has the same issue...

[2019-05-13 19:15] gowtham-kp commented on #1346
@Gpwner Can you please take a look at the [issue](https://github.com/tensorflow/serving/issues/1215) and let me know if that helps. Thanks!

[2019-05-13 20:57] gowtham-kp commented on #1301
@karlschriek Did that answer your question. Can I close the issue?

[2019-05-13 21:09] gowtham-kp commented on #1329
Closing this issue as it is in "awaiting response" status for more than a week. Feel free to add your comments and we will reopen.

[2019-05-13 21:09] #1329 closed

[2019-05-13 21:09] gowtham-kp commented on #1330
Closing this issue as it is in "awaiting response" status for more than a week. Feel free to add your comments and we will reopen.

[2019-05-13 21:09] #1330 closed

[2019-05-14 01:03] Gpwner commented on #1346
@gowtham-kp I refer to the issue.But I just find out there  is only one solution which changes the  asynchronous request to synchronous request.But it didn't work in my situation.

[2019-05-14 01:18] carter54 commented on #1215
I am facing the same issue, when the new version is added to the model path, the memory usage increases, and the memory won't be released even the old version model is deleted.

[2019-05-14 08:43] TaranTheMonk commented on #1289
I'm also facing this issue with image in version-1.13 and a deployment on kubernetes.

This will happen when we accidentally send a `GET` request with a relatively large `content` body and the body is relatively large.

In my case:

the following command will work fine:

`curl --header "Content-Type: application/json" \
   --request GET \
  --data '{
   "signature_name":"compute_surge_2d",
   "inp

[2019-05-14 10:26] karlschriek commented on #1301
Just to clarify, this would be that the user would only need to change the config file in the remote location (e.g. on S3) and would not need to manually trigger the reload? I.e. TF Serving will poll, see that something has changed, and then reload?

If so then yes, this would be acceptable for our use case. I agree that a "more refined interface would allow for adding/deleting model's explicitly"

[2019-05-14 18:03] gowtham-kp commented on #1345
@ginger0106 There is an issue with docker in this case. Can you please restart the docker and let me know if it works. Thanks!

[2019-05-14 18:19] taylorchu commented on #1333
@lilao
1. sentencepiece is used in [xling](https://tfhub.dev/google/universal-sentence-encoder-xling-many/1) tensorflow hub module, and people expect it to work with tensorflow ecosystem.
2. There was a task to add it to tf.contrib but it was abandoned because tf 2.0 will remove tf.contrib. There is no other subword tokenization ops for tensorflow.

[2019-05-14 19:30] ashwini-git commented on #1340
@farzaa, Thank You for your response! it was very helpful.
Plz, let us know client script to make REST request.

[2019-05-15 02:58] ginger0106 opened #1349 "How could I get the transmission time？"
I am using the TFS Docker, I could only got the end-to-end latency by measuring the send request time and response time. How could I get the network transmission time and inference time respectively? Thanks

[2019-05-15 03:57] kspook commented on #994
@elvys-zhang, you are right. I made a mistake.
Now I can run tensorflow serving model well.
Thank you.

[2019-05-15 04:08] kspook commented on #994
@elvys-zhang,  The model I really want to run is evanfly's exporting script like below.
( [eragonruan/text-detection-ctpn#288 (comment)](https://github.com/eragonruan/text-detection-ctpn/issues/288#issuecomment-463930584)
But he didn't share all script.
So, I made a exporting script by referring to @hiepph.
(https://github.com/eragonruan/text-detection-ctpn/issues/134#issuecomment-403859585)

****

[2019-05-15 06:16] elvys-zhang commented on #994
@kspook
It seems like you could add more outputs you want here.
[code]
Or would you mind upload your .py file? The comment above seems not formatted well. Thx.

[2019-05-15 07:52] kspook commented on #994
@elvys-zhang , sure.

I don't know how to upload file here.
So, I'll give Naver Cloud address.
 http://naver.me/5X5mDO7b
(password:1234, effective 30days)

[2019-05-15 22:06] farzaa commented on #1340
Hey there! Yeah, so a REST request is **much** simpler. Just be very careful with the naming of your models.

[code]
In this case, my `league-model` is in the `models` folder. So, my exact file structure is: `league-ocr-detector/1/saved_model.pb` and my `model.config` file properly specifies the names of everything. The `1` is the `version` of the model and is the most confusing thing ever. This i

[2019-05-16 02:45] yjhjstz commented on #1257
do not fix .

[2019-05-16 21:48] unclepeddy commented on #1
Closing as the recommended way to build is using the development docker image.

[2019-05-16 21:48] #1 closed

[2019-05-16 22:00] unclepeddy commented on #44
Closing as the size of the binary has been reduced significantly. Feel free to re-open if this is still an issue!

[2019-05-16 22:00] #44 closed

[2019-05-17 00:32] nrobeR commented on #1346
Hi Gpwner, I think when a new version comes into the folder, the server will load the new version before unloading the old version. So memory increase is expected in this case.

Or are you seeing memory not decreasing long after that?

[2019-05-17 01:07] Gpwner commented on #1346
@nrobeR Hi,in my situation,memory usage never decreases

[2019-05-17 07:59] rmothukuru commented on #1346
@Gpwner ,
Can you please check what is the size of your new pb model. If the Model Size increases with each save, then it may be possible that it may consume more memory, proportionately. You can refer this [Stack overflow Issue](https://stackoverflow.com/questions/55700083/tensorflow-savedmodel-file-size-increases-with-each-save).

[2019-05-17 09:22] Gpwner commented on #1346
@rmothukuru the new model's size is equal to the previous one.Even though I just copy the previous one and rename it in the same folder，the memory usage still grows up.

[2019-05-17 15:16] nrobeR commented on #1346
Could you please verify if the previous model get unloaded from your model server? Also just to make sure I understand, did you export your model under the same versioned folder where the old saved_model.pb existed?

[2019-05-17 18:32] gowtham-kp commented on #1340
Thank you @farzaa for your response. I'm closing this issue as it has been answered!

[2019-05-17 18:32] #1340 closed

[2019-05-17 22:29] nrobeR commented on #1215
Thanks. I tried reproducing this problem with latest tensorflow_serving running in docker using the mnist model and cannot see RAM usage increase after load testing on it for a day now.

For your case, do you have any stack trace that we can look into? Also what is the cpu usage on your model server? I wonder if it's because the requests are queued up in the server gradually because some resource

[2019-05-17 22:31] nrobeR commented on #1215
Unfortunately, without more details and concrete steps of how to reproduce this, I won't be able to debug on this further. I tried loading new version of a model and didn't see RAM increase issues as you described.

[2019-05-19 14:11] farzaa opened #1354 "Issue with TF Serving at high load."
I have 30 Docker containers. Each container is processing one frame from a video per second.

I also have a single GPU (w/ a NVIDIA Tesla P100 + 16 CPUs + 80GB RAM) server running `tf-serving` from the Docker image pulled directly from [here](https://hub.docker.com/r/tensorflow/serving). I am using the image w/ the tag `1.13.0-gpu`. It is hosting a Faster-RCNN model taking images as input and givi

[2019-05-19 15:33] ivelin commented on #722
@naktinis there is a thread related to this issue on TF SIG IO that you may want to look at:
https://github.com/tensorflow/io/issues/50

[2019-05-20 02:32] Gpwner commented on #1346
@nrobeR ,

The first answer:
I am not sure whether the previous model get  unloaded.But I am sure that the new model get loaded.Because the response I get from the server is different by the client.

The second answer：
First of all,I exported the new model to another folder，then I copy the new model to the folder where previous model is.

[2019-05-20 09:16] topxxuki opened #1355 "can i uese a ckpt"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-05-20 09:16] topxxuki opened #1356 "ckpt"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-05-20 09:16] #1356 closed

[2019-05-20 09:20] topxxuki commented on #1355
if i sve a checkponit model like half_plus_two, then a get files include :
checkpoint
half_plus_two_float32.data-00000-of-00001
half_plus_two_float32.index
half_plus_two_float32.meta
how can i uese these file to start a tf restfuk api?

[2019-05-20 15:27] nrobeR commented on #1346
Ok I'm guessing that the old model didn't get unloaded due to the fact that there are two saved_model.pb in the same file. Could you try just exporting the new model into a different folder with version number larger than the previous one? This is the recommended way of uploading new version of a model

[2019-05-20 16:45] gowtham-kp commented on #1355
@topxxuki  Please refer to these two links [#1](https://www.tensorflow.org/tfx/serving/api_rest#example) and [#2](https://medium.com/@tmlabonte/serving-image-based-deep-learning-models-with-tensorflow-servings-restful-api-d365c16a7dc4) and let me know if that helps!

[2019-05-21 08:34] topxxuki opened #1357 "how can i know the version of tensorflow using in tensorflow_serving image?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow-serving

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with
   documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers resp

[2019-05-21 09:17] rmothukuru commented on #961
Thank you

[2019-05-21 11:45] prabalakanti commented on #1215
Don't have a stack trace for it.
The CPU usage hits the peak of 100%. I don't think queuing up of requests should be an issue, because I am sending the next batch of requests only after the first batch has finished processing.

[2019-05-21 17:48] gowtham-kp commented on #1345
@ginger0106 Closing this issue as it was in 'awaiting response' for more than a week. Please add additional comments and we can open the issue. Thanks!

[2019-05-21 17:48] #1345 closed

[2019-05-22 06:04] Gpwner commented on #1346
@nrobeR There must  be  some mistake.When I  come to the new model ，I mean some folder like  1558497607 which contains a pb model and variables:

[code]

[2019-05-22 06:06] Gpwner commented on #1346
@nrobeR Also the previous model folder refer to the 1558420482，and the new model refer to 1558497607.

[2019-05-22 13:55] diegohavenstein opened #1358 "How to pass tensorflow-serving options through docker-compose?"
I have a docker-compose with roughly the following content:

[code]

This does not work, due to the following error:
[code]

If I run the command that would be equivalent to the above, using `docker run ... --per_process_gpu_memory_fraction=0.3`, it works without any issue. This is not an option however, since I need many services running and docker-compose comes quite handy

How can I pass the op

[2019-05-22 17:11] gowtham-kp commented on #1208
Closing the issue due to the lack of recent activity. Please add additional comments and we can reopen the issue again. Thanks!

[2019-05-22 17:11] #1208 closed

[2019-05-22 17:21] gowtham-kp commented on #1272
@snailstartcn Did that answer your question? Can I close the issue?

[2019-05-22 23:06] zaktab commented on #462
Is there documentation about how to access the `/monitoring/prometheus/metrics` endpoint?

[2019-05-22 23:09] netfs commented on #462
#1348 is attempting to document monitoring. feel free to comment on that PR if you want to see additional information added.

[2019-05-23 16:25] gowtham-kp commented on #1357
@topxxuki Please refer to the following link to find the [versions of Tensorflow](https://github.com/tensorflow/serving/releases) used in Tensorflow serving. hope that answers your question. Thanks!

[2019-05-23 18:41] #1272 closed

[2019-05-23 20:58] gowtham-kp commented on #1279
@oleg-yaroshevskiy  Closing this issue as this has been in "awaiting response" status for more than a month. Please add additional comments and we can open the issue again. Thanks!

[2019-05-23 21:03] gowtham-kp commented on #1282
@MaybeShewill-CV Were you able to resolve the issue?

[2019-05-23 21:14] gowtham-kp commented on #1331
@estmit Closing this issue as it has been resolved. Please add additional comment and we can reopen the issue again. Thanks!

[2019-05-23 21:14] #1331 closed

[2019-05-23 21:21] netfs commented on #1287
i am going to mark this issue for "contributions", as this issue is specific to the [MKL docker image](tensorflow_serving/tools/docker/Dockerfile.devel-mkl). people closer to this will be able to help resolve the performance issue seen here.

as I mentioned [above](https://github.com/tensorflow/serving/issues/1287#issuecomment-487817949) official TFServing docker images work well with MKL (hybrid)

[2019-05-23 21:33] gowtham-kp commented on #1349
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow-serving) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflo

[2019-05-23 22:05] netfs commented on #1357
Use `--version` command line flag to the model server binary.

For docker image you can do this:
[code]

[2019-05-24 02:16] topxxuki commented on #1357
thanks

[2019-05-24 02:16] #1357 closed

[2019-05-24 03:29] MaybeShewill-CV commented on #1282
@gowtham-kp Still get stuck on this ==!

[2019-05-24 03:43] christisg commented on #1305
@kikushah - as per your own investigation, serving batching is working as expected in this case, i.e the synchronous batch requests are getting grouped into the same batch and the result input tensor shape at runtime is (10, 50), which mismatches 'zeros' shape.
What might solve the issue is if you create 'zeros' using tf.shape(x) instead of x.get_shape(). The former is dynamic (true) shape compute

[2019-05-24 03:53] alexcpn commented on #1206
Got the same issue while using tensorflow/serving:latest-gpu . Used the latest one and tested with three streams and found this problem is solved in **tensorflow/serving:1.13-gpu**

[2019-05-24 05:05] christisg commented on #1282
@MaybeShewill-CV - since TF serving works fine when your VPN is off, the issue you're experiencing is unrelated to TF serving. It seems like a bad interaction between docker and Cisco AnyConnect VPN. Please see if this link is helpful (https://docs.docker.com/network/bridge/#connect-a-container-to-the-default-bridge-network), or post a question on github.com/docker.

[2019-05-24 07:24] Lihengwannafly commented on #1229
I didn't slove this problem, I just download model from HDFS and then serve it.

[2019-05-24 08:44] MaybeShewill-CV commented on #1282
@christisg Thanks a lot I'll have a try:)

[2019-05-24 09:19] liaocz commented on #380
@lebron374  ModelServerConfigOuterClass would you mind telling me where can I find this class?

[2019-05-24 18:44] formigone commented on #958
I'm seeing this in TF 1.13.1 with a Pandas dataframe as the input during training. Must be a specific value that's causing it. Would be nice to get more insight into this.

[code]

[2019-05-27 06:09] liaocz commented on #380
@lebron374, what is "ModelServiceGrpc", I can't find it , would you mind telling me? thank you ~

[2019-05-27 09:17] liaocz commented on #765
how to do it using java?@dsnlevi

[2019-05-27 12:50] kikushah commented on #1305
@christisg - Thanks for the response, it make sense.

I understand how zeros can be created using tf.shape(x)

How about these lines?
`nin = x.get_shape()[1].value
w = tf.get_variable("w0", [nin, nh], initializer=fcweightsinitializer(init_scale), `collections=collections)`

Even they have a dependency on shape of x and am not really sure if the weights can be dynamically shaped.

Please correct me

[2019-05-28 18:15] karthikvadla commented on #1287
I just tested this issue against `master ` of tensorflow serving. Seems like issue resolved. It' using the number of cores specified
[code]
![image](https://user-images.githubusercontent.com/16564109/58501672-cf25f100-8139-11e9-8169-8ab214cc669e.png)

@netfs do you think we should close this?

[2019-05-28 18:22] netfs commented on #1287
yes we should close it. thanks for taking the time to verify it works with master.

for posterity can you point to the RFCN model that you used (assuming its publicly available), so folks looking at this bug know which model was being tested (as we were never able to reproduce this with stock resnet50 model).

[2019-05-28 18:24] karthikvadla commented on #1287
yeah sure, I told @mhbuehler to test on a different machine just to re-confirm. I will close once she updates me.

[2019-05-28 21:37] tatianashp commented on #1287
Great.
+@penpornk

[2019-05-29 05:25] iiapache commented on #676
Hi，can you show more details for resolving this issue?

[2019-05-29 20:50] karthikvadla opened #1363 "Docker build issue with r1.14 branch"
Hi, i'm trying to build tensorflow serving image with `r1.14` branch. I see below parse issue with the branch
[code]

I used docker build command as below

[code]
Any help please.

[2019-05-29 21:33] tgsmith61591 opened #1364 "Problems compiling TensorFlow serving with a collection of custom ops"
## Bug Report

### System information
- OS Platform and Distribution: **Linux Ubuntu 16.04**
- TensorFlow Serving installed from (source or binary): **source**
- TensorFlow Serving version: `r1.13`

# Problem description:

## Compiling `tensorflow-serving` with a custom op

I've been following the [`tensorflow/custom-op`](https://github.com/tensorflow/custom-op) layout for registering and building

[2019-05-29 23:17] gowtham-kp commented on #1355
Closing this issue as this has been in "awaiting response" for more than a week. Please add additional comments and we can reopen the issue again. Thanks!

[2019-05-29 23:17] #1355 closed

[2019-05-29 23:18] #1349 closed

[2019-05-30 06:29] christisg commented on #1358
@diegohavenstein, based on https://docs.docker.com/compose/compose-file/#args docker should allow passing arguments to the .yaml file.

[2019-05-30 06:58] 1dustycy opened #1365 "Unable to compile Protobuf for Golang"
OS Platform: MacOS 10.14.5
On TF-Serving r1.14

I've checked other closed issues regarding this topic but still not able to find a clear solution.

I tried:
`protoc -I ./ -I ../tensorflow/  \                                                                                              betterchen@Yangs-MacBook-Pro
--go_out=plugins=grpc:$GOPATH/src/github.com/lejiskin/tf_server_be/protos \
tensorflow

[2019-05-30 07:19] christisg commented on #1230
Changing this to feature request. We'll evaluate extending the version labeling feature to allow assigning labels statically at load time.
As per current design this assignment is possible only at runtime.

[2019-05-30 07:23] christisg commented on #1175
This feature request makes sense. We'll evaluate and provide status update at a later time.

[2019-05-30 16:56] tgsmith61591 commented on #1364
I was able to get this to work by no longer depending on `@local_config_tf`, as is used in the [custom-ops tutorial](https://github.com/tensorflow/custom-op), but `@org_tensorflow` instead. That is:

* `"@local_config_tf//:libtensorflow_framework"` -> `"@org_tensorflow//tensorflow/core:framework"`
* `"@local_config_tf//:tf_header_lib"` -> `"@org_tensorflow//tensorflow/core:lib"`

Also the followin

[2019-05-30 16:56] #1364 closed

[2019-05-30 17:11] karthikvadla commented on #1363
@lilao can't we build images based of branches? just wonder how it's working with `master`. 🤔

[2019-05-30 17:17] karthikvadla commented on #1363
@gautamvasudevan This is different question, where is tensorflow version set in tensorflow serving?
I know when i set `1.13.0` as `TF_SERVING_VERSION_GIT_BRANCH` it uses same version of tensorflow. Do we have a way to control different version of tensorflow? or any pointers to code base where this is configured automatically?

[2019-05-30 17:25] gowtham-kp commented on #1365
@betterchen Its a duplicate of issue [#634](https://github.com/tensorflow/serving/issues/634). But thank you for opening this thread as the issue has not been resolved. Will take a look at the issue.

[2019-05-30 18:24] ashahba commented on #1363
@karthikvadla Thanks for filing this issue.
In the meantime I created a PR here: #1367 to unblock you.
Here is how you use it:

[code]
Now checkout my branch:
[code]
and run your build command as usual:
[code]

[2019-05-30 18:29] karthikvadla commented on #1363
@ashahba Thank you . Will try that now.

[2019-05-31 09:42] rmothukuru commented on #1083
@prateekgupta11 ,
Did you invoke Tensorflow Model Server before running the Client. I got the same error. Running the Client after invoking the Sever fetched me the results.

By invoking the TF Model Server, I mean running the below commands.

**_sudo docker pull tensorflow/serving_**

**_sudo docker run -p 8500:8500 --mount type=bind,source=/usr/local/google/home/abc/Jupyter_Notebooks/TF_Serving/

[2019-05-31 09:44] rmothukuru commented on #944
Also, you can ensure that you have invoked Tensorflow Model Server before running the Client. I got the same error. Running the Client after invoking the Sever fetched me the results.

[2019-05-31 20:16] mhbuehler commented on #1287
Okay, I've re-tested and confirmed that the issue is resolved. I built the MKL docker image from `master` and did test runs for:
- ResNet50, batch sizes 1 and 128
- InceptionV3, batch sizes 1 and 128
- R-FCN, batch sizes 1 and 128
- SSD-MobileNet, batch sizes 1 and 128
- Transformer-LT, batch sizes 1 and 64

All tests showed multiple cores being used and good performance. For posterity, the R-FCN

[2019-05-31 20:46] karthikvadla commented on #1287
Thanks @mhbuehler .I'm closing this issue now.

[2019-05-31 20:46] #1287 closed

[2019-06-01 00:18] karthikvadla commented on #1363
https://github.com/tensorflow/serving/pull/1367#discussion_r289582625 Please check here. Your patch fixed different error i have with master branch. Still i see parse issue with `r1.14` branch.

[2019-06-01 06:22] ashahba commented on #1363
@karthikvadla `r1.14` should be good now, since `r.1.14` branch in `tensorflow` was patched earlier today here: https://github.com/tensorflow/tensorflow/pull/29233
Would you please try building the container with `r1.14` branch and let us know?

Thanks.

[2019-06-01 11:30] frk1993 opened #1370 "Complex model with multiple input/output"
Hi,
I am trying to serve a complex model with 3 inputs and 7 output. To verify the saved model, I load the saved model and run it with session.run. I am facing slice index error.

Here is information about my model:
<img width="518" alt="Bildschirmfoto 2019-06-01 um 12 35 49" src="https://user-images.githubusercontent.com/45715708/58747854-1d582e80-8471-11e9-8687-efb3cb90fc63.png">

Here the code

[2019-06-03 08:41] pushingmyway opened #1371 "docker built issue with builtins"
Hi，I follow the guide https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/setup.md and run :

`tools/run_in_docker.sh bazel build -c opt tensorflow_serving/...`

then i meet the error:

[code]
i don't know whether the docker image missing package builtins?

[2019-06-03 14:26] M1TR commented on #1371
The missing _builtins_ module issue can be resolved by adding the "future" Python package in Dockerfile.devel, Dockerfile.devel-gpu, and Dockerfile.devel-mkl so that it looks like this:

`RUN pip --no-cache-dir install \
    grpcio \
    h5py \
    keras_applications \
    keras_preprocessing \
    mock \
    numpy \
    requests \
    future`

[2019-06-03 16:27] gowtham-kp commented on #1370
@frk1993  Can yo please take a look at the [similar issue](https://github.com/tensorflow/serving/issues/1290) and let me know if that helps. Thanks!

[2019-06-04 02:00] gowtham-kp commented on #1363
Hey @karthikvadla, Are you still facing this issue? Can we close this if it is resolved on your end? Thanks!

[2019-06-04 03:50] netfs commented on #1371
fixed as part of #1367. please re-open if this issue still persists.

[2019-06-04 03:50] #1371 closed

[2019-06-04 12:27] CLIsVeryOK opened #1375 "compiling error with -std=c++11"
when I compiling the serving source code using:
`bazel build --cxxopt=-std=c++11 -c opt --config=cuda --verbose_failures tensorflow_serving/model_servers/tensorflow_model_server`

ERROR: /root/.cache/bazel/_bazel_root/f8d1071c69ea316497c31e40fe01608c/external/org_tensorflow/tensorflow/core/kernels/BUILD:3754:1: error while parsing .d file: /root/.cache/bazel/_bazel_root/f8d1071c69ea316497c31e40fe0

[2019-06-04 13:13] frk1993 commented on #1370
@gowtham-kp  Thanks I could solve the problem.

[2019-06-04 16:48] gowtham-kp commented on #1370
Closing this issue as the problem has been solved. Thank you for the response @frk1993

[2019-06-04 16:48] #1370 closed

[2019-06-04 16:56] gowtham-kp commented on #1375
@CLIsVeryOK Can you please take a look at the issue in [stack overflow](https://stackoverflow.com/questions/36186069/tensorflow-error-while-parsing-d-file) and let me know if that helps. Thanks!

[2019-06-04 18:42] netfs commented on #1375
please use gpu-devel docker images to do gpu builds. see instructions here:

https://www.tensorflow.org/tfx/serving/docker#building_an_optimized_serving_binary

this is the only supported way to do GPU builds as maintaining a document to account for all the environment setup required to do a GPU build is too fragile.

[2019-06-04 18:57] netfs commented on #1363
fwiw our official docker builds are out for r1.14 (rc0) on hub.docker.com. so this is working now.

[2019-06-04 18:58] netfs commented on #1363
sorry did not want to close the issue, just comment.

[2019-06-04 19:08] netfs commented on #1316
verified that this is fixed in the latest 1.14.0-rc0 docker image:

[code]

[2019-06-04 19:08] #1316 closed

[2019-06-04 20:42] karthikvadla commented on #1363
I will test and update you.

[2019-06-04 20:48] karthikvadla commented on #1363
[code]

[code]

Am i doing anything wrong?

[2019-06-04 21:14] netfs commented on #1363
are you using the latest r1.14 sources? the `===` indicates you are not.

[2019-06-04 21:18] karthikvadla commented on #1363
I didn't get this `latest r1.14 sources` 🤔 , what do you mean by this?

I did as below.
[code]
and then ran `docker build` command.

[2019-06-04 21:20] netfs commented on #1363
the error on `===` should be fixed in 1.14 branch by https://github.com/tensorflow/serving/commit/91484e1a7087744dc7b0c5ff773b84d58dbab0d5

so its strange that your build is seeing `===` in r1.14 sources.

[2019-06-04 21:56] karthikvadla commented on #1363
Oh yeah i cleaned up all my docker cache and re-built with `r1.14` branch. Issue resolved. Closing it now.

[2019-06-04 21:56] #1363 closed

[2019-06-05 04:50] CLIsVeryOK commented on #1375
@netfs  sure, I used  gpu-devel docker images to build my tensorflow-model-server

[2019-06-05 04:54] CLIsVeryOK commented on #1375
@netfs when I remove `--cxxopt=-std=c++11`, the compiling is successful,
But I need to compile with c++11 support because I have some personal code write in c++11 format

[2019-06-05 07:35] hzy001 commented on #1375
How about add `--cxxopt=-D_GLIBCXX_USE_CXX11_ABI=1`?

[2019-06-05 12:42] AnXi-TieGuanYin-Tea commented on #790
+1 to this. Maven package is need

[2019-06-06 17:27] blester125 commented on #462
Are there any plan to add a metric that is like prediction time that has `model_path` as a label so we can see things like the average latency of a request for a given model?

[2019-06-07 15:53] Yasinli1028 opened #1378 "Feature request: convert tensor to tensorproto in TF graph"
I need to feed a np array into a placeholder and then convert the tensor (feed from the placeholder) to a tensorproto in TF graph. However, the current tf.make_tensor_proto can only accept np array as input, not tensor as input. Does anyone know how to convert a tensor to tensorproto in a graph? Or if anyone has any workarounds, please let me know.

Thanks much for your help.

[2019-06-10 17:13] unclepeddy commented on #1301
Working on this. Should be able to submit it this week.

[2019-06-10 17:45] gowtham-kp commented on #1378
@Yasinli1028 tf.make_tensor_proto accepts "values" of a python scalar, a python list, a numpy ndarray, or a numpy scalar. One work around you can try is to simply run .eval() on the tensor to convert it into numpy array and you can feed in that numpy array as an input to tf.make_tensor_proto. Please let me know if this helps. Thanks!

[2019-06-10 18:26] unclepeddy opened #1379 "Add documentation for enabling and using batching"
Batching is [off by default](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/server.h#L54).

Consider adding documentation that enables batching for the model server binary and shows an example batching param usage.
At the very least,

* Add documentation to the top of batching g3doc explaining that users need to use the --enable_batching flag
* Add small example

[2019-06-11 01:02] Yasinli1028 commented on #1378
Thanks much for your reply.

One question about the workaround: can I use .eval() inside a TF graph? Because I need to convert to tensor proto inside a TF graph.

Thanks
Yasin

[2019-06-11 09:13] Davidbcn23 commented on #462
Hi @ynqa  i'm working in a python client based in your code to get serving metrics and i'm having some difficulties to make it works. My code looks like:

    import grpc
    import tensorflow as tf

    from tensorflow_serving.apis import get_model_metrics_pb2
    from tensorflow_serving.apis import model_service_pb2_grpc

    def main():
        channel = grpc.insecure_channel("127.0.0.1:8501")

[2019-06-11 13:47] tilaba opened #1380 "adding two tftrt customized plugins in tensorflow serving failed"
How can I serve model with tensorflow-serving, if there are two more customized tftrt_plugin ops? I have tested my customized tftrt ops in tensorflow, they works well. Then I followed the instructions given by "https://stackoverflow.com/questions/53284674/tensorflow-serving-with-contrib-operations". I find it works when I just added one customized tftrt ops. However, when two more tftrt_plugin ops

[2019-06-11 16:53] netfs commented on #1379
there is extensive doc here:

https://github.com/tensorflow/serving/tree/master/tensorflow_serving/batching

either refer to this if you are composing a new doc, or extend this with 'how to use in modelserver' section.

[2019-06-11 18:21] unclepeddy commented on #1379
Correct - this guide is what I am referring to by "batching g3doc." No new doc is needed.

One additional todo:

* Add reference to this doc from the main README

[2019-06-12 01:31] kspook commented on #994
@ elvys-zhang , Can I ask another code?

I try to run CRNN text recognition with tensorflow serving.
(https://github.com/MaybeShewill-CV/CRNN_Tensorflow/issues)

This also has input_tensor with float32.
So I tried to convert sting. but I have error.

curl -X POST   http://localhost:9001/v1/models/crnn:predict   -H 'cache-control: no-cache'   -H 'content-type: application/json'   -d '{ "signature_n

[2019-06-12 09:34] guillaumekln opened #1381 "Link to tensorflow/addons kernels"
## Feature Request

This issue is to track the support of [tensorflow/addons](https://github.com/tensorflow/addons) ops in TensorFlow Serving.

### Describe the problem the feature is intended to solve

TensorFlow Serving is currently built against [contrib ops](https://github.com/tensorflow/serving/blob/1.14.0-rc0/tensorflow_serving/model_servers/BUILD#L302-L305). However, this module will be rep

[2019-06-12 17:17] gowtham-kp commented on #1354
@farzaa Can you please provide the model that you are working with or can you please use the timeline profiler in your model by look at this [issue](https://github.com/tensorflow/tensorflow/issues/21312) and let me know if that helps. Thanks!

[2019-06-12 17:43] unclepeddy commented on #1381
Thanks for opening this issue. It was my impression that many of the most widely used contrib ops will be in fact moving to core, for example:
        "//tensorflow/contrib/boosted_trees:boosted_trees_ops_op_lib",
        "//tensorflow/contrib/tensor_forest:model_ops_op_lib",
        "//tensorflow/contrib/tensor_forest:stats_ops_op_lib",
        "//tensorflow/contrib/tensor_forest:tensor_forest_op

[2019-06-12 18:53] hrishi121 commented on #1215
I was having the same issue and appending the following thing while running my program worked for me:

`$ sudo apt-get install google-perftools4`
`$ LD_PRELOAD=/usr/lib/libtcmalloc.so.4 python script.py`

Initially, after every request (where I was sending a batch of around 50 images), my RAM would keep increasing by around 2GB and it would never be released.

But after trying the above environmen

[2019-06-12 20:33] guillaumekln commented on #1381
As far as I know, the beam search op in particular will not be moved to core. It would be surprising to users that Serving is not supporting seq2seq models out of the box.

Some addons modules (like seq2seq) are in fact supported by TensorFlow members.

Maybe @ewilderj has additional inputs on the global strategy here.

[2019-06-12 20:57] unclepeddy commented on #1381
Ah you're absolutely correct on seq2seq not moving to core:
https://github.com/tensorflow/addons/tree/master/tensorflow_addons/custom_ops/seq2seq/cc

I think there are 2 main concerns with adding arbitrary ops to the official build:
- Robustness - these ops have the ability to crash the model server and thus we need to make sure they are well-tested, and well-supported. The TF team, AFAIU, only of

[2019-06-12 21:09] ewilderj commented on #1381
This definitely merits broader discussion cc/ @martinwicke

[2019-06-12 22:00] seanpmorgan commented on #1381
I think at a minimum we need to resolve some issues with the interaction between custom-op template and tf-serving so that it can be statically linked at all:
https://github.com/tensorflow/custom-op/issues/21

[2019-06-13 05:26] facaiy commented on #1381
cc SIG/IO @yongtang @terrytangyuan for visibility.

[2019-06-13 05:58] yongtang commented on #1381
/cc @dmitrievanthony @terrytangyuan @BryanCutler

[2019-06-13 06:22] benjamintanweihao opened #1382 "gRPC: Received message larger than max (32243844 vs. 4194304)""
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: Binary
- **TensorFlow Serving version**: TensorFlow ModelServer: 1.13.0-rc1+dev.sha.f16e777
TensorFlow Library: 1.13.1

### Describe the problem

I get a `Received messager larger than max (32243844 vs. 4194304)` error when creating a `predict_pb2.PredictReqest(

[2019-06-13 08:03] guillaumekln commented on #1381
These are very valid concerns. If a technical solution would prove difficult to implement by the time TensorFlow 2.0 is released (I read about dynamic ops loading as a possible candidate), there should be at least a clear path for users of addons and other packages like tensorflow/text to use Serving. This could be a simple documentation on how to use the devel Docker image to build the Model Serv

[2019-06-13 08:40] kspook commented on #994
@elvys-zhang , can you help me with another point before solving above problem.

I am trying to make tensorflow serving, but I have error, because 'saved_model' doesn't have name for output.
tensorflow/serving#1100

But, I can't changed code. T.T can you help me?

    error message.

    saved_model_cli show --dir model/crnn_syn90k_saved_model/1/ --all
    MetaGraphDef with tag-set: 'serve' contai

[2019-06-13 16:57] unclepeddy commented on #1346
@Gpwner we are having trouble reproducing this on our side. This is most likely because the old model version is not getting unloaded and we need to figure out why. You can do this a number of ways:

* Look at the logs of the model server for line "Done unloading servable version {name: version}"
* Tell us how you launch model server (config and exact steps to reproduce)

[2019-06-13 17:26] unclepeddy commented on #1365
@betterchen we're looking into seeing why we don't run into this problem internally and what the fix would look like. Thank you for reporting this.

[2019-06-13 19:13] #1181 closed

[2019-06-13 19:21] unclepeddy commented on #1210
Sorry for the late reply - this is not a priority for us since our distribution strategy is centered around use of Docker whose support already gives us a fair number of challenges. Therefore I'm not sure we want to add on the support of official a snap package going forward.

[2019-06-13 19:21] #1210 closed

[2019-06-13 19:23] unclepeddy commented on #1090
Closing due to lack of activity.

[2019-06-13 19:23] #1090 closed

[2019-06-13 19:30] netfs commented on #1382
our receive limit is set to 2GB here:

https://github.com/tensorflow/serving/blob/91bf584c452494dd1e62eed0f6d1da8a47df030b/tensorflow_serving/model_servers/server.cc#L306

its odd that you are getting error, with limit showing 4MB (4194304).

can you try if https://github.com/tensorflow/serving/pull/1350 fixes your issue (i doubt it will). if it does not, i am wondering if this has something to do

[2019-06-13 19:34] unclepeddy commented on #741
This is available at https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/api_rest.md#model-status-api

[2019-06-13 19:34] #741 closed

[2019-06-13 20:06] unclepeddy commented on #1381
@seanpmorgan can you elaborate what you mean by custom-op template? Are you talking about the fact that the bazel macro [1] only generates .so files (no static libs) or something else.

@guillaumekln - Docs would indeed be awesome. I can think of 2 concrete use cases to cover:
* I've written an op, and used it in a tf graph - how do I serve this graph with tf serving?
* I want to use an op built a

[2019-06-13 20:29] unclepeddy commented on #559
This is a great issue but closing due to lack of activity. If anyone else has this request and is looking to provide details on questions asked by @minglotus-6 please re-open!

[2019-06-13 20:29] #559 closed

[2019-06-13 20:46] minglotus-6 commented on #1265
Thanks Inshi. Just as an update, we are able to re-produce the time-out part. Folks are on the way to collect necessary stack traces and doing further investigation.

[2019-06-13 20:50] unclepeddy commented on #1215
@hrishi121 hmm did that work with TF Serving?

[2019-06-13 20:55] unclepeddy commented on #1282
Plz reopen if issue persists

[2019-06-13 20:55] #1282 closed

[2019-06-13 21:23] #1358 closed

[2019-06-13 21:31] seanpmorgan commented on #1381
@unclepeddy https://github.com/tensorflow/custom-op/ is the provided template for building new custom-ops with TensorFlow. I haven't tried it myself but https://github.com/tensorflow/custom-op/issues/21 would seem to show that there is an issue building this custom-op template with tf-serving. The solution may just be some documentation on how to modify the template but I think it's important for

[2019-06-13 21:49] unclepeddy commented on #1248
Sorry for the delay.

Unfortunately adding logic to allow serving metadata other than signaturedefs is not on the roadmap right now and I'm not sure we have a good understanding of the general use case for which supporting this would make sense.

Regarding how to serve the metadata stored in the saved model, presumably, you'd add a constant to your graph holding the tensor value of interest (the i

[2019-06-13 21:51] unclepeddy commented on #1264
We're starting to look at priority for this - if you're still in need of this please let us know.

[2019-06-13 22:01] unclepeddy commented on #1290
Unfortunately no one has any intuition as to why this is happening. We're trying to replicate this internally but haven't been successful in doing so.

So please either provide traces of the server, provide the models+requests and let us know how you're 1) pegging models to GPU cards and 2) coordinating the requests through the pipeline so we can try to reproduce and help.

[2019-06-13 23:50] unclepeddy commented on #267
Closing as this is a narrow use case for which we have no plans to add docs. If someone wants to contribute, please feel free to re-open.

[2019-06-13 23:50] #267 closed

[2019-06-13 23:53] unclepeddy commented on #1178
Closing as this is not a configuration supported by the project.

[2019-06-13 23:53] #1178 closed

[2019-06-13 23:55] unclepeddy commented on #1200
please use the [provided utility](https://github.com/tensorflow/serving/blob/master/tools/run_in_docker.sh) to build in Docker as we don't support builds on mac.

[2019-06-13 23:55] #1200 closed

[2019-06-14 00:45] unclepeddy commented on #60
I may be missing something here but this is correct, if tf serving receives a sigstop it will be stopped - I'm not aware of any way to get around that. Please feel free to elaborate if I'm misunderstanding.

[2019-06-14 00:45] #60 closed

[2019-06-14 00:50] unclepeddy commented on #344
This is a great discussion and points to a need for documentation of batching for modelserver binary. I have opened #1379 to add docs - if anyone has any thoughts or suggestions please comment on that issue :)

[2019-06-14 00:50] #344 closed

[2019-06-14 01:14] unclepeddy commented on #588
Closing as it seems the issue is resolved.

[2019-06-14 01:14] #588 closed

[2019-06-14 01:19] unclepeddy commented on #380
Thank you for the interest in this feature everyone - a simple implementation will be soon added. please follow #1301 for updates.

[2019-06-14 01:19] #380 closed

[2019-06-14 01:20] unclepeddy commented on #765
Thanks for the great discussion everyone. A simple implementation for this will be added as a part of - Please follow #1301 for updates.

[2019-06-14 01:20] #765 closed

[2019-06-14 05:51] HFrost0 commented on #1382
I got the same question.

[2019-06-14 08:21] guillaumekln commented on #1381
In the context of the current issue, the "someone else" is actually TensorFlow as we are mentioning official TensorFlow packages like `tensorflow_addons`, `tensorflow_text`, etc. So maybe a parallel effort is to ensure that selected official packages *can* be used with Serving as mentioned by @seanpmorgan.

[2019-06-14 11:57] MahanteshAngadiGH commented on #493
Hi,
Any one got a solution to "sudo: apt-get: command not found" for linux.

Would be a great help.

Regards,
Mahantesh

[2019-06-14 20:52] vinuraja commented on #1380
Looking at the plugin factory code [here](https://github.com/tensorflow/tensorflow/blob/6a9584ce062079ceb2db74d39195776c593820a8/tensorflow/compiler/tf2tensorrt/plugin/trt_plugin_factory.cc#L54-L64), it seems that you are trying to use the same op_name again. You would need different op_names for the plugins.

[2019-06-14 23:56] minglotus-6 commented on #1265
Hi Inshi,
   While the investigation on our side is still ongoing, could you use tools like `lsstack` or `pstack` to collect the abnormally hanging threads' stack traces (e.g: in the 30 minutes when requests were already seen as deadline exceeded)?
   Those stack traces will help to narrow down where thread cancellation could go wrong.

[2019-06-17 02:51] tradysun opened #1383 "centos6.3 and docker1.7 can support GPU?"
My linux system is centos6.3, which only support docker1.7, and does not support nvidia-docker(need docker>=1.13). How to run tensorflow serving with GPU?

[2019-06-17 18:13] #1380 closed

[2019-06-18 04:32] wangzhilong commented on #1215
I also encountered the memory leak on tf-serving。

My tf-serving docker image： tensorflow/serving:1.13.0

From the service starting to now, the machine's free memory keeps downing, and the tf-service's memory keeps  growing.

![](https://s2.ax1x.com/2019/06/18/VqVPne.png)

[2019-06-18 06:46] palmerlao commented on #1264
I would say that this could be useful to us if it were fixed. However, it's not really blocking anything as we have the internal patch I mentioned. I do find the not-`native.proto_library` stuff a little curious and unpredictable though, although even that is less of a worry in my mind as I haven't run into it for a while.

[2019-06-19 02:00] Eloring commented on #1382
I solved this problem by assigning the grpc.max_message_length when creating the gRPC stub
[code]

[2019-06-19 02:48] benjamintanweihao commented on #1382
Thanks for the pointer @Eloring ! I needed some extra options to get it to work:

[code]

[2019-06-19 13:09] Mahboubeh-Jannesari opened #1384 "C++ client for tensorflow serving"
System information

    OS Platform and Distribution: Linux Debian
    TensorFlow Serving installed from (source or binary): Binary
    TensorFlow Library: 1.13.1
    bazel --version : bazel 0.27.0

Describe the problem

I have implemented the Python 3.6 client the generate TensorProto and send gRPC request to prediction. But  for creating client in C++ and gRPC, I have  problem.
I am running exam

[2019-06-20 06:39] christisg commented on #1215
@wangzhilong can you provide more info on the model, average request size and QPS? What happens when you try smoothening the QPS? What's the minimal QPS that causes the RAM growth?

[2019-06-20 12:02] #1301 closed

[2019-06-20 12:08] unclepeddy commented on #1052
This is not something that we are prioritizing at the moment. Our advice to RHEL users (like other users) is to use Docker for installation. Please feel free to open and voice your concerns if this is not an option for you.

[2019-06-20 12:08] #1052 closed

[2019-06-20 13:14] unclepeddy commented on #1379
Working on adding this; it should be in by end of next week.

[2019-06-20 13:24] unclepeddy commented on #1375
Closing this as it's not an issue with TFS and has not been updated in 2+weeks. Please re-open if you have updates.

[2019-06-20 13:24] #1375 closed

[2019-06-20 21:59] unclepeddy commented on #1230
This is fixed in [this commit](https://github.com/tensorflow/serving/commit/e6d91e72f7593be36dda933b3291c7ebbc646fa6).

[2019-06-20 21:59] #1230 closed

[2019-06-20 23:32] unclepeddy commented on #1381
Just a soft update that we're discussing this internally. If you have any other thoughts, please do voice them.

[2019-06-20 23:57] christisg commented on #1230
To summarize, [commit](https://github.com/tensorflow/serving/commit/e6d91e72f7593be36dda933b3291c7ebbc646fa6) adds a flag which allows assigning labels to versions that are not yet available, but only in cases when the label assigned is new (i.e. it was not yet in use). The latter is a safeguard against user mistake that could lead to loss of queryable label during a version swap.

Also, another [

[2019-06-21 00:57] Fordisk123 commented on #1224
I  build  tf-serving with mkl failed, when using official dockerfile. The dockerfile is Dockerfile.devel-mkl

**System information**
Ubuntu 16.04

**Error source code:**
ERROR: /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/external/io_bazel_rules_closure/closure/private/defs.bzl:18:17: FileType function is not available. You may use a list of strings instead. You can temporarily

[2019-06-21 02:36] Fordisk123 opened #1385 "Can someone provide a mirror building with dockerfile.mkl?"
Can someone provide a mirror compiled according to dockerfile.mkl? I always report an error when building this image.

ERROR: /root/.cache/bazel/_bazel_root/e53bbb0b0da4e26d24b415310219b953/external/io_bazel_rules_closure/closure/private/defs.bzl:18:17: FileType function is not available. You may use a list of strings instead. You can temporarily reenable the function by passing the flag --incompa

[2019-06-21 05:13] rmothukuru commented on #1385
@Fordisk123 ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issue

[2019-06-21 06:04] minglotus-6 commented on #1383
Hi there,
   nvidia-docker is just a self-contained docker which already encapsulates gpu integration. To use tfs on GPU w/o nvidia-docker, you shall figure out how to do the integration of docker and gpu, and then start tf serving in it.

[2019-06-21 06:04] #1383 closed

[2019-06-21 09:34] dharm033075 commented on #712
@harshS26 I used your code for exporting the model and successfully exported but while using client I am getting only one word Output. For example: "input": "when will you pay", "output": "when". Could you guide me what changes should I do ?

[2019-06-21 15:49] chanshah commented on #1265
@minglotus-6 We haven't heard from you on the stack traces for 7 days now. Please provide this information before Sunday, June 23 for us to investigate further. If we don't hear from you by then, we will close the issue assuming the issue is resolved for now.

[2019-06-21 15:55] chanshah commented on #1265
Hi Inshi,

We haven't heard from you for 7+ days now. We will close this for now assuming you no longer need help on this issue. If you do need help, please feel free to reopen this issue.

Thanks

[2019-06-21 15:58] lnshi commented on #1265
I thought u guys can reproduce, anyway do whatever u want, close never mean
solved!

On Fri, 21 Jun 2019 at 23:56, chanshah <notifications@github.com> wrote:

[2019-06-21 16:00] chanshah commented on #1290
@spate141 We haven't heard from you for more than 7 days. Without the information asked by @unclepeddy, we can't proceed. We will close this issue for now. If you still need help, please return to this case and reopen it with the information to investigate further.

[2019-06-21 16:00] #1290 closed

[2019-06-21 16:04] chanshah commented on #1346
@Gpwner we haven't heard from you on this for 7+ days, we will close this issue for now, lack of any more information. If you still need help, please feel free to reopen this issue with information asked by @unclepeddy.

[2019-06-21 16:04] #1346 closed

[2019-06-21 16:08] chanshah commented on #1354
@farzaa, We haven't heard from you for many days now. We will close this for now, please feel free to reopen this issue if you still need help.

[2019-06-21 16:08] #1354 closed

[2019-06-21 16:18] chanshah commented on #1265
Hi Inshi, happy to reopen it.

As pointed by @minglotus-6, can you use tools like lsstack or pstack to collect the abnormally hanging threads' stack traces (e.g: in the 30 minutes when requests were already seen as deadline exceeded)?
Those stack traces will help to narrow down where thread cancellation could go wrong.

[2019-06-24 04:41] zfallahnejad opened #1386 "Error parsing text-format tensorflow.SavedModel"
I trained a transformer model about 3 months ago. Then I export and serve my model based on the tutorial. Everything was fine.
Now I want to train a new model. I can train a new model but during serving a strange error happened:
[code]
I thought that this error might be related to tensorflow serving not tensor2tensor library because their decoder works fines. You can see my code in [this notebook]

[2019-06-24 05:44] xiaoyangnihao commented on #723
Do you solve this problem, I also met the same error ? "tensorflow_model_server_test" seems as one important test.

[2019-06-24 09:43] betterchen commented on #1365
Cheers @unclepeddy

[2019-06-24 12:11] PayneJoe commented on #462
Hi, Since these metrics

NOT supported by the official version yet, what is the cheapest way to get these metrics? Any improvement yet?

By the way, number of requests received per second and time cost per request are what I want.

[2019-06-24 12:50] PayneJoe commented on #462
`# TYPE :tensorflow:data:autotune counter
# TYPE :tensorflow:data:bytes_read counter
# TYPE :tensorflow:data:elements counter
# TYPE :tensorflow:data:optimization counter
# TYPE :tensorflow:serving:model_warmup_latency histogram
# TYPE :tensorflow:serving:request_example_count_total counter
# TYPE :tensorflow:serving:request_example_counts histogram
# TYPE :tensorflow:serving:request_log_count cou

[2019-06-25 01:24] gowtham-kp commented on #1382
Closing this issue as it has been answered. Please add additional comments and we can open this issue again. Thanks!

[2019-06-25 01:24] #1382 closed

[2019-06-25 06:23] morningsky opened #1387 "build tensorflow_serving/... in mac OS failed"
The error is:
`Git Configuration Error: Traceback (most recent call last):
  File "/private/var/tmp/_bazel_edz/550329978356774a3c737ee01244b0bc/external/org_tensorflow/tensorflow/tools/git/gen_git_source.py", line 29, in <module>
    from builtins import bytes  # pylint: disable=redefined-builtin
ImportError: No module named builtins`

but my computer installed future package, and the terminal run

[2019-06-25 15:16] rmothukuru commented on #1386
Hi Gowtham,
I'm busy this week (I've to work on TF Core from next week, so I should
ramp up) and couldn't not look in to it as it takes more time. Also, I see
that the user is using *tensor2tensor*. I suggest you to assign this to Eng.

Thanks and Regards,
Rakesh

On Tue, Jun 25, 2019 at 7:33 PM gowtham-kp <notifications@github.com> wrote:

--
Thanks and Regards,
Rakesh

[2019-06-25 18:29] gowtham-kp commented on #1387
@morningsky Can you please fill the [template](https://github.com/tensorflow/serving/issues/new). Thanks!

[2019-06-26 12:32] PayneJoe commented on #1354
Any progress on this?

[2019-06-27 06:51] PayneJoe commented on #1215
Hi, @hrishi121  I want to know what functions are time-intensive.

How can I monitor the tensorflow serving with google-perltools? As far as I know, the objective service must exit normally while using google-perltools, but tensorflow serving is a permanent one.

[2019-06-28 05:50] Eloring opened #1388 "Failed to deploying a TF-TRT optimized model, Op type not registered 'TRTEngineOp'"
### Describe the problem the feature is intended to solve
Deploying a SavedModel optimized by TF-TRT, where the model have some **TRTEngineOp** nodes.

### Describe the solution
What I want to happen is launching the TF-TRT model successfully like ordinary model.

### Describe alternatives you've considered
The model without **TRTEngineOp** nodes was launched successfully but got no speed improvem

[2019-06-28 09:02] WangYongzhao opened #1389 "Enable SupervisedInputReceiver"
I want to serving a model with SupervisedInputReceiver, but I found this feature is not official supported by tensorflow. Is there replacement for this feature? if no, I suggest to enable this feature.

**System information**
- TensorFlow version (you are using): 1.13.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
https://github.com/ten

[2019-06-28 16:43] minglotus-6 commented on #1265
Hi Inshi,
    Sorry if I'm confusing you, we can re-produce the timed-out request.
    However, this real issue here is that server wouldn't cancel threads efficiently  (re lots of requests last running in TFS server for more than 30 minutes, the full CPU resources was taken and never goes down in one hour period) even after clients receive deadline exceeded rpc errors.
    Could you collect and s

[2019-06-28 18:43] gowtham-kp commented on #1388
You compiled a graph in Tensorflow using an OP that isn't available in Serving 1.13. Please refer to the following [issue](https://github.com/tensorflow/serving/issues/1167) which describes how to solve problems like these and let me know if it helps. Thanks!

[2019-06-28 18:50] gowtham-kp commented on #1389
@WangYongzhao Can you please post this issue in [Tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues) repository as this is not related to serving. Thanks!

[2019-07-01 02:48] WangYongzhao commented on #1389
emmm.... dead loop...
https://github.com/tensorflow/tensorflow/issues/30159

[2019-07-01 09:08] BertrandD commented on #1388
I don't know Serving, but I know that the TRTEngineOp is not loaded by Tensorflow 1.13 by default. You need to use `import tensorflow.contrib.tensorrt as trt` to dynamically load the TRTEngineOp.

In TF 1.14.0 the dynamic load is not enabled too, and I didn't find how to load it, but it is fixed in the 1.14.1-dev version (master branch)

I hope it can help you

[2019-07-01 09:18] Eloring commented on #1388
@BertrandD
Thanks!
Btw, I found it also works in TF 1.14.0 using `import tensorflow.contrib.tensorrt as trt` to dynamically load the TRTEngineOp.

But I can't find the solution to make tf:serving(with docker) support TRTEngineOp.

[2019-07-02 09:21] benjamintanweihao commented on #1388
I have a similar problem though I'm serving the model using `tensorflow_model_server`.

[2019-07-03 01:18] devimonica commented on #1387
@morningsky did you solve this ?

[2019-07-04 10:18] npanpaliya commented on #1387
If you are building tensorflow-serving using bazel, try adding following two arguments to bazel build command -
--action_env PYTHON_BIN_PATH=<python_exe path>
--define PYTHON_BIN_PATH=<python_exe path>

python_exe path should be the one being used by your build environment.

[2019-07-05 10:25] TheR3d1 commented on #344
I am trying to use a batching config file using --batching_parameters_file. Where this file has to be placed in order to be used?

[2019-07-05 22:47] azer commented on #485
Serving works, but I can't compilete tensorflow/core/framework. It fails with following error message;

[code]

[2019-07-09 03:36] cuijianaaa commented on #627
I have solved the seem problem!!! There is no answer anywhere, may be there is some gpu code use a different gpu id from which used by tensorflow.

[2019-07-09 03:36] cuijianaaa commented on #730
I have solved the seem problem!!! There is no answer anywhere, may be there is some gpu code use a different gpu id from which used by tensorflow.

[2019-07-10 21:50] memesi commented on #1051
@gautamkmr89 how did you solve it ?

[2019-07-11 08:31] heibaidaolx123 commented on #977
@Harshini-Gadige Hi, any progress on device placement for tf-serving?

[2019-07-11 13:18] TheR3d1 opened #1392 "TF-serving container doesn't use GPU when --batching_enabled=true"
### System information
- OS : CentOS 7
- Docker image : tensorflow/serving:latest-gpu
- Docker version: 1.13.1
- GPU : PNY Quadro K2200 4GB

###  Issue

I run the docker image of TF-serving first with batching_enabled=false and then with batching_enabled=true(after I have stopped the first container). I watch the GPU usage with watch `nvidia-smi -n0.1`. I make a batched predict request with a http

[2019-07-11 15:45] unclepeddy commented on #1379
Review taking longer than anticipated. Should be out in the next week.

[2019-07-12 06:02] liaocz opened #1393 "using CPU and GPU together"
hello, if i have a tensorflow model, i want some ops to use cpu and others use gpu, what can i do for it? thank you very much!

[2019-07-12 10:37] rmothukuru commented on #1393
@liaocz ,
Can you please check [this link](https://medium.com/@lisulimowicz/tensorflow-cpus-and-gpus-configuration-9c223436d4ef) if it helps.

[2019-07-12 12:10] Avik1993 opened #1394 "Tune docker image to handle large number of requests"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Amazon Linux 2
- **TensorFlow Serving installed from (source or binary)**: Docker image
- **TensorFlow Serving version**:
TensorFlow ModelServer: 1.13.0-rc1+dev.sha.f16e7778
TensorFlow Library: 1.13.1

### Describe the problem
Des

[2019-07-12 14:41] SirOibaf opened #1395 "Expired GPG Key for Ubuntu binary"
## Bug Report

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: apt
- **TensorFlow Serving version**: 1.14.0

### Describe the problem
I'm trying to install `tensorflow-model-server` 1.14.0 through APT but it seems that the GPG key used to sign the package is expired.

[code]

### Ex

[2019-07-12 22:44] golisandeep3 commented on #1395
I am facing the same issue.

[2019-07-13 12:11] Davari393 commented on #1171
i have same error when i run :
bazel run /home/davari/virtualenvironments/detection_on_mobile/lib/python3.6/site-packages/tensorflow_core/lite/toco --output_file=converted_model.tflite --input_arrays=image_tensor --output_arrays=concat --input_shapes=1,300,300,3 --input_file=./ssdlite_mobilenet_v2_coco_2018_05_09/tflite_graph.pb

and my error is:
ERROR: Unrecognized option: --output_file=converted

[2019-07-13 12:22] orf commented on #1395
[code]

Expired two days ago.

[2019-07-13 13:00] BalajiB197 commented on #1395
I am facing same issue, when i try to do apt update I face error.
[ expired] Tensorflow Serving Developer (Tensorflow Serving APT repository key) <tensorflow-serving-dev@googlegroups.com>

[2019-07-14 04:34] TianrenWang commented on #1395
Same problem here. Today of all days I am using Sagemaker LOL.

[2019-07-14 09:18] gr8Adakron opened #1396 "tf.saved_model.loader.load not reading the variable folder"
Hey,

I already have one image-segmentation model, which is TF-serving SavedModel model format and it works fine- with the TF-serving inference.
I have been migrating all the models to TRT-5.1.5-inference-server, obviously for the performance efficiency. I did the conversion for other models (ie: classification, object-detection) and it wasn't that complex, but as I trying to convert this image-se

[2019-07-14 09:18] gr8Adakron commented on #1396
@ewilderj @kchodorow @lamberta @montanaflynn

[2019-07-15 04:15] Paperone80 commented on #1141
@lagidigu, thanks a lot for figuring this out! I went through the trouble myself!
[code]

For completeness the following request formats did work for me as well:

[code]

If someone from the Google TF SERVING team reads this, please put a note in your documentation that your very own function is NOT compatible:

`image_base64 = tf.io.encode_base64(input=open(image_path, 'rb').read(), pad=False, na

[2019-07-15 10:20] gauravgola96 commented on #1395
I am facing same problem today.
`An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: http://storage.googleapis.com/tensorflow-serving-apt stable InRelease: The following signatures were invalid: EXPKEYSIG 544B7F63BF9E4D5F Tensorflow Serving Developer (Tensorflow Serving APT repository key`

[2019-07-15 11:00] naveenkumarmulabitmovin commented on #1395
I am also facing the same problem when I update apt
The following signatures were invalid: EXPKEYSIG 544B7F63BF9E4D5F Tensorflow Serving Developer (Tensorflow Serving APT repository key) <tensorflow-serving-dev@googlegroups.com>
Fetched 91.7 kB in 1s (62.3 kB/s)
Reading package lists... Done
W: An error occurred during the signature verification. The repository is not updated and the previous inde

[2019-07-15 16:25] radiodee1 commented on #1395
I'm having this problem too. expired.

[2019-07-16 02:45] topxxuki opened #1398 "when will serving support tensorflow2.0?"

[2019-07-16 03:53] TianrenWang commented on #1395
I don't know if this applies to your situations, but I was using AWS SageMaker and adding `--allow-unauthenticated` after `RUN apt-get update && apt-get install tensorflow-model-server` solved the problem for me. But you will expose yourself to security risks, so be warned.

[2019-07-16 05:17] Avik1993 commented on #1394
Any updates on this @gowtham-kp ?

[2019-07-16 06:31] rmothukuru commented on #1385
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 06:31] #1385 closed

[2019-07-16 09:34] rmothukuru commented on #1378
@Yasinli1028 ,
Yes, you can use .eval() inside a TF Graph and inside a Session. Refer to this [link](https://www.tensorflow.org/api_docs/python/tf/Tensor#eval) for more info. Thanks.

[2019-07-16 09:36] rmothukuru commented on #1387
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 09:36] #1387 closed

[2019-07-16 19:02] saeedaghabozorgi commented on #1395
I have same problem too.

[2019-07-16 21:29] unclepeddy commented on #1381
Just an update that we've added a quick [guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/custom_op.md) to unblock folks needing to build tf serving with custom ops.

I will keep this issue open to track the longer-term question of
1) Whether (and how) we will add dynamic linking to the project's roadmap
2) If not (or if 1 is a long way away, in the meantime), how

[2019-07-16 21:33] minglotus-6 commented on #1395
We are working on the issue internally. Conservatively it should take one day to fix.

[2019-07-16 22:00] wdirons commented on #1247
I just saw this issue today. I'm responsible for providing community builds for TensorFlow and TensorFlow Serving on POWER.

Docker images for TensorFlow Serving are now available here:
https://hub.docker.com/r/ibmcom/tensorflow-serving-ppc64le/

They are also available in Watson Machine Learning Community Edition 1.6.1 as either docker images or conda packages. See here: https://www.ibm.com/suppo

[2019-07-17 02:31] minglotus-6 commented on #1395
This should work now.

[2019-07-17 02:32] #1395 closed

[2019-07-17 03:33] golisandeep3 opened #1399 "couldn't find 1.13.0 version in apt package"
## Bug Report
If this is a bug report, please fill out the following form in full:

### System information
-  Linux Ubuntu 18.04

### Describe the problem
Couldn't install 1.13.0 version using apt command.

### Exact Steps to Reproduce
apt-get install tensorflow-model-server=1.13.0

[2019-07-17 03:53] BalajiB197 commented on #1395
@minglotus-6
How to resolve it. I am facing issue still when I execute sudo apt update.
The following signatures were invalid: EXPKEYSIG 544B7F63BF9E4D5F Tensorflow Serving Developer (Tensorflow Serving APT repository key) <tensorflow-serving-dev@googlegroups.com

[2019-07-17 09:49] rmothukuru commented on #1399
@golisandeep3 ,
Can you please provide the error message which you are getting. Also, can you please try installing TF Serving using Docker, as it is the recommended and the easy way and let us know on how it goes.

[2019-07-17 10:57] orf commented on #1399
There isn't anything really to describe: Tensorflow 1.13.0 has been removed from the apt repository.

[code]

Running:
[code]
Throws an error:
[code]
Docker is not suitable for all situations, and removing a package like this will break builds.

[2019-07-17 13:01] rmothukuru commented on #1393
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-17 13:01] #1393 closed

[2019-07-17 15:34] golisandeep3 commented on #1399
@rmothukuru  I am installing it using docker. We fix the tensorflow serving version inside the dockerfile.

[2019-07-17 21:01] minglotus-6 commented on #1395
I'm able to use apt-get to install TFS in an isolated docker environment before closing this issue.

Re Balaji, if you are still facing the issue, could you provide full commands and error messages?

[2019-07-17 21:54] David-Parker commented on #1395
I am getting this issue currently when I run sudo apt-get update on Ubunutu Server 16.04 LTS in an Azure VM:

Ign:11 http://storage.googleapis.com/tensorflow-serving-apt stable InRelease
Fetched 3,012 B in 1s (2,348 B/s)
Reading package lists... Done
W: GPG error: http://storage.googleapis.com/tensorflow-serving-apt stable InRelease: The following signatures were invalid: KEYEXPIRED 1562881134  KE

[2019-07-17 22:04] David-Parker commented on #1395
I am able to get the new key with the following command:

curl https://storage.googleapis.com/tensorflow-serving-apt/tensorflow-serving.release.pub.gpg | sudo apt-key add -

[2019-07-17 22:14] minglotus-6 commented on #1395
Sorry for the confusion, Please following the installation instructions (https://www.tensorflow.org/tfx/serving/setup#installation_2) to install TFS server.

The instructions specifies to import the keys.

[2019-07-18 11:23] rmothukuru commented on #1396
@gr8Adakron ,
When you mentioned **_This script worked for other models_**, can you please mention the Sizes of files before and after conversion for those models.

[2019-07-18 12:41] rmothukuru commented on #1399
@golisandeep3 ,
If I understand your comment correctly, you could install Tensorflow Serving successfully using Docker after changing the TF Serving Version inside the Dockerfile. Please confirm if my understanding is correct.

[2019-07-18 14:04] christisg commented on #1388
TensorRT should be supported by TF serving starting from v1.13 (see release notes at https://github.com/tensorflow/serving/releases/tag/1.13.0).
This post has some usage examples: https://medium.com/tensorflow/optimizing-tensorflow-serving-performance-with-nvidia-tensorrt-6d8a2347869a.
In "Steps to reproduce", could you please share the full "docker run" command with the TF serving image included?

[2019-07-18 15:24] golisandeep3 commented on #1399
@rmothukuru It doesn't matter where you install it, inside docker or not. The 1.13.0 version is removed from apt package. It has only 1.14.0.   This command fails to run
`apt-get install tensorflow-model-server=1.13.0`
This command `apt-get install tensorflow-model-server` works because it installs 1.14.0 version.

We have to add all previous versions to apt package.

[2019-07-18 18:42] netfs commented on #1399
--

[2019-07-18 18:49] netfs commented on #1399
we do not support installing older packages via apt presently.

you need to manually download the debian package and install it by hand. you can borrow the command line from here:

https://github.com/tensorflow/serving/blob/eeda7713f12be04a47b2facdb15f98a089a25eaf/tensorflow_serving/tools/docker/Dockerfile#L26

[2019-07-18 21:18] orf commented on #1399
Not gonna lie, that is ridiculous and should be documented in big bold text right after the apt instillation instructions.

If you are not going to actually support apt (of which package versions are a huge part) then just give instructions on how to wget a binary from a bucket. Don’t bother with apt at all.

[2019-07-19 04:17] rmothukuru commented on #1398
@topxxuki ,
Can you please elaborate your question.

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue templa

[2019-07-19 04:44] rmothukuru commented on #1394
@Avik1993 ,
Sorry for the delayed response. If you can share your model (only if it can be), we can reproduce it at our end.

If not, Can you please provide information mentioned below:

1. How many requests per minute is your Server withstanding (working), currently
2. What is the Hardware specifications of your machine
3. Can you share us the Graph depicting latency with respect to the QPS (Quer

[2019-07-19 05:17] jusonn opened #1400 "serving server does not infer batch"
OS: Ubuntu 18.04
docker image: tensorflow/serving:latest-gpu
Tensorflow: 2.0.0a0

I'm using tesorflow/serving:latest-gpu, but I think it does not use gpu.
I request input with shape [48, 256, 256, 3] and it takes about 12 seconds.
But when I request with shape [1, 256, 256, 3] it takes about 0.3 seconds.

this is request code
[code]

and `batching_parameters.conf`
[code]

I ran server.sh
[code]

I

[2019-07-19 05:45] BalajiB197 commented on #1395
@minglotus-6  I was able to resolve this after following the instructions for installing tensorflow-model-server.
The confusion was how we got this error, here the thing we have installed tensorflow earlier, but in the recent release, there is an update key for model-serving.
Anyways thanks.

[2019-07-19 05:56] Avik1993 commented on #1394
Hi @rmothukuru
Sure.
1. It works for around 2.9k requests per minute.
2. We have a 32GB RAM, 8 vCore server with CentOS.
3. I am not monitoring queries per second as of now, but i will try to get that information for you
4. CPU utllization goes around 92-95% not 100%.

[2019-07-19 06:15] rmothukuru commented on #1400
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow and TF Serving version.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issu

[2019-07-19 06:28] rmothukuru commented on #1400
@jusonn ,
Can you please refer [this link](https://github.com/tensorflow/serving/tree/master/tensorflow_serving/batching) and confirms if this helps. Thanks.

[2019-07-19 06:37] Ankur3107 opened #1401 "Server Side Batching Issue"
Hi,

Statement: I want to do server-side batching (batch size: 32).

The batch file is given below-

**batch.config:**
[code]

Issue: Whenever my data input size is less than or equal to 32 then time it works. But if my input data size is greater then 32 then it giving **<Response [400]>**

Can anyone suggest me, what should I do?

[2019-07-19 06:46] #1401 closed

[2019-07-19 06:53] Jihadik commented on #1248
@unclepeddy, the use case for that is serving some closely related to the model metadata. Say, the name of datasets it was trained on, or the name of class ontology that was used during the training.

If one can't store this information in the metadata of the model itself, he should create a table in his DB for storing `{version: metadata}` information and be pretty disciplined with how he updates

[2019-07-19 14:24] aaroey commented on #1396
@gr8Adakron is it possible for you to share the original model before conversion for us to investigate?
Thanks.

[2019-07-19 19:47] unclepeddy commented on #1248
@martinz is this a use case that ml metadata could be useful for?

[2019-07-20 16:25] hmeine commented on #1248
What is "ml metadata"? (It sounds potentialy relevant, indeed.)

[2019-07-20 16:34] hmeine commented on #1248
Indeed, that is useful metadata which we also store. However, let me rephrase the use case from my initial issue description a little more specifically:

Consider the popular U-net architecture for segmentation. If you look at the original Ronneberger/Fischer/Brox publication, you see that the CNN is fully convolutional and takes a 572² image, producing a 388² segmentation map.   That means that i

[2019-07-20 19:15] Jihadik commented on #1248
@hmeine, have you read about [TF Transform](https://www.tensorflow.org/tfx/transform/get_started)?

[2019-07-21 21:09] joehoeller opened #1402 "Ques: Install TFX-GPU into a Docker container?"
How do you install TFX-GPU into a custom Docker container?

I have tried the following in my Dockerfile:

[code]

...but to no avail :(

[2019-07-22 00:58] Eloring commented on #1388
@christisg
Thx!! I have solved this by using a new tf-serving container. `ibmcom/powerai:1.6.1-tensorflow-serving-ubuntu18.04`

[2019-07-22 00:58] #1388 closed

[2019-07-22 18:38] gowtham-kp commented on #1402
Do you want to install tfx or tf-serving? As I can see here that, you are trying to install TF Serving not TFX

[2019-07-22 18:53] joehoeller commented on #1402
Sorry, I must've got my wires crossed, or the documents I read weren't
clear. (It's one or the other). Can you please, first, explain the
difference between TFServing and TFX? That way I can confirm my intent.

On Monday, July 22, 2019, gowtham-kp <notifications@github.com> wrote:

[2019-07-23 18:43] gowtham-kp commented on #1402
@joehoeller A TFX pipeline is a sequence of components that implement an ML pipeline which is specifically designed for scalable, high-performance machine learning tasks. You can also go through through the [TFX guide](https://www.tensorflow.org/tfx/guide) to understand all the components in TFX. Where as TF serving makes it easy to deploy new algorithms and experiments, while keeping the same ser

[2019-07-23 18:50] joehoeller commented on #1402
Got it. My intent was TF Serving then.

On Tue, Jul 23, 2019 at 1:43 PM gowtham-kp <notifications@github.com> wrote:

[2019-07-24 17:43] gowtham-kp commented on #1402
Recommended way of installing TF Serving GPU is by using Docker image inorder to avoid complexities of building from source. This [website](https://www.tensorflow.org/tfx/serving/docker) gives you a clear idea of how to install TF Serving.

[2019-07-24 17:47] joehoeller commented on #1402
How would I connect it to a separate TensorFlow container then?

On Wed, Jul 24, 2019 at 12:43 PM gowtham-kp <notifications@github.com>
wrote:

[2019-07-24 22:30] gowtham-kp commented on #1402
@joehoeller Please post these questions on stackoverflow as this is not Related to TF Serving.
Thanks!

[2019-07-24 22:30] #1402 closed

[2019-07-25 12:50] topxxuki commented on #1398
![image](https://user-images.githubusercontent.com/18697846/61875643-ad6c9e80-af1d-11e9-950f-af5734e8159e.png)
nowadays we can use tensorflow_v2.0,but serving only support 0.14,when will serving support 2.0?

[2019-07-25 13:10] rmothukuru commented on #1398
@topxxuki ,
Can you please specify your use case for which you require TF Serving 2.0 so that we can try to help you out.

[2019-07-25 13:20] topxxuki commented on #1398
there is not a  particular scene，i thought each tensorflow version will have  corresponded serving

[2019-07-25 17:43] gowtham-kp commented on #1386
@zfallahnejad What version of Model Server and version of Saved Model are you using?

[2019-07-25 18:45] minglotus-6 commented on #1276
This FR is fulfilled in the sense that the representation of TensorProto is configurable [1].

Runners of servers can configure the option to specify how tensors are serialized.

[1] Code defined in https://github.com/tensorflow/serving/blob/492381f38c1c8274d3f2ac42b88efc13f768309d/tensorflow_serving/model_servers/server_core.h#L186

[2019-07-25 18:45] #1276 closed

[2019-07-26 10:16] wangzhilong commented on #1215
hi，did you resolve the problem?

[2019-07-26 16:06] unclepeddy commented on #994
Please feel free to re-open if this requires anything from TF serving.

[2019-07-26 16:06] #994 closed

[2019-07-26 16:15] unclepeddy commented on #1384
Hi there, thanks for opening this issue. Unfortunately, debugging bazel build issues across heterogeneous environments is extremely difficult, which is why we recommend [building using Docker](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/building_with_docker.md)

Please build the client inside the docker container and re-open this if you run into any issues.

[2019-07-26 16:15] #1384 closed

[2019-07-26 17:23] gowtham-kp commented on #1399
@orf Closing the issue as it has been resolved. Please add additional comments and we can open the issue again. Thanks!

[2019-07-26 17:23] #1399 closed

[2019-07-26 17:26] gowtham-kp commented on #1389
This definitely is a tensorflow issue only serves models with features that are a part Tensorflow. As SupervisedInputReceiver is not officially supported by Tensorflow, you cannot use a model that has this feature to serve it in TF Serving. Thanks!

[2019-07-26 17:26] #1389 closed

[2019-07-26 17:28] gowtham-kp commented on #1386
@zfallahnejad Can you please try using the latest version of TF Serving (TF Serving 1.14) and let me know if you are still facing an error. Thanks!

[2019-07-26 17:30] gowtham-kp commented on #1378
Closing this issue as it has been resolved.
From next time, Please try to post support questions on Stack Overflow where there is a bigger community to help. Thanks!

[2019-07-26 17:30] #1378 closed

[2019-07-27 04:38] kimjuny opened #1403 "Is it possible to lazy-load"
## Feature Request

### Describe the problem the feature is intended to solve

I have thousands of models to be served, but quite a big part of these models are not frequently requested, actually only a few of them are. Loading all of these models at the same time is quite resource-consuming & time-consuming.

### Describe the solution

I wonder if there's an option to lazy load models and only ca

[2019-07-29 03:51] wangzhilong commented on #1215
@echan00 @prabalakanti
hi, did you resolve the problem?

[2019-07-29 04:39] prabalakanti commented on #1215
No. As a workaround I am restarting Tensorflow Serving on crash and retrying requests, if and when it crashes due to memory build up.

[2019-07-29 08:28] yejw5 opened #1404 "You must feed a value for placeholder tensor 'input_example_tensor' with dtype string and shape [?]"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7.6.1810
- **TensorFlow Serving installed from (source or binary)**: source
- **TensorFlow Serving version**: 1.2.0

### Describe the problem
**Firstly, export serving model as follows:**

There is a features map for SparseTensor used as inputs, get by:
[code]

And than generate an `input_receiver` as foll

[2019-07-29 10:46] rmothukuru commented on #1403
Can you please check [this link](https://www.tensorflow.org/tfx/serving/saved_model_warmup) about Lazy Loading (Warm Starting) and let us know if it helps.

[2019-07-29 11:41] kimjuny commented on #1403
I didn't set any "warm up", I'm using tf.keras API.

Saving the model by `tf.keras.experimental.export_saved_model(model, saved_model_path)` API(2.0.0-beta-1).

I think the link above is something that reduce the first request latency and requires more data on init(model loading stage), kind of opposite feature that I need?

[2019-07-29 12:43] rmothukuru commented on #1403
@kimjuny ,
Sorry for the misunderstanding. Can you please elaborate your question so that we can provide better support.

[2019-07-29 14:19] kimjuny commented on #1403
@rmothukuru I have lots of models to be served(tens of thousands of SavedModel), I've configured them in [Serving Config](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/serving_config.md). When I'm starting the tensorflow/serve, it consumes too much time & memory to startup. So I wonder if there is a startup option that disables loading all the models specified in Servi

[2019-07-29 14:51] unclepeddy commented on #1403
Hey @kimjuny the use case definitely makes sense. There's nothing on the roadmap currently addressing this need but I'll leave this open to see if other folks develop the same need.
Can you elaborate on the use case? For example, why do you have O(10K) models that can/should not be combined? And how would you know you need to load any specific one? Are they models trained for specific users and yo

[2019-07-29 16:25] kimjuny commented on #1403
@unclepeddy Thanks for your reply. I'm currently trying to work out a market prediction project. In my case I have to train models individually(for every stock) for better performance, with different versions of them.
I'm only running the inference procedure when the market is closed, so actually I have plenty of time, which means a few seconds of latency(of each model's loading stage) is totally

[2019-07-29 18:09] alextp commented on #1305
TF variables can have partially unspecified shapes. I prefer to construct those using `tf.Variable(initial_value, shape=[10, None, 5], use_resource=True)` as it's the way we'll recommend people to do it in tf2.0. What this means is that you can assign to this variable any value whose shape is compatible with the specified shape argument.

[2019-07-30 05:46] gowtham-kp commented on #1392
@TheR3d1 Can you please share the model or the characteristics of the model for us to take a look at it and analyze it as we are not sure if its the model or TF Serving itself that's causing the issue. Thanks!

[2019-07-30 07:47] sevenold commented on #1400
I have the same problem as you. Can you solve it?

[2019-07-30 08:42] vDMG commented on #1215
Hello,
I'm having the exact same issue.
I've deployed Tensorflow Serving on Kubernetes with GPU nodes and he always ends OOMKilled because of memory leak.
**Tensorflow Serving version :** 1.14.0-gpu
**GPU nodes :** 8 vCPUs, 30 GB memory, K80 GPU

Use-case : I'm loading new generated models every 3 hours. I'm unloading the old ones but it looks like we have memory leak and tensorflow serving is not

[2019-07-30 10:07] helmuthva commented on #1277
TensorFlow Serving builds quite nicely on Jetson devices nowadays - have a look at https://github.com/helmuthva/jetson/tree/master/workflow/deploy/tensorflow-serving-base/src or https://github.com/helmuthva/jetson for the bigger picture of this project.

[2019-07-30 12:14] rmothukuru commented on #1404
@yejw5 ,
In your code, you are using the function, `tf.estimator.export.build_parsing_serving_input_receiver_fn`. As per the code mentioned in [this link](https://www.tensorflow.org/guide/saved_model#prepare_serving_inputs), under the hood behavior of `tf.estimator.export.build_parsing_serving_input_receiver_fn` is mentioned below:

[code]
That might be the reason the Input is expecting a Placehol

[2019-07-30 14:49] helmuthva commented on #671
You can easily provide a health endpoint as such: https://github.com/helmuthva/jetson/blob/master/workflow/deploy/tensorflow-serving/src/webservice/health/healthz.py

[2019-07-31 08:02] yejw5 commented on #1404
@rmothukuru Thank you for reply.

The problem is resolved. We have saved checkpoint file of trained model, and then restore graph to saving as serving format pb. In this procedure, `tf.estimator.export.build_parsing_serving_input_receiver_fn` was called repeatedly (the training code also called parse_example func and create placeholder `input_example_tensor`), a new
 placeholder named `input_examp

[2019-07-31 08:02] #1404 closed

[2019-07-31 08:22] rmothukuru commented on #1404
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=1404)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=1404)

[2019-07-31 08:34] yejw5 commented on #1404
Yes！ And I have finished the questionnaire. Thank you!

[2019-07-31 08:38] rmothukuru commented on #1404
Thank you!

[2019-07-31 09:52] rmothukuru commented on #1396
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 09:52] #1396 closed

[2019-07-31 09:57] rmothukuru commented on #1305
@kikushah ,
Can you please let us know if @alextp's suggestion has resolved your issue.

[2019-07-31 10:01] rmothukuru commented on #1265
@lnshi ,
Can you please share the information requested by @minglotus-6 so that we can try resolving the issue. Thanks!

[2019-07-31 10:28] lnshi commented on #1265
i will try to find some time to do

[2019-07-31 10:34] lnshi commented on #1265
@rmothukuru  meanwhile could u help to find some time to do also since i provided all the necessary setup, recently too busy

[2019-07-31 16:16] kikushah commented on #1305
@alextp 's suggestion along with everybody's response helped.

You may close this issue.

[2019-07-31 17:15] netfs commented on #1394
given that your CPU utilization is close to 100%, you probably want to optimize your model.

you seem to be doing ~48 requests/second -- this may or may not be good. depends on what your requests are (are they huge images being sent) or is the model doing something heavy duty and can we reorganize the model architecture. there are lot of things/variations possible. hard to say without details.

if

[2019-07-31 17:17] netfs commented on #1392
I looked at the code, and BatchingSession (one that is created, when you enable batching) uses DirectSession underneath -- and this by looking at the code should use all the underlying devices (this means CPU and GPU both). So its rather strange to see enabling batching causes GPU usage to drop to zero.

As @gowtham-kp points above, to analyze this further -- we will need the model, client code th

[2019-08-01 04:26] rmothukuru commented on #1305
Closing this issue as it has been resolved.

[2019-08-01 04:26] #1305 closed

[2019-08-01 04:26] rmothukuru commented on #1305
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=1305)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=1305)

[2019-08-01 04:28] wangzhilong opened #1406 "Building from source error: The repository '@zlib' could not be resolved"
os: centos-7.6

when run
 `tools/run_in_docker.sh bazel build -c opt tensorflow_serving/...`
failed.

ERROR
[code]

[2019-08-01 09:43] sreddybr3 commented on #1265
pstack 18009

18009: tensorflow_model_server --port=8500 --rest_api_port=8501 --model_name=inception --model_base_path=/inception/
(No symbols found in )
(No symbols found in /lib/x86_64-linux-gnu/libdl.so.2)
(No symbols found in /lib/x86_64-linux-gnu/libm.so.6)
(No symbols found in /lib/x86_64-linux-gnu/librt.so.1)
(No symbols found in /usr/lib/x86_64-linux-gnu/libstdc++.so.6)
(No symbols found i

[2019-08-01 09:52] rmothukuru commented on #1406
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-08-01 11:46] luduling commented on #1406
Compare a lot of BUILD files with "@zlib" in .cache/_bazel_root/2d09b9f1da03dc789cd67b59a4571350/external/ directory, just modify the file /root/abc/serving/.cache/_bazel_root/2d09b9f1da03dc789cd67b59a4571350/external/com_google_protobuf/BUILD by “ZLIB_DEPS = ["@zlib//:zlib"]” to ZLIB_DEPS = ["@zlib_archive//:zlib"]
 I don't know why, but work

[2019-08-01 18:31] unclepeddy commented on #1379
This is now published as a part of the [serving configuration guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/serving_config.md)

[2019-08-01 18:31] #1379 closed

[2019-08-02 06:14] wangzhilong commented on #1406
@luduling thans. it's works for me.

[2019-08-02 06:14] #1406 closed

[2019-08-02 08:51] ctuluhu opened #1407 "Monitoring actual GPU memory usage"
### Describe the problem the feature is intended to solve
I have several models loaded and not sure how can I know if Tensorflow still has some memory left. I can check using `nvidia-smi` how much memory is allocated by Tensorflow but I couldn't find a way to check loaded models usage.

### Describe the solution
Tensorflow could provide some metrics for Prometheus about actual GPU memory usage by

[2019-08-02 16:47] eulerwang commented on #485
@JaxSONG ,loop image into a slice , slice is []float32 type , size is  28*28*1

[2019-08-02 17:13] nrobeR commented on #1406
This should be fixed now.

[2019-08-02 21:43] unclepeddy commented on #1403
Automatically unloading models subject to some policy (LRU as you mention or after a set period of inactivity) is something that we've thought about but no concrete plans to add to model server. Internally we implement this logic outside of model server, which is something you could do as well. i.e. a simple endpoint that your clients can call that will coordinate with model server to ensure the m

[2019-08-02 22:13] unclepeddy commented on #1398
Thanks @topxxuki you are correct that we try to be on the same schedule as TF. However, we only start our release process for a given TF version once they cut the branch - the ones you are mentioning are the alpha and beta previews, not an official 2.0 branch (though that should be happening in the next week I believe). Once it does, we will kick off our release and cut tf serving 2.0 :)

[2019-08-02 22:13] #1398 closed

[2019-08-02 22:29] unclepeddy commented on #1400
What @rmothukuru posted is the library-level batching guide - if that's too low-level, please take a look at the config-level [batching guide](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/serving_config.md#batching-configuration).

However, please do keep in mind, TF serving matching is inter-request level; meaning, it creates a latency-aware queue to batch together r

[2019-08-03 15:28] jusonn commented on #1400
@unclepeddy  thanks for precise information.
https://gist.github.com/jusonn/1e77e70d238b645ab4aa73351370a5fb
Here are my model and example request.
If more information is needed, please tell me.

[2019-08-04 16:31] sreddybr3 opened #1408 "Huge latency issue ONLY for remotely located gRPC clients"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow Serving installed from (source or binary)**: binary (docker image tensorflow/serving:1.11.0)
- **TensorFlow Serving version**: 1.11

### Describe the problem
We are facing major latency issues for remotely located gRPC clients sending predict requests to TFS gRPC server.

### Exa

[2019-08-05 06:29] rmothukuru commented on #1386
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 06:29] #1386 closed

[2019-08-05 09:36] rmothukuru commented on #1407
@ctuluhu ,
Can you please check [this link](https://youtu.be/WHmXJUNyIHg?t=890) and let us know if it helps.

[2019-08-05 10:17] nielsgroen opened #1409 "[Bug] Using tf.feature_columns in exported estimators fails when using tf.feature_columns.indicator_column"
# Bug Report

### System information
- Using tensorflow 1.14.0 to export saved models
- Using tensorflow serving docker image, tag latest, as of 05/08/2019 (August 5th):
TensorFlow ModelServer: 1.14.0-rc0
TensorFlow Library: 1.14.0

### Describe the problem
Tensorflow serving doesn't handle a 'feature_columns input layer' in the Estimator model_fn.
When using tf.feature_columns.input_layer or tf.k

[2019-08-05 12:53] ctuluhu commented on #1407
@rmothukuru
Thank you for your response but I didn't find what I am looking for in provided link.
What I need is a way to get the amount of free memory allocated by Tensorflow.

Issue eg: Tensorflow allocated 6GB memory, later I have loaded two models into Tensorflow memory, how can I know how much of this 6GB is used by loaded models and how much of this memory is free?

[2019-08-05 22:29] gowtham-kp commented on #1409
@nielsgroen Please post this issue in [Tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues) as the issue here is being caused by Tensorflow not Tensorflow serving. Thanks!

[2019-08-05 22:29] #1409 closed

[2019-08-06 08:25] nielsgroen commented on #1409
Thanks for the feedback.
[Here is the issue over at tensorflow/tensorflow](https://github.com/tensorflow/tensorflow/issues/31360).

[2019-08-08 08:26] xxllp commented on #798
too bad ~~~

[2019-08-08 16:05] SumingNTUT opened #1410 "How to get "prediction_service.grpc.pb.h""
Hi
I wanna use my small C++ project  massages with python by TCP ,I have tried run sample "resnet_client.cc" that is not working ,because  can't find "prediction_service.grpc.pb.h"  file,
and I have complied prediction_service.proto by protoc3, but I still missing some file ,e.g , classification.proto, get_model_metadata.proto , get_model_metadata.proto , predict.proto and regression.proto file .

[2019-08-08 17:55] unclepeddy commented on #832
Noting this as a duplicate of #1277 for prioritization

[2019-08-08 18:06] unclepeddy commented on #1403
A note on the "lazily load models": We have a prototype [caching_manager](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/core/caching_manager.h) that handles the lazy loading of the models at inference time.

What this feature request tracks is the second piece: An eviction mechanism that upon a load that is unsuccessful, unloads idle models subject to some policy like LRU, A

[2019-08-08 18:11] gowthamkpr commented on #1410
@SumingNTUT Please take a look at the [similar issue](https://github.com/tensorflow/serving/issues/377) and let me know if it helps. Thanks!

[2019-08-08 18:23] unclepeddy commented on #1248
@hmeine Thanks for the concrete use case - it makes sense and if you don't mind I'd like to understand the set up a little deeper to validate whether serving custom metadata is the correct solution here.

In general, there are 2 ways clients interact with models on TF Serving: human in the loop, and programmatically.

* In the first case, presumably, a human would call this /custom-metadata endpoi

[2019-08-08 18:36] kesh-me commented on #795
@ymodak The referenced issue was already closed on Mar 29, 2018. This should be re-opened.

[2019-08-08 19:03] guillaumekln commented on #1403
I have also some interests in this feature.

My application is machine translation where some use cases include having many models (i.e. many language pairs) but few users. They would typically translate a document that will generate many requests to a single model.

To mitigate the loading latency, I know a PyTorch-based server which actually copies the model weights from the system memory to the